Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @igorbernstein2, @googleapis/api-bigquery, @googleapis/api-pubsub, @shollyman, @googleapis/api-spanner-go, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

feat(pubsub/pstest): update max topic retention duration to 31 days (#8605)
  pubsub/pstest/fake.go
  pubsub/topic.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

feat(bigquery): introduce query preview features
  bigquery/bigquery.go
  bigquery/go.mod
  bigquery/go.sum
  bigquery/query.go
  go.work.sum
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

feat(auth): add Credentials.UniverseDomain()
  auth/detect/detect.go
  auth/detect/detect_test.go
  auth/detect/filetypes.go
  auth/internal/internaldetect/filetype.go
  auth/internal/testdata/sa_universe_domain.json
  auth/internal/testdata/user_universe_domain.json
Owners: @googleapis/yoshi-go-admins

fix vet
  auth/internal/internaldetect/filetype.go
Owners: @googleapis/yoshi-go-admins

feat(auth): add Credentials.UniverseDomain() (#8654)
  auth/detect/detect.go
  auth/detect/detect_test.go
  auth/detect/filetypes.go
  auth/internal/internaldetect/filetype.go
  auth/internal/testdata/sa_universe_domain.json
  auth/internal/testdata/user_universe_domain.json
Owners: @googleapis/yoshi-go-admins

docs: add Readme
  spanner/README.md
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

feat(firestore): Additional tests
  firestore/integration_test.go
  firestore/query.go
Owners: @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

feat(spanner): make WARN as default for action on inactive transactions
  spanner/session.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

docs: address review comments
  spanner/README.md
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

docs: move README.md changes in a different PR
  spanner/README.md
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

feat: disable feature
  spanner/client_test.go
  spanner/session.go
  spanner/session_test.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

Update to return cluster error
  bigtable/admin.go
Owners: @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

fix(bigtable): update the returning value for cluster error
  bigtable/admin.go
Owners: @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

test(bigtable): Run conformance tests for bigtable
  bigtable/conformance_known_failures.txt
  bigtable/conformance_test.sh
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Owners: @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

test(bigtable): Fixing run
  bigtable/conformance_test.sh
Owners: @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

Bump
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Owners: @googleapis/yoshi-go-admins

test(bigtable): Fix TestMutateRow_NoRetry_MultipleMutations
  bigtable/internal/testproxy/proxy.go
Owners: @googleapis/cloud-native-db-dpes, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

chore: rollback arrow version to upgrade it separately
  bigquery/arrow.go
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage_integration_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

chore: rollback other lib upgrade to upgrade them separately
  bigquery/go.mod
  bigquery/go.sum
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @googleapis/cloud-native-db-dpes @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @googleapis/cloud-native-db-dpes @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @googleapis/cloud-native-db-dpes @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @googleapis/cloud-native-db-dpes @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/firestore/             @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/httpreplay/            @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins

# individual release versions manifest is unowned (to avoid notifying every team)
.release-please-manifest-individual.json
# Owned by all
go.work
go.work.sum
