Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @enocom, @telpirion, @googleapis/api-bigtable, @igorbernstein2, @googleapis/api-bigquery, @googleapis/api-pubsub, @googleapis/api-spanner-go, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

iter
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6096)
  bigquery/go.mod
  bigquery/go.sum
  gkehub/apiv1beta1/gapic_metadata.json
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/apiv1beta1/gke_hub_membership_client_example_test.go
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/CancelOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/DeleteOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetLocation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListLocations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListOperations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/SetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/TestIamPermissions/main.go
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6096)
  bigquery/go.mod
  bigquery/go.sum
  gkehub/apiv1beta1/gapic_metadata.json
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/apiv1beta1/gke_hub_membership_client_example_test.go
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/CancelOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/DeleteOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetLocation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListLocations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListOperations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/SetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/TestIamPermissions/main.go
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

chore(bigtable): managing cbt cli dependency
  bigtable/go.mod
Owners: @enocom, @telpirion, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

feat(logging): retrieve trace info from traceparent
  logging/logging.go
  logging/logging_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  firestore/apiv1/admin/firestore_admin_client.go
  firestore/apiv1/admin/firestore_admin_client_example_test.go
  firestore/apiv1/admin/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/CancelOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/DeleteOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/GetOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/ListOperations/main.go
  internal/generated/snippets/firestore/apiv1/admin/snippet_metadata.google.firestore.admin.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6100)
  firestore/apiv1/admin/firestore_admin_client.go
  firestore/apiv1/admin/firestore_admin_client_example_test.go
  firestore/apiv1/admin/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/CancelOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/DeleteOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/GetOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/ListOperations/main.go
  internal/generated/snippets/firestore/apiv1/admin/snippet_metadata.google.firestore.admin.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6100)
  firestore/apiv1/admin/firestore_admin_client.go
  firestore/apiv1/admin/firestore_admin_client_example_test.go
  firestore/apiv1/admin/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/CancelOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/DeleteOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/GetOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/ListOperations/main.go
  internal/generated/snippets/firestore/apiv1/admin/snippet_metadata.google.firestore.admin.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

iter
  firestore/bulkwriter.go
  firestore/client.go
  firestore/integration_test.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

feat(bigquery): enable MaxTimeTravelHours in dataset metadata
  bigquery/dataset.go
  bigquery/dataset_integration_test.go
  bigquery/dataset_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

feat(logging): support partialSuccess flag for batched ingestions (#6092)
  logging/logging.go
  logging/logging_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

fix(logging): revise automatic resource detection for ingested logs (#6022)
  logging/internal/environment.go
  logging/resource.go
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

feat(logging): retrieve trace info from traceparent (#6101)
  logging/logging.go
  logging/logging_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

feat(logging): implement auto-population of the calling source location (#6043)
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(logging): add detectResource benchmark (#6084)
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

feat(pubsub): add min extension period (#6041)
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pubsub.go
  pubsub/subscription.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

feat(pubsub): add min extension period (#6041)
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pubsub.go
  pubsub/subscription.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

clarify tests
  storage/client_test.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

iter
  firestore/bulkwriter.go
  firestore/integration_test.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6108)
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6108)
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
Owners: @googleapis/yoshi-go-admins

rename to NewRangeReader
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

use ReadCloser instead of transportReader
  storage/client.go
  storage/reader.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

iter
  firestore/bulkwriter.go
  firestore/client.go
  firestore/integration_test.go
  firestore/writebatch.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

chore(storage): implement NewRangeReader interface, refactor gRPC read (#6053)
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
  storage/storage.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): implement NewRangeReader interface, refactor gRPC read (#6053)
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
  storage/storage.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): implement OpenWriter, refactor gRPC Writer
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
  storage/writer.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

fix merge mistake
  storage/writer.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

iter
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
  firestore/integration_test.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @enocom @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @enocom @telpirion @googleapis/yoshi-go-admins
/firestore/             @enocom @telpirion @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins
