Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @bhshkh, @googleapis/api-bigtable, @igorbernstein2, @googleapis/api-bigquery, @googleapis/cloud-native-db-dpes, @googleapis/api-pubsub, @shollyman, @googleapis/api-spanner-go, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

🦉 Updates from OwlBot post-processor
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  release-please-config-yoshi-submodules.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

chore: bump postprocessor image
  .github/.OwlBot.lock.yaml
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

chore: bump postprocessor image (#8556)
  .github/.OwlBot.lock.yaml
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  release-please-config-yoshi-submodules.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

an abundance of caution
  storage/internal/benchmarks/warmup.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

chore(storage): update all dependencies [benchmarks] (#8554)
  go.work.sum
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

revert changes to nacking out of band
  pubsub/service.go
  pubsub/subscription.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

Update .release-please-manifest-submodules.json
  .release-please-manifest-submodules.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

🦉 Updates from OwlBot post-processor
  internal/.repo-metadata-full.json
Owners: @googleapis/yoshi-go-admins

docs(pubsub): update allowed message retention duration by server
  pubsub/integration_test.go
  pubsub/topic.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

remove some async code
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/w1r3.go
  storage/internal/benchmarks/warmup.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

update ver
  storage/internal/benchmarks/main.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

feat(video/stitcher): refactor RPCs to use LRO
  video/CHANGES.md
Owners: @googleapis/yoshi-go-admins

feat(video/stitcher): refactor RPCs to use LRO (#8561)
  video/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore(storage): fix race condition [benchmarks] (#8553)
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/w1r3.go
  storage/internal/benchmarks/warmup.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

go mod tidy
  storage/internal/benchmarks/go.mod
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

dont use background context which prevents proper context cancellation in Receive
  pubsub/subscription.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

update ver
  go.work.sum
  storage/internal/benchmarks/main.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

Rename README.md to README (#15)
  README
Owners: @googleapis/yoshi-go-admins

Rename README to (#16)
  README.
Owners: @googleapis/yoshi-go-admins

err cleanup
  storage/internal/benchmarks/main.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

revert some deps
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

tri
  go.work.sum
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

fix(bigquery): dependency detection on proto conversion
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

feat(auth): add httptransport package
  auth/detect/internal/impersonate/impersonate.go
  auth/go.mod
  auth/go.sum
  auth/httptransport/httptransport.go
  auth/httptransport/httptransport_test.go
  auth/httptransport/trace.go
  auth/httptransport/trace_test.go
  auth/httptransport/transport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
  auth/internal/transport/cert/cmd/test_signer.go
  auth/internal/transport/cert/default_cert.go
  auth/internal/transport/cert/enterprise_cert.go
  auth/internal/transport/cert/enterprise_cert_test.go
  auth/internal/transport/cert/secureconnect_cert.go
  auth/internal/transport/cert/secureconnect_cert_test.go
  auth/internal/transport/cert/testdata/certificate_config.json
  auth/internal/transport/cert/testdata/certificate_config_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata.json
  auth/internal/transport/cert/testdata/context_aware_metadata_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata_nonexpiring_pem.json
  auth/internal/transport/cert/testdata/invalid.pem
  auth/internal/transport/cert/testdata/nonexpiring.pem
  auth/internal/transport/cert/testdata/rsa2048bit.pem
  auth/internal/transport/cert/testdata/signer.sh
  auth/internal/transport/cert/testdata/signer_invalid_pem.sh
  auth/internal/transport/cert/testdata/testcert.pem
  auth/internal/transport/transport.go
  auth/internal/transport/transport_test.go
Owners: @googleapis/yoshi-go-admins

fixup test
  auth/internal/transport/cba_test.go
Owners: @googleapis/yoshi-go-admins

chore(alloydb/connectors): add config to generate apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Owners: @googleapis/yoshi-go-admins

fix(datastore): Adding comment
  datastore/prop.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

chore(alloydb/connectors): add config to generate apiv1beta (#8568)
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Owners: @googleapis/yoshi-go-admins

test: convert reuse submessage test to table driven format
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

make PR smaller for now
  auth/go.mod
  auth/go.sum
  auth/httptransport/httptransport.go
  auth/httptransport/transport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
  auth/internal/transport/cert/cmd/test_signer.go
  auth/internal/transport/cert/default_cert.go
  auth/internal/transport/cert/enterprise_cert.go
  auth/internal/transport/cert/enterprise_cert_test.go
  auth/internal/transport/cert/secureconnect_cert.go
  auth/internal/transport/cert/secureconnect_cert_test.go
  auth/internal/transport/cert/testdata/certificate_config.json
  auth/internal/transport/cert/testdata/certificate_config_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata.json
  auth/internal/transport/cert/testdata/context_aware_metadata_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata_nonexpiring_pem.json
  auth/internal/transport/cert/testdata/invalid.pem
  auth/internal/transport/cert/testdata/nonexpiring.pem
  auth/internal/transport/cert/testdata/rsa2048bit.pem
  auth/internal/transport/cert/testdata/signer.sh
  auth/internal/transport/cert/testdata/signer_invalid_pem.sh
  auth/internal/transport/cert/testdata/testcert.pem
Owners: @googleapis/yoshi-go-admins

add comments
  auth/httptransport/httptransport.go
  auth/httptransport/trace.go
Owners: @googleapis/yoshi-go-admins

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @bhshkh @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/firestore/             @bhshkh @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins

# individual release versions manifest is unowned (to avoid notifying every team)
.release-please-manifest-individual.json
# Owned by all
go.work
go.work.sum
