Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @crwilcox, @tritone, @googleapis/api-bigtable, @garye, @igorbernstein2, @googleapis/api-bigquery, @googleapis/api-pubsub, @skuruppu, @hengfengli, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

refactor(pubsublite): allow publish/subscribe for regional resources (#4735)
  pubsublite/admin.go
  pubsublite/integration_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/resources_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/subscriber.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

refactor(pubsublite): allow publish/subscribe for regional resources (#4735)
  pubsublite/admin.go
  pubsublite/integration_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/resources_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/subscriber.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

chore: release talent 0.3.0
  talent/CHANGES.md
Owners: @googleapis/yoshi-go-admins

test(pubsublite): simplify comparisons in integration tests
  pubsublite/integration_test.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

fix: replace misleading project ID
  storage/example_test.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/GetMetrics/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/MigrateKey/main.go
  internal/godocfx/go.sum
  recaptchaenterprise/apiv1/doc.go
  recaptchaenterprise/apiv1/gapic_metadata.json
  recaptchaenterprise/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/apiv1/recaptcha_enterprise_client_example_test.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
Owners: @googleapis/yoshi-go-admins

chore: release resourcemanager 0.2.0
  resourcemanager/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release networkconnectivity 0.2.0
  networkconnectivity/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release functions 0.2.0
  functions/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release networkconnectivity 0.2.0 (#4766)
  networkconnectivity/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release networkconnectivity 0.2.0 (#4766)
  networkconnectivity/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release resourcemanager 0.2.0 (#4765)
  resourcemanager/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore: release resourcemanager 0.2.0 (#4765)
  resourcemanager/CHANGES.md
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#4761)
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/GetMetrics/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/MigrateKey/main.go
  internal/godocfx/go.sum
  recaptchaenterprise/apiv1/doc.go
  recaptchaenterprise/apiv1/gapic_metadata.json
  recaptchaenterprise/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/apiv1/recaptcha_enterprise_client_example_test.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#4761)
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/GetMetrics/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/MigrateKey/main.go
  internal/godocfx/go.sum
  recaptchaenterprise/apiv1/doc.go
  recaptchaenterprise/apiv1/gapic_metadata.json
  recaptchaenterprise/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/apiv1/recaptcha_enterprise_client_example_test.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
Owners: @googleapis/yoshi-go-admins

test: skip some consistenly failing tests
  firestore/integration_test.go
  storage/integration_test.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins, @googleapis/cloud-storage-dpe

test: skip some consistently failing tests (#4768)
  firestore/integration_test.go
  storage/integration_test.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins, @googleapis/cloud-storage-dpe

test: skip some consistently failing tests (#4768)
  firestore/integration_test.go
  storage/integration_test.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins, @googleapis/cloud-storage-dpe

tests: attempt to fix a flaky test
  compute/apiv1/smoke_test.go
Owners: @googleapis/yoshi-go-admins

Prettify comments
  spanner/spannertest/db.go
  spanner/spannertest/integration_test.go
Owners: @skuruppu, @hengfengli, @googleapis/yoshi-go-admins

Add details to signedurl comment
  storage/bucket.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

docs(datastore): clarify documentation of omitempty
  datastore/doc.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

docs(datastore): clarify documentation of omitempty (#4771)
  datastore/doc.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

docs(datastore): clarify documentation of omitempty (#4771)
  datastore/doc.go
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

chore: release datastore 1.6.0
  datastore/CHANGES.md
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

Add iam comment
  storage/bucket.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): add gRPC-based Writer prototype (#4617)
  storage/integration_test.go
  storage/reader.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): add gRPC-based Writer prototype (#4617)
  storage/integration_test.go
  storage/reader.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): skip CancelWriteGRPC test
  storage/integration_test.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): skip CancelWriteGRPC test (#4773)
  storage/integration_test.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): skip CancelWriteGRPC test (#4773)
  storage/integration_test.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore: release datastore 1.6.0 (#4416)
  datastore/CHANGES.md
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

chore: release datastore 1.6.0 (#4416)
  datastore/CHANGES.md
Owners: @crwilcox, @tritone, @googleapis/yoshi-go-admins

chore: release recaptchaenterprise 0.2.0
  recaptchaenterprise/CHANGES.md
Owners: @googleapis/yoshi-go-admins

test: add error msg + delete test
  spanner/spannertest/db_test.go
  spanner/spannertest/integration_test.go
Owners: @skuruppu, @hengfengli, @googleapis/yoshi-go-admins

feat(spanner/spannertest): Support generated columns (#4742)
  spanner/spannertest/README.md
  spanner/spannertest/db.go
  spanner/spannertest/db_eval.go
  spanner/spannertest/db_test.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
Owners: @skuruppu, @hengfengli, @googleapis/yoshi-go-admins

feat(spanner/spannertest): Support generated columns (#4742)
  spanner/spannertest/README.md
  spanner/spannertest/db.go
  spanner/spannertest/db_eval.go
  spanner/spannertest/db_test.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
Owners: @skuruppu, @hengfengli, @googleapis/yoshi-go-admins

chore(all): update module github.com/google/go-github/v35 to v39
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Owners: @googleapis/yoshi-go-admins

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @crwilcox @tritone  @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @crwilcox @tritone @googleapis/yoshi-go-admins
/firestore/             @crwilcox @tritone @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins
/spanner/               @skuruppu @hengfengli @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins
