Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @enocom, @dmahugh, @tritone, @crwilcox, @googleapis/api-bigtable, @garye, @igorbernstein2, @googleapis/api-bigquery, @googleapis/api-pubsub, @skuruppu, @hengfengli, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

test(bigtable): allow multiple tests to create app profiles (#5075)
  bigtable/integration_test.go
Owners: @enocom, @dmahugh, @tritone, @crwilcox, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

test(bigtable): allow multiple tests to create app profiles (#5075)
  bigtable/integration_test.go
Owners: @enocom, @dmahugh, @tritone, @crwilcox, @googleapis/api-bigtable, @googleapis/yoshi-go-admins

example
  storage/post_policy_v4.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

feat(bigquery): add BI Engine information to query statistics (#5081)
  bigquery/integration_test.go
  bigquery/job.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

feat(bigquery): add BI Engine information to query statistics (#5081)
  bigquery/integration_test.go
  bigquery/job.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @enocom @dmahugh @tritone @crwilcox @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @garye @igorbernstein2 @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @enocom @dmahugh @tritone @crwilcox @googleapis/yoshi-go-admins
/firestore/             @enocom @dmahugh @tritone @crwilcox @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins
/spanner/               @skuruppu @hengfengli @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins
