Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @bhshkh, @googleapis/api-bigtable, @igorbernstein2, @googleapis/api-bigquery, @googleapis/cloud-native-db-dpes, @googleapis/api-pubsub, @shollyman, @googleapis/api-spanner-go, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

feat(auth): add httptransport package (#8567)
  auth/detect/internal/impersonate/impersonate.go
  auth/go.mod
  auth/go.sum
  auth/httptransport/httptransport.go
  auth/httptransport/httptransport_test.go
  auth/httptransport/trace.go
  auth/httptransport/trace_test.go
  auth/httptransport/transport.go
  auth/internal/transport/transport.go
  auth/internal/transport/transport_test.go
Owners: @googleapis/yoshi-go-admins

chore(internal/postprocessor): fix containeranalysis/v1beta1 doc url flake
  internal/postprocessor/README.md
  internal/postprocessor/config.yaml
Owners: @googleapis/yoshi-go-admins

Create README.md
  README.md
Owners: @googleapis/yoshi-go-admins

chore(internal/postprocessor): fix containeranalysis/v1beta1 doc url flake (#8571)
  internal/postprocessor/README.md
  internal/postprocessor/config.yaml
Owners: @googleapis/yoshi-go-admins

feat: remove unwanted code
  .devcontainer/devcontainer.json
Owners: @googleapis/yoshi-go-admins

test(datastore): Create new transaction for every attempt
  datastore/integration_test.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

test(datastore): Revert sleep duration
  datastore/integration_test.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

test(pubsub): remove checking of publish result to avoid creating too many goroutines
  pubsub/integration_test.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

fixup some tests
  auth/internal/transport/cba_test.go
Owners: @googleapis/yoshi-go-admins

add check for receive to exit before deleting subscription
  pubsub/integration_test.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

feat: add devcontainer (#8512)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Owners: @googleapis/yoshi-go-admins

feat(auth): add impersonate package
  auth/impersonate/doc.go
  auth/impersonate/example_test.go
  auth/impersonate/idtoken.go
  auth/impersonate/idtoken_test.go
  auth/impersonate/impersonate.go
  auth/impersonate/impersonate_test.go
  auth/impersonate/integration_test.go
  auth/impersonate/user.go
  auth/impersonate/user_test.go
Owners: @googleapis/yoshi-go-admins

pr feedback
  auth/impersonate/example_test.go
  auth/impersonate/idtoken.go
  auth/impersonate/impersonate.go
  auth/impersonate/user.go
Owners: @googleapis/yoshi-go-admins

missed one
  auth/impersonate/user.go
Owners: @googleapis/yoshi-go-admins

more pr feedback
  auth/impersonate/doc.go
  auth/impersonate/idtoken.go
Owners: @googleapis/yoshi-go-admins

fix(datastore): Assert returned value
  datastore/datastore_test.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

fix(datastore): Adding integration test
  datastore/integration_test.go
  datastore/load.go
  datastore/load_test.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

test(datastore): Backward compatibility with Go 1.17
  datastore/integration_test.go
Owners: @bhshkh, @googleapis/cloud-native-db-dpes, @googleapis/yoshi-go-admins

pr feedback
  auth/impersonate/idtoken_test.go
  auth/impersonate/impersonate.go
  auth/impersonate/impersonate_test.go
  auth/impersonate/user_test.go
Owners: @googleapis/yoshi-go-admins

feat(auth): add impersonate package (#8578)
  auth/impersonate/doc.go
  auth/impersonate/example_test.go
  auth/impersonate/idtoken.go
  auth/impersonate/idtoken_test.go
  auth/impersonate/impersonate.go
  auth/impersonate/impersonate_test.go
  auth/impersonate/integration_test.go
  auth/impersonate/user.go
  auth/impersonate/user_test.go
Owners: @googleapis/yoshi-go-admins

test(bigquery): better names for nested reused message
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

feat(auth): add idtoken package
  auth/idtoken/cache.go
  auth/idtoken/cache_test.go
  auth/idtoken/compute.go
  auth/idtoken/compute_test.go
  auth/idtoken/examples_test.go
  auth/idtoken/file.go
  auth/idtoken/idtoken.go
  auth/idtoken/idtoken_test.go
  auth/idtoken/integration_test.go
  auth/idtoken/validate.go
  auth/idtoken/validate_test.go
Owners: @googleapis/yoshi-go-admins

pr feedback
  auth/internal/transport/cba.go
Owners: @googleapis/yoshi-go-admins

guard activeContexts when deleting
  pubsub/iterator.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins, @shollyman

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @bhshkh @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @bhshkh @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/firestore/             @bhshkh @googleapis/cloud-native-db-dpes @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins @shollyman
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins

# individual release versions manifest is unowned (to avoid notifying every team)
.release-please-manifest-individual.json
# Owned by all
go.work
go.work.sum
