Repository googleapis/google-cloud-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-go-admins, @enocom, @telpirion, @googleapis/api-bigtable, @igorbernstein2, @googleapis/api-bigquery, @googleapis/api-pubsub, @googleapis/api-spanner-go, @googleapis/cloud-storage-dpe, @googleapis/api-logging, @googleapis/api-profiler

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                       @googleapis/yoshi-go-admins

/bigtable/              @enocom @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/cbt       @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/cmd/emulator  @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigtable/bttest        @igorbernstein2 @telpirion @googleapis/api-bigtable @googleapis/yoshi-go-admins
/bigquery/              @googleapis/api-bigquery @googleapis/yoshi-go-admins
/datastore/             @enocom @telpirion @googleapis/yoshi-go-admins
/firestore/             @enocom @telpirion @googleapis/yoshi-go-admins
/pubsub/                @googleapis/api-pubsub @googleapis/yoshi-go-admins
/pubsublite/            @googleapis/api-pubsub @googleapis/yoshi-go-admins
/spanner/               @googleapis/api-spanner-go @googleapis/yoshi-go-admins
/storage/               @googleapis/cloud-storage-dpe @googleapis/yoshi-go-admins
/errorreporting/        @googleapis/api-logging @googleapis/yoshi-go-admins
/logging/               @googleapis/api-logging @googleapis/yoshi-go-admins
/profiler/              @googleapis/api-profiler @googleapis/yoshi-go-admins

feat(bigquery/storage/managedwriter): improve proto3 normalization
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/validation_test.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

augment docstrings
  bigquery/storage/managedwriter/adapt/protoconversion.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6080)
  accessapproval/apiv1/access_approval_client.go
  accessapproval/apiv1/access_approval_client_example_test.go
  accessapproval/apiv1/gapic_metadata.json
  accessapproval/go.mod
  accessapproval/go.sum
  gkemulticloud/go.mod
  gkemulticloud/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/go.sum
  internal/generated/snippets/accessapproval/apiv1/Client/GetAccessApprovalServiceAccount/main.go
  internal/generated/snippets/accessapproval/apiv1/Client/InvalidateApprovalRequest/main.go
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  recaptchaenterprise/v2/apiv1/version.go
  recaptchaenterprise/v2/go.mod
  recaptchaenterprise/v2/go.sum
  retail/go.sum
  video/go.mod
  video/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6080)
  accessapproval/apiv1/access_approval_client.go
  accessapproval/apiv1/access_approval_client_example_test.go
  accessapproval/apiv1/gapic_metadata.json
  accessapproval/go.mod
  accessapproval/go.sum
  gkemulticloud/go.mod
  gkemulticloud/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/go.sum
  internal/generated/snippets/accessapproval/apiv1/Client/GetAccessApprovalServiceAccount/main.go
  internal/generated/snippets/accessapproval/apiv1/Client/InvalidateApprovalRequest/main.go
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  recaptchaenterprise/v2/apiv1/version.go
  recaptchaenterprise/v2/go.mod
  recaptchaenterprise/v2/go.sum
  retail/go.sum
  video/go.mod
  video/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  internal/.repo-metadata-full.json
  internal/generated/snippets/go.mod
  vision/v2/apiv1/version.go
Owners: @googleapis/yoshi-go-admins

chore(logging): add detectResource benchmark
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

feat(logging): implement auto-population of the calling source location (#6043)
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

fix(logging): revise automatic resource detection for ingested logs (#6022)
  logging/internal/environment.go
  logging/resource.go
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(logging): add detectResource benchmark (#6084)
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

fix(spanner/spansql): fix invalid timestamp literal formats (#6077)
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

fix(spanner/spansql): fix invalid timestamp literal formats (#6077)
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

feat(civil): add Before and After methods to civil.Time (#5703)
  civil/civil.go
  civil/civil_test.go
Owners: @googleapis/yoshi-go-admins

feat(civil): add Before and After methods to civil.Time (#5703)
  civil/civil.go
  civil/civil_test.go
Owners: @googleapis/yoshi-go-admins

add back +1 for distribution
  pubsub/iterator.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

add clarifying unit to Min/MaxExtensionPeriod comment
  pubsub/subscription.go
Owners: @googleapis/api-pubsub, @googleapis/yoshi-go-admins

chore(civil): refactor methods to use consistent receiver names
  civil/civil.go
  civil/civil_test.go
Owners: @googleapis/yoshi-go-admins

chore(storage): implement GetObject and DeleteObject (#6047)
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(storage): implement GetObject and DeleteObject (#6047)
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(civil): refactor methods to use consistent receiver names (#6089)
  civil/civil.go
  civil/civil_test.go
Owners: @googleapis/yoshi-go-admins

chore(civil): refactor methods to use consistent receiver names (#6089)
  civil/civil.go
  civil/civil_test.go
Owners: @googleapis/yoshi-go-admins

chore(storage): implement UpdateObject
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  accessapproval/go.mod
  accessapproval/go.sum
  aiplatform/apiv1beta1/model_client.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  iam/go.mod
  iam/go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/appengine/apiv1/snippet_metadata.google.appengine.v1.json
  internal/generated/snippets/datastream/apiv1/snippet_metadata.google.cloud.datastream.v1.json
  internal/generated/snippets/datastream/apiv1alpha1/snippet_metadata.google.cloud.datastream.v1alpha1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/eventarc/publishing/apiv1/snippet_metadata.google.cloud.eventarc.publishing.v1.json
  internal/generated/snippets/gkemulticloud/apiv1/snippet_metadata.google.cloud.gkemulticloud.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  talent/go.mod
  talent/go.sum
  vision/v2/apiv1/version.go
  vision/v2/go.mod
  vision/v2/go.sum
Owners: @googleapis/yoshi-go-admins

feat(logging): support partialSuccess flag for batched ingestions
  logging/logging.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6090)
  accessapproval/go.mod
  accessapproval/go.sum
  aiplatform/apiv1beta1/model_client.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  iam/go.mod
  iam/go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/appengine/apiv1/snippet_metadata.google.appengine.v1.json
  internal/generated/snippets/datastream/apiv1/snippet_metadata.google.cloud.datastream.v1.json
  internal/generated/snippets/datastream/apiv1alpha1/snippet_metadata.google.cloud.datastream.v1alpha1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/eventarc/publishing/apiv1/snippet_metadata.google.cloud.eventarc.publishing.v1.json
  internal/generated/snippets/gkemulticloud/apiv1/snippet_metadata.google.cloud.gkemulticloud.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  talent/go.mod
  talent/go.sum
  vision/v2/apiv1/version.go
  vision/v2/go.mod
  vision/v2/go.sum
Owners: @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics (#6090)
  accessapproval/go.mod
  accessapproval/go.sum
  aiplatform/apiv1beta1/model_client.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  iam/go.mod
  iam/go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/appengine/apiv1/snippet_metadata.google.appengine.v1.json
  internal/generated/snippets/datastream/apiv1/snippet_metadata.google.cloud.datastream.v1.json
  internal/generated/snippets/datastream/apiv1alpha1/snippet_metadata.google.cloud.datastream.v1alpha1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/eventarc/publishing/apiv1/snippet_metadata.google.cloud.eventarc.publishing.v1.json
  internal/generated/snippets/gkemulticloud/apiv1/snippet_metadata.google.cloud.gkemulticloud.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  talent/go.mod
  talent/go.sum
  vision/v2/apiv1/version.go
  vision/v2/go.mod
  vision/v2/go.sum
Owners: @googleapis/yoshi-go-admins

chore(logging): test PartialSuccess option
  logging/logging_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(bigquery): switch existing formatters to enable error wrapping
  bigquery/bigquery.go
  bigquery/intervalvalue.go
  bigquery/job.go
  bigquery/routine.go
  bigquery/schema.go
  bigquery/standardsql.go
  bigquery/storage/managedwriter/client.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

add wrapping and an Unwrap to adapt subpackage
  bigquery/storage/managedwriter/adapt/error.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

address feedback
  storage/client_test.go
  storage/grpc_client.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

feat(logging): implement auto-population of the calling source location (#6043)
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(logging): add detectResource benchmark (#6084)
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

fix(logging): revise automatic resource detection for ingested logs (#6022)
  logging/internal/environment.go
  logging/resource.go
  logging/resource_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

feat(logging): support partialSuccess flag for batched ingestions (#6092)
  logging/logging.go
  logging/logging_test.go
Owners: @googleapis/api-logging, @googleapis/yoshi-go-admins

chore(bigquery): switch existing formatters to enable error wrapping (#6094)
  bigquery/bigquery.go
  bigquery/intervalvalue.go
  bigquery/job.go
  bigquery/routine.go
  bigquery/schema.go
  bigquery/standardsql.go
  bigquery/storage/managedwriter/adapt/error.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/client.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

chore(bigquery): switch existing formatters to enable error wrapping (#6094)
  bigquery/bigquery.go
  bigquery/intervalvalue.go
  bigquery/job.go
  bigquery/routine.go
  bigquery/schema.go
  bigquery/standardsql.go
  bigquery/storage/managedwriter/adapt/error.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/client.go
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins

Add GFE latency trace for commit requests (#6079)
  spanner/transaction.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

Add GFE latency trace for commit requests (#6079)
  spanner/transaction.go
Owners: @googleapis/api-spanner-go, @googleapis/yoshi-go-admins

iter
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
  firestore/client.go
  firestore/integration_test.go
Owners: @enocom, @telpirion, @googleapis/yoshi-go-admins

list acl as todo and update tests
  storage/client_test.go
  storage/grpc_client.go
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-go-admins

chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  gkehub/apiv1beta1/gapic_metadata.json
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/apiv1beta1/gke_hub_membership_client_example_test.go
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/CancelOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/DeleteOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetLocation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListLocations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListOperations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/SetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/TestIamPermissions/main.go
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Owners: @googleapis/api-bigquery, @googleapis/yoshi-go-admins
