Repository googleapis/google-cloud-go, pull requests merged in 2020-11, with the labels that each got.

#3118 docs(logging): Require HTTPRequest.Status when grouping request logs
  logging/doc.go
  logging/examples_test.go
Labels: api: logging, automerge, cla: yes

#3092 feat(pubsublite): Mock server and utils for unit tests
  pubsublite/internal/test/mock.go
  pubsublite/internal/test/util.go
  pubsublite/internal/test/verifier.go
Labels: api: pubsublite, cla: yes

#3128 fix(spanner): do not end span with iterator.Done
  spanner/client_test.go
  spanner/read.go
Labels: api: spanner, cla: yes

#3127 fix(bigquery/datatransfer): remove datasource client
  bigquery/datatransfer/apiv1/data_source_client.go
  bigquery/datatransfer/apiv1/data_source_client_example_test.go
Labels: api: bigquery, automerge, cla: yes

#3129 fix(bigquery): add special http2 case to retry predicate
  bigquery/bigquery.go
Labels: api: bigquery, cla: yes

#3132 feat(pubsublite): Flow controller and offset tracker for the subscriber
  pubsublite/go.mod
  pubsublite/internal/wire/flow_control.go
  pubsublite/internal/wire/flow_control_test.go
Labels: api: pubsublite, cla: yes

#3133 feat(spanner): export ToSpannerError
  spanner/client.go
  spanner/client_test.go
  spanner/errors.go
  spanner/errors_test.go
  spanner/mutation.go
  spanner/pdml.go
  spanner/read.go
  spanner/session.go
  spanner/sessionclient.go
  spanner/transaction.go
  spanner/transaction_test.go
  spanner/value.go
Labels: api: spanner, cla: yes

#3140 chore(bigquery): release bigquery/v1.13.0
  bigquery/CHANGES.md
  internal/version/version.go
Labels: api: bigquery, cla: yes

#3141 docs: remove redundant step in submodule RELEASING.md guidance
  RELEASING.md
Labels: automerge, cla: yes

#3137 feat(pubsublite): Trackers for acks and commit cursor
  pubsublite/internal/wire/acks.go
  pubsublite/internal/wire/acks_test.go
Labels: api: pubsublite, cla: yes

#3139 feat(pubsub): Ignore calls to Ack/Nack if the doneFunc isn't set
  pubsub/message.go
Labels: api: pubsub, cla: yes

#3123 feat(pubsublite): Move internal implementation details to internal/wire subpackage
  pubsublite/admin.go
  pubsublite/internal/wire/README.md
  pubsublite/internal/wire/errors.go
  pubsublite/internal/wire/message_router.go
  pubsublite/internal/wire/message_router_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/resources_test.go
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/settings.go
  pubsublite/internal/wire/settings_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/types.go
  pubsublite/types_test.go
Labels: api: pubsublite, cla: yes

#3152 feat(pubsublite): Periodic background task
  pubsublite/internal/wire/periodic_task.go
  pubsublite/internal/wire/periodic_task_test.go
Labels: api: pubsublite, cla: yes

#3150 chore: delete duplicate blunderbuss entry
  .github/blunderbuss.yml
Labels: automerge, cla: yes, priority: p2

#3111 fix(all): Update hand-written clients to not use WithEndpoint override
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/export_test.go
  bigtable/internal/option/option.go
  logging/logadmin/logadmin.go
  logging/logging.go
  spanner/client.go
Labels: cla: yes

#3153 feat(pubsublite): Test utils for streams
  pubsublite/internal/test/mock.go
  pubsublite/internal/test/util.go
  pubsublite/internal/wire/flow_control_test.go
  pubsublite/internal/wire/requests_test.go
Labels: api: pubsublite, automerge, cla: yes

#3167 chore: release logging 1.1.2
  logging/CHANGES.md
Labels: autorelease: pending, cla: yes, do not merge

#3157 fix(pubsub): retry deadline exceeded errors in Acknowledge
  pubsub/iterator.go
Labels: api: pubsub, cla: yes

#3181 build(release): indicate repo is monorepo
  .github/release-please.yml
Labels: automerge, cla: yes

#3185 fix(internal/godocfx): rename README files to pkg-readme
  internal/godocfx/main.go
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/pkg-readme.md
  internal/godocfx/testdata/golden/toc.yml
Labels: automerge, cla: yes

#3190 chore(pubsublite): Set pubsublite CODEOWNERS to api-pubsub team
  .github/CODEOWNERS
Labels: api: pubsublite, automerge, cla: yes

#3186 chore: release pubsub 1.8.3
  pubsub/CHANGES.md
Labels: autorelease: pending, cla: yes

#3189 chore: release google-cloud-go 0.72.0
  CHANGES.md
Labels: autorelease: pending, cla: yes

#3187 chore: release pubsublite 0.3.0
  pubsublite/CHANGES.md
Labels: automerge, autorelease: pending, cla: yes

#3188 chore: release spanner 1.12.0
  spanner/CHANGES.md
Labels: autorelease: pending, cla: yes

#3193 chore: release 0.72.0
  CHANGES.md
Labels: autorelease: pending, cla: yes

#3191 feat(internal/kokoro): add ability to regen all DocFX YAML
  internal/kokoro/publish_docs.sh
Labels: cla: yes

#3154 feat(pubsub): Enable server side flow control by default with the option to turn it off
  pubsub/iterator.go
  pubsub/subscription.go
Labels: api: pubsub, cla: yes

#3197 fix(internal/godocfx): filter out test packages from other modules
  internal/godocfx/parse.go
Labels: automerge, cla: yes

#3192 feat(spanner/spansql): define structures and parse UPDATE DML statements
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3143 feat(pubsublite): Abstraction for leaf and composite services
  pubsublite/internal/wire/errors.go
  pubsublite/internal/wire/service.go
  pubsublite/internal/wire/service_test.go
Labels: api: pubsublite, cla: yes

#3201 feat(spanner/spannertest): support UPDATE DML
  spanner/spannertest/README.md
  spanner/spannertest/db.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3195 feat(pubsublite): Receive settings
  pubsublite/internal/wire/settings.go
  pubsublite/internal/wire/settings_test.go
Labels: api: pubsublite, cla: yes

#3200 feat(pubsub): Allow Message and PublishResult to be used outside the package
  pubsub/iterator.go
  pubsub/message.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
  pubsub/topic.go
Labels: api: pubsub, cla: yes

#3172 fix(storage): fix endpoint selection logic
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#3214 chore(internal): stop generating Ads packages in genproto
  internal/gapicgen/generator/genproto.go
  internal/gapicgen/generator/genproto_test.go
Labels: automerge, cla: yes

#3160 feat(pubsublite): Refactoring and unit tests for retryableStream
  pubsublite/internal/test/mock.go
  pubsublite/internal/test/verifier.go
  pubsublite/internal/wire/main_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/streams_test.go
Labels: api: pubsublite, cla: yes

#3198 feat(pubsublite): Committer implementation
  pubsublite/internal/wire/acks.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
  pubsublite/internal/wire/service_util_test.go
Labels: api: pubsublite, cla: yes

#3207 feat(firestore): support "!=" and "not-in" query operators
  firestore/integration_test.go
  firestore/query.go
  firestore/query_test.go
Labels: api: firestore, automerge: exact, cla: yes

#3218 feat(spanner/spannertest): implement FULL JOIN
  spanner/spannertest/README.md
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3227 test(firestore): fix order by in integration test
  firestore/integration_test.go
Labels: api: firestore, cla: yes

#3221 feat(pubsublite): Single and multi partition subscribers
  pubsublite/internal/wire/flow_control.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3208 docs: expand on developer environment setup
  CONTRIBUTING.md
Labels: automerge, cla: yes

#3232 fix(pubsub): Remove NewMessage and NewPublishResult
  pubsub/message.go
  pubsub/topic.go
Labels: api: pubsub, cla: yes

#2779 feat(bigquery): add support for bignumeric
  bigquery/integration_test.go
  bigquery/params.go
  bigquery/schema.go
  bigquery/schema_test.go
  bigquery/value.go
  bigquery/value_test.go
  go.sum
Labels: api: bigquery, cla: yes, do not merge

#3240 feat(bigquery): expose hive partitioning options
  bigquery/external.go
  bigquery/external_test.go
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes

#3237 test(spanner): fix flaky TestMaintainer test
  spanner/session_test.go
Labels: api: spanner, cla: yes

#3252 refactor(pubsublite): message routers set partition count when created
  pubsublite/internal/wire/message_router.go
  pubsublite/internal/wire/message_router_test.go
Labels: api: pubsublite, cla: yes

#3254 test(pubsublite): integration test utils
  pubsublite/internal/test/msg_tracker.go
  pubsublite/internal/test/msg_tracker_test.go
  pubsublite/internal/test/msg_validators.go
  pubsublite/internal/test/msg_validators_test.go
Labels: api: pubsublite, cla: yes

#3225 feat(pubsublite): single partition publisher implementation
  pubsublite/common/publish_data.go
  pubsublite/common/publish_data_test.go
  pubsublite/go.mod
  pubsublite/go.sum
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
Labels: api: pubsublite, cla: yes

#3220 fix(pubsublite): fixed return value of AdminClient.TopicSubscriptions
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/integration_test.go
  pubsublite/internal/test/mock.go
  pubsublite/main_test.go
Labels: api: pubsublite, cla: yes

#3263 ci(logging): renabled un-flaked log tests
  logging/logging_test.go
Labels: api: logging, cla: yes, priority: p2

#3262 refactor(pubsublite): committer discards outstanding acks when stopped
  pubsublite/internal/wire/acks.go
  pubsublite/internal/wire/acks_test.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
Labels: api: pubsublite, cla: yes
