Repository googleapis/google-cloud-go, pull requests merged in 2020-12, with the labels that each got.

#3283 fix(pubsublite): deliver messages sequentially
  pubsublite/internal/wire/periodic_task.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3305 test(spanner): queries always return at least one partial result set
  spanner/read_test.go
Labels: api: spanner, cla: yes

#3277 feat(pubsublite): routing publisher implementation
  pubsublite/internal/wire/partition_count.go
  pubsublite/internal/wire/partition_count_test.go
  pubsublite/internal/wire/periodic_task.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/settings.go
Labels: api: pubsublite, cla: yes

#3286 feat(spanner/spannertest): support AVG aggregation function
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/keywords.go
Labels: api: spanner, automerge, cla: yes

#3202 feat(datastore): support civil package types save
  datastore/load.go
  datastore/load_test.go
  datastore/save.go
  datastore/save_test.go
Labels: api: datastore, cla: yes, type: feature request

#3243 fix: remove pubsublite from internal reporting
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#3326 refactor(pubsublite): wire subscriber delivers single messages
  pubsublite/internal/wire/acks.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3337 chore(all): upgrade to google.golang.org/api v0.36.0
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/examples/mock/go.mod
  internal/examples/mock/go.sum
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: cla: yes

#3038 feat(storage): add missing StorageClass in BucketAttrsToUpdate
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, cla: yes

#3350 test(pubsublite): skip TestSubscribeStreamSpuriousSeekResponse
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3347 chore(internal/gapicgen): upgrade gapic generator to v0.16.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#3174 feat(internal/gapicgen): support adding context to regen
  internal/gapicgen/README.md
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/github.go
  internal/gapicgen/cmd/genlocal/main.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
  internal/gapicgen/generator/git.go
  internal/gapicgen/generator/git_test.go
Labels: cla: yes

#3352 feat(artifactregistry): start generating apiv1beta2
  artifactregistry/apiv1beta2/artifact_registry_client.go
  artifactregistry/apiv1beta2/artifact_registry_client_example_test.go
  artifactregistry/apiv1beta2/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: artifactregistry, automerge, cla: yes, do not merge

#3353 chore: release pubsub 1.9.0
  pubsub/CHANGES.md
Labels: cla: yes

#3351 feat(internal): copy pubsub Message and PublishResult to internal/pubsub
  internal/pubsub/message.go
  internal/pubsub/publish.go
Labels: cla: yes

#3366 chore(spanner/spansql): remove test.txt
  spanner/spansql/test.txt
Labels: api: spanner, automerge, cla: yes

#3373 feat(spanner/spansql): support for parsing generated columns
  spanner/spannertest/README.md
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#3336 test(spanner): add test for mutation with all data types
  spanner/mutation_test.go
Labels: api: spanner, automerge, cla: yes

#3116 feat(bigtable): run E2E test over DirectPath
  bigtable/export_test.go
  bigtable/integration_test.go
Labels: api: bigtable, automerge, cla: yes

#3379 fix(internal/gapicgen): don't create genproto pr as draft
  internal/gapicgen/cmd/genbot/github.go
Labels: automerge, cla: yes

#3377 docs(all): update automated release instructions
  RELEASING.md
Labels: automerge, cla: yes

#3382 feat(servicedirectory): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  servicedirectory/apiv1/doc.go
  servicedirectory/apiv1/lookup_client.go
  servicedirectory/apiv1/lookup_client_example_test.go
  servicedirectory/apiv1/registration_client.go
  servicedirectory/apiv1/registration_client_example_test.go
Labels: api: servicedirectory, automerge, cla: yes

#3333 refactor(pubsublite): routing publisher ignores decreasing partition count
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
Labels: api: pubsublite, automerge, cla: yes

#3276 test(pubsublite): refactor out common code for main_test.go
  pubsublite/internal/test/mock.go
  pubsublite/internal/wire/main_test.go
  pubsublite/main_test.go
Labels: api: pubsublite, automerge, cla: yes

#3383 feat(internal/gapicgen): support generating only gapics with genlocal
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genlocal/main.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
Labels: automerge, cla: yes

#3376 fix(datastore): loading civil types in non UTC location is incorrect
  datastore/load.go
  datastore/load_test.go
Labels: api: datastore, cla: yes

#3367 fix(pubsub): respect streamAckDeadlineSeconds with MaxExtensionPeriod
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pullstream.go
  pubsub/pullstream_test.go
  pubsub/subscription.go
Labels: api: pubsub, cla: yes

#3388 test(pubsublite): fix flaky subscriber stream tests
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3386 build: use GitHub actions for submodules
  .github/release-please.yml
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: cla: yes

#3409 chore(internal/gapicgen): Bump version of go-github library to v33
  internal/gapicgen/cmd/genbot/github.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: automerge, cla: yes

#3238 feat(pubsublite): assigning subscriber implementation
  pubsublite/go.mod
  pubsublite/go.sum
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/assigner_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3411 feat(spanner/spansql): support NUMERIC data type
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3422 build: "on" was missing for action, switch if order
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: automerge, cla: yes

#3425 build: typo on if line was issue
  .github/workflows/release-submodule.yaml
Labels: cla: yes

#3403 feat(bigquery): add reservation usage stats to query statistics
  bigquery/integration_test.go
  bigquery/job.go
Labels: cla: yes

#3381 chore: add links section to README
  README.md
Labels: cla: yes

#3430 fix(pubsub): fix default stream ack deadline seconds
  pubsub/pullstream.go
Labels: api: pubsub, cla: yes

#3231 refactor(pubsub): use Message and PublishResult in internal/pubsub
  pubsub/go.mod
  pubsub/go.sum
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/message.go
  pubsub/service.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsub/topic.go
Labels: api: pubsub, cla: yes

#3428 feat(spanner/spannertest): implement ANY_VALUE aggregation function
  spanner/spannertest/funcs.go
  spanner/spansql/keywords.go
Labels: api: spanner, automerge, cla: yes

#3431 feat(spanner/spannertest): implement SELECT ... FROM UNNEST(...)
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3439 test(pubsublite): enable integration tests for admin resource operations
  pubsublite/integration_test.go
Labels: api: pubsublite, cla: yes

#3441 build: use the alternate CHANGELOG name
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: cla: yes

#3328 feat(spanner): support NUMERIC in mutations
  spanner/mutation.go
  spanner/value.go
Labels: api: spanner, cla: yes

#3438 feat(spanner/spannertest): support array literals
  spanner/spannertest/db_eval.go
  spanner/spannertest/integration_test.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3446 chore(datastore): skip failing test TestLoadCivilTimeInNonUTCZone
  datastore/load_test.go
Labels: api: datastore, automerge, cla: yes

#3447 chore(retail): start generating apiv2
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  retail/apiv2/catalog_client.go
  retail/apiv2/catalog_client_example_test.go
  retail/apiv2/doc.go
  retail/apiv2/prediction_client.go
  retail/apiv2/prediction_client_example_test.go
  retail/apiv2/product_client.go
  retail/apiv2/product_client_example_test.go
  retail/apiv2/user_event_client.go
  retail/apiv2/user_event_client_example_test.go
Labels: automerge, cla: yes

#3456 test(spanner): configurable host for it tests
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#3462 feat(asset)!: remove v1beta1
  asset/apiv1beta1/asset_client.go
  asset/apiv1beta1/asset_client_example_test.go
  asset/apiv1beta1/doc.go
  asset/apiv1beta1/mock_test.go
  internal/gapicgen/generator/config.go
Labels: api: cloudasset, automerge, cla: yes

#3469 chore: update GoDoc badge to pkg.go.dev
  README.md
Labels: cla: yes

#3461 fix(spanner): fix session leak
  spanner/client.go
  spanner/client_test.go
Labels: api: spanner, automerge, cla: yes

#3470 test(datastore): remove flaky timezone test
  datastore/load_test.go
Labels: api: datastore, cla: yes

#3457 refactor(pubsublite): rename common.PublishMetadata to publish.Metadata
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/publish/metadata.go
  pubsublite/publish/metadata_test.go
Labels: api: pubsublite, automerge, cla: yes

#3429 bigtable: Update user-agent to the latest version
  bigtable/doc.go
Labels: api: bigtable, automerge, cla: yes

#3392 refactor(pubsublite): retryableStream cleanups
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/streams_test.go
  pubsublite/internal/wire/subscriber.go
Labels: api: pubsublite, cla: yes

#3393 refactor(pubsublite): simplify compositeService
  pubsublite/internal/wire/service.go
  pubsublite/internal/wire/service_test.go
Labels: api: pubsublite, cla: yes

#3465 feat(spanner): include User agent
  spanner/client.go
  spanner/doc.go
Labels: api: spanner, cla: yes

#3466 feat(spanner): run E2E test over DirectPath
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#3281 feat(pubsublite): settings and message transforms for Cloud Pub/Sub shim
  pubsublite/go.mod
  pubsublite/go.sum
  pubsublite/internal/wire/settings.go
  pubsublite/ps/doc.go
  pubsublite/ps/message.go
  pubsublite/ps/message_test.go
  pubsublite/ps/settings.go
  pubsublite/ps/settings_test.go
Labels: api: pubsublite, cla: yes

#3303 feat(pubsublite): publisher client
  pubsublite/go.mod
  pubsublite/internal/wire/assigner_test.go
  pubsublite/internal/wire/errors.go
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/settings.go
  pubsublite/ps/example_test.go
  pubsublite/ps/publisher.go
  pubsublite/ps/publisher_test.go
Labels: api: pubsublite, cla: yes

#3222 feat(bigtable): Backup Level IAM
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#3489 feat(bigtable): allow restore backup to different instance
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes
