Repository googleapis/google-cloud-go, pull requests merged in 2020-10, with the labels that each got.

#2936 feat(spanner/spansql): parse join hints
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#2947 fix(bigquery): address fastpath iteration with iterator.Pager
  bigquery/integration_test.go
  bigquery/iterator.go
Labels: cla: yes

#2948 chore: release bigquery/v1.11.2
  bigquery/CHANGES.md
  internal/version/version.go
Labels: cla: yes

#2945 feat(spanner/spannertest): support LEFT OUTER JOIN with ON clause
  spanner/spannertest/README.md
  spanner/spannertest/db_query.go
  spanner/spannertest/db_test.go
Labels: api: spanner, automerge, cla: yes

#2951 fix(pubsub): suppress connection is closing error
  pubsub/pubsub.go
  pubsub/streaming_pull_test.go
Labels: cla: yes

#2954 chore(pubsub): release pubsub/v1.8.1
  internal/version/version.go
  pubsub/CHANGES.md
Labels: cla: yes

#2962 chore(all): upgrade handful of clients to GA
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#2965 fix(bigquery): add retries for table deletion
  bigquery/table.go
Labels: cla: yes

#2964 feat(cmd/go-cloud-debug-agent): mark as deprecated
  cmd/go-cloud-debug-agent/debuglet.go
Labels: automerge, cla: yes

#2972 feat(godocfx): add two levels of nesting to TOC
  internal/godocfx/go.mod
  internal/godocfx/godocfx_test.go
  internal/godocfx/parse.go
Labels: cla: yes

#2970 fix(pubsub): track errors in published messages opencensus metric
  pubsub/topic.go
Labels: api: pubsub, cla: yes

#2975 chore(internal/kokoro): fix gcp-docuploader install
  internal/kokoro/publish_docs.sh
Labels: automerge, cla: yes

#2969 perf(spanner/spansql): make fewer allocations during SQL
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#2977 test(spanner/spannertest): migrate most test code to integration_test.go
  spanner/go.mod
  spanner/spannertest/db_test.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#2963 docs: add full example code for testing.md
  internal/examples/fake/fake.go
  internal/examples/fake/fake_test.go
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/examples/mock/go.mod
  internal/examples/mock/go.sum
  internal/examples/mock/mock.go
  internal/examples/mock/mock_test.go
  testing.md
Labels: api: docs, automerge, cla: yes

#2979 feat(internal/kokoro): make publish_docs VERSION optional
  internal/kokoro/publish_docs.sh
Labels: automerge, cla: yes

#2978 chore(internal/godocfx): remove TOC nesting
  internal/godocfx/godocfx_test.go
  internal/godocfx/parse.go
Labels: automerge, cla: yes

#2982 fix(spanner/spannertest): fix handling of NULL with LIKE operator
  spanner/spannertest/db_eval.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#2985 fix(godocfx): make extra files optional, filter out third_party
  internal/godocfx/godocfx_test.go
  internal/godocfx/main.go
  internal/godocfx/parse.go
Labels: cla: yes

#2986 feat(internal/godocfx): HTML-ify package summary
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: automerge, cla: yes

#2983 fix(spanner/spannertest): correct handling of tri-state boolean expre…
  spanner/spannertest/db.go
  spanner/spannertest/db_eval.go
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#2991 fix(spanner/spannertest): correct handling of NULL AND FALSE
  spanner/spannertest/db_eval.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes, release blocking

#2990 fix(spanner/spannertest): generate query output columns in constructi…
  spanner/spannertest/db.go
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3002 feat(accessapproval): start generating apiv1
  accessapproval/apiv1/access_approval_client.go
  accessapproval/apiv1/access_approval_client_example_test.go
  accessapproval/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: cla: yes

#3003 chore(bigquery): release bigquery/v1.12.0
  bigquery/CHANGES.md
  internal/version/version.go
Labels: cla: yes

#3006 feat(websecurityscanner): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  websecurityscanner/apiv1/doc.go
  websecurityscanner/apiv1/web_security_scanner_client.go
  websecurityscanner/apiv1/web_security_scanner_client_example_test.go
Labels: automerge, cla: yes

#2994 perf(spanner/spannertest): speed up no-wait DDL changes
  spanner/spannertest/inmem.go
Labels: api: spanner, automerge, cla: yes

#2995 feat(spanner/spannertest): support USING clause in JOIN
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#2996 doc(spanner/spannertest): document the implementation
  spanner/spannertest/INTERNALS.md
  spanner/spannertest/README.md
  spanner/spannertest/inmem.go
Labels: api: spanner, automerge, cla: yes, type: docs

#2997 fix(spanner/spansql): fix parsing of unary minus
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#3013 test(spanner): compare data instead of struct
  spanner/oc_test.go
Labels: cla: yes

#2839 refactor(logging): Debranding of Stackdriver
  CONTRIBUTING.md
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/gapics.go
  logging/README.md
  logging/doc.go
  logging/internal/testing/fake.go
  logging/logadmin/logadmin.go
  logging/logadmin/metrics.go
  logging/logadmin/sinks.go
Labels: api: logging, automerge, cla: yes

#3020 chore(godocfx): refactor package loading
  internal/godocfx/go.sum
  internal/godocfx/godocfx_test.go
  internal/godocfx/parse.go
Labels: cla: yes

#3021 refactor(errorreporting): debrand Stackdriver from Error Reporting
  CONTRIBUTING.md
  errorreporting/errors.go
  errorreporting/example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/gapics.go
Labels: automerge, cla: yes, priority: p2, type: process

#3023 chore(pubsublite): carve out module
  CHANGES.md
  pubsublite/CHANGES.md
  pubsublite/go.mod
  pubsublite/go.sum
  pubsublite/go_mod_tidy_hack.go
Labels: cla: yes

#3017 test(spanner): fix potential race condition in TestRsdBlockingStates
  spanner/read_test.go
Labels: api: spanner, cla: yes

#3030 docs(datastore): say to call (*Client).Close
  datastore/datastore.go
  datastore/doc.go
Labels: cla: yes

#3027 test(storage): fix failing integration tests
  storage/integration_test.go
Labels: api: storage, automerge, cla: yes

#3032 feat(managedidentities): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  managedidentities/apiv1/doc.go
  managedidentities/apiv1/managed_identities_client.go
  managedidentities/apiv1/managed_identities_client_example_test.go
Labels: cla: yes

#3026 feat(pubsublite): Types for resource paths and topic/subscription configs
  pubsublite/config.go
  pubsublite/config_test.go
  pubsublite/doc.go
  pubsublite/types.go
  pubsublite/types_test.go
Labels: api: pubsublite, automerge, cla: yes

#3037 feat(spanner/spannertest): support INNER and CROSS JOIN
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, cla: yes

#3039 test(spanner): check for Aborted error
  spanner/integration_test.go
Labels: cla: yes

#3042 feat(spanner/spannertest): implement RIGHT JOIN
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, cla: yes

#3043 fix(spanner/spannertest): fix ORDER BY combined with SELECT aliases
  spanner/spannertest/README.md
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, cla: yes

#3049 chore: release 0.70.0
  CHANGES.md
Labels: autorelease: pending, cla: yes

#3046 feat(spanner/spansql): parse CHECK constraints
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3045 chore(spanner): release 1.11.0
  internal/version/version.go
  spanner/CHANGES.md
Labels: api: spanner, cla: yes

#3054 feat(spanner/spannertest): make SELECT list aliases visible to ORDER BY
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3050 feat(spanner): add metadata to RowIterator
  spanner/client_test.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/read.go
  spanner/read_test.go
Labels: api: spanner, cla: yes

#3052 docs: update release instructions to reflect latest process
  RELEASING.md
Labels: api: docs, automerge, cla: yes

#3051 chore(logging): Release logging/v1.1.1
  logging/CHANGES.md
Labels: api: logging, cla: yes

#3055 fix(pubsub): do not propagate context deadline exceeded error
  pubsub/iterator.go
  pubsub/iterator_test.go
Labels: api: pubsub, cla: yes

#3063 chore(internal/gapicgen): update gapic generator v0.15.3
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#3064 chore(pubsub): release pubsub/v1.8.2
  internal/version/version.go
  pubsub/CHANGES.md
Labels: cla: yes

#3067 test(spanner/spannertest): make ARRAY_AGG test work against real Spanner
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3066 chore(pubsub): skip pubsub geofencing tests
  pubsub/integration_test.go
Labels: api: pubsub, automerge, cla: yes

#3069 feat(internal): auto-run godocfx on new mods
  RELEASING.md
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/godocfx/godocfx_test.go
  internal/godocfx/index.go
  internal/godocfx/index_test.go
  internal/godocfx/main.go
  internal/godocfx/parse.go
  internal/godocfx/timesaver.go
  internal/kokoro/publish_docs.sh
Labels: automerge, cla: yes

#3062 fix(logging): allow X-Cloud-Trace-Context fields to be optional
  logging/logging.go
  logging/logging_unexported_test.go
Labels: api: logging, automerge, cla: yes

#3071 fix(internal/kokoro): remove unnecessary cd
  internal/kokoro/publish_docs.sh
Labels: automerge, cla: yes

#3070 chore(internal/gapicgen): update protoc-gen-go
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#3024 feature(bigquery): improve error guidance for streaming inserts
  bigquery/doc.go
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes

#3058 feat(spanner): support rw-transaction with options
  spanner/client.go
  spanner/transaction.go
Labels: api: spanner, cla: yes

#3036 feat(pubsublite): Pub/Sub Lite admin client
  CONTRIBUTING.md
  pubsublite/admin.go
  pubsublite/config.go
  pubsublite/config_test.go
  pubsublite/integration_test.go
  pubsublite/types.go
  pubsublite/types_test.go
Labels: api: pubsublite, cla: yes

#3087 fix(pubsublite): Disable integration tests for project id
  pubsublite/integration_test.go
Labels: api: pubsublite, cla: yes

#3086 chore(internal/gapicgen): start recording googleapis hash
  internal/gapicgen/generator/generator.go
Labels: automerge, cla: yes

#3094 docs(pubsublite): add readme for pubsublite
  pubsublite/README.md
  pubsublite/doc.go
Labels: cla: yes

#3096 test(httpreplay): fix TestIntegration_RecordAndReplay
  httpreplay/httpreplay_test.go
  httpreplay/internal/testdata/compressed.txt
  httpreplay/internal/testdata/uncompressed.txt
Labels: cla: yes

#3068 feat(pubsublite): Retryable stream wrapper
  pubsublite/rpc.go
  pubsublite/streams.go
Labels: api: pubsublite, cla: yes

#3075 feat(pubsublite): Publish settings and errors
  pubsublite/errors.go
  pubsublite/settings.go
  pubsublite/settings_test.go
Labels: api: pubsublite, cla: yes

#3077 feat(pubsublite): Message type and message routers
  pubsublite/message.go
  pubsublite/message_test.go
Labels: api: pubsublite, cla: yes

#3097 docs(logging): add example for logging the HTTPRequest type
  logging/examples_test.go
Labels: api: logging, cla: yes, priority: p2, type: docs

#3101 chore(pubsublite): release pubsublite/v0.2.0
  internal/version/version.go
  pubsublite/CHANGES.md
Labels: api: pubsublite, cla: yes

#3093 chore: add api-logging codeowners
  .github/CODEOWNERS
  .github/blunderbuss.yml
  logging/README.md
Labels: api: clouderrorreporting, api: logging, automerge, cla: yes, priority: p2, type: process

#3107 docs(all): update release instructions
  RELEASING.md
Labels: cla: yes

#3099 feat(billing/budgets): start generating apiv1
  billing/budgets/apiv1/budget_client.go
  billing/budgets/apiv1/budget_client_example_test.go
  billing/budgets/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: cloudbilling, automerge, cla: yes

#3076 fix(logging): do not panic in library code
  logging/logging.go
  logging/logging_unexported_test.go
Labels: api: logging, automerge, cla: yes, lang: go, type: feature request

#3084 feat(bigquery): Add support for authorized UDFs
  bigquery/dataset.go
  bigquery/dataset_test.go
  bigquery/integration_test.go
  bigquery/routine.go
Labels: cla: yes

#3114 test(logging): add back DeleteLog test
  logging/logging_test.go
Labels: api: logging, automerge, cla: yes, priority: p2, type: process

#3105 feat(pubsublite): Added Pub/Sub Lite clients and routing headers
  pubsublite/admin.go
  pubsublite/rpc.go
Labels: api: pubsublite, automerge, cla: yes
