Repository googleapis/google-cloud-go, pull requests merged in 2021-11, with the labels that each got.

#5049 fix(internal/godocfx): replace * with HTML code
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: cla: yes

#5052 test(firestore): partition queries don't return exact partition counts
  firestore/integration_test.go
Labels: api: firestore, cla: yes

#4997 test(storage): add methods to retry conformance tests
  storage/internal/test/conformance/retry_tests.json
  storage/retry_conformance_test.go
Labels: api: storage, cla: yes

#5059 fix(bigquery): address issue from job construction feature
  bigquery/job.go
Labels: api: bigquery, cla: yes

#5060 test(storage): use current googler email in integration test
  storage/integration_test.go
Labels: api: storage, cla: yes

#4903 test(storage): add buckets to fix failing test
  storage/integration_test.go
Labels: api: storage, cla: yes

#5033 test(storage): add retry conditions to bucket and obj updates
  storage/integration_test.go
Labels: api: storage, cla: yes

#5061 test(bigtable): randomize table name to avoid collisions
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#5067 chore(all): auto-regenerate gapics
  aiplatform/apiv1/doc.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/ListRelatedAccountGroupMemberships/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/ListRelatedAccountGroups/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1/Client/SearchRelatedAccountGroupMemberships/main.go
  internal/godocfx/go.sum
  recaptchaenterprise/apiv1/doc.go
  recaptchaenterprise/apiv1/gapic_metadata.json
  recaptchaenterprise/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/apiv1/recaptcha_enterprise_client_example_test.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
  recommender/apiv1/doc.go
  recommender/go.mod
  recommender/go.sum
Labels: cla: yes, automerge

#5064 test(datastore): add scenarios around flattening first and last struct fields
  datastore/datastore_test.go
Labels: api: datastore, cla: yes

#5057 feat(spanner/spansql): support CAST and SAFE_CAST
  spanner/spannertest/db_eval.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#5063 fix(compute/metadata): return an error when all retries have failed
  compute/metadata/metadata.go
  compute/metadata/metadata_go113_test.go
Labels: cla: yes, api: compute, automerge: exact

#5065 chore(storage): add default gRPC connection pool
  storage/storage.go
Labels: api: storage, cla: yes, automerge

#5076 chore(): add encocom and dmahugh as codeowners for databases
  .github/CODEOWNERS
Labels: cla: yes

#5077 chore(): assign database issues to dmahugh
  .github/blunderbuss.yml
Labels: cla: yes

#5075 test(bigtable): allow multiple tests to create app profiles
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#5081 feat(bigquery): add BI Engine information to query statistics
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, cla: yes, automerge

#5084 chore(bigquery): relax BI Engine Statistics test
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes, automerge

#5078 feat(bigquery/storage/managedwriter): extend managedstream to support call options
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/writer_option.go
  bigquery/storage/managedwriter/writer_option_test.go
Labels: api: bigquery, cla: yes, automerge

#5092 test(bigtable): fix #5046 by segmenting app profile
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#5093 test(bigtable): fix #4173, increase ctx timeout
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#5089 ci: filter presubmit tests to run only changed directories
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Labels: cla: yes

#5072 feat(bigtable/cbt): cbt 'import' cmd to parse a .csv file and write to CBT
  bigtable/cmd/cbt/cbt.go
  bigtable/cmd/cbt/cbt_test.go
  bigtable/cmd/cbt/cbtdoc.go
Labels: api: bigtable, cla: yes

#5079 feat(storage): post policy can be signed with a fn that takes raw bytes
  storage/integration_test.go
  storage/post_policy_v4.go
Labels: api: storage, cla: yes

#5106 test(spanner): fix flaky TestIntegration_StartBackupOperation test
  internal/kokoro/continuous.sh
Labels: api: spanner, cla: yes

#5103 ci: fix variable for presubmits
  internal/kokoro/presubmit.sh
Labels: cla: yes

#4998 test(storage): include conformance tests in ci/cd pipeline
  storage/emulator_test.sh
  storage/retry_conformance_test.go
Labels: cla: yes

#5109 chore(gapicgen): remove googleapis-discovery
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/local.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
Labels: cla: yes

#5111 fix(internal/gapicgen): fix a compute filtering
  internal/gapicgen/generator/genproto.go
Labels: cla: yes

#5122 fix(bigquery/storage/managedwriter): correctly copy request
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, cla: yes

#5125 chore: update microgen to v0.23.4
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes

#5135 feat(monitoring/metricsscope): promote apiv1 to GA
  internal/gapicgen/generator/config.go
  monitoring/CHANGES.md
Labels: api: monitoring, cla: yes

#5110 test(storage): add scenario 6 to retry conformance tests
  storage/emulator_test.sh
  storage/internal/test/conformance/retry_tests.json
Labels: api: storage, cla: yes

#5147 chore: bulk gen
  ids/CHANGES.md
  ids/README.md
  ids/apiv1/doc.go
  ids/apiv1/gapic_metadata.json
  ids/apiv1/ids_client.go
  ids/apiv1/ids_client_example_test.go
  ids/go.mod
  ids/go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  vmmigration/CHANGES.md
  vmmigration/README.md
  vmmigration/apiv1/doc.go
  vmmigration/apiv1/gapic_metadata.json
  vmmigration/apiv1/vm_migration_client.go
  vmmigration/apiv1/vm_migration_client_example_test.go
  vmmigration/go.mod
  vmmigration/go.sum
Labels: cla: yes

#5149 chore: temporarily disable generation for bigtable
  internal/gapicgen/generator/genproto.go
Labels: cla: yes

#5101 test(storage): refactor RequesterPays test to avoid rate limits
  storage/integration_test.go
Labels: api: storage, cla: yes

#5152 chore(all): auto-regenerate gapics
  aiplatform/apiv1/doc.go
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/tensorboard_client.go
  aiplatform/apiv1/tensorboard_client_example_test.go
  aiplatform/go.mod
  aiplatform/go.sum
  cloudtasks/apiv2/doc.go
  cloudtasks/go.mod
  cloudtasks/go.sum
  dialogflow/cx/apiv3/doc.go
  dialogflow/cx/apiv3/gapic_metadata.json
  dialogflow/cx/apiv3/versions_client.go
  dialogflow/cx/apiv3/versions_client_example_test.go
  dialogflow/go.mod
  dialogflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/BatchCreateTensorboardRuns/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/BatchCreateTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/BatchReadTensorboardTimeSeriesData/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/CreateTensorboard/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/CreateTensorboardExperiment/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/CreateTensorboardRun/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/CreateTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/DeleteTensorboard/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/DeleteTensorboardExperiment/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/DeleteTensorboardRun/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/DeleteTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ExportTensorboardTimeSeriesData/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/GetTensorboard/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/GetTensorboardExperiment/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/GetTensorboardRun/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/GetTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ListTensorboardExperiments/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ListTensorboardRuns/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ListTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ListTensorboards/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/ReadTensorboardTimeSeriesData/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/UpdateTensorboard/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/UpdateTensorboardExperiment/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/UpdateTensorboardRun/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/UpdateTensorboardTimeSeries/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/WriteTensorboardExperimentData/main.go
  internal/generated/snippets/aiplatform/apiv1/TensorboardClient/WriteTensorboardRunData/main.go
  internal/generated/snippets/dialogflow/cx/apiv3/VersionsClient/CompareVersions/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  monitoring/apiv3/v2/doc.go
  monitoring/dashboard/apiv1/doc.go
  monitoring/go.mod
  monitoring/go.sum
  texttospeech/apiv1/doc.go
  texttospeech/apiv1/text_to_speech_client.go
  texttospeech/go.mod
  texttospeech/go.sum
Labels: cla: yes

#5160 chore(storage): skip gRPC resumable upload test
  storage/integration_test.go
Labels: api: storage, cla: yes

#5158 test(spanner): add logs to debug the configName used for TestIntegration_StartBackupOperation test
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#5153 feat(spanner): add ToStructLenient method to decode to struct fields with no error return in case of un-matched row's column with struct's exported fields
  spanner/client_test.go
  spanner/examples_test.go
  spanner/row.go
  spanner/row_test.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, cla: yes

#5159 feat(storage): add retry configurability
  storage/invoke.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes, automerge

#5165 feat(storage): add retry idempotency configs
  storage/invoke.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#5166 feat(storage): allow retry ErrorFunc configs
  storage/invoke.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#5173 feat(spanner/spannertest): support JSON_VALUE function
  spanner/spannertest/db.go
  spanner/spannertest/db_test.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/keywords.go
  spanner/spansql/parser_test.go
Labels: cla: yes

#5172 feat(storage): retry copy funcs on idempotent conds
  storage/copy.go
Labels: api: storage, cla: yes

#5128 chore(bigquery): release 1.25.0
  bigquery/README.md
Labels: api: bigquery, cla: yes
