Repository googleapis/google-cloud-go, pull requests merged in 2021-12, with the labels that each got.

#5017 feat(bigquery): expose identifiers using a variety of formats
  bigquery/dataset.go
  bigquery/dataset_test.go
  bigquery/integration_test.go
  bigquery/model.go
  bigquery/model_test.go
  bigquery/routine.go
  bigquery/routine_test.go
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery, cla: yes

#5102 feat(bigquery/storage/managedwriter): support variadic appends
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/testdata/messages_proto2.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto2.proto
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testutils_test.go
Labels: api: bigquery, cla: yes

#5105 feat(storage): GenerateSignedPostPolicyV4 can use existing creds to authenticate
  storage/bucket.go
  storage/integration_test.go
  storage/post_policy_v4.go
Labels: api: storage, cla: yes

#5177 chore(bigquery): release 1.25.0
  bigquery/README.md
Labels: api: bigquery, cla: yes

#5170 feat(storage): add retry config to BucketHandle
  storage/bucket.go
  storage/bucket_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#5169 refactor(spanner): return APIError as wrapped error in spanner.Error struct
  spanner/errors.go
  spanner/errors_test.go
Labels: api: spanner, cla: yes

#5175 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  cloudtasks/apiv2/doc.go
  cloudtasks/go.mod
  cloudtasks/go.sum
  compute/apiv1/doc.go
  compute/apiv1/firewall_policies_client.go
  compute/apiv1/smoke_test.go
  contactcenterinsights/apiv1/doc.go
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/securitycenter/apiv1/Client/UpdateExternalSystem/main.go
  internal/godocfx/go.sum
  longrunning/autogen/doc.go
  metastore/apiv1/doc.go
  metastore/go.mod
  metastore/go.sum
  networkconnectivity/apiv1/doc.go
  networkconnectivity/go.mod
  networkconnectivity/go.sum
  retail/apiv2/doc.go
  retail/apiv2/user_event_client.go
  retail/go.mod
  retail/go.sum
  securitycenter/apiv1/doc.go
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
  servicecontrol/apiv1/doc.go
  servicecontrol/go.mod
  servicecontrol/go.sum
  spanner/admin/database/apiv1/doc.go
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
  vmmigration/apiv1/doc.go
  vmmigration/go.mod
  vmmigration/go.sum
Labels: cla: yes

#5181 chore(internal/gapicgen): update microgen to v0.23.5
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes

#5184 chore(all): auto-regenerate gapics
  aiplatform/apiv1/doc.go
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/index_endpoint_client.go
  aiplatform/apiv1/index_endpoint_client_example_test.go
  aiplatform/apiv1/model_client.go
  aiplatform/apiv1/pipeline_client.go
  aiplatform/apiv1/vizier_client.go
  aiplatform/go.mod
  aiplatform/go.sum
  compute/apiv1/backend_buckets_client.go
  compute/apiv1/backend_services_client.go
  compute/apiv1/doc.go
  compute/apiv1/firewall_policies_client.go
  compute/apiv1/instance_group_managers_client.go
  compute/apiv1/instances_client.go
  compute/apiv1/node_groups_client.go
  compute/apiv1/region_instance_group_managers_client.go
  contactcenterinsights/apiv1/doc.go
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  dlp/apiv2/dlp_client.go
  dlp/apiv2/doc.go
  dlp/go.mod
  dlp/go.sum
  internal/generated/snippets/aiplatform/apiv1/IndexEndpointClient/MutateDeployedIndex/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  speech/apiv1/doc.go
  speech/apiv1p1beta1/doc.go
  speech/go.mod
  speech/go.sum
  vmmigration/apiv1/doc.go
  vmmigration/go.mod
  vmmigration/go.sum
Labels: cla: yes

#5189 chore(all): auto-regenerate gapics
  compute/apiv1/doc.go
  dialogflow/cx/apiv3/doc.go
  dialogflow/cx/apiv3/versions_client.go
  dialogflow/go.mod
  dialogflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: cla: yes

#5180 chore: auto-assign issues to new Spanner owner
  .github/blunderbuss.yml
Labels: cla: yes

#5186 ci(storage): run idempotent tests that pass to avoid regression
  storage/emulator_test.sh
Labels: api: storage, cla: yes

#5179 test(storage): add tests for clone methods
  storage/post_policy_v4_test.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#5200 chore(storage): reenable gRPC integration test
  storage/integration_test.go
Labels: api: storage

#5185 feat(storage): add retry config to ACL handle methods
  storage/acl.go
  storage/bucket.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#5213 docs(spanner): Add doc to Row type indicating how to scan JSON columns
  spanner/row.go
Labels: api: spanner

#5208 docs(bigquery/storage/managedwriter): augment docs
  bigquery/storage/managedwriter/doc.go
Labels: api: bigquery

#5201 docs(bigquery): use equality operator in Errors example
  bigquery/doc.go
Labels: api: bigquery

#5218 feat(spanner/spansql): support EXTRACT
  spanner/spannertest/db_eval.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner

#5222 fix(profiler): remove certificate expiration workaround
  profiler/kokoro/integration_test.sh
Labels: api: cloudprofiler, kokoro:run

#5228 chore(storage): skip TestErrorOnObjectsInsertCall
  storage/writer_test.go
Labels: api: storage, automerge

#5193 feat(storage): add retry config to the Client and HmacKey operations
  storage/bucket.go
  storage/emulator_test.sh
  storage/hmac.go
  storage/retry_conformance_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage

#5229 fix(profiler): refine regular expression for parsing backoff duration in e2e tests
  profiler/proftest/proftest.go
  profiler/proftest/proftest_test.go
Labels: api: cloudprofiler

#5090 feat(bigtable/spanner): add google-c2p dependence to bigtable and spanner
  bigtable/bigtable_enablexds.go
  spanner/client_enablexds.go
Labels: api: bigtable, cla: yes

#5239 refactor(bigquery/storage/managedwriter): improve readability
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/options_test.go
Labels: api: bigquery

#5231 feat(spanner/spansql): support MOD function
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/keywords.go
  spanner/spansql/parser_test.go
Labels: api: spanner

#5221 feat(storage): add retry config to notifications
  storage/notifications.go
Labels: api: storage

#5223 feat(storage): add retry config to IAM handle and reader
  storage/emulator_test.sh
  storage/iam.go
  storage/reader.go
  storage/retry_conformance_test.go
Labels: api: storage

#5211 feat(storage): add retry config to iterators
  storage/bucket.go
  storage/storage_test.go
Labels: api: storage

#5252 ci(storage): run emulator tests only on lastest go version
  storage/emulator_test.sh
Labels: api: storage

#5254 test(storage): fix version checking logic
  storage/emulator_test.sh
Labels: api: storage

#5210 feat(storage): configurable retries for uploads
  storage/emulator_test.sh
  storage/writer.go
  storage/writer_test.go
Labels: api: storage

#5240 feat(spanner): Add ReadRowWithOptions method
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner

#5253 feat(bigquery/storage/managedwriter): support schema change notification
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery
