Repository googleapis/google-cloud-go, pull requests merged in 2021-02, with the labels that each got.

#3636 feat(mediatranslation): start generating apiv1beta1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  mediatranslation/apiv1beta1/doc.go
  mediatranslation/apiv1beta1/speech_translation_client.go
  mediatranslation/apiv1beta1/speech_translation_client_example_test.go
Labels: api: mediatranslation, cla: yes

#3644 feat(servicecontrol): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  servicecontrol/apiv1/doc.go
  servicecontrol/apiv1/quota_controller_client.go
  servicecontrol/apiv1/quota_controller_client_example_test.go
  servicecontrol/apiv1/service_controller_client.go
  servicecontrol/apiv1/service_controller_client_example_test.go
Labels: api: servicecontrol, cla: yes

#3643 fix(firestore): address a missing branch in watch.stop() error remapping
  firestore/watch.go
Labels: api: firestore, cla: yes

#3638 test(profiler): remove deprecated and unused now API
  profiler/proftest/proftest.go
Labels: api: cloudprofiler, cla: yes

#3652 feat(orgpolicy): start generating apiv2
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  orgpolicy/apiv2/doc.go
  orgpolicy/apiv2/org_policy_client.go
  orgpolicy/apiv2/org_policy_client_example_test.go
Labels: automerge, cla: yes

#3653 chore(internal/godocfx): use doc.IsPredeclared for builtins
  internal/godocfx/parse.go
Labels: automerge, cla: yes

#3654 chore(internal/godocfx): add URL helpers
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: automerge, cla: yes

#3656 feat(internal/docfx): full cross reference linking
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
  third_party/pkgsite/print_type.go
Labels: cla: yes

#3665 fix(internal/godocfx): use exact list of top-level decls
  internal/godocfx/parse.go
  third_party/pkgsite/print_type.go
Labels: cla: yes

#3660 fix(profiler): make sure retries use the most up-to-date copy of the trailer
  profiler/profiler.go
  profiler/profiler_test.go
Labels: api: cloudprofiler, cla: yes

#3666 chore(internal/godocfx): use strconv.Unquote
  internal/godocfx/parse.go
Labels: automerge, cla: yes

#3664 test(pubsublite): fix flaky TestAssigningSubscriberIgnoreOutstandingAcks
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, automerge, cla: yes

#3662 fix(pubsublite): change pubsub.Message.ID to an encoded publish.Metadata
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/message.go
  pubsublite/pscompat/message_test.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/subscriber.go
  pubsublite/pscompat/subscriber_test.go
  pubsublite/publish/example_test.go
  pubsublite/publish/metadata.go
Labels: api: pubsublite, cla: yes

#3444 feat(spanner): support CommitStats
  spanner/client.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner, automerge, cla: yes

#3640 fix(spanner/spannertest): support queries in ExecuteSql
  spanner/spannertest/inmem.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3671 test(pubsublite): fix flaky TestAssignerHandlePartitionFailure
  pubsublite/internal/wire/assigner_test.go
Labels: api: pubsublite, automerge, cla: yes

#3649 refactor(pubsublite): add context to error messages for leaf services
  pubsublite/internal/test/util.go
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/errors.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/subscriber.go
Labels: api: pubsublite, cla: yes

#2942 feat(firestore): add opencensus tracing support
  firestore/client.go
  firestore/docref.go
  firestore/list_documents.go
  firestore/query.go
  firestore/transaction.go
  firestore/watch.go
Labels: api: firestore, cla: yes

#3674 chore: refactor genlocal into genbot
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/cmd/genbot/bot.go
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/github.go
  internal/gapicgen/cmd/genbot/local.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/cmd/genlocal/README.md
  internal/gapicgen/cmd/genlocal/main.go
  internal/gapicgen/generator/generator.go
Labels: automerge, cla: yes

#3673 docs(firestore): added `!=` and `not-in` to godoc
  firestore/query.go
Labels: api: firestore, cla: yes

#3443 test(bigtable): delete table retry fix
  bigtable/integration_test.go
Labels: api: bigtable, automerge, cla: yes

#2932 feat(bigtable): support partial results in InstanceAdminClient.Cluste…
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes, type: feature request

#3663 docs(pubsublite): extra examples and documentation clean up
  pubsublite/README.md
  pubsublite/doc.go
  pubsublite/example_test.go
  pubsublite/pscompat/doc.go
  pubsublite/pscompat/example_test.go
Labels: api: pubsublite, cla: yes

#3684 fix(spanner): restore removed scopes
  spanner/client.go
Labels: api: spanner, cla: yes

#3686 feat(recommendationengine): start generating apiv1beta1
  internal/.repo-metadata-full.json
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/generator/config.go
  recommendationengine/apiv1beta1/catalog_client.go
  recommendationengine/apiv1beta1/catalog_client_example_test.go
  recommendationengine/apiv1beta1/doc.go
  recommendationengine/apiv1beta1/prediction_api_key_registry_client.go
  recommendationengine/apiv1beta1/prediction_api_key_registry_client_example_test.go
  recommendationengine/apiv1beta1/prediction_client.go
  recommendationengine/apiv1beta1/prediction_client_example_test.go
  recommendationengine/apiv1beta1/user_event_client.go
  recommendationengine/apiv1beta1/user_event_client_example_test.go
Labels: api: recommendationengine, automerge, cla: yes

#3691 test(storage): unflake TestIntegration_CancelWrite
  storage/integration_test.go
Labels: api: storage, cla: yes

#3690 feat(pubsub): add opencensus metrics for outstanding messages/bytes
  pubsub/flow_controller.go
  pubsub/flow_controller_test.go
  pubsub/subscription.go
  pubsub/trace.go
Labels: api: pubsub, cla: yes

#3692 chore(all): rename file to not conflict with licensee
  header_test.go
Labels: automerge, cla: yes

#3672 fix(pubsublite): rename publish.Metadata to pscompat.MessageMetadata
  pubsublite/go.sum
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/message.go
  pubsublite/pscompat/message_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/publisher_test.go
  pubsublite/pscompat/subscriber.go
  pubsublite/publish/example_test.go
  pubsublite/publish/metadata.go
  pubsublite/publish/metadata_test.go
Labels: api: pubsublite, cla: yes

#3695 docs(pubsublite): clarifications for publishing documentation
  pubsublite/internal/wire/errors.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/publisher.go
Labels: api: pubsublite, cla: yes

#3701 fix(spanner): parallelize session deletion when closing pool
  spanner/client.go
  spanner/client_test.go
  spanner/session.go
  spanner/session_test.go
Labels: api: spanner, automerge, cla: yes

#3698 feat(gkehub): start generating apiv1beta1
  gkehub/apiv1beta1/doc.go
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/apiv1beta1/gke_hub_membership_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: gkehub, cla: yes

#3706 chore: bump more libraries to GA
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#3699 docs(pubsublite): label pubsublite as BETA
  README.md
  pubsublite/README.md
  pubsublite/doc.go
Labels: api: pubsublite, cla: yes

#3707 chore(internal/gapicgen): enable metadata gen
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: cla: yes

#3694 fix(pubsublite): rebatch messages upon new publish stream
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/publisher_test.go
Labels: api: pubsublite, cla: yes

#3647 feat(pubsublite): allow increasing the number of topic partitions
  pubsublite/config.go
  pubsublite/config_test.go
  pubsublite/example_test.go
  pubsublite/go.sum
  pubsublite/integration_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/settings.go
Labels: api: pubsublite, cla: yes

#3712 chore(internal/gapicgen): update generator to v0.18.3
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#3713 chore(all): update oauth2 dependency
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: cla: yes

#3723 chore: update scripts for 1.16
  bigquery/go.sum
  bigtable/go.sum
  datastore/go.sum
  firestore/go.sum
  go.sum
  internal/examples/fake/go.sum
  internal/examples/mock/go.sum
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/go.sum
  internal/godocfx/go.sum
  internal/kokoro/vet.sh
  logging/go.sum
  pubsub/go.sum
  spanner/go.sum
  storage/go.sum
Labels: automerge, cla: yes

#3726 feat(apigateway): start generating apiv1
  apigateway/apiv1/api_gateway_client.go
  apigateway/apiv1/api_gateway_client_example_test.go
  apigateway/apiv1/doc.go
  apigateway/apiv1/gapic_metadata.json
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#3703 docs(all): add details on how to cast errors to grpc.Status
  doc.go
Labels: cla: yes

#3734 docs(pubsublite): make service name consistent
  pubsublite/README.md
  pubsublite/doc.go
Labels: api: pubsublite, automerge, cla: yes

#3724 fix(spanner/spansql): fix parsing of NOT IN operator
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
Labels: api: spanner, automerge, cla: yes

#3732 chore(bigquery): release v1.16.0
  bigquery/CHANGES.md
Labels: api: bigquery, cla: yes

#3733 chore(logging): release v1.3.0
  logging/CHANGES.md
Labels: api: logging, cla: yes

#3738 fix(internal/godocfx): use correct anchor links
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: automerge, cla: yes

#3744 chore(internal/gapicgen): use -d to download modules
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/cmd/genbot/update.go
Labels: automerge, cla: yes

#3745 test(pubsublite): print proto type in verifier error messages
  pubsublite/internal/test/verifier.go
Labels: api: pubsublite, cla: yes

#3747 feat(metastore): start generating apiv1alpha
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  metastore/apiv1alpha/dataproc_metastore_client.go
  metastore/apiv1alpha/dataproc_metastore_client_example_test.go
  metastore/apiv1alpha/doc.go
  metastore/apiv1alpha/gapic_metadata.json
Labels: api: metastore, automerge, cla: yes

#3749 test(bigquery): update and re-enable a streaming payload limit test
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes
