Repository googleapis/google-cloud-go, pull requests merged in 2021-06, with the labels that each got.

#4172 chore: start generating new libs
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
  privatecatalog/apiv1beta1/doc.go
  privatecatalog/apiv1beta1/gapic_metadata.json
  privatecatalog/apiv1beta1/private_catalog_client.go
  privatecatalog/apiv1beta1/private_catalog_client_example_test.go
  shell/apiv1/cloud_shell_client.go
  shell/apiv1/cloud_shell_client_example_test.go
  shell/apiv1/doc.go
  shell/apiv1/gapic_metadata.json
  vpcaccess/apiv1/doc.go
  vpcaccess/apiv1/gapic_metadata.json
  vpcaccess/apiv1/vpc_access_client.go
  vpcaccess/apiv1/vpc_access_client_example_test.go
Labels: cla: yes

#4194 feat(spanner): add custom instance config to tests
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#4116 fix(spanner): add missing NUMERIC type to the doc for Row
  spanner/row.go
Labels: api: spanner, cla: yes

#4199 feat(tpu): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  tpu/apiv1/doc.go
  tpu/apiv1/gapic_metadata.json
  tpu/apiv1/tpu_client.go
  tpu/apiv1/tpu_client_example_test.go
Labels: api: tpu, cla: yes

#4145 refactor(pubsublite): allow subscribe stream trackers to be reset
  pubsublite/internal/wire/flow_control.go
  pubsublite/internal/wire/flow_control_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4190 feat(spanner): add a database name getter to client
  spanner/client.go
  spanner/client_test.go
Labels: api: spanner, cla: yes

#4205 test(bigtable): alter keyring location for tests. bigtable requires s…
  bigtable/integration_test.go
  internal/kokoro/continuous.sh
Labels: api: bigtable, automerge, cla: yes

#4207 fix(bttest): fix race condition in SampleRowKeys
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: automerge, cla: yes

#4209 chore: skip protos with broken imports
  internal/gapicgen/generator/genproto.go
Labels: automerge, cla: yes

#4210 chore(all): auto-regenerate gapics
  clouddms/apiv1/doc.go
  documentai/apiv1beta3/doc.go
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/pubsublite/apiv1/AdminClient/CreateReservation/main.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/DeleteReservation/main.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/GetReservation/main.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/ListReservationTopics/main.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/ListReservations/main.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/UpdateReservation/main.go
  internal/generated/snippets/tpu/apiv1/Client/CreateNode/main.go
  internal/generated/snippets/tpu/apiv1/Client/DeleteNode/main.go
  internal/generated/snippets/tpu/apiv1/Client/GetAcceleratorType/main.go
  internal/generated/snippets/tpu/apiv1/Client/GetNode/main.go
  internal/generated/snippets/tpu/apiv1/Client/GetTensorFlowVersion/main.go
  internal/generated/snippets/tpu/apiv1/Client/ListAcceleratorTypes/main.go
  internal/generated/snippets/tpu/apiv1/Client/ListNodes/main.go
  internal/generated/snippets/tpu/apiv1/Client/ListTensorFlowVersions/main.go
  internal/generated/snippets/tpu/apiv1/Client/ReimageNode/main.go
  internal/generated/snippets/tpu/apiv1/Client/StartNode/main.go
  internal/generated/snippets/tpu/apiv1/Client/StopNode/main.go
  pubsublite/apiv1/admin_client.go
  pubsublite/apiv1/admin_client_example_test.go
  pubsublite/apiv1/doc.go
  pubsublite/apiv1/gapic_metadata.json
  pubsublite/go.mod
  pubsublite/go.sum
Labels: cla: yes

#4095 fix(bigtable/bttest): emulator too lenient regarding RowFilter and CheckAndMutateRow conditions
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, automerge, cla: yes

#4163 fix(firestore): remove excessive spans on iterator
  firestore/query.go
Labels: api: firestore, cla: yes

#4213 chore: bulk gen
  aiplatform/apiv1/dataset_client.go
  aiplatform/apiv1/dataset_client_example_test.go
  aiplatform/apiv1/doc.go
  aiplatform/apiv1/endpoint_client.go
  aiplatform/apiv1/endpoint_client_example_test.go
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/job_client.go
  aiplatform/apiv1/job_client_example_test.go
  aiplatform/apiv1/migration_client.go
  aiplatform/apiv1/migration_client_example_test.go
  aiplatform/apiv1/model_client.go
  aiplatform/apiv1/model_client_example_test.go
  aiplatform/apiv1/pipeline_client.go
  aiplatform/apiv1/pipeline_client_example_test.go
  aiplatform/apiv1/prediction_client.go
  aiplatform/apiv1/prediction_client_example_test.go
  aiplatform/apiv1/specialist_pool_client.go
  aiplatform/apiv1/specialist_pool_client_example_test.go
  apigeeconnect/apiv1/connection_client.go
  apigeeconnect/apiv1/connection_client_example_test.go
  apigeeconnect/apiv1/doc.go
  apigeeconnect/apiv1/gapic_metadata.json
  apigeeconnect/apiv1/tether_client.go
  apigeeconnect/apiv1/tether_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  lifesciences/apiv2beta/doc.go
  lifesciences/apiv2beta/gapic_metadata.json
  lifesciences/apiv2beta/workflows_service_v2_beta_client.go
  lifesciences/apiv2beta/workflows_service_v2_beta_client_example_test.go
Labels: cla: yes

#4220 test(bigtable): randomize table names to assist in simultaneous test runs
  bigtable/export_test.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4096 fix(bigtable/bttest): fix ModifyColumnFamilies to purge data
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, automerge, cla: yes

#4189 fix(pubsublite): remove async ack processing
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#2717 feat(spanner): add the support of optimizer statistics package
  spanner/batch_test.go
  spanner/client.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/pdml_test.go
Labels: api: spanner, cla: yes

#4235 feat(gkeconnect/gateway): start generating apiv1beta1
  gkeconnect/gateway/apiv1beta1/doc.go
  gkeconnect/gateway/apiv1beta1/gapic_metadata.json
  gkeconnect/gateway/apiv1beta1/gateway_client.go
  gkeconnect/gateway/apiv1beta1/gateway_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#4170 feat(logging): add new jsonlog package for logging to stderr
  logging/go.mod
  logging/internal/common.go
  logging/internal/common_test.go
  logging/jsonlog/example_test.go
  logging/jsonlog/jsonlog.go
  logging/jsonlog/jsonlog_test.go
  logging/jsonlog/option.go
  logging/jsonlog/option_test.go
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
Labels: api: logging, cla: yes

#4004 chore(pubsub): fix small lingering TODO comments
  pubsub/integration_test.go
Labels: api: pubsub, cla: yes

#4239 fix(pubsublite): ensure api clients are closed when startup fails
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/service.go
  pubsublite/internal/wire/subscriber.go
Labels: api: pubsublite, cla: yes

#4245 docs(bigquery): indicate provenance of the iterator package in README
  bigquery/README.md
Labels: api: bigquery, cla: yes

#4216 fix(logging): Support numbers when unmarshaling Severity
  logging/logging.go
  logging/logging_test.go
Labels: api: logging, cla: yes

#4255 fix(storage): fix Writer.ChunkSize validation
  storage/writer.go
Labels: api: storage, automerge, cla: yes

#4261 fix(internal): add autogenerated header to snippets
  internal/gapicgen/gensnippets/gensnippets.go
Labels: automerge, cla: yes

#3935 feat(bigquery): support job deletion
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, cla: yes

#4251 feat(pubsub/pstest): add channel to support user-defined publish responses
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, cla: yes

#4243 refactor(pubsublite): change slices to maps in compositeService
  pubsublite/internal/wire/service.go
  pubsublite/internal/wire/service_test.go
Labels: api: pubsublite, cla: yes

#4217 fix(pubsublite): ack assignment after removed subscribers have terminated
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4208 feat(pubsublite): support out of band seeks
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
  pubsublite/internal/wire/flow_control.go
  pubsublite/internal/wire/flow_control_test.go
  pubsublite/internal/wire/requests_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4225 feat(bigquery): support nullable params and geography params
  bigquery/params.go
  bigquery/params_test.go
Labels: api: bigquery, cla: yes

#4274 chore(internal/gapicgen): update generator v0.20.4
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4264 chore(spanner): trigger a release for low cost instance
  spanner/README.md
Labels: api: spanner, cla: yes

#4282 fix(pubsub): fix memory leak issue in publish scheduler
  pubsub/internal/scheduler/publish_scheduler.go
  pubsub/loadtest/benchmark_test.go
  pubsub/loadtest/loadtest.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/topic_test.go
Labels: api: pubsub, cla: yes

#4291 testing: add an explicit module download step to build_samples.sh
  internal/kokoro/build_samples.sh
Labels: cla: yes, samples

#4280 test(bigquery): address flaky error probing test
  bigquery/integration_test.go
Labels: api: bigquery, automerge, cla: yes

#4290 feat(internal/godocfx): add support for other modules
  internal/godocfx/index.go
  internal/godocfx/index_test.go
  internal/godocfx/main.go
  internal/godocfx/parse.go
Labels: automerge, cla: yes

#4296 chore(internal/godocfx): add binary to .gitignore
  internal/godocfx/.gitignore
Labels: automerge, cla: yes

#4112 feat(bigquery): add support for snapshot/restore
  bigquery/copy.go
  bigquery/copy_test.go
  bigquery/integration_test.go
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery, cla: yes

#4043 feat(bigquery): add support for user defined TVF
  bigquery/integration_test.go
  bigquery/routine.go
  bigquery/routine_test.go
  bigquery/standardsql.go
Labels: api: bigquery, cla: yes

#4297 feat(internal/godocfx): different metadata for different modules
  internal/godocfx/go.mod
  internal/godocfx/godocfx_test.go
  internal/godocfx/main.go
Labels: cla: yes

#4293 fix(pubsublite): fixes for background partition count updates
  pubsublite/internal/wire/partition_count.go
  pubsublite/internal/wire/partition_count_test.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/rpc.go
Labels: api: pubsublite, cla: yes

#4281 fix(pubsublite): make SubscriberClient.Receive identical to pubsub
  pubsublite/doc.go
  pubsublite/internal/wire/README.md
  pubsublite/pscompat/doc.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/subscriber.go
  pubsublite/pscompat/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4226 fix(storage): try to reopen for failed Reads
  storage/integration_test.go
  storage/reader.go
  storage/reader_test.go
Labels: api: storage, cla: yes

#4304 docs(spanner): clarify MaxIdle in SessionPoolConfig
  spanner/session.go
Labels: cla: yes

#4299 fix(firestore): return error from NewClient if projectID is not set
  firestore/client.go
Labels: api: firestore, cla: yes

#4310 feat(internal): add force option for regen
  internal/gapicgen/cmd/genbot/bot.go
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
Labels: automerge, cla: yes

#4306 chore(internal): gen googleapis-discovery compute genproto
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/local.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
Labels: cla: yes

#4312 feat(bigquery): enable project autodetection, expose project ids further
  bigquery/bigquery.go
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, automerge, cla: yes

#4206 feat(firestore): Add support for PartitionQuery
  firestore/collgroupref.go
  firestore/collgroupref_test.go
  firestore/integration_test.go
  firestore/order.go
Labels: api: firestore, cla: yes

#4318 fix(pubsublite): wire user context to api clients
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/subscriber.go
  pubsublite/pscompat/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4321 fix(bigquery): update streaming insert error test
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes

#3608 feat(storage): support PublicAccessPrevention
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, cla: yes

#4329 fix(pubsublite): ensure timeout settings are respected
  pubsublite/internal/wire/partition_count.go
  pubsublite/internal/wire/partition_count_test.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/request_timer.go
  pubsublite/internal/wire/request_timer_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/streams_test.go
Labels: api: pubsublite, cla: yes

#4313 fix(pubsub): retry GOAWAY errors
  pubsub/service.go
Labels: api: pubsub, automerge, cla: yes

#4336 feat(spanner): support request and transaction tags
  spanner/client.go
  spanner/client_test.go
  spanner/pdml.go
  spanner/pdml_test.go
  spanner/transaction.go
Labels: api: spanner, cla: yes

#4319 chore: update blunderbuss.yml
  .github/blunderbuss.yml
Labels: automerge, cla: yes

#4314 chore(all): auto-regenerate gapics
  cloudbuild/apiv1/doc.go
  containeranalysis/apiv1/doc.go
  firestore/apiv1beta1/doc.go
  go.mod
  go.sum
  grafeas/apiv1/doc.go
  iam/admin/apiv1/doc.go
  internal/generated/snippets/pubsublite/apiv1/AdminClient/SeekSubscription/main.go
  monitoring/apiv3/doc.go
  recommendationengine/apiv1beta1/doc.go
Labels: automerge, cla: yes

#4337 feat(spanner): enable request options for batch read
  spanner/batch.go
  spanner/client_test.go
  spanner/internal/testutil/inmem_spanner_server.go
Labels: api: spanner, automerge, cla: yes

#4247 feat(logging)!: increase DefaultEntryByteThreshold to 8Mb
  logging/logging.go
Labels: api: logging, automerge, cla: yes, priority: p2

#4320 fix(bigquery): minor rename to feature that's not yet in a release
  bigquery/job.go
Labels: api: bigquery, cla: yes

#4315 chore(internal): update microgen to v0.21.2
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4307 chore(internal/gapicgen): gen googleapis-discovery compute gapic
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: automerge, cla: yes

#4018 chore(storage): generate GAPIC under internal subdir
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  storage/internal/apiv1/doc.go
  storage/internal/apiv1/gapic_metadata.json
  storage/internal/apiv1/storage_client.go
  storage/internal/apiv1/storage_client_example_test.go
Labels: automerge, cla: yes

#4344 fix(pubsublite)!: hide CreateSubscriptionOption.apply
  pubsublite/admin.go
Labels: cla: yes

#4346 fix(firestore): correct an issue with returning empty query partitions
  firestore/collgroupref.go
Labels: api: firestore, cla: yes

#4342 chore(all): auto-regenerate gapics
  apigeeconnect/apiv1/doc.go
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  cloudbuild/apiv1/v2/cloud_build_client.go
  cloudbuild/apiv1/v2/doc.go
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  gkehub/apiv1beta1/doc.go
  go.mod
  go.sum
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/examples/mock/go.mod
  internal/examples/mock/go.sum
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  servicecontrol/apiv1/doc.go
  servicecontrol/apiv1/quota_controller_client.go
  servicecontrol/apiv1/service_controller_client.go
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: automerge, cla: yes

#4350 chore: bulk release clients
  dataflow/apiv1beta3/doc.go
  dataflow/apiv1beta3/flex_templates_client.go
  dataflow/apiv1beta3/flex_templates_client_example_test.go
  dataflow/apiv1beta3/gapic_metadata.json
  dataflow/apiv1beta3/jobs_v1_beta3_client.go
  dataflow/apiv1beta3/jobs_v1_beta3_client_example_test.go
  dataflow/apiv1beta3/messages_v1_beta3_client.go
  dataflow/apiv1beta3/messages_v1_beta3_client_example_test.go
  dataflow/apiv1beta3/metrics_v1_beta3_client.go
  dataflow/apiv1beta3/metrics_v1_beta3_client_example_test.go
  dataflow/apiv1beta3/snapshots_v1_beta3_client.go
  dataflow/apiv1beta3/snapshots_v1_beta3_client_example_test.go
  dataflow/apiv1beta3/templates_client.go
  dataflow/apiv1beta3/templates_client_example_test.go
  datastream/apiv1alpha1/datastream_client.go
  datastream/apiv1alpha1/datastream_client_example_test.go
  datastream/apiv1alpha1/doc.go
  datastream/apiv1alpha1/gapic_metadata.json
  eventarc/apiv1/doc.go
  eventarc/apiv1/eventarc_client.go
  eventarc/apiv1/eventarc_client_example_test.go
  eventarc/apiv1/gapic_metadata.json
  internal/gapicgen/generator/config.go
  workflows/executions/apiv1/doc.go
  workflows/executions/apiv1/executions_client.go
  workflows/executions/apiv1/executions_client_example_test.go
  workflows/executions/apiv1/gapic_metadata.json
Labels: cla: yes

#4354 fix(internal): fix googleapis-disco regen
  internal/gapicgen/generator/gapics.go
Labels: cla: yes

#4353 fix(bigtable): fix #4338 by removing obsolete with block
  bigtable/bigtable.go
Labels: api: bigtable, cla: yes

#4358 chore(internal): update microgen to v0.21.3
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes
