Repository googleapis/google-cloud-go, pull requests merged in 2021-05, with the labels that each got.

#3997 fix(logging): allow nil zones in resource autodetection
  logging/logging.go
Labels: api: logging, cla: yes

#3998 fix(logging): appengine zone label
  logging/logging.go
Labels: api: logging, automerge, cla: yes

#4031 test(spanner): enable NUMERIC integration tests for emulator
  spanner/emulator_test.sh
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#4028 fix(internal): append a new line to comply with go fmt
  internal/gapicgen/gensnippets/gensnippets.go
  internal/gensnippets/go.sum
Labels: automerge, cla: yes

#4019 storage: fix retry strategy to unwrap errors
  storage/go.mod
  storage/go110.go
  storage/go110_test.go
Labels: api: storage, automerge, cla: yes

#4039 fix(internal): make sure formatting is run on snippets
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
Labels: automerge, cla: yes

#4040 chore(all): fix release version
  CHANGES.md
Labels: cla: yes

#4041 test(bigtable): switch to cmp for comparison
  bigtable/integration_test.go
Labels: cla: yes

#4014 feat(bigtable): allow restore backup to different instance (#3489)
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4016 feat(bigquery): expose ParquetOptions for loads and external tables
  bigquery/external.go
  bigquery/external_test.go
  bigquery/file.go
  bigquery/file_test.go
Labels: api: bigquery, cla: yes

#4046 feat(bigquery): augment retry predicate to support additional errors
  bigquery/bigquery.go
  bigquery/bigquery_test.go
  bigquery/go.mod
Labels: api: bigquery, cla: yes

#4034 feat(spanner/spansql): case insensitive parsing of keywords and functions
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
Labels: api: spanner, cla: yes

#3965 feat(spanner/spannertest): support multiple aggregations
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, cla: yes

#4057 chore(all): Update release-submodule.yaml
  .github/workflows/release-submodule.yaml
Labels: cla: yes

#4058 profiler: fix integration test
  profiler/integration_test.go
Labels: api: cloudprofiler, cla: yes

#4060 fix(pubsublite): prevent subscriber flow control token races
  pubsublite/internal/test/verifier.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#4063 test(logging): install app-engine-go component in env test
  internal/kokoro/environment.sh
Labels: api: logging, automerge, cla: yes, priority: p1

#4069 test(pubsublite): fix flaky TestPeriodicTask
  pubsublite/internal/wire/periodic_task_test.go
Labels: api: pubsublite, cla: yes

#4084 chore(internal): update doc URL in manifest
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/gapics.go
Labels: cla: yes

#4088 chore(internal/gapicgen): stop bq/storage/v1alpha2 gen
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: cla: yes

#4085 fix(internal/gapicgen): filter out internal directory changes
  internal/gapicgen/cmd/genbot/update.go
  internal/gapicgen/execv/command.go
  internal/gapicgen/git/github.go
Labels: cla: yes

#4094 chore(internal/apidiff): fix incompat check retry
  internal/apidiff/apidiff.go
Labels: automerge, cla: yes

#4097 chore(internal): go mod tidy
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: cla: yes

#4099 chore(internal/gapicgen): stop bq storage v1alpha2 proto gen
  internal/gapicgen/generator/genproto.go
Labels: automerge, cla: yes

#4100 feat(bigquery/storage): remove alpha client
  bigquery/storage/apiv1alpha2/big_query_write_client.go
  bigquery/storage/apiv1alpha2/big_query_write_client_example_test.go
  bigquery/storage/apiv1alpha2/doc.go
  bigquery/storage/apiv1alpha2/gapic_metadata.json
  internal/gapicgen/generator/config.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/AppendRows/main.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/BatchCommitWriteStreams/main.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/CreateWriteStream/main.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/FinalizeWriteStream/main.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/FlushRows/main.go
  internal/generated/snippets/bigquery/storage/apiv1alpha2/BigQueryWriteClient/GetWriteStream/main.go
Labels: api: bigquery, cla: yes

#4103 feat(bigquery): add support for parameterized types
  bigquery/integration_test.go
  bigquery/schema.go
  bigquery/schema_test.go
Labels: api: bigquery, cla: yes

#4109 chore(all): auto-regenerate gapics
  datacatalog/apiv1/doc.go
  dataqna/apiv1alpha/doc.go
  dialogflow/apiv2/doc.go
  firestore/apiv1/admin/doc.go
  firestore/apiv1/doc.go
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  secretmanager/apiv1/doc.go
  secretmanager/apiv1/secret_manager_client.go
Labels: automerge, cla: yes

#4111 chore: update deps
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/examples/mock/go.mod
  internal/examples/mock/go.sum
  internal/gapicgen/git/github.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: cla: yes

#4113 fix(bigtable): Guard for nil EncryptionConfig in Clusters, GetCluster
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4080 chore(rcpreplay): regenerate intstore.pb.go
  go.mod
  rpcreplay/proto/intstore/intstore.pb.go
  rpcreplay/rpcreplay_test.go
Labels: automerge, cla: yes

#4123 chore(internal/gapicgen): update microgen to v0.20.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes

#4092 fix(logging): correctly detect GKE resource
  logging/logging.go
  logging/resource.go
Labels: api: logging, cla: yes, priority: p2

#4115 fix(spanner): mark SessionPoolConfig.MaxBurst deprecated
  spanner/session.go
Labels: api: spanner, cla: yes

#4126 test(logging): install kubectl when running gke environment test
  internal/kokoro/environment.sh
Labels: api: logging, automerge, cla: yes, priority: p2

#4119 feat(osconfig): start generating apiv1alpha
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  osconfig/apiv1alpha/doc.go
  osconfig/apiv1alpha/gapic_metadata.json
  osconfig/apiv1alpha/os_config_zonal_client.go
  osconfig/apiv1alpha/os_config_zonal_client_example_test.go
Labels: api: osconfig, automerge, cla: yes

#4120 feat(serviceusage): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  serviceusage/apiv1/doc.go
  serviceusage/apiv1/gapic_metadata.json
  serviceusage/apiv1/service_usage_client.go
  serviceusage/apiv1/service_usage_client_example_test.go
Labels: api: serviceusage, automerge, cla: yes

#4135 test(pubsublite): remove TestNewSubscriberCreatesCorrectImpl and TestNewPublisherCreatesImpl
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, automerge, cla: yes

#4136 docs(spanner): fix godoc for default value of health check interval
  spanner/session.go
Labels: api: spanner, cla: yes

#4149 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  dialogflow/cx/apiv3beta1/doc.go
  dialogflow/cx/apiv3beta1/environments_client.go
  dialogflow/cx/apiv3beta1/environments_client_example_test.go
  dialogflow/cx/apiv3beta1/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/dialogflow/cx/apiv3beta1/EnvironmentsClient/ListContinuousTestResults/main.go
  internal/generated/snippets/dialogflow/cx/apiv3beta1/EnvironmentsClient/RunContinuousTest/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  orgpolicy/apiv2/doc.go
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: automerge, cla: yes

#4154 chore(internal/gapicgen): update microgen to v0.20.1
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4148 test(bigtable): refactor bigtable integration tests
  bigtable/CONTRIBUTING.md
  bigtable/export_test.go
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#2863 feat(pubsub): add flush method to topic
  pubsub/internal/scheduler/publish_scheduler.go
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub, cla: yes

#4169 test(spanner): fix test case using reflection
  spanner/session_test.go
Labels: api: spanner, cla: yes

#4128 fix(spanner): fix layout of godoc for Encoder and Decoder
  spanner/value.go
Labels: api: spanner, cla: yes

#4118 feat(essentialcontacts): start generating apiv1
  essentialcontacts/apiv1/doc.go
  essentialcontacts/apiv1/essential_contacts_client.go
  essentialcontacts/apiv1/essential_contacts_client_example_test.go
  essentialcontacts/apiv1/gapic_metadata.json
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: cla: yes

#4159 test(bigtable): run against live endpoint for continuous tests
  bigtable/export_test.go
  bigtable/integration_test.go
  internal/kokoro/continuous.sh
Labels: api: bigtable, cla: yes

#4144 feat(pubsublite): detect stream reset signal
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/rpc_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/streams_test.go
Labels: api: pubsublite, cla: yes

#4143 feat(pubsublite): flush and reset committer
  pubsublite/internal/test/condition.go
  pubsublite/internal/wire/acks.go
  pubsublite/internal/wire/acks_test.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
Labels: api: pubsublite, cla: yes

#4082 feat(gsuiteaddons): start generating apiv1
  gsuiteaddons/apiv1/doc.go
  gsuiteaddons/apiv1/g_suite_add_ons_client.go
  gsuiteaddons/apiv1/g_suite_add_ons_client_example_test.go
  gsuiteaddons/apiv1/gapic_metadata.json
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/godocfx/main.go
Labels: api: gsuiteaddons, cla: yes

#4180 test(bigtable): truncate name of instance to be under 30 chars
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4182 test(bigtable): alter keyring location for tests
  internal/kokoro/continuous.sh
Labels: api: bigtable, automerge, cla: yes

#4184 test: different integration tests have different restrictions on KMS key location
  CONTRIBUTING.md
  internal/kokoro/continuous.sh
Labels: cla: yes
