Repository googleapis/google-cloud-go, pull requests merged in 2021-07, with the labels that each got.

#4352 test(storage): unflake PublicAccessPrevention test
  storage/integration_test.go
Labels: api: storage, automerge, cla: yes

#4357 feat(bigquery managedwriter): schema conversion support
  bigquery/storage/managedwriter/adapt/doc.go
  bigquery/storage/managedwriter/adapt/schemaconversion.go
  bigquery/storage/managedwriter/adapt/schemaconversion_test.go
  bigquery/storage/managedwriter/doc.go
Labels: api: bigquery, automerge, cla: yes

#4368 chore(internal): update microgen to v0.21.5
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4361 test(pubsublite): testing support for operations
  pubsublite/internal/test/mock.go
  pubsublite/internal/test/util.go
  pubsublite/internal/wire/rpc_test.go
Labels: api: pubsublite, cla: yes

#4363 refactor(pubsublite): internal utils for reservations
  pubsublite/integration_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/resources_test.go
Labels: api: pubsublite, cla: yes

#4362 test(pubsublite): testing support for reservations
  pubsublite/internal/test/mock.go
Labels: api: pubsublite, cla: yes

#4378 fix(pubsublite): lower grpc keepalive timeouts
  pubsublite/internal/wire/rpc.go
Labels: api: pubsublite, cla: yes

#4373 test: add pubsublite to local modules
  internal/kokoro/build_samples.sh
Labels: automerge, cla: yes

#4382 chore(internal): update microgen to v0.21.6
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4385 chore: fix sample tidy
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  internal/kokoro/build_samples.sh
Labels: cla: yes, samples

#4384 fix(pubsub): retry all goaway errors
  pubsub/service.go
Labels: api: pubsub, automerge, cla: yes

#4388 chore(intenral): update microgen to v0.21.7
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes

#4389 docs(pubsublite): recommendation for timeout settings
  pubsublite/pscompat/settings.go
Labels: api: pubsublite, cla: yes

#4396 chore(internal): simplify pathing for config files
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: cla: yes

#4397 fix(internal): fix relative pathing for generator
  internal/gapicgen/generator/gapics.go
Labels: automerge, cla: yes

#4301 docs(pubsublite): promote pubsublite to stable
  pubsublite/README.md
  pubsublite/doc.go
Labels: api: pubsublite, cla: yes

#4402 chore: update pubsublite status to stable
  README.md
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: cla: yes

#4375 feat(bigquery/storage/managedwriter/adapt): add schema -> proto support
  bigquery/storage/managedwriter/adapt/error.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: cla: yes

#4404 feature(bigquery/storage/managedwriter): add flow controller
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/managedwriter/flow_controller.go
  bigquery/storage/managedwriter/flow_controller_test.go
Labels: api: bigquery, cla: yes

#4405 feat(bigquery): add more dml statistics to query statistics
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, automerge, cla: yes

#4403 feat(spanner/spansql): support ALTER DATABASE
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#4414 chore(internal): fix irregular pathing
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/generator/config.go
Labels: cla: yes

#4415 chore(all): auto-regenerate gapics
  container/apiv1/doc.go
  datastore/admin/apiv1/doc.go
  datastore/go.mod
  datastore/go.sum
  firestore/apiv1/admin/doc.go
  firestore/apiv1/admin/firestore_admin_client.go
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  pubsublite/apiv1/doc.go
  pubsublite/go.mod
  pubsublite/go.sum
  secretmanager/apiv1/doc.go
  secretmanager/apiv1/secret_manager_client.go
Labels: cla: yes

#4407 feat(bigquery/storage/managedwriter): add state tracking
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
Labels: api: bigquery, automerge, cla: yes

#4420 chore: bulk gen
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  networkmanagement/apiv1/doc.go
  networkmanagement/apiv1/gapic_metadata.json
  networkmanagement/apiv1/reachability_client.go
  networkmanagement/apiv1/reachability_client_example_test.go
  video/transcoder/apiv1/doc.go
  video/transcoder/apiv1/gapic_metadata.json
  video/transcoder/apiv1/transcoder_client.go
  video/transcoder/apiv1/transcoder_client_example_test.go
Labels: cla: yes

#4426 fix(compute): properly generate PUT requests
  compute/apiv1/autoscalers_client.go
  compute/apiv1/backend_buckets_client.go
  compute/apiv1/backend_services_client.go
  compute/apiv1/firewalls_client.go
  compute/apiv1/health_checks_client.go
  compute/apiv1/instances_client.go
  compute/apiv1/region_autoscalers_client.go
  compute/apiv1/region_backend_services_client.go
  compute/apiv1/region_health_checks_client.go
  compute/apiv1/region_url_maps_client.go
  compute/apiv1/routers_client.go
  compute/apiv1/url_maps_client.go
Labels: api: compute, automerge, cla: yes

#4425 chore(internal): update microgen to v0.21.8
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#4427 chore(all): fix release version
  README.md
Labels: cla: yes

#4429 docs(compute): add compute to the list of supported APIs (as alpha)
  README.md
Labels: api: compute, cla: yes

#4433 chore: go mod tidy
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: automerge, cla: yes

#4436 chore: go mod tidy
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: automerge, cla: yes

#4422 feat(bigquery/storage/managedwriter): add base client
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/writer_option.go
  bigquery/storage/managedwriter/writer_option_test.go
Labels: api: bigquery, automerge, cla: yes

#4439 fix(storage): retry LockRetentionPolicy
  storage/bucket.go
Labels: api: storage, cla: yes

#4431 feat(spanner): add row.String() and refine error message for decoding a struct array
  spanner/read_test.go
  spanner/row.go
  spanner/row_test.go
  spanner/value.go
Labels: api: spanner, cla: yes

#4445 fix(internal/godocfx): set exit code, print cmd output, no go get ...
  internal/godocfx/main.go
Labels: cla: yes

#4442 chore(all): auto-regenerate gapics
  aiplatform/apiv1/doc.go
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/pipeline_client.go
  aiplatform/apiv1/pipeline_client_example_test.go
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/PipelineClient/CancelPipelineJob/main.go
  internal/generated/snippets/aiplatform/apiv1/PipelineClient/CreatePipelineJob/main.go
  internal/generated/snippets/aiplatform/apiv1/PipelineClient/DeletePipelineJob/main.go
  internal/generated/snippets/aiplatform/apiv1/PipelineClient/GetPipelineJob/main.go
  internal/generated/snippets/aiplatform/apiv1/PipelineClient/ListPipelineJobs/main.go
  monitoring/dashboard/apiv1/dashboards_client.go
  monitoring/dashboard/apiv1/doc.go
  spanner/go.mod
  spanner/go.sum
Labels: automerge, cla: yes

#4440 chore(storage): switch gapic to apiv2
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  storage/internal/apiv1/gapic_metadata.json
  storage/internal/apiv1/storage_client.go
  storage/internal/apiv1/storage_client_example_test.go
  storage/internal/apiv2/doc.go
  storage/internal/apiv2/gapic_metadata.json
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/storage_client_example_test.go
Labels: api: storage, automerge, cla: yes

#4421 chore(compute): add integration tests for compute
  compute/apiv1/smoke_test.go
Labels: api: compute, cla: yes

#4451 test(spanner): fix errors not reporting when emulator test passes
  spanner/emulator_test.sh
Labels: api: spanner, automerge, cla: yes

#4450 test(spanner): fix the failed TestColumnTypeErr test
  spanner/row_test.go
Labels: api: spanner, cla: yes

#4455 fix(bigtable): emulator crashes in SampleRowKeys
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, cla: yes

#4459 feat(pubsub/pstest): add ability to create a pstest server listening on a specified port
  pubsub/pstest/examples_test.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, cla: yes

#4462 fix(pubsublite): set a default grpc connection pool size of 8
  pubsublite/internal/wire/rpc.go
Labels: api: pubsublite, cla: yes

#4457 feat(spanner/spansql): support table_hint_expr at from_clause on query_statement
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#4460 fix(internal): detect module for properly generating docs URLs
  internal/.repo-metadata-full.json
  internal/gapicgen/execv/gocmd/gocmd.go
  internal/gapicgen/generator/gapics.go
Labels: automerge, cla: yes

#4466 chore(bigtable): Update CODEOWNERS to granularly separate subcomponents
  .github/CODEOWNERS
Labels: api: bigtable, automerge, cla: yes

#4449 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/DeleteCaPool/main.go
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  resourcesettings/apiv1/doc.go
  resourcesettings/apiv1/resource_settings_client.go
  security/privateca/apiv1/certificate_authority_client.go
  security/privateca/apiv1/certificate_authority_client_example_test.go
  security/privateca/apiv1/doc.go
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: cla: yes

#4468 chore: remove sample that does not compile
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/CreateAndroidAppDataStream/main.go
Labels: cla: yes, samples

#4464 test(spanner): update OptimizerStatisticsPackage to latest
  spanner/client_test.go
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#4473 fix(spanner/spansql): fix unstable SelectFromTable SQL
  spanner/spansql/sql.go
Labels: api: spanner, cla: yes, kokoro:force-run

#4476 chore: manually regen cloudbuild do to breaking changes
  cloudbuild/apiv1/cloud_build_client.go
  cloudbuild/apiv1/mock_test.go
  cloudbuild/apiv1/v2/cloud_build_client.go
  cloudbuild/apiv1/v2/cloud_build_client_example_test.go
  go.mod
  go.sum
  internal/gapicgen/cmd/genbot/local.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/execv/gocmd/gocmd.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: cla: yes

#4477 test: skip tests that are known to be failing
  bigquery/integration_test.go
  bigtable/integration_test.go
  firestore/integration_test.go
  pubsub/integration_test.go
Labels: automerge, cla: yes

#4482 feat(spanner): allow untyped nil values in parameterized queries
  spanner/integration_test.go
  spanner/statement.go
  spanner/statement_test.go
Labels: api: spanner, cla: yes

#4484 chore(all): bulk gen
  datafusion/apiv1/data_fusion_client.go
  datafusion/apiv1/data_fusion_client_example_test.go
  datafusion/apiv1/doc.go
  datafusion/apiv1/gapic_metadata.json
  iap/apiv1/doc.go
  iap/apiv1/gapic_metadata.json
  iap/apiv1/identity_aware_proxy_admin_client.go
  iap/apiv1/identity_aware_proxy_admin_client_example_test.go
  iap/apiv1/identity_aware_proxyo_auth_client.go
  iap/apiv1/identity_aware_proxyo_auth_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: cla: yes

#4485 feat(bigquery): support multistatement transaction statistics in jobs
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, cla: yes

#4489 feat: add schema support
  pubsub/integration_test.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/schema.go
  pubsub/schema_test.go
  pubsub/testdata/README.md
  pubsub/testdata/schema/alaska.avro
  pubsub/testdata/schema/alaska.json
  pubsub/testdata/schema/invalid.avsc
  pubsub/testdata/schema/us-states.avsc
  pubsub/testdata/schema/us-states.proto
  pubsub/topic.go
  pubsub/topic_test.go
Labels: automerge, cla: yes

#4488 test(bigtable): tighten time to delete for bigtable instances
  bigtable/integration_test.go
Labels: api: bigtable, automerge, cla: yes

#4480 fix(spanner/spansql): fix DATE and TIMESTAMP parsing.
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
Labels: api: spanner, cla: yes

#4479 fix(storage): revise Reader to send XML preconditions
  storage/integration_test.go
  storage/reader.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge, cla: yes

#4493 test(pubsublite): fix flaky TestIntegration_PublishSubscribeSinglePartition
  pubsublite/pscompat/integration_test.go
Labels: api: pubsublite, cla: yes

#4417 feat(internal/carver): add tooling to help carve out sub-modules
  internal/carver/README.md
  internal/carver/cmd/_CHANGES.md.txt
  internal/carver/cmd/_README.md.txt
  internal/carver/cmd/_tidyhack_tmpl.txt
  internal/carver/cmd/main.go
  internal/carver/cmd/main_test.go
  internal/carver/go.mod
  internal/carver/go.sum
Labels: automerge, cla: yes

#4501 feat(bigquery/storage/managedwriter): wire in flow controller
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, cla: yes

#4500 test(bigtable): add retries for integration test setup, also logging
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4504 chore(bigtable): update codeowners for bigtable
  .github/CODEOWNERS
Labels: api: bigtable, cla: yes

#4496 feat(spanner/spansql): add ROW DELETION POLICY parsing
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#4287 fix(bigtable/bttest): Cells per row offset filters didn't implement truthiness correctly, breaking conditional filters
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, cla: yes

#4356 fix: CMEK key-creation instructions in CONTRIBUTING.md missing some steps
  CONTRIBUTING.md
Labels: cla: yes

#4359 fix(bigtable/bttest): Emulator too lenient for empty RowMutation
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, cla: yes

#4505 feat(storagetransfer): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/execv/command.go
  internal/gapicgen/generator/config.go
  storagetransfer/apiv1/doc.go
  storagetransfer/apiv1/gapic_metadata.json
  storagetransfer/apiv1/storage_transfer_client.go
  storagetransfer/apiv1/storage_transfer_client_example_test.go
Labels: api: storagetransfer, cla: yes

#4499 chore(all): auto-regenerate gapics
  asset/apiv1/asset_client.go
  asset/apiv1/asset_client_example_test.go
  asset/apiv1/doc.go
  asset/apiv1/gapic_metadata.json
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/generated/snippets/asset/apiv1/Client/AnalyzeMove/main.go
Labels: cla: yes

#4502 fix(bigquery/storage/managedwriter): fix double-close error, add tests
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, automerge, cla: yes

#4507 test(bigquery/storage/managedwriter): test all stream types
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, cla: yes

#4509 fix(internal/gapicgen): exec Stdout already set
  internal/gapicgen/execv/command.go
  internal/gapicgen/git/git.go
  internal/gapicgen/tools.go
Labels: cla: yes

#4508 feat(bigquery/storage/managedwriter): naming and doc improvements
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/doc.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/writer_option.go
  bigquery/storage/managedwriter/writer_option_test.go
Labels: api: bigquery, automerge, cla: yes

#4510 chore(all): auto-regenerate gapics
  assuredworkloads/apiv1beta1/doc.go
  cloudbuild/apiv1/v2/doc.go
  datacatalog/apiv1/data_catalog_client.go
  datacatalog/apiv1/doc.go
  datacatalog/apiv1/gapic_metadata.json
  datacatalog/apiv1/policy_tag_manager_client.go
  datacatalog/apiv1/policy_tag_manager_serialization_client.go
  datacatalog/apiv1/policy_tag_manager_serialization_client_example_test.go
  go.mod
  go.sum
  internal/generated/snippets/datacatalog/apiv1/PolicyTagManagerSerializationClient/ReplaceTaxonomy/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/retail/apiv2/CatalogClient/GetDefaultBranch/main.go
  internal/generated/snippets/retail/apiv2/CatalogClient/SetDefaultBranch/main.go
  internal/generated/snippets/retail/apiv2/CompletionClient/CompleteQuery/main.go
  internal/generated/snippets/retail/apiv2/CompletionClient/ImportCompletionData/main.go
  internal/generated/snippets/retail/apiv2/ProductClient/AddFulfillmentPlaces/main.go
  internal/generated/snippets/retail/apiv2/ProductClient/ListProducts/main.go
  internal/generated/snippets/retail/apiv2/ProductClient/RemoveFulfillmentPlaces/main.go
  internal/generated/snippets/retail/apiv2/ProductClient/SetInventory/main.go
  internal/generated/snippets/retail/apiv2/SearchClient/Search/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/CreateTransferJob/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/GetGoogleServiceAccount/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/GetTransferJob/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/ListTransferJobs/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/PauseTransferOperation/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/ResumeTransferOperation/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/RunTransferJob/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/UpdateTransferJob/main.go
  networkconnectivity/apiv1alpha1/doc.go
  retail/apiv2/catalog_client.go
  retail/apiv2/catalog_client_example_test.go
  retail/apiv2/completion_client.go
  retail/apiv2/completion_client_example_test.go
  retail/apiv2/doc.go
  retail/apiv2/gapic_metadata.json
  retail/apiv2/product_client.go
  retail/apiv2/product_client_example_test.go
  retail/apiv2/search_client.go
  retail/apiv2/search_client_example_test.go
  secretmanager/apiv1/doc.go
  securitycenter/apiv1/doc.go
  speech/apiv1p1beta1/doc.go
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/doc.go
Labels: cla: yes

#4515 fix(internal/gapicgen): tidy all after dep bump
  internal/gapicgen/execv/gocmd/gocmd.go
  internal/gapicgen/git/github.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: automerge, cla: yes

#4518 fix(internal/carver): don't tag commits
  internal/carver/cmd/_tidyhack_tmpl.txt
  internal/carver/cmd/main.go
Labels: automerge, cla: yes

#4343 feat(bigquery): support decimalTargetType prioritization
  bigquery/external.go
  bigquery/external_test.go
  bigquery/integration_test.go
  bigquery/load.go
  bigquery/load_test.go
Labels: api: bigquery, automerge, cla: yes

#4512 feat(bigquery/storage/managedwriter): add opencensus instrumentation
  bigquery/go.mod
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/instrumentation.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, automerge, cla: yes

#4517 testing(bigquery/storage/managedwriter): extend table validation functionality
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testutils_test.go
Labels: api: bigquery, automerge, cla: yes

#4527 test(bigquery/managedwriter/storage): bump integration test timeout
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, cla: yes
