Repository googleapis/google-cloud-go, pull requests merged in 2021-08, with the labels that each got.

#4525 feat(internal/godocfx): mark status of deprecated items
  internal/godocfx/godocfx_test.go
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: automerge, cla: yes

#4546 test(bigquery/storage/managedwriter): address flakiness
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, cla: yes

#4547 feat(internal/godocfx): add status to packages and TOCs
  internal/godocfx/parse.go
  internal/godocfx/pkgload/load.go
  internal/godocfx/pkgload/load_test.go
  internal/godocfx/testdata/golden/toc.yml
Labels: automerge, cla: yes

#4544 chore(storage): remove Go 1.9 code
  storage/go110.go
  storage/invoke.go
  storage/invoke_test.go
  storage/not_go110.go
  storage/not_go110_test.go
Labels: api: storage, cla: yes

#4549 tests(compute): fix failing test
  compute/apiv1/smoke_test.go
Labels: cla: yes

#4551 fix(spanner/spansql): only add comma after other option
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: api: spanner, cla: yes, kokoro:force-run

#4558 fix(spanner): allow decoding null values to spanner.Decoder
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, cla: yes

#4554 test(bigtable): Allow bigtable backup test to operate in parallel
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4555 fix(bigquery/storage/managedwriter): fix flowcontroller double-release
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, cla: yes, automerge

#4537 feat(.github): support dynamic submodule detection
  .github/workflows/release-submodule.yaml
  internal/actions/cmd/changefinder/main.go
  internal/actions/go.mod
Labels: cla: yes, automerge

#4524 refactor(internal/carver): try to improve readability a bit
  internal/carver/cmd/main.go
  internal/carver/cmd/main_test.go
Labels: cla: yes, automerge

#4565 test(bigtable): print hex using %x, sprintf to be valid utf-8
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4316 feat(pubsublite): support seek subscription in AdminClient
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/example_test.go
  pubsublite/operations.go
Labels: cla: yes, api: pubsublite

#4372 test(pubsublite): integration tests for seek subscription
  pubsublite/integration_test.go
  pubsublite/pscompat/integration_test.go
Labels: cla: yes, api: pubsublite

#4566 fix(bigquery/storage/managedwriter): support non-default regions
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, cla: yes, automerge

#4428 feat(pubsub): expose CallOptions for pub/sub retries and timeouts
  pubsub/pubsub.go
  pubsub/pubsub_test.go
Labels: api: pubsub, cla: yes

#4585 test(bigtable): missing unique string from backup name
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#4587 chore(tests): fix google-cloud-sdk-app-engine-go installation in test script
  internal/kokoro/environment.sh
Labels: cla: yes

#4276 feat(bigtable/cmd/cbt): Add a timeout option
  bigtable/cmd/cbt/cbt.go
  bigtable/cmd/cbt/cbtdoc.go
  bigtable/cmd/cbt/testing.go
  bigtable/cmd/cbt/timeout_test.go
  bigtable/internal/cbtconfig/cbtconfig.go
  bigtable/internal/cbtconfig/cbtconfig_test.go
Labels: cla: yes

#4584 test(pubsub): increase ordering key test timeout
  pubsub/integration_test.go
Labels: api: pubsub, cla: yes, automerge

#4591 chore(all): auto-regenerate gapics
  dataproc/apiv1beta2/cluster_controller_client.go
  dataproc/apiv1beta2/doc.go
  dataproc/apiv1beta2/job_controller_client.go
  dataproc/apiv1beta2/workflow_template_client.go
  dialogflow/apiv2/doc.go
  dialogflow/cx/apiv3/doc.go
  dialogflow/cx/apiv3beta1/doc.go
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/kms/apiv1/KeyManagementClient/GenerateRandomBytes/main.go
  internal/generated/snippets/kms/apiv1/KeyManagementClient/MacSign/main.go
  internal/generated/snippets/kms/apiv1/KeyManagementClient/MacVerify/main.go
  internal/godocfx/go.sum
  kms/apiv1/doc.go
  kms/apiv1/gapic_metadata.json
  kms/apiv1/key_management_client.go
  kms/apiv1/key_management_client_example_test.go
  networkmanagement/apiv1/doc.go
  pubsub/apiv1/doc.go
  pubsub/go.mod
  pubsub/go.sum
  speech/apiv1/doc.go
  video/transcoder/apiv1beta1/doc.go
  video/transcoder/apiv1beta1/transcoder_client.go
Labels: cla: yes, automerge

#4519 chore(storagetransfer): carve out sub-module
  internal/generated/snippets/go.mod
  storagetransfer/CHANGES.md
  storagetransfer/README.md
  storagetransfer/go.mod
  storagetransfer/go.sum
  storagetransfer/go_mod_tidy_hack.go
Labels: cla: yes, api: storagetransfer

#4598 chore(internal/godocfx): filter out appengine/v2/cmd docs
  internal/godocfx/main.go
Labels: cla: yes, automerge

#4601 feat(bigquery/storage/managedwriter): more instrumentation support
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/instrumentation.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/writer_option.go
  bigquery/storage/managedwriter/writer_option_test.go
Labels: api: bigquery, cla: yes, automerge

#4602 fix(pubsub): mitigate race in checking ordering config
  pubsub/subscription.go
Labels: api: pubsub, cla: yes, automerge

#4597 chore(tests): fix kubectl installation in environment test script
  internal/kokoro/environment.sh
Labels: cla: yes

#4612 chore(storagetransfer): tidy post tagging for sum entries
  storagetransfer/go.sum
Labels: cla: yes, api: storagetransfer, automerge

#4613 docs(internal/carver): update commands and post tagging steps
  internal/carver/cmd/main.go
Labels: cla: yes, automerge

#4608 fix(storage): remove unnecessary variable
  storage/storage.go
  storage/writer.go
Labels: api: storage, cla: yes

#4606 fix(pubsub): always make config check to prevent race
  pubsub/subscription.go
Labels: api: pubsub, cla: yes, automerge

#4609 fix(storage): preserve supplied endpoint's scheme
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#4615 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  pubsub/go.mod
  pubsub/go.sum
  secretmanager/apiv1/doc.go
  storage/go.mod
  storage/go.sum
Labels: cla: yes, automerge

#4582 feat(internal/detect): add helper to detect projectID from env
  internal/detect/detect.go
  internal/detect/detect_test.go
Labels: cla: yes, automerge

#4616 fix(storage): accept emulator env var without scheme
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, cla: yes

#4580 feat(all): remove testing deps
  go.mod
  go.sum
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
  internal/kokoro/vet.sh
  tools.go
Labels: cla: yes, automerge

#4611 feat(spannertest): Add validation of duplicated column names
  spanner/spannertest/db.go
Labels: api: spanner, cla: yes

#4589 feat(bigquery/storage/managedwriter): improve protobuf support
  bigquery/storage/managedwriter/adapt/protobenchmarks_test.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testdata/messages.pb.go
  bigquery/storage/managedwriter/testdata/messages.proto
  bigquery/storage/managedwriter/testdata/messages_proto2.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto2.proto
  bigquery/storage/managedwriter/testdata/messages_proto3.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto3.proto
  bigquery/storage/managedwriter/testdata/schemas.go
Labels: api: bigquery, cla: yes

#4605 feat(bigquery/storage/managedwriter): add project autodetection
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, cla: yes

#4625 feat(bigquery): switch to centralized project autodetect logic
  bigquery/bigquery.go
Labels: api: bigquery, cla: yes, automerge

#4623 feat(internal/carver): support carving batches
  internal/carver/README.md
  internal/carver/cmd/main.go
Labels: cla: yes, automerge

#4626 docs: move example inline into godoc
  doc.go
  examples_test.go
Labels: cla: yes, automerge

#4630 chore: update sums for new sub-mods
  accessapproval/go.sum
  aiplatform/go.sum
  apigateway/go.sum
  apigeeconnect/go.sum
  appengine/go.sum
  artifactregistry/go.sum
  asset/go.sum
  assuredworkloads/go.sum
  automl/go.sum
  billing/go.sum
  binaryauthorization/go.sum
  channel/go.sum
  clouddms/go.sum
  cloudtasks/go.sum
  container/go.sum
  containeranalysis/go.sum
  datacatalog/go.sum
  dataflow/go.sum
  datafusion/go.sum
  datalabeling/go.sum
  dataproc/go.sum
  dataqna/go.sum
Labels: cla: yes, automerge

#4633 chore: update new submod sums
  datastream/go.sum
  dialogflow/go.sum
  dlp/go.sum
  documentai/go.sum
  domains/go.sum
  errorreporting/go.sum
  essentialcontacts/go.sum
  eventarc/go.sum
  functions/go.sum
  gaming/go.sum
  gsuiteaddons/go.sum
  iap/go.sum
  internal/godocfx/go.sum
  iot/go.sum
  kms/go.sum
  language/go.sum
  lifesciences/go.sum
  managedidentities/go.sum
  mediatranslation/go.sum
  memcache/go.sum
  metastore/go.sum
  networkconnectivity/go.sum
  networkmanagement/go.sum
  notebooks/go.sum
  orgpolicy/go.sum
  osconfig/go.sum
  oslogin/go.sum
  phishingprotection/go.sum
  policytroubleshooter/go.sum
  privatecatalog/go.sum
  profiler/go.sum
  recaptchaenterprise/go.sum
  recommendationengine/go.sum
  recommender/go.sum
  redis/go.sum
  resourcemanager/go.sum
  resourcesettings/go.sum
  retail/go.sum
  scheduler/go.sum
  securitycenter/go.sum
  servicecontrol/go.sum
  servicedirectory/go.sum
  servicemanagement/go.sum
  serviceusage/go.sum
  shell/go.sum
  speech/go.sum
  talent/go.sum
  texttospeech/go.sum
  tpu/go.sum
  trace/go.sum
  translate/go.sum
  videointelligence/go.sum
  vision/go.sum
  vpcaccess/go.sum
  webrisk/go.sum
  websecurityscanner/go.sum
  workflows/go.sum
Labels: cla: yes, automerge

#4635 chore: carve out sub-modules
  analytics/CHANGES.md
  analytics/README.md
  analytics/go.mod
  analytics/go.sum
  analytics/go_mod_tidy_hack.go
  area120/CHANGES.md
  area120/README.md
  area120/go.mod
  area120/go.sum
  area120/go_mod_tidy_hack.go
  cloudbuild/CHANGES.md
  cloudbuild/README.md
  cloudbuild/go.mod
  cloudbuild/go.sum
  cloudbuild/go_mod_tidy_hack.go
  gkeconnect/CHANGES.md
  gkeconnect/README.md
  gkeconnect/go.mod
  gkeconnect/go.sum
  gkeconnect/go_mod_tidy_hack.go
  gkehub/CHANGES.md
  gkehub/README.md
  gkehub/go.mod
  gkehub/go.sum
  gkehub/go_mod_tidy_hack.go
  grafeas/CHANGES.md
  grafeas/README.md
  grafeas/go.mod
  grafeas/go.sum
  grafeas/go_mod_tidy_hack.go
  internal/generated/snippets/go.mod
  monitoring/CHANGES.md
  monitoring/README.md
  monitoring/go.mod
  monitoring/go.sum
  monitoring/go_mod_tidy_hack.go
  secretmanager/CHANGES.md
  secretmanager/README.md
  secretmanager/go.mod
  secretmanager/go.sum
  secretmanager/go_mod_tidy_hack.go
  security/CHANGES.md
  security/README.md
  security/go.mod
  security/go.sum
  security/go_mod_tidy_hack.go
  video/CHANGES.md
  video/README.md
  video/go.mod
  video/go.sum
  video/go_mod_tidy_hack.go
Labels: cla: yes

#4637 chore: tidy new submod sums
  analytics/go.sum
  area120/go.sum
  cloudbuild/go.sum
  gkeconnect/go.sum
  gkehub/go.sum
  grafeas/go.sum
  monitoring/go.sum
  secretmanager/go.sum
  security/go.sum
  video/go.sum
Labels: cla: yes, automerge

#4636 tests: add patch, put, int64, cap.letter tests
  compute/apiv1/smoke_test.go
Labels: cla: yes, automerge

#4599 fix(datastore): initialize commit sentinel to avoid cross use of commits
  datastore/transaction.go
Labels: api: datastore, cla: yes

#4647 chore(all): auto-regenerate gapics
  bigquery/datatransfer/apiv1/data_transfer_client.go
  bigquery/datatransfer/apiv1/doc.go
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  retail/apiv2/catalog_client.go
  retail/apiv2/completion_client.go
  retail/apiv2/doc.go
  retail/apiv2/product_client.go
  retail/apiv2/search_client.go
  retail/go.mod
  retail/go.sum
  speech/apiv1p1beta1/doc.go
  speech/go.mod
  speech/go.sum
Labels: cla: yes

#4648 feat(compute/metadata): retry error when talking to metadata service
  compute/metadata/metadata.go
  compute/metadata/retry.go
  compute/metadata/retry_linux.go
  compute/metadata/retry_linux_test.go
  compute/metadata/retry_test.go
Labels: cla: yes

#4649 chore(gapicgen): update Go microgen to v0.23.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes, automerge

#4401 chore(storage): implement Read with gRPC
  storage/go.mod
  storage/integration_test.go
  storage/invoke.go
  storage/reader.go
  storage/storage.go
Labels: api: storage, cla: yes, automerge

#3926 fix(spanner): invalid numeric should throw an error
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, cla: yes

#4655 fix(spanner/spannertest): Fix the "LIKE" clause handling for forward and backward matches
  spanner/spannertest/db_eval.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, cla: yes, kokoro:force-run

#4662 chore(storage): fix gRPC reader size/remain logic
  storage/integration_test.go
  storage/reader.go
Labels: api: storage, cla: yes, automerge

#4104 feat(spanner): add support for JSON data type
  spanner/integration_test.go
  spanner/protoutils.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, cla: yes

#4520 feat(pubsub): add topic message retention duration
  pubsub/integration_test.go
  pubsub/subscription.go
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub, cla: yes

#4668 test(spanner): fix the json integration test
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#4670 feat(spanner/spansql): add support for STARTS_WITH function
  spanner/spannertest/db_eval.go
  spanner/spannertest/funcs.go
  spanner/spannertest/integration_test.go
  spanner/spansql/parser_test.go
Labels: api: spanner, cla: yes

#4689 chore(all): auto-regenerate gapics
  gaming/apiv1/doc.go
  gaming/apiv1/game_server_deployments_client.go
  gaming/go.mod
  gaming/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: cla: yes

#4694 chore: disable dep dashboard
  .github/renovate.json
Labels: cla: yes, automerge

#4690 feat(bigquery/storage/managedwriter): more metrics instrumentation
  bigquery/storage/managedwriter/instrumentation.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, cla: yes

#4695 chore(all): auto-regenerate gapics
  datastream/apiv1alpha1/doc.go
  datastream/go.mod
  datastream/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/translate/apiv3/TranslationClient/BatchTranslateDocument/main.go
  internal/generated/snippets/translate/apiv3/TranslationClient/TranslateDocument/main.go
  internal/godocfx/go.sum
  kms/apiv1/doc.go
  kms/apiv1/key_management_client.go
  kms/go.mod
  kms/go.sum
  osconfig/apiv1/doc.go
  osconfig/go.mod
  osconfig/go.sum
  translate/apiv3/doc.go
  translate/apiv3/gapic_metadata.json
  translate/apiv3/translation_client.go
  translate/apiv3/translation_client_example_test.go
  translate/go.mod
  translate/go.sum
Labels: cla: yes, automerge

#4641 test(storage): add test for uploading with an emulator
  storage/storage_test.go
Labels: api: storage, cla: yes

#4706 chore(gapicgen)!: update microgen to v0.23.1
  compute/apiv1/global_operations_client.go
  compute/apiv1/region_operations_client.go
  compute/apiv1/zone_operations_client.go
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: cla: yes, automerge
