Repository googleapis/google-cloud-go, pull requests merged in 2021-01, with the labels that each got.

#3471 fix(internal/gapicgen): don't regen files that have been deleted
  internal/gapicgen/generator/git.go
Labels: automerge, cla: yes

#3491 feat(spanner/spannertest): support Not Null constraint
  spanner/spannertest/db.go
Labels: api: spanner, automerge, cla: yes

#3442 feat(pubsublite): subscriber client
  pubsublite/go.mod
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/committer_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/ps/example_test.go
  pubsublite/ps/settings.go
  pubsublite/ps/subscriber.go
  pubsublite/ps/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3449 test(pubsublite): integration tests for publish and subscribe
  pubsublite/integration_test.go
  pubsublite/internal/test/msg_tracker.go
  pubsublite/internal/test/msg_validators.go
  pubsublite/internal/test/msg_validators_test.go
  pubsublite/internal/test/zones.go
  pubsublite/ps/integration_test.go
Labels: api: pubsublite, cla: yes

#3487 feat(spanner): Add a DirectPath fallback integration test
  spanner/integration_test.go
Labels: api: spanner, cla: yes

#3485 docs(pubsublite): update docs and add inline examples for admin client
  pubsublite/README.md
  pubsublite/doc.go
  pubsublite/example_test.go
  pubsublite/ps/doc.go
Labels: api: pubsublite, cla: yes

#3504 chore(all): constrain build environments for all internal tooling
  cmd/go-cloud-debug-agent/internal/debug/dwarf/frame_test.go
  cmd/go-cloud-debug-agent/internal/debug/dwarf/pclntab_test.go
  cmd/go-cloud-debug-agent/internal/debug/gosym/pclntab_test.go
  cmd/go-cloud-debug-agent/internal/debug/remote/remote.go
  httpreplay/cmd/httpr/integration_test.go
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/cmd/genbot/generate.go
  internal/gapicgen/cmd/genbot/github.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/cmd/genbot/update.go
  internal/gapicgen/cmd/genlocal/README.md
  internal/gapicgen/cmd/genlocal/main.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/tools.go
  internal/godocfx/main.go
  internal/pretty/diff.go
  profiler/integration_test.go
Labels: automerge, cla: yes

#3458 feat(pubsublite): add client library metadata to headers
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/rpc_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/version.go
  pubsublite/internal/wire/version_not112.go
  pubsublite/internal/wire/version_test.go
Labels: api: pubsublite, cla: yes

#3502 fix(pubsublite): return an error if no topic or subscription fields were updated
  pubsublite/admin.go
  pubsublite/admin_test.go
Labels: api: pubsublite, cla: yes

#3503 refactor(pubsublite): remove messageDeliveryQueue buffer limit
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3506 chore(internal/gapicgen): upgrade gapic generator to v0.17.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, cla: yes

#3479 docs(storage): fix object name specification link
  storage/bucket.go
Labels: api: storage, cla: yes

#3477 test(profiler): avoid escaping and double newlines in the rendered output
  profiler/proftest/proftest.go
Labels: api: cloudprofiler, cla: yes

#3517 feat(channel): start generating apiv1
  channel/apiv1/cloud_channel_client.go
  channel/apiv1/cloud_channel_client_example_test.go
  channel/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: cloudchannel, automerge, cla: yes

#3510 test(pubsublite): fix flaky PartitionAssignment test
  pubsublite/ps/integration_test.go
Labels: api: pubsublite, automerge, cla: yes

#3500 feat(internal/gapicgen): change commit formatting to match standard
  internal/gapicgen/cmd/genbot/github.go
  internal/gapicgen/cmd/genlocal/main.go
  internal/gapicgen/generator/git.go
  internal/gapicgen/generator/git_test.go
Labels: automerge, cla: yes

#3518 chore(all): bump libraries to ga
  internal/gapicgen/generator/config.go
Labels: automerge, cla: yes

#3530 feat(godocfx): include alt documentation link
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: cla: yes

#3527 ci(all): only run continuous tests on changed modules
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes, priority: p2, type: process

#3524 fix(bigquery): address possible panic due to offset checking in handleInsertErrors
  bigquery/inserter.go
  bigquery/inserter_test.go
Labels: api: bigquery, automerge, cla: yes

#3535 ci(all): fix script to run tests only once
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3536 Test submodules2
  bigtable/bigtable.go
  spanner/spannertest/db.go
Labels: cla: yes

#3537 ci(all): turn on testing significant changes since last merge
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3529 refactor(pubsublite): use iota for DeliveryRequirement enum values
  pubsublite/config.go
Labels: api: pubsublite, cla: yes

#3541 docs: remove reference to Github being a mirror
  README.md
Labels: cla: yes

#3521 fix(datastore): Ensure the datastore time is returned as UTC
  datastore/load.go
  datastore/load_test.go
Labels: api: datastore, cla: yes

#3544 chore: update oauth2 dependency to latest
  bigquery/go.mod
  bigquery/go.sum
  bigtable/go.mod
  bigtable/go.sum
  datastore/go.mod
  datastore/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/examples/fake/go.mod
  internal/examples/fake/go.sum
  internal/examples/mock/go.mod
  internal/examples/mock/go.sum
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/godocfx/go.sum
  logging/go.mod
  logging/go.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
Labels: automerge, cla: yes

#3545 ci(all): ignore code diffs introduced by test script
  internal/kokoro/continuous.sh
Labels: cla: yes

#3384 feat(bigtable): Add a DirectPath fallback integration test
  bigtable/integration_test.go
Labels: api: bigtable, automerge, cla: yes

#3547 ci(all): extend nightly submodule run to allow sub jobs
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3551 ci(all): fix incorrect reference to job name in nightly
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3553 ci(all): fix nightly submodule name reference
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3557 feat(spanner/spansql): support DATE and TIMESTAMP literals
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, automerge, cla: yes

#3534 feat(bigquery): add support for allowing Javascript UDFs to indicate determinism
  bigquery/integration_test.go
  bigquery/routine.go
  bigquery/routine_test.go
Labels: api: bigquery, automerge, cla: yes

#3561 feat(appengine): start generating apiv1
  appengine/apiv1/applications_client.go
  appengine/apiv1/applications_client_example_test.go
  appengine/apiv1/authorized_certificates_client.go
  appengine/apiv1/authorized_certificates_client_example_test.go
  appengine/apiv1/authorized_domains_client.go
  appengine/apiv1/authorized_domains_client_example_test.go
  appengine/apiv1/doc.go
  appengine/apiv1/domain_mappings_client.go
  appengine/apiv1/domain_mappings_client_example_test.go
  appengine/apiv1/firewall_client.go
  appengine/apiv1/firewall_client_example_test.go
  appengine/apiv1/instances_client.go
  appengine/apiv1/instances_client_example_test.go
  appengine/apiv1/services_client.go
  appengine/apiv1/services_client_example_test.go
  appengine/apiv1/versions_client.go
  appengine/apiv1/versions_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  internal/gapicgen/generator/gapics.go
Labels: api: appengine, automerge, cla: yes

#3560 test(pubsublite): fix flaky TestMsgTrackerWaitSuccess test
  pubsublite/internal/test/msg_tracker.go
  pubsublite/internal/test/msg_tracker_test.go
Labels: api: pubsublite, automerge, cla: yes

#3559 fix(pubsublite)!: use raw strings for resource paths (api review)
  pubsublite/README.md
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/config.go
  pubsublite/config_test.go
  pubsublite/doc.go
  pubsublite/example_test.go
  pubsublite/integration_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/internal/wire/resources_test.go
  pubsublite/ps/example_test.go
  pubsublite/ps/integration_test.go
  pubsublite/ps/publisher.go
  pubsublite/ps/subscriber.go
  pubsublite/types.go
  pubsublite/types_test.go
Labels: cla: yes

#3540 docs(pubsublite): more descriptive comments for the publish package
  pubsublite/publish/metadata.go
Labels: api: pubsublite, cla: yes

#3516 feat(spanner): attempt DirectPath by default
  spanner/client.go
  spanner/integration_test.go
Labels: api: spanner, automerge, cla: yes

#3565 fix(pubsublite)!: rename TopicPartitions to TopicPartitionCount
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/integration_test.go
Labels: cla: yes

#3558 feat(bigtable): attempt DirectPath by default
  bigtable/bigtable.go
  bigtable/export_test.go
Labels: api: bigtable, automerge, cla: yes

#3562 feat(binaryauthorization): start generating apiv1beta1
  binaryauthorization/apiv1beta1/binauthz_management_service_v1_beta1_client.go
  binaryauthorization/apiv1beta1/binauthz_management_service_v1_beta1_client_example_test.go
  binaryauthorization/apiv1beta1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: binaryauthorization, automerge, cla: yes

#3571 fix(spanner/spansql): fix SelectFromJoin behavior
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: api: spanner, automerge, cla: yes

#3572 chore(spanner): source default opts from gapic client
  spanner/apiv1/spanner_client_options.go
  spanner/client.go
Labels: api: spanner, automerge, cla: yes

#3575 feat(resourcemanager): start generating apiv2
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  resourcemanager/apiv2/doc.go
  resourcemanager/apiv2/folders_client.go
  resourcemanager/apiv2/folders_client_example_test.go
Labels: api: cloudresourcemanager, automerge, cla: yes

#3569 fix(pubsublite)!: rename package ps to pscompat (api review)
  pubsublite/README.md
  pubsublite/doc.go
  pubsublite/pscompat/doc.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/message.go
  pubsublite/pscompat/message_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/publisher_test.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/settings_test.go
  pubsublite/pscompat/subscriber.go
  pubsublite/pscompat/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3512 fix(pubsublite): close clients after publisher and subscriber have terminated
  pubsublite/admin_test.go
  pubsublite/internal/test/mock.go
  pubsublite/internal/wire/assigner_test.go
  pubsublite/internal/wire/committer_test.go
  pubsublite/internal/wire/main_test.go
  pubsublite/internal/wire/partition_count_test.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/service_util_test.go
  pubsublite/internal/wire/streams_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
  pubsublite/main_test.go
Labels: api: pubsublite, cla: yes

#3579 feat(memcache): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  memcache/apiv1/cloud_memcache_client.go
  memcache/apiv1/cloud_memcache_client_example_test.go
  memcache/apiv1/doc.go
Labels: api: memcache, automerge, cla: yes

#3582 feat(datalabeling): start generating apiv1beta1
  datalabeling/apiv1beta1/data_labeling_client.go
  datalabeling/apiv1beta1/data_labeling_client_example_test.go
  datalabeling/apiv1beta1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: datalabeling, cla: yes

#2918 chore: add repo settings config
  .github/sync-repo-settings.yaml
Labels: automerge, cla: yes

#3586 feat(dataqna): start generating apiv1alpha
  dataqna/apiv1alpha/auto_suggestion_client.go
  dataqna/apiv1alpha/auto_suggestion_client_example_test.go
  dataqna/apiv1alpha/doc.go
  dataqna/apiv1alpha/question_client.go
  dataqna/apiv1alpha/question_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: cla: yes

#3592 docs: update READMEs to use pkg.go.dev
  bigquery/README.md
  bigtable/cmd/cbt/README.md
  datastore/README.md
  logging/README.md
  pubsub/README.md
  pubsublite/README.md
  spanner/README.md
  storage/README.md
Labels: automerge, cla: yes

#3591 fix(bigtable): replace unsafe exec in cbt
  bigtable/go.mod
  bigtable/internal/cbtconfig/cbtconfig.go
Labels: api: bigtable, automerge, cla: yes

#3594 chore(.github): add crwilcox as codeowner
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: automerge, cla: yes

#3599 fix(internal/godocfx): add TOC element for module root package
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/toc.yml
Labels: automerge, cla: yes

#3577 test(pubsublite): fix flaky TestPublishBatcherBundlerBatchingDelay
  pubsublite/internal/wire/publish_batcher_test.go
Labels: api: pubsublite, automerge, cla: yes

#3585 chore: switch regen PRs to chores
  internal/gapicgen/cmd/genbot/github.go
Labels: automerge, cla: yes

#3549 feat(storage): add projection parameter for BucketHandle.Objects()
  storage/bucket.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge, cla: yes

#3600 feat(logging): add localIP and Cache fields to HTTPRequest conversion from proto
  logging/logadmin/logadmin.go
  logging/logadmin/logadmin_test.go
Labels: api: logging, automerge, cla: yes, priority: p2

#3567 feat(networkconnectivity): initial generation of apiv1alpha1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  networkconnectivity/apiv1alpha1/doc.go
  networkconnectivity/apiv1alpha1/hub_client.go
  networkconnectivity/apiv1alpha1/hub_client_example_test.go
Labels: automerge, cla: yes

#3610 chore: pull in latest flakybot
  internal/kokoro/continuous.sh
Labels: automerge, cla: yes

#3611 chore(.github): add @kolea2 to bigtable owners
  .github/CODEOWNERS
Labels: automerge, cla: yes

#3601 test(storage): Unflake TestIntegration_RequesterPays
  storage/integration_test.go
Labels: api: storage, automerge, cla: yes

#3614 feat(servicemanagement): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  servicemanagement/apiv1/doc.go
  servicemanagement/apiv1/service_manager_client.go
  servicemanagement/apiv1/service_manager_client_example_test.go
Labels: api: servicemanagement, automerge, cla: yes

#3616 feat(spanner/spannertest): restructure column alteration implementation
  spanner/spannertest/db.go
Labels: api: spanner, cla: yes

#3615 feat(internal/godocfx): xref function declarations
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
  third_party/pkgsite/synopsis.go
Labels: automerge, cla: yes

#3617 test(bigquery): skip a limit test while backend limits in flux
  bigquery/integration_test.go
Labels: api: bigquery, automerge, cla: yes

#3602 test(profiler): log VM output using t.Logf
  profiler/integration_test.go
  profiler/proftest/proftest.go
Labels: api: cloudprofiler, automerge, cla: yes

#3622 chore: add profiler CODEOWNERS
  .github/CODEOWNERS
Labels: automerge, cla: yes

#3528 fix(pubsublite)!: add separate publisher and subscriber client constructors with settings (api review)
  pubsublite/README.md
  pubsublite/doc.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/subscriber.go
Labels: api: pubsublite, cla: yes

#3625 feat(spanner/spansql): add complete set of string functions
  spanner/spansql/keywords.go
Labels: api: spanner, automerge, cla: yes

#3623 test(logging/logadmin): skip tests causing failure due to permissions
  logging/logadmin/sinks_test.go
Labels: api: logging, automerge, cla: yes

#3628 chore(.github): add storage-dpe group as owner
  .github/CODEOWNERS
Labels: cla: yes

#3624 chore: have release please bump minor pre major
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: cla: yes

#3597 fix(pubsublite): ignore outstanding acks for removed partition subscribers
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, cla: yes

#3595 feat(documentai): start generating apiv1beta3
  documentai/apiv1beta3/doc.go
  documentai/apiv1beta3/document_processor_client.go
  documentai/apiv1beta3/document_processor_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: documentai, automerge, cla: yes

#3178 fix(profiler): Force gax to retry in case of certificate errors
  profiler/profiler.go
Labels: api: cloudprofiler, cla: yes

#3630 test(logging/logadmin): grant logsink access to storage bucket
  logging/logadmin/sinks_test.go
Labels: api: logging, automerge, cla: yes, priority: p2

#3633 feat(spanner/spansql): add complete set of array functions
  spanner/spansql/keywords.go
Labels: api: spanner, automerge, cla: yes

#3568 docs(storage): fix CustomTime docs
  storage/storage.go
Labels: api: storage, automerge, cla: yes

#3627 feat(spanner): support NUMERIC as key
  spanner/client_test.go
  spanner/key.go
  spanner/key_test.go
Labels: api: spanner, cla: yes

#3632 feat(domains): start generating apiv1beta1
  domains/apiv1beta1/doc.go
  domains/apiv1beta1/domains_client.go
  domains/apiv1beta1/domains_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: domains, automerge, cla: yes

#3620 docs: add docstring to docref watch
  firestore/docref.go
Labels: automerge, cla: yes
