Repository googleapis/google-cloud-go, pull requests merged in 2021-10, with the labels that each got.

#4777 feat(pubsublite): notify subscriber clients on partition reassignment
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/assigner_test.go
  pubsublite/internal/wire/subscriber.go
  pubsublite/internal/wire/subscriber_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/subscriber.go
  pubsublite/pscompat/subscriber_test.go
Labels: cla: yes, api: pubsublite

#4932 chore(storage): reuse grpc buffer for leftovers
  storage/reader.go
Labels: api: storage, cla: yes, automerge

#4938 test(bigtable): fix encoding of unique id for bigtable integration tests
  bigtable/integration_test.go
Labels: cla: yes

#4933 test(compute): add headers test
  compute/apiv1/smoke_test.go
Labels: cla: yes

#4934 chore(all): auto-regenerate gapics
  contactcenterinsights/apiv1/doc.go
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  go.mod
  go.sum
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/CreateBackup/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/CreateInstance/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/DeleteBackup/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/DeleteInstance/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/GetBackup/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/GetInstance/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/ListBackups/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/ListInstances/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/RestoreInstance/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/UpdateBackup/main.go
  internal/generated/snippets/filestore/apiv1/CloudFilestoreManagerClient/UpdateInstance/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/GetIamPolicy/main.go
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/GetLocation/main.go
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/ListLocations/main.go
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/SetIamPolicy/main.go
  internal/generated/snippets/security/privateca/apiv1/CertificateAuthorityClient/TestIamPermissions/main.go
  internal/godocfx/go.sum
  kms/apiv1/doc.go
  kms/apiv1/key_management_client.go
  kms/go.mod
  kms/go.sum
  security/go.mod
  security/go.sum
  security/privateca/apiv1/certificate_authority_client.go
  security/privateca/apiv1/certificate_authority_client_example_test.go
  security/privateca/apiv1/doc.go
  security/privateca/apiv1/gapic_metadata.json
Labels: cla: yes, automerge

#4942 test(internal/btree): fix bug in benchmark
  internal/btree/benchmarks_test.go
Labels: cla: yes

#4897 test(pubsub): increase ordering key test timeout
  pubsub/integration_test.go
Labels: api: pubsub, cla: yes

#4937 feat(spansql/spantest): support CREATE | DROP VIEW
  spanner/spannertest/db.go
  spanner/spannertest/integration_test.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes

#4814 docs(bigquery): use xerror.As with googleapi.Error
  bigquery/doc.go
  bigquery/integration_test.go
Labels: api: bigquery, cla: yes, automerge

#4945 feat(bigquery): add support for AvroOptions in external data config
  bigquery/external.go
  bigquery/external_test.go
  bigquery/file.go
  bigquery/file_test.go
Labels: api: bigquery, cla: yes, automerge

#4948 doc(bigquery): fix struct tag in doc comment
  bigquery/doc.go
Labels: api: bigquery, cla: yes, automerge

#4949 chore: freeze gRPC version
  .github/renovate.json
Labels: cla: yes, automerge

#4896 chore(storage): replace Canceled status with context.Canceled
  storage/integration_test.go
  storage/writer.go
Labels: api: storage, cla: yes

#4929 chore(storage): refactor read conditions
  storage/reader.go
Labels: api: storage, cla: yes, automerge

#4802 feat(storage): returned wrapped error for timeouts
  storage/bucket.go
  storage/doc.go
  storage/integration_test.go
  storage/invoke.go
  storage/retry_test.go
  storage/storage.go
  storage/writer.go
Labels: api: storage, cla: yes, automerge

#4954 chore(internal/godocfx): move prettyprint to pre
  internal/godocfx/goldmark-codeblock/codeblock.go
  internal/godocfx/testdata/golden/index.yml
Labels: cla: yes

#5047 test(bigtable): randomize app profile names to avoid test collision
  bigtable/integration_test.go
Labels: api: bigtable, cla: yes

#5050 chore(bigquery): address some nits from staticcheck
  bigquery/integration_test.go
  bigquery/iterator.go
  bigquery/job.go
Labels: api: bigquery, cla: yes

#5048 feat(bigquery): allow construction of jobs from other projects
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, cla: yes, automerge
