Repository googleapis/google-cloud-go, pull requests merged in 2022-02, with the labels that each got.

#5414 test(storage): fix gRPC integration test flakes
  storage/integration_test.go
Labels: api: storage, size: xs

#5419 chore(internal/gapicgen): update microgen to v0.25.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#5202 docs(pubsublite): update comments for regional topics
  pubsublite/admin.go
  pubsublite/config.go
  pubsublite/doc.go
  pubsublite/example_test.go
  pubsublite/internal/wire/resources.go
  pubsublite/operations.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/subscriber.go
Labels: api: pubsublite, stale: old, size: s

#5433 chore(compute): update smoke_tests with operation Wait helper
  compute/apiv1/smoke_test.go
Labels: api: compute, size: s

#5438 chore(compute): switch to t.Fatal in smoke_test
  compute/apiv1/smoke_test.go
Labels: api: compute, size: xs

#5439 fix(compute/metadata): init a HTTP client in OnGCE check
  compute/metadata/metadata.go
Labels: api: compute, size: xs

#5427 chore(all): auto-regenerate gapics
  compute/go.mod
  compute/go.sum
  dataflow/apiv1beta3/doc.go
  dataflow/apiv1beta3/flex_templates_client.go
  dataflow/apiv1beta3/jobs_v1_beta3_client.go
  dataflow/apiv1beta3/messages_v1_beta3_client.go
  dataflow/apiv1beta3/metrics_v1_beta3_client.go
  dataflow/apiv1beta3/snapshots_v1_beta3_client.go
  dataflow/apiv1beta3/templates_client.go
  dataflow/go.mod
  dataflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  securitycenter/apiv1/doc.go
  securitycenter/go.mod
  securitycenter/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/doc.go
Labels: size: s

#5436 fix(bigquery/storage/managedwriter): possible panic due to flowcontrol
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, size: xs

#5447 feat(storage/internal): Update definition of RewriteObjectRequest to bring to parity with JSON API support
  storage/CHANGES.md
Labels: api: storage, size: xs

#5442 test(spanner): enable more tests on emulator
  spanner/emulator_test.sh
  spanner/integration_test.go
Labels: api: spanner, size: s

#5450 test(pubsub): increase TestIntegration_All timeout for Pull flakiness
  pubsub/integration_test.go
Labels: api: pubsub, size: xs

#5452 fix(internal/gapicgen): move breaking change indicator if present
  internal/gapicgen/git/git.go
  internal/gapicgen/git/git_test.go
Labels: size: xs

#5467 feat(video/transcoder): remove apiv1beta1, turned down
  internal/gapicgen/generator/config.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/CreateJob/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/CreateJobTemplate/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/DeleteJob/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/DeleteJobTemplate/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/GetJob/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/GetJobTemplate/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/ListJobTemplates/main.go
  internal/generated/snippets/video/transcoder/apiv1beta1/Client/ListJobs/main.go
  video/transcoder/apiv1beta1/doc.go
  video/transcoder/apiv1beta1/gapic_metadata.json
  video/transcoder/apiv1beta1/transcoder_client.go
  video/transcoder/apiv1beta1/transcoder_client_example_test.go
Labels: api: videointelligence, size: xl

#5476 chore: update supported versions of Go runtime
  README.md
Labels: size: xs

#5382 fix(pubsublite): mitigate gRPC stream connection issues
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/committer.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/request_timer.go
  pubsublite/internal/wire/request_timer_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/internal/wire/streams_test.go
  pubsublite/internal/wire/subscriber.go
Labels: api: pubsublite, size: m

#5461 fix(logging): remove instance_name resource label
  logging/resource.go
Labels: api: logging, size: xs

#5437 chore(cleanup): remove "experimental" note
  logging/apiv2/README.md
Labels: size: xs

#4271 feat(bigtable/cmd/cbt): Provide optional formatting of data values displayed with lookup and read
  bigtable/cmd/cbt/cbt.go
  bigtable/cmd/cbt/cbtdoc.go
  bigtable/cmd/cbt/testdata/TestParseValueFormatSettings.yml
  bigtable/cmd/cbt/testdata/TestValueFormattingSetup.yml
  bigtable/cmd/cbt/testdata/addressbook.proto
  bigtable/cmd/cbt/testdata/club.proto
  bigtable/cmd/cbt/testdata/person.bin
  bigtable/cmd/cbt/testdata/protoincludes/phone.proto
  bigtable/cmd/cbt/testing.go
  bigtable/cmd/cbt/valueformatting.go
  bigtable/cmd/cbt/valueformatting_test.go
  bigtable/go.mod
  bigtable/go.sum
Labels: cla: yes, stale: extraold, size: xl

#5485 fix(internal/godocfx): prevent errors for filtered mods
  internal/godocfx/main.go
Labels: size: xs

#5486 chore(internal): fix docs URLs for a few modules
  internal/gapicgen/generator/gapics.go
Labels: size: xs

#5483 chore(storage): unskip upload error test
  storage/writer_test.go
Labels: api: storage, size: xs

#5456 build: enable release-please app with manifest config
  .github/release-please.yml
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
  .release-please-manifest-submodules.json
  .release-please-manifest.json
  release-please-config-submodules.json
  release-please-config.json
Labels: size: m

#5497 build: separate main component
  release-please-config.json
Labels: size: xs

#5499 chore: fix latest released main module
  .release-please-manifest.json
Labels: size: xs

#5482 feat(storage): add Writer.ChunkRetryDeadline
  storage/retry_test.go
  storage/writer.go
Labels: api: storage, size: xs

#5516 chore: bulk update version for manual
  bigquery/bigquery.go
  bigquery/internal/version.go
  datastore/client.go
  datastore/internal/version.go
  errorreporting/errors.go
  errorreporting/internal/version.go
  firestore/client.go
  firestore/internal/Makefile
  firestore/internal/doc-snippets.go
  firestore/internal/doc.template
  firestore/internal/snipdoc.awk
  firestore/internal/version.go
  logging/internal/version.go
  logging/logadmin/logadmin.go
  logging/logging.go
  profiler/internal/version.go
  profiler/profiler.go
  pubsub/internal/version.go
  pubsub/pubsub.go
  translate/internal/version.go
  translate/translate.go
Labels: size: m

#5515 feat(spanner): add better version metadata to calls
  spanner/client.go
  spanner/doc.go
  spanner/integration_test.go
  spanner/oc_test.go
  spanner/session.go
  spanner/sessionclient.go
  spanner/stats.go
Labels: api: spanner, size: xs

#5619 docs(pubsublite): more updates for regional topics
  pubsublite/README.md
  pubsublite/doc.go
Labels: automerge, api: pubsublite, size: xs

#5618 fix(pubsublite): use pubsublite internal version
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/rpc_test.go
  pubsublite/internal/wire/version.go
  pubsublite/internal/wire/version_not112.go
  pubsublite/internal/wire/version_test.go
Labels: api: pubsublite, size: s

#5653 chore: update recommender
  recommender/apiv1/doc.go
  recommender/apiv1beta1/doc.go
  recommender/go.mod
  recommender/go.sum
Labels: size: xs

#5655 chore: bulk release yoshi managed libs
  .github/release-please.yml
  release-please-config-submodules.json
  release-please-config-yoshi-submodules.json
Labels: size: m

#5652 docs(pubsub): add emulator instructions to doc
  pubsub/doc.go
Labels: api: pubsub, size: xs

#5660 feat(bigquery/storage/managedwriter): minor ease-of-use improvements
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#5662 chore(storage): bump google.golang.org/api dep
  storage/go.mod
  storage/go.sum
Labels: api: storage, size: xs

#5620 test(profiler): make integration test use Go 1.17.7
  profiler/kokoro/integration_test.sh
Labels: api: cloudprofiler, size: xs

#5668 chore: fixup failed regen for release-please
  compute/CHANGES.md
  dataplex/CHANGES.md
  osconfig/CHANGES.md
  pubsub/CHANGES.md
  security/CHANGES.md
  servicemanagement/CHANGES.md
  video/CHANGES.md
Labels: size: xs

#5670 feat(bigquery/storage/managedwriter/adapt): handle oneof normalization
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/testdata/testing.pb.go
  bigquery/storage/managedwriter/testdata/testing.proto
Labels: api: bigquery, size: s

#5671 chore(all): auto-regenerate gapics
  aiplatform/go.sum
  appengine/go.sum
  automl/go.sum
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/apiv1/doc.go
  bigquery/storage/apiv1beta1/doc.go
  bigquery/storage/apiv1beta2/doc.go
  dataplex/go.sum
  dataproc/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/logging/apiv2/ConfigClient/CopyLogEntries/main.go
  internal/generated/snippets/logging/apiv2/ConfigClient/GetSettings/main.go
  internal/generated/snippets/logging/apiv2/ConfigClient/UpdateSettings/main.go
  internal/godocfx/go.sum
  logging/apiv2/config_client.go
  logging/apiv2/config_client_example_test.go
  logging/apiv2/doc.go
  logging/apiv2/gapic_metadata.json
  logging/apiv2/logging_client.go
  logging/go.mod
  logging/go.sum
  osconfig/go.sum
  pubsub/apiv1/doc.go
  pubsub/go.mod
  pubsub/go.sum
  securitycenter/go.sum
  spanner/go.sum
Labels: size: m

#5679 fix(bigtable): use internal.Version that is auto-updated for UA
  bigtable/doc.go
Labels: api: bigtable, size: xs

#5426 chore(storage): internal client interface design
  storage/client.go
Labels: api: storage, size: s

#5680 chore: restore httpreplay tests
  go.mod
  go.sum
  httpreplay/cmd/httpr/integration_test.go
  httpreplay/httpreplay_test.go
  internal/generated/snippets/go.mod
  internal/godocfx/go.mod
  internal/godocfx/go.sum
Labels: size: xl

#5689 chore(internal/gapicgen): bump generator to v0.26.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#5696 docs(bigquery/storage/managedwriter): clarify experimental status
  bigquery/storage/managedwriter/doc.go
Labels: api: bigquery, size: xs

#5698 fix(internal/gapicgen): don't gen version files for longrunning and debugger
  internal/gapicgen/generator/gapics.go
Labels: size: xs

#5699 chore(all): auto-regenerate gapics
  compute/go.mod
  compute/go.sum
  debugger/apiv2/controller2_client.go
  debugger/apiv2/debugger2_client.go
  debugger/apiv2/doc.go
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  longrunning/autogen/doc.go
  longrunning/autogen/operations_client.go
Labels: size: s
