Repository googleapis/google-cloud-go, pull requests merged in 2022-08, with the labels that each got.

#6328 chore(storage): gRPC inject bucket ID in header for write
  storage/grpc_client.go
  storage/internal/apiv2/metadata.go
Labels: api: storage, size: s

#6387 feat(pubsub): complete AckResult for exactly once
  pubsub/go.mod
  pubsub/go.sum
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/message.go
  pubsub/streaming_pull_test.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: l

#6452 chore(storage): migrate Writer
  storage/grpc_client.go
  storage/http_client.go
  storage/storage_test.go
  storage/writer.go
Labels: api: storage, size: m

#6453 docs(pubsub): typo on pubsub FlowControlSettings
  pubsub/flow_controller.go
Labels: size: xs

#6457 chore(storage): migrate Reader
  storage/client.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
  storage/reader_test.go
Labels: api: storage, size: l

#6447 feat(godocfx): add friendlyAPIName
  internal/godocfx/godocfx_test.go
  internal/godocfx/main.go
  internal/godocfx/parse.go
  internal/godocfx/testdata/golden/index.yml
Labels: automerge, size: m

#6256 fix(bigquery): populate user_email field when using JobFromProject()
  bigquery/job.go
Labels: api: bigquery, stale: old, size: xs

#6470 test(bigquery): add testing for email propagation in job retrieval
  bigquery/integration_test.go
Labels: api: bigquery, size: xs

#6474 test(profiler): Bump default imageFamily to debian 10
  profiler/proftest/proftest.go
Labels: api: cloudprofiler, size: xs

#6468 chore(logging): pin environment test submodule to tag
  internal/kokoro/environment.sh
Labels: api: logging, size: s

#6479 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  vision/v2/go.mod
  vision/v2/go.sum
Labels: size: m

#6121 chore(firestore): Clarify Transaction.Get error code
  firestore/transaction.go
Labels: api: firestore, stale: extraold, size: xs

#6482 chore(all): auto-regenerate gapics
  analytics/admin/apiv1alpha/analytics_admin_client.go
  analytics/admin/apiv1alpha/analytics_admin_client_example_test.go
  analytics/admin/apiv1alpha/gapic_metadata.json
  analytics/go.mod
  analytics/go.sum
  go.mod
  go.sum
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/ArchiveAudience/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/CreateAudience/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetAttributionSettings/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetAudience/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/ListAudiences/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/RunAccessReport/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateAttributionSettings/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateAudience/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  monitoring/apiv3/v2/alert_policy_client.go
  monitoring/go.mod
  monitoring/go.sum
Labels: size: xl

#6484 chore: update latest Go version to 1.19
  README.md
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/go.mod
  internal/kokoro/check_incompat_changes.sh
  internal/kokoro/vet.sh
Labels: size: xs

#6480 chore(bigquery/storage/managedwriter): add client instrumentation
  bigquery/storage/apiv1/info.go
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/options_test.go
Labels: api: bigquery, size: m

#6488 fix(bigquery/storage/managedwriter): propagate calloptions to append
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, size: m

#6465 feat(storage): refactor to use transport-agnostic interface
  storage/acl.go
  storage/bucket.go
  storage/bucket_test.go
  storage/client.go
  storage/client_test.go
  storage/copy.go
  storage/grpc_client.go
  storage/hmac.go
  storage/http_client.go
  storage/iam.go
  storage/integration_test.go
  storage/internal/apiv2/metadata.go
  storage/notifications.go
  storage/reader.go
  storage/reader_test.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Labels: api: storage, automerge, size: xl

#6360 feat(bigquery/storage/managedwriter): improve error communication
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/managedwriter/doc.go
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: m

#6499 feat(compute/metadata): add http timeout to metadata client
  compute/metadata/metadata.go
Labels: api: compute, size: xs

#6494 chore(all): delete minor unreachable code caused by t.Fatal
  firestore/query_test.go
  pubsub/integration_test.go
  spanner/integration_test.go
  spanner/oc_test.go
Labels: automerge: exact, size: s

#6478 chore(storage): delete obsolete and unmaintained benchwrapper
  storage/internal/benchwrapper/README.md
  storage/internal/benchwrapper/main.go
  storage/internal/benchwrapper/proto/README.md
  storage/internal/benchwrapper/proto/storage.pb.go
  storage/internal/benchwrapper/proto/storage.proto
Labels: api: storage, size: l

#6485 feat(pubsub): retry temporary failures for ack/modacks
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pstest/fake.go
  pubsub/service.go
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: l

#6370 feat(storage): export ShouldRetry
  storage/grpc_client.go
  storage/invoke.go
  storage/invoke_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: m

#6504 chore: remove repo settings for storage-refactor
  .github/sync-repo-settings.yaml
Labels: size: xs

#6007 feat(spanner): install grpc rls and xds by default
  spanner/client.go
  spanner/client_enablexds.go
Labels: api: spanner, stale: extraold, size: s

#6521 chore(internal/gapicgen): update microgen v0.32.0
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: size: s

#6522 chore(documentai): release v1.5.0
  baremetalsolution/go.mod
  baremetalsolution/go.sum
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  documentai/CHANGES.md
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  servicemanagement/go.mod
  servicemanagement/go.sum
Labels: api: documentai, size: s

#6536 test(bigquery/storage/managedwriter): improve instrumentation testing
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#6537 testing(bigquery/storage/managedwriter): instrumentation retries
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: s

#6538 test(storage): skip tests using OLM Age condition
  storage/bucket_test.go
Labels: api: storage, size: s

#6464 feat(bigquery): add preview support for default values
  bigquery/schema.go
  bigquery/schema_test.go
  bigquery/table_integration_test.go
Labels: api: bigquery, size: m

#6542 chore(all): auto-regenerate gapics
  apikeys/apiv2/api_keys_client.go
  apikeys/go.mod
  apikeys/go.sum
  bigquery/go.mod
  bigquery/go.sum
  compute/go.mod
  compute/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/apikeys/apiv2/Client/CreateKey/main.go
  internal/generated/snippets/apikeys/apiv2/Client/DeleteKey/main.go
  internal/generated/snippets/apikeys/apiv2/Client/GetKey/main.go
  internal/generated/snippets/apikeys/apiv2/Client/GetKeyString/main.go
  internal/generated/snippets/apikeys/apiv2/Client/GetOperation/main.go
  internal/generated/snippets/apikeys/apiv2/Client/ListKeys/main.go
  internal/generated/snippets/apikeys/apiv2/Client/LookupKey/main.go
  internal/generated/snippets/apikeys/apiv2/Client/UndeleteKey/main.go
  internal/generated/snippets/apikeys/apiv2/Client/UpdateKey/main.go
  internal/generated/snippets/apikeys/apiv2/snippet_metadata.google.api.apikeys.v2.json
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/asset/apiv1p2beta1/snippet_metadata.google.cloud.asset.v1p2beta1.json
  internal/generated/snippets/asset/apiv1p5beta1/snippet_metadata.google.cloud.asset.v1p5beta1.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/documentai/apiv1/snippet_metadata.google.cloud.documentai.v1.json
  internal/generated/snippets/documentai/apiv1beta3/snippet_metadata.google.cloud.documentai.v1beta3.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  pubsublite/apiv1/admin_client.go
  pubsublite/apiv1/admin_client_example_test.go
  pubsublite/apiv1/cursor_client.go
  pubsublite/apiv1/cursor_client_example_test.go
  pubsublite/apiv1/gapic_metadata.json
  pubsublite/apiv1/partition_assignment_client.go
  pubsublite/apiv1/partition_assignment_client_example_test.go
  pubsublite/apiv1/publisher_client.go
  pubsublite/apiv1/publisher_client_example_test.go
  pubsublite/apiv1/subscriber_client.go
  pubsublite/apiv1/subscriber_client_example_test.go
  pubsublite/apiv1/topic_stats_client.go
  pubsublite/apiv1/topic_stats_client_example_test.go
  pubsublite/go.mod
  pubsublite/go.sum
Labels: size: l

#6541 chore(internal/generated/snippets): upgrade dependencies
  internal/generated/snippets/baremetalsolution/apiv2/Client/CreateSnapshotSchedulePolicy/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/CreateVolumeSnapshot/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/DeleteSnapshotSchedulePolicy/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/DeleteVolumeSnapshot/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/GetSnapshotSchedulePolicy/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/GetVolumeSnapshot/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ListSnapshotSchedulePolicies/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ListVolumeSnapshots/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/RestoreVolumeSnapshot/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/UpdateSnapshotSchedulePolicy/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/CancelOperation/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/servicemanagement/apiv1/ServiceManagerClient/DisableService/main.go
  internal/generated/snippets/servicemanagement/apiv1/ServiceManagerClient/EnableService/main.go
  internal/generated/snippets/talent/apiv4beta1/ApplicationClient/CreateApplication/main.go
  internal/generated/snippets/talent/apiv4beta1/ApplicationClient/DeleteApplication/main.go
  internal/generated/snippets/talent/apiv4beta1/ApplicationClient/GetApplication/main.go
  internal/generated/snippets/talent/apiv4beta1/ApplicationClient/ListApplications/main.go
  internal/generated/snippets/talent/apiv4beta1/ApplicationClient/UpdateApplication/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/CreateProfile/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/DeleteProfile/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/GetProfile/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/ListProfiles/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/SearchProfiles/main.go
  internal/generated/snippets/talent/apiv4beta1/ProfileClient/UpdateProfile/main.go
Labels: size: xl

#6545 chore(all): auto-regenerate gapics
  apigeeregistry/apiv1/registry_client.go
  apigeeregistry/go.mod
  apigeeregistry/go.sum
  go.mod
  go.sum
  internal/generated/snippets/apigeeregistry/apiv1/snippet_metadata.google.cloud.apigeeregistry.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  servicecontrol/go.mod
  servicecontrol/go.sum
Labels: size: m

#6548 chore: remove installing python deps
  internal/kokoro/environment.sh
  internal/kokoro/publish_docs.sh
Labels: size: s

#6506 feat(pubsub): support exactly once delivery
  internal/pubsub/message.go
  pubsub/go.mod
  pubsub/go.sum
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/message.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/service.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsublite/go.mod
  pubsublite/go.sum
  pubsublite/pscompat/subscriber.go
Labels: api: pubsub, size: xl

#6448 feat(bigquery): add PreserveAsciiControlCharacters support for CSV
  bigquery/external.go
  bigquery/file.go
  bigquery/file_test.go
Labels: api: bigquery, size: m

#6550 chore(all): auto-regenerate gapics
  contactcenterinsights/apiv1/contact_center_insights_client.go
  contactcenterinsights/apiv1/contact_center_insights_client_example_test.go
  contactcenterinsights/apiv1/gapic_metadata.json
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  go.mod
  go.sum
  internal/generated/snippets/contactcenterinsights/apiv1/Client/CancelOperation/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/snippet_metadata.google.cloud.contactcenterinsights.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
Labels: size: l

#6554 chore(logging): update environment tests to use python3.9
  internal/kokoro/environment.sh
Labels: api: logging, size: xs

#6486 feat(spanner): set client wide ReadOptions, ApplyOptions, and TransactionOptions
  spanner/batch.go
  spanner/batch_test.go
  spanner/client.go
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner, size: l

#6558 fix(pubsub): up version of cloud.google.com/go
  pubsub/go.mod
  pubsub/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
Labels: api: pubsub, automerge, size: s

#6502 feat: add aliasfix to fix migrated import paths
  internal/aliasfix/README.md
  internal/aliasfix/go.mod
  internal/aliasfix/go.sum
  internal/aliasfix/main.go
  internal/aliasfix/main_test.go
  internal/aliasfix/mappings.go
  internal/aliasfix/testdata/golden/input1
  internal/aliasfix/testdata/golden/input2
  internal/aliasfix/testdata/golden/input3
  internal/aliasfix/testdata/golden/input4
  internal/aliasfix/testdata/golden/input5
  internal/aliasfix/testdata/golden/input6
  internal/aliasfix/testdata/input1
  internal/aliasfix/testdata/input2
  internal/aliasfix/testdata/input3
  internal/aliasfix/testdata/input4
  internal/aliasfix/testdata/input5
  internal/aliasfix/testdata/input6
Labels: size: xl

#6562 chore(storage): bump apiary dependency
  storage/go.mod
  storage/go.sum
Labels: api: storage, size: s

#6563 test(pubsub): use background context for nack test
  pubsub/subscription_test.go
Labels: api: pubsub, size: xs

#6500 feat: add new aliasgen tool
  internal/aliasgen/README
  internal/aliasgen/aliasgen.go
  internal/aliasgen/aliasgen_test.go
  internal/aliasgen/cmd/main.go
  internal/aliasgen/exec.go
  internal/aliasgen/go.mod
  internal/aliasgen/go.sum
  internal/aliasgen/testdata/fakepb/fake.pb.go
  internal/aliasgen/testdata/fakepb/fake2.pb.go
  internal/aliasgen/testdata/golden/fake/alias.go
Labels: automerge, size: l

#6565 chore(internal/godocfx): update legacy appengine package stem
  internal/godocfx/main.go
Labels: automerge, size: xs

#6567 build: renamed gRPC service config for Batch v1 API
  internal/gapicgen/generator/config.go
Labels: size: xs

#6569 chore(storage): include grpc enable direct path option
  storage/grpc_client.go
Labels: api: storage, automerge, size: xs

#6204 fix(storage): allow to use age=0 in OLM conditions
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, stale: extraold, size: m

#6510 refactor(storage): replace manual retries in tests
  storage/integration_test.go
  storage/retry_conformance_test.go
Labels: api: storage, size: l

#6581 test(pubsub): fix race condition in streaming pull retry test
  pubsub/streaming_pull_test.go
Labels: api: pubsub, automerge, size: m

#6572 chore(internal/gapicgen): incorporate aliasfix config into gapicgen
  internal/aliasfix/README.md
  internal/aliasfix/aliasfix.go
  internal/aliasfix/aliasfix_test.go
  internal/aliasfix/cmd/main.go
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/genproto.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: automerge, size: l

#6575 chore: exclude 1.15 from go build in kokoro/presubmit.sh
  third_party/go/doc/go115.go
  third_party/pkgsite/print_type.go
Labels: size: s

#6589 chore: don't test tools with earliest
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Labels: size: s

#6573 docs: add client options endpoint to doc.go
  doc.go
Labels: size: s

#6585 test(storage): fixes bugs introduced in #6510
  storage/integration_test.go
Labels: api: storage, size: m

#6594 chore: update reference to analyticshub service config file
  internal/gapicgen/generator/config.go
Labels: size: xs
