Repository googleapis/google-cloud-go, pull requests merged in 2022-09, with the labels that each got.

#6481 chore(storage): change reference link to cloud rad
  storage/README.md
Labels: api: storage, size: xs

#6600 chore(internal/gapicgen): rescope genbot context to include repo
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, size: xs

#6582 chore(all): auto-regenerate gapics
  accessapproval/go.mod
  accessapproval/go.sum
  aiplatform/go.mod
  aiplatform/go.sum
  apigeeregistry/go.mod
  apigeeregistry/go.sum
  assuredworkloads/apiv1beta1/assured_workloads_client.go
  assuredworkloads/apiv1beta1/assured_workloads_client_example_test.go
  assuredworkloads/apiv1beta1/gapic_metadata.json
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  batch/apiv1/batch_client.go
  batch/apiv1/batch_client_example_test.go
  batch/apiv1/gapic_metadata.json
  batch/go.mod
  batch/go.sum
  bigquery/go.mod
  bigquery/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/assuredworkloads/apiv1beta1/snippet_metadata.google.cloud.assuredworkloads.v1beta1.json
  internal/generated/snippets/batch/apiv1/Client/CancelOperation/main.go
  internal/generated/snippets/batch/apiv1/Client/DeleteOperation/main.go
  internal/generated/snippets/batch/apiv1/Client/GetIamPolicy/main.go
  internal/generated/snippets/batch/apiv1/Client/GetLocation/main.go
  internal/generated/snippets/batch/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/batch/apiv1/Client/ListLocations/main.go
  internal/generated/snippets/batch/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/batch/apiv1/Client/SetIamPolicy/main.go
  internal/generated/snippets/batch/apiv1/Client/TestIamPermissions/main.go
  internal/generated/snippets/batch/apiv1/snippet_metadata.google.cloud.batch.v1.json
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  securitycenter/go.mod
  securitycenter/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: automerge, size: xl

#6604 test(storage): add retry for acl propagation to requesterpays test
  storage/integration_test.go
Labels: api: storage, size: s

#6493 feat(bigquery): add trace instrumentation support for individual rpcs
  bigquery/bigquery.go
  bigquery/dataset.go
  bigquery/inserter.go
  bigquery/job.go
  bigquery/model.go
  bigquery/routine.go
  bigquery/table.go
  bigquery/trace_integration_test.go
Labels: api: bigquery, size: m

#6598 fix(spanner): pass userAgent to cloud spanner requests
  spanner/client.go
  spanner/sessionclient.go
Labels: api: spanner, size: s

#6605 feat(iam): start generating apiv2
  iam/apiv2/doc.go
  iam/apiv2/gapic_metadata.json
  iam/apiv2/policies_client.go
  iam/apiv2/policies_client_example_test.go
  iam/apiv2/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: iam, size: xl

#6583 chore(internal/gapicgen): fix print to not panic
  internal/gapicgen/generator/genproto.go
Labels: automerge, size: xs

#6511 chore(logging): added extra variables on environment test runs
  internal/kokoro/environment.sh
Labels: api: logging, size: s

#6609 feat(bigquery/storage/managedwriter): augment reconnection logic
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/retry.go
  bigquery/storage/managedwriter/retry_test.go
Labels: api: bigquery, size: m

#6566 feat(bigquery): improve error when reading null values
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery, size: s

#6461 feat(spanner/spansql): add support for coalesce expressions
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, stale: old, size: m

#6608 feat(spanner/spannertest): add support for adding and dropping Foreign Keys
  spanner/spannertest/db.go
  spanner/spannertest/db_test.go
Labels: size: m

#6611 build(release-please): sentence case CHANGELOG
  bigquery/release-please-config.json
  bigtable/release-please-config.json
  datastore/release-please-config.json
  errorreporting/release-please-config.json
  firestore/release-please-config.json
  logging/release-please-config.json
  profiler/release-please-config.json
  pubsub/release-please-config.json
  pubsublite/release-please-config.json
  release-please-config-yoshi-submodules.json
  release-please-config.json
  spanner/release-please-config.json
  storage/release-please-config.json
Labels: size: s

#6610 test(datastore): improve concurrency of LQ test
  datastore/integration_test.go
Labels: api: datastore, size: s

#6602 test(bigtable): fix flaky CreateInstance integration test
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: s

#6621 feat(spanner/spansql): add backticks when name contains a hypen
  spanner/spannertest/db_test.go
  spanner/spansql/sql.go
Labels: api: spanner, size: s

#6625 chore(internal/aliasgen): clean dir and fix import bug
  internal/aliasgen/aliasgen.go
  internal/aliasgen/testdata/golden/fake/alias.go
Labels: size: s

#6627 chore: remove mock_test files
  asset/apiv1/mock_test.go
  asset/apiv1p2beta1/mock_test.go
  automl/apiv1/mock_test.go
  automl/apiv1beta1/mock_test.go
  bigquery/datatransfer/apiv1/mock_test.go
  bigquery/storage/apiv1beta1/mock_test.go
  cloudtasks/apiv2/mock_test.go
  cloudtasks/apiv2beta2/mock_test.go
  cloudtasks/apiv2beta3/mock_test.go
  container/apiv1/mock_test.go
  containeranalysis/apiv1/mock_test.go
  containeranalysis/apiv1beta1/mock_test.go
  dataproc/apiv1/mock_test.go
  dialogflow/apiv2/mock_test.go
  dlp/apiv2/mock_test.go
  errorreporting/apiv1beta1/mock_test.go
  firestore/apiv1/admin/mock_test.go
  firestore/apiv1/mock_test.go
  firestore/apiv1beta1/mock_test.go
  grafeas/apiv1/mock_test.go
  iam/admin/apiv1/mock_test.go
  iam/credentials/apiv1/mock_test.go
  internal/examples/mock/mock_test.go
  iot/apiv1/mock_test.go
  kms/apiv1/mock_test.go
  language/apiv1/mock_test.go
  language/apiv1beta2/mock_test.go
  logging/apiv2/mock_test.go
  monitoring/apiv3/mock_test.go
  oslogin/apiv1/mock_test.go
  oslogin/apiv1beta/mock_test.go
  phishingprotection/apiv1beta1/mock_test.go
  pubsub/apiv1/mock_test.go
  recommender/apiv1beta1/mock_test.go
  redis/apiv1/mock_test.go
  redis/apiv1beta1/mock_test.go
  scheduler/apiv1/mock_test.go
  scheduler/apiv1beta1/mock_test.go
  securitycenter/apiv1/mock_test.go
  securitycenter/apiv1beta1/mock_test.go
  spanner/admin/instance/apiv1/mock_test.go
  spanner/apiv1/mock_test.go
  speech/apiv1/mock_test.go
  speech/apiv1p1beta1/mock_test.go
  texttospeech/apiv1/mock_test.go
  trace/apiv1/mock_test.go
  trace/apiv2/mock_test.go
  translate/apiv3/mock_test.go
  videointelligence/apiv1/mock_test.go
  videointelligence/apiv1beta2/mock_test.go
  vision/apiv1p1beta1/mock_test.go
  webrisk/apiv1beta1/mock_test.go
Labels: automerge, size: xl

#6628 chore(internal/gapicgen): update microgen v0.33.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#6618 test(storage): increase timeout for ACL test retry
  storage/integration_test.go
Labels: api: storage, size: xs

#6626 chore(internal/gapicgen): add more tooling for generating aliases
  internal/gapicgen/cmd/genbot/README.md
  internal/gapicgen/cmd/genbot/local.go
  internal/gapicgen/cmd/genbot/main.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
  internal/gapicgen/generator/genproto.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: size: m

#6624 feat(asset): rewrite signatures in terms of new types for betas
  asset/aliasshim/aliasshim.go
  asset/apiv1p2beta1/asset_client.go
  asset/apiv1p2beta1/asset_client_example_test.go
  asset/apiv1p2beta1/doc.go
  asset/apiv1p5beta1/asset_client.go
  asset/apiv1p5beta1/asset_client_example_test.go
  asset/apiv1p5beta1/doc.go
  asset/go.mod
  asset/go.sum
  internal/aliasfix/mappings.go
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/asset/apiv1p2beta1/Client/CreateFeed/main.go
  internal/generated/snippets/asset/apiv1p2beta1/Client/DeleteFeed/main.go
  internal/generated/snippets/asset/apiv1p2beta1/Client/GetFeed/main.go
  internal/generated/snippets/asset/apiv1p2beta1/Client/ListFeeds/main.go
  internal/generated/snippets/asset/apiv1p2beta1/Client/UpdateFeed/main.go
  internal/generated/snippets/asset/apiv1p2beta1/snippet_metadata.google.cloud.asset.v1p2beta1.json
  internal/generated/snippets/asset/apiv1p5beta1/Client/ListAssets/main.go
  internal/generated/snippets/asset/apiv1p5beta1/snippet_metadata.google.cloud.asset.v1p5beta1.json
Labels: api: cloudasset, automerge, size: m

#6637 chore(internal/aliasfix): properly truncate and backup files
  internal/aliasfix/aliasfix.go
Labels: automerge, size: m

#6635 chore(bigquery): release 1.40.0
  bigquery/CHANGES.md
Labels: api: bigquery, size: xs

#6642 feat(security/publicca): start generating apiv1beta1
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  security/publicca/apiv1beta1/doc.go
  security/publicca/apiv1beta1/gapic_metadata.json
  security/publicca/apiv1beta1/public_certificate_authority_client.go
  security/publicca/apiv1beta1/public_certificate_authority_client_example_test.go
  security/publicca/apiv1beta1/publiccapb/resources.pb.go
  security/publicca/apiv1beta1/publiccapb/service.pb.go
  security/publicca/apiv1beta1/version.go
Labels: size: xl

#6646 chore: update issue templates
  .github/ISSUE_TEMPLATE/migration-issue.md
Labels: size: s

#6643 refactor(bigquery/storage/managedwriter): internal context refactor
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, size: s

#6639 chore(storage): add multi-transport test runner
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6645 test(storage): unflake TestIntegration_ACL
  storage/integration_test.go
Labels: api: storage, size: s

#6647 chore: add migration docs and links
  internal/aliasgen/aliasgen.go
  internal/aliasgen/testdata/golden/fake/alias.go
  migration.md
Labels: automerge, size: m

#6648 chore(storage): fix Object Read not exist error
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: s

#6653 fix(bigquery): parse timestamp query parameter with RFC3339
  bigquery/integration_test.go
  bigquery/params.go
Labels: api: bigquery, size: m

#6658 chore(pubsub): add shollyman to codeowners
  .github/CODEOWNERS
Labels: api: pubsub, size: xs

#6661 chore: update generator to v0.33.1
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, size: xs

#6556 test(storage): add scenario 8 to retry conformance tests
  storage/internal/test/conformance/retry_tests.json
  storage/internal/test/conformance/test.pb.go
  storage/internal/test/conformance/test.proto
  storage/retry_conformance_test.go
Labels: api: storage, size: m

#6659 fix(bigquery/storage/managedwriter): fix incorrect error retention
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, automerge, size: s

#6662 chore(storage): use context value to skip transport tests
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6656 fix(pubsub): remove unused AckResult map
  pubsub/iterator.go
Labels: api: pubsub, size: s

#6672 fix(internal/gapicgen): add slashes to be more strict with matching
  internal/gapicgen/generator/genproto.go
Labels: size: xs

#6666 chore(all): auto-regenerate gapics
  analytics/go.mod
  analytics/go.sum
  bigquery/go.mod
  bigquery/go.sum
  firestore/apiv1/firestore_client.go
  firestore/apiv1/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/apigeeregistry/apiv1/snippet_metadata.google.cloud.apigeeregistry.v1.json
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/asset/apiv1p2beta1/snippet_metadata.google.cloud.asset.v1p2beta1.json
  internal/generated/snippets/asset/apiv1p5beta1/snippet_metadata.google.cloud.asset.v1p5beta1.json
  internal/generated/snippets/batch/apiv1/snippet_metadata.google.cloud.batch.v1.json
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  internal/generated/snippets/firestore/apiv1/snippet_metadata.google.firestore.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  mediatranslation/go.mod
  mediatranslation/go.sum
  recommendationengine/go.mod
  recommendationengine/go.sum
  security/go.mod
  security/go.sum
  security/publicca/apiv1beta1/publiccapb/resources.pb.go
  security/publicca/apiv1beta1/publiccapb/service.pb.go
  spanner/go.mod
  spanner/go.sum
  storagetransfer/apiv1/gapic_metadata.json
  storagetransfer/apiv1/storage_transfer_client.go
  storagetransfer/apiv1/storage_transfer_client_example_test.go
  storagetransfer/go.mod
  storagetransfer/go.sum
  vision/v2/go.mod
  vision/v2/go.sum
Labels: size: m

#6591 feat(storage): find GoogleAccessID when using impersonated creds
  storage/bucket.go
  storage/bucket_test.go
  storage/doc.go
Labels: api: storage, size: m

#6682 docs(pubsub): update streams section
  pubsub/doc.go
Labels: api: pubsub, size: xs

#6655 chore(bigtable): enable Go 1.13 error wrapping
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/internal/option/option.go
Labels: api: bigtable, size: s

#6638 feat(certificatemanager): release 1.0.0
  certificatemanager/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xs

#6660 docs(functions): update metadata.Resource docs
  functions/metadata/metadata.go
Labels: api: cloudfunctions, size: s

#6596 feat(bigquery): add support for explicit query parameter type
  bigquery/integration_test.go
  bigquery/params.go
  bigquery/params_test.go
  bigquery/standardsql.go
Labels: api: bigquery, size: l

#6681 chore(all): auto-regenerate gapics
  apikeys/go.mod
  apikeys/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  security/go.mod
  security/go.sum
  security/publicca/apiv1beta1/publiccapb/resources.pb.go
  security/publicca/apiv1beta1/publiccapb/service.pb.go
  spanner/admin/instance/apiv1/gapic_metadata.json
  spanner/admin/instance/apiv1/instance_admin_client.go
  spanner/admin/instance/apiv1/instance_admin_client_example_test.go
  spanner/go.mod
  spanner/go.sum
Labels: size: l

#6689 chore(all): auto-regenerate gapics
  aiplatform/apiv1beta1/featurestore_client.go
  aiplatform/apiv1beta1/featurestore_client_example_test.go
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/go.mod
  aiplatform/go.sum
  container/go.mod
  container/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/FeaturestoreClient/DeleteFeatureValues/main.go
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/artifactregistry/apiv1/snippet_metadata.google.devtools.artifactregistry.v1.json
  internal/generated/snippets/artifactregistry/apiv1beta2/snippet_metadata.google.devtools.artifactregistry.v1beta2.json
  internal/generated/snippets/assuredworkloads/apiv1/snippet_metadata.google.cloud.assuredworkloads.v1.json
  internal/generated/snippets/assuredworkloads/apiv1beta1/snippet_metadata.google.cloud.assuredworkloads.v1beta1.json
  internal/generated/snippets/beyondcorp/appconnections/apiv1/snippet_metadata.google.cloud.beyondcorp.appconnections.v1.json
  internal/generated/snippets/beyondcorp/appconnectors/apiv1/snippet_metadata.google.cloud.beyondcorp.appconnectors.v1.json
  internal/generated/snippets/beyondcorp/appgateways/apiv1/snippet_metadata.google.cloud.beyondcorp.appgateways.v1.json
  internal/generated/snippets/beyondcorp/clientconnectorservices/apiv1/snippet_metadata.google.cloud.beyondcorp.clientconnectorservices.v1.json
  internal/generated/snippets/beyondcorp/clientgateways/apiv1/snippet_metadata.google.cloud.beyondcorp.clientgateways.v1.json
  internal/generated/snippets/billing/apiv1/snippet_metadata.google.cloud.billing.v1.json
  internal/generated/snippets/billing/budgets/apiv1/snippet_metadata.google.cloud.billing.budgets.v1.json
  internal/generated/snippets/billing/budgets/apiv1beta1/snippet_metadata.google.cloud.billing.budgets.v1beta1.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/datacatalog/apiv1/snippet_metadata.google.cloud.datacatalog.v1.json
  internal/generated/snippets/datacatalog/apiv1beta1/snippet_metadata.google.cloud.datacatalog.v1beta1.json
  internal/generated/snippets/datalabeling/apiv1beta1/snippet_metadata.google.cloud.datalabeling.v1beta1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/apiv2beta1/snippet_metadata.google.cloud.dialogflow.v2beta1.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/dlp/apiv2/snippet_metadata.google.privacy.dlp.v2.json
  internal/generated/snippets/documentai/apiv1/snippet_metadata.google.cloud.documentai.v1.json
  internal/generated/snippets/documentai/apiv1beta3/snippet_metadata.google.cloud.documentai.v1beta3.json
  internal/generated/snippets/gaming/apiv1/snippet_metadata.google.cloud.gaming.v1.json
  internal/generated/snippets/gaming/apiv1beta/snippet_metadata.google.cloud.gaming.v1beta.json
  internal/generated/snippets/gkeconnect/gateway/apiv1beta1/snippet_metadata.google.cloud.gkeconnect.gateway.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  security/go.mod
  security/go.sum
  security/publicca/apiv1beta1/publiccapb/resources.pb.go
  security/publicca/apiv1beta1/publiccapb/service.pb.go
Labels: size: l

#6686 refactor(bigquery/storage/managedwriter): simplify lockingAppend
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, size: s

#6650 feat(bigquery/storage/managedwriter): define append retry predicate
  bigquery/storage/managedwriter/retry.go
Labels: api: bigquery, size: m

#6669 feat(spanner/spansql): add support for create, alter and drop change …
  spanner/spannertest/db_test.go
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, kokoro:force-run, size: l

#6679 fix(spanner): spanner sessions will be cleaned up from the backend
  spanner/client.go
  spanner/client_test.go
  spanner/session.go
  spanner/session_test.go
Labels: api: spanner, size: s

#6697 feat(bigquery/datapolicies): start generating apiv1beta1
  bigquery/datapolicies/apiv1beta1/data_policy_client.go
  bigquery/datapolicies/apiv1beta1/data_policy_client_example_test.go
  bigquery/datapolicies/apiv1beta1/datapoliciespb/datapolicy.pb.go
  bigquery/datapolicies/apiv1beta1/doc.go
  bigquery/datapolicies/apiv1beta1/gapic_metadata.json
  bigquery/datapolicies/apiv1beta1/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
Labels: api: bigquery, size: xl

#6699 feat(spanner): retry spanner transactions and mutations when RST_STREAM error
  spanner/client_test.go
  spanner/retry.go
  spanner/transaction.go
Labels: api: spanner, kokoro:force-run, size: m

#6698 chore: fix v2 beta edge case
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  recaptchaenterprise/v2/apiv1beta1/doc.go
  recaptchaenterprise/v2/apiv1beta1/gapic_metadata.json
  recaptchaenterprise/v2/apiv1beta1/recaptcha_enterprise_service_v1_beta1_client.go
  recaptchaenterprise/v2/apiv1beta1/recaptcha_enterprise_service_v1_beta1_client_example_test.go
  recaptchaenterprise/v2/apiv1beta1/recaptchaenterprisepb/recaptchaenterprise.pb.go
  recaptchaenterprise/v2/apiv1beta1/version.go
  vision/v2/apiv1p1beta1/doc.go
  vision/v2/apiv1p1beta1/gapic_metadata.json
  vision/v2/apiv1p1beta1/image_annotator_client.go
  vision/v2/apiv1p1beta1/image_annotator_client_example_test.go
  vision/v2/apiv1p1beta1/version.go
  vision/v2/apiv1p1beta1/visionpb/geometry.pb.go
  vision/v2/apiv1p1beta1/visionpb/image_annotator.pb.go
  vision/v2/apiv1p1beta1/visionpb/text_annotation.pb.go
  vision/v2/apiv1p1beta1/visionpb/web_detection.pb.go
Labels: size: xl

#6704 chore: update how we handle mod replacements
  internal/gapicgen/generator/gapics.go
Labels: size: xs

#6707 feat(bigquery/analyticshub): start generating apiv1
  bigquery/analyticshub/apiv1/analytics_hub_client.go
  bigquery/analyticshub/apiv1/analytics_hub_client_example_test.go
  bigquery/analyticshub/apiv1/analyticshubpb/analyticshub.pb.go
  bigquery/analyticshub/apiv1/doc.go
  bigquery/analyticshub/apiv1/gapic_metadata.json
  bigquery/analyticshub/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: api: bigquery, size: xl

#6671 chore(storage): parse out project number if available
  storage/bucket.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge, size: s

#6693 feat(bigquery): add reference file schema option for federated formats
  bigquery/external.go
  bigquery/integration_test.go
  bigquery/load.go
  bigquery/load_test.go
Labels: api: bigquery, automerge, size: m

#6670 chore(storage): multi-transport BucketCreateDelete test
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: l

#6700 fix(spanner): destroy session when client is closing
  spanner/session.go
  spanner/transaction.go
Labels: api: spanner, size: s

#6713 doc(storage): fix formatting in storage doc.go
  storage/doc.go
Labels: api: storage, automerge, size: m

#6709 doc(all): fix formatting in error handling godoc
  doc.go
Labels: automerge, size: s

#6720 chore(storage): bump apiary dep
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  storage/go.mod
  storage/go.sum
Labels: api: storage, automerge, size: s

#6721 chore: restrict gapic proto find func to a dir
  internal/gapicgen/generator/gapics.go
Labels: size: s

#6722 feat(containeranalysis): generate container stubs for betas
  containeranalysis/apiv1beta1/containeranalysispb/containeranalysis.pb.go
  containeranalysis/apiv1beta1/grafeaspb/grafeas.pb.go
  internal/aliasfix/mappings.go
Labels: api: containeranalysis, size: xl

#6684 test(storage): add scenario 7 to retry conformance tests
  storage/retry_conformance_test.go
Labels: api: storage, automerge, size: s

#6710 feat(bigtable): update genproto
  bigtable/go.mod
  bigtable/go.sum
Labels: api: bigtable, automerge, size: xs

#6729 docs(bigquery/storage/managedwriter/adapt): typo in error string
  bigquery/storage/managedwriter/adapt/protoconversion.go
Labels: api: bigquery, automerge, size: xs

#6731 chore(internal/aliasgen): only remove files when cleaning dir
  internal/aliasgen/aliasgen.go
Labels: size: xs

#6732 fix(containeranalysis): move grafeas stubs to proper folder
  containeranalysis/apiv1beta1/grafeas/grafeaspb/grafeas.pb.go
  internal/gapicgen/generator/gapics.go
Labels: api: containeranalysis, size: s

#6712 chore(datastore): enable Go 1.13 error wrapping
  datastore/datastore.go
  datastore/save.go
Labels: api: datastore, size: xs

#6728 test(datastore): uncomments in, not-in, and != tests
  datastore/integration_test.go
Labels: api: datastore, automerge, size: s

#6738 feat(containeranalysis): rewrite beta methods in terms of new stub location
  containeranalysis/aliasshim/aliasshim.go
  containeranalysis/apiv1beta1/container_analysis_v1_beta1_client.go
  containeranalysis/apiv1beta1/container_analysis_v1_beta1_client_example_test.go
  containeranalysis/apiv1beta1/doc.go
  containeranalysis/apiv1beta1/grafeas_v1_beta1_client.go
  containeranalysis/apiv1beta1/grafeas_v1_beta1_client_example_test.go
  containeranalysis/go.mod
  containeranalysis/go.sum
  internal/aliasfix/mappings.go
Labels: automerge, size: m

#6727 chore(firestore): enable Go 1.13 error wrapping
  firestore/client.go
  firestore/collgroupref.go
  firestore/from_value.go
  firestore/to_value.go
Labels: api: firestore, size: xs

#6702 feat(bigquery): add remote function options to routine metadata
  bigquery/integration_test.go
  bigquery/routine.go
  bigquery/routine_integration_test.go
Labels: api: bigquery, automerge, size: m

#6749 chore(storage): prep RetentionPeriod for proto3 optional
  storage/bucket.go
Labels: api: storage, automerge, size: xs

#6752 fix(bigquery): bq connection auth scopes
  bigquery/integration_test.go
Labels: api: bigquery, automerge, size: xs

#6695 feat(bigquery/storage/managedwriter): support append retries
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/instrumentation.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/retry.go
  bigquery/storage/managedwriter/retry_test.go
Labels: api: bigquery, automerge, size: l

#6754 chore(storage): retry configs for gRPC media ops
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, automerge, size: s

#6717 test(storage): dual trans for HMAC / PostPolicyV4
  storage/integration_test.go
Labels: api: storage, automerge, size: l

#6761 feat(bigquery/storage/managedwriter): retry on FailedPrecondition
  bigquery/storage/managedwriter/retry.go
Labels: api: bigquery, size: xs

#6762 chore(storage): fix retry propagation for gRPC
  storage/grpc_client.go
Labels: api: storage, size: xs

#6765 feat(bigquery/storage/managedwriter): switch to opt-in retry
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/options_test.go
Labels: api: bigquery, automerge, size: m

#6768 test(storage): add tokensource to GRPC client creation
  storage/integration_test.go
Labels: api: storage, size: m

#6182 chore(pubsublite): mark pubsublite library as GA
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/gapics.go
Labels: api: pubsublite, stale: extraold, size: xs

#6778 Revert "test(storage): add tokensource to GRPC client creation"
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6779 docs(storage): update broken links for SignURL and PostPolicy
  storage/bucket.go
Labels: api: storage, size: xs

#6781 chore(storage): fix retention_period type change
  storage/bucket.go
Labels: api: storage, automerge, size: xs

#6780 test(bigquery): typo on bq connection auth scopes
  bigquery/integration_test.go
Labels: api: bigquery, automerge, size: xs

#6775 fix(bigquery/storage/managedwriter): address possible resource leak
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, automerge, size: m

#6747 chore(container): enable Go 1.13 error wrapping
  container/container.go
Labels: api: container, size: xs

#6743 chore(storage): enable Go 1.13 error wrapping
  storage/bucket.go
  storage/hmac.go
  storage/http_client.go
  storage/post_policy_v4.go
  storage/storage.go
Labels: api: storage, size: s

#6791 chore(profiler): enable Go 1.13 error wrapping
  profiler/heap.go
  profiler/profiler.go
  profiler/proftest/proftest.go
Labels: api: cloudprofiler, size: s

#6784 chore(all): auto-regenerate gapics
  dialogflow/apiv2beta1/conversations_client.go
  dialogflow/apiv2beta1/conversations_client_example_test.go
  dialogflow/apiv2beta1/gapic_metadata.json
  dialogflow/cx/apiv3beta1/cxpb/security_settings.pb.go
  dialogflow/go.mod
  dialogflow/go.sum
  dlp/go.mod
  dlp/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/asset/apiv1p2beta1/snippet_metadata.google.cloud.asset.v1p2beta1.json
  internal/generated/snippets/asset/apiv1p5beta1/snippet_metadata.google.cloud.asset.v1p5beta1.json
  internal/generated/snippets/dataproc/apiv1/snippet_metadata.google.cloud.dataproc.v1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/apiv2beta1/ConversationsClient/SuggestConversationSummary/main.go
  internal/generated/snippets/dialogflow/apiv2beta1/snippet_metadata.google.cloud.dialogflow.v2beta1.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  retail/go.mod
  retail/go.sum
Labels: automerge, size: l

#6788 chore(rpcreplay): enable Go 1.13 error wrapping
  rpcreplay/rpcreplay.go
Labels: size: xs

#6789 chore(storage): fix sending extraneous crc3c
  storage/grpc_client.go
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge, size: l
