Repository googleapis/google-cloud-go, pull requests merged in 2022-05, with the labels that each got.

#5956 docs(logging): Add link to interactive logging tutorial
  logging/README.md
Labels: size: xs

#5907 feat(bigquery): add interval support
  bigquery/intervalvalue.go
  bigquery/intervalvalue_test.go
  bigquery/params.go
  bigquery/params_test.go
  bigquery/schema.go
  bigquery/schema_test.go
  bigquery/value.go
Labels: api: bigquery, size: l

#5739 feat(bigquery): expose connections and schema autodetect modifier
  bigquery/external.go
  bigquery/external_test.go
  bigquery/integration_test.go
  bigquery/table.go
Labels: api: bigquery, stale: old, size: m

#5963 chore(all): auto-regenerate gapics
  dataplex/go.mod
  dataplex/go.sum
  go.mod
  go.sum
  internal/generated/snippets/channel/apiv1/snippet_metadata.google.cloud.channel.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  networkmanagement/go.mod
  networkmanagement/go.sum
  recaptchaenterprise/apiv1beta1/gapic_metadata.json
  recaptchaenterprise/apiv1beta1/mock_test.go
  recaptchaenterprise/apiv1beta1/recaptcha_enterprise_service_v1_beta1_client.go
  recaptchaenterprise/apiv1beta1/recaptcha_enterprise_service_v1_beta1_client_example_test.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
Labels: size: xl

#5992 test(compute): increase time for flaky test
  compute/apiv1/smoke_test.go
Labels: api: compute, size: xs

#5994 fix(profiler): relax service name regexp to allow service name to start with number
  profiler/profiler.go
  profiler/profiler_test.go
Labels: api: cloudprofiler, size: s

#5982 chore(bigtable/firestore/datastore): consolidating DB reviewers
  .github/CODEOWNERS
Labels: api: bigtable, size: s

#5985 feat(assuredworkloads): start generating apiv1
  assuredworkloads/apiv1/assured_workloads_client.go
  assuredworkloads/apiv1/assured_workloads_client_example_test.go
  assuredworkloads/apiv1/doc.go
  assuredworkloads/apiv1/gapic_metadata.json
  assuredworkloads/apiv1/version.go
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: assuredworkloads, size: l

#5999 feat(binaryauthorization): start generating apiv1
  binaryauthorization/apiv1/binauthz_management_client.go
  binaryauthorization/apiv1/binauthz_management_client_example_test.go
  binaryauthorization/apiv1/doc.go
  binaryauthorization/apiv1/gapic_metadata.json
  binaryauthorization/apiv1/system_policy_client.go
  binaryauthorization/apiv1/system_policy_client_example_test.go
  binaryauthorization/apiv1/validation_helper_client.go
  binaryauthorization/apiv1/validation_helper_client_example_test.go
  binaryauthorization/apiv1/version.go
  binaryauthorization/go.mod
  binaryauthorization/go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: binaryauthorization, size: xl

#5996 fix: downgrade dep for compatability
  .github/renovate.json
  go.mod
  go.sum
Labels: size: xs

#6003 feat(datastream): start generating apiv1
  datastream/apiv1/datastream_client.go
  datastream/apiv1/datastream_client_example_test.go
  datastream/apiv1/doc.go
  datastream/apiv1/gapic_metadata.json
  datastream/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xl

#6004 feat(notebooks): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  notebooks/apiv1/doc.go
  notebooks/apiv1/gapic_metadata.json
  notebooks/apiv1/managed_notebook_client.go
  notebooks/apiv1/managed_notebook_client_example_test.go
  notebooks/apiv1/notebook_client.go
  notebooks/apiv1/notebook_client_example_test.go
  notebooks/apiv1/version.go
  notebooks/go.mod
  notebooks/go.sum
Labels: api: notebooks, size: xl

#6008 feat(workflows): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  workflows/apiv1/doc.go
  workflows/apiv1/gapic_metadata.json
  workflows/apiv1/version.go
  workflows/apiv1/workflows_client.go
  workflows/apiv1/workflows_client_example_test.go
  workflows/go.mod
  workflows/go.sum
Labels: api: workflows, size: xl

#6011 docs(compute): update metadata docs link
  compute/metadata/metadata.go
Labels: api: compute, size: xs

#5975 feat(datastore): adds in, not-in, and != query operations
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, size: m

#6009 fix(pubsub): disable deprecated BufferedByteLimit when using MaxOutstandingBytes
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub, size: s

#5968 feat(spanner/spansql): support JSON literals
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: s

#5971 fix(spanner/spansql): copy string tokens to prevent overwriting ptr
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
Labels: api: spanner, size: s

#6016 Revert "feat(datastore): adds in, not-in, and != query operations"
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, size: m

#5974 chore(storage): add UpdateBucketACL implementation
  storage/bucket.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, automerge, size: m

#6020 chore(storage): implement DeleteBucketACL and DeleteDefaultObjectACL
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, automerge, size: m

#6028 test(pubsublite): verify that large message batches can be received by subscribers
  pubsublite/internal/test/mock.go
  pubsublite/internal/wire/subscriber_test.go
Labels: api: pubsublite, size: s

#6039 chore(internal/kokoro): disable apidiff
  internal/kokoro/check_incompat_changes.sh
Labels: size: xs

#6026 chore(storage): add LockBucketRetentionPolicy implementation
  storage/bucket.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: m

#6036 feat(gkemulticloud): start generating apiv1
  .release-please-manifest-submodules.json
  gkemulticloud/CHANGES.md
  gkemulticloud/README.md
  gkemulticloud/apiv1/aws_clusters_client.go
  gkemulticloud/apiv1/aws_clusters_client_example_test.go
  gkemulticloud/apiv1/azure_clusters_client.go
  gkemulticloud/apiv1/azure_clusters_client_example_test.go
  gkemulticloud/apiv1/doc.go
  gkemulticloud/apiv1/gapic_metadata.json
  gkemulticloud/apiv1/version.go
  gkemulticloud/go.mod
  gkemulticloud/go.sum
  gkemulticloud/internal/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  release-please-config-yoshi-submodules.json
Labels: size: xl

#6034 chore(storage): switch user_project param to header
  storage/grpc_client.go
Labels: api: storage, size: s

#6040 feat(pubsub): prepare iterator for exactly once
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: m

#6046 chore: try new renovate config option
  .github/renovate.json
Labels: size: xs

#6050 chore: try to get renovate working
  .github/renovate.json
Labels: size: xs

#6000 chore(all): auto-regenerate gapics
  binaryauthorization/go.mod
  binaryauthorization/go.sum
  eventarc/go.mod
  eventarc/go.sum
  go.mod
  go.sum
  internal/generated/snippets/assuredworkloads/apiv1/Client/CreateWorkload/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/DeleteWorkload/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/GetWorkload/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/ListWorkloads/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/UpdateWorkload/main.go
  internal/generated/snippets/assuredworkloads/apiv1/snippet_metadata.google.cloud.assuredworkloads.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  recaptchaenterprise/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
Labels: size: l

#6059 fix(storage): bump genproto, remove deadcode
  storage/go.mod
  storage/go.sum
  storage/grpc_client.go
Labels: api: storage, size: s

#6066 chore(storage): gofmt
  storage/writer.go
Labels: api: storage, size: xs

#6068 chore(analytics): remove client we no longer generate
  analytics/data/apiv1alpha/alpha_analytics_data_client.go
  analytics/data/apiv1alpha/alpha_analytics_data_client_example_test.go
  analytics/data/apiv1alpha/doc.go
  analytics/data/apiv1alpha/gapic_metadata.json
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/CreateWebDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/DeleteAndroidAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/DeleteIosAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/DeleteWebDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetAndroidAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetIosAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetWebDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/ListAndroidAppDataStreams/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/ListIosAppDataStreams/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/ListWebDataStreams/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateAndroidAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateIosAppDataStream/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateWebDataStream/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/BatchRunPivotReports/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/BatchRunReports/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/GetMetadata/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/RunPivotReport/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/RunRealtimeReport/main.go
  internal/generated/snippets/analytics/data/apiv1alpha/AlphaAnalyticsDataClient/RunReport/main.go
Labels: size: xl

#6069 chore(all): bump storage to latest release
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/godocfx/testdata/golden/index.yml
  logging/go.mod
  logging/go.sum
  profiler/go.mod
  profiler/go.sum
Labels: size: m

#6071 chore: remove old snipppets
  internal/generated/snippets/recaptchaenterprise/apiv1beta1/RecaptchaEnterpriseServiceV1Beta1Client/CreateKey/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1beta1/RecaptchaEnterpriseServiceV1Beta1Client/DeleteKey/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1beta1/RecaptchaEnterpriseServiceV1Beta1Client/GetKey/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1beta1/RecaptchaEnterpriseServiceV1Beta1Client/ListKeys/main.go
  internal/generated/snippets/recaptchaenterprise/apiv1beta1/RecaptchaEnterpriseServiceV1Beta1Client/UpdateKey/main.go
Labels: size: m

#6021 feat(bigquery/storage/managedwriter/adapt): normalize proto3 presence
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/testdata/messages_proto3.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto3.proto
Labels: api: bigquery, size: m

#6023 test(bigquery/storage/managedwriter): data validation testing
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testdata/validation_proto2.pb.go
  bigquery/storage/managedwriter/testdata/validation_proto2.proto
  bigquery/storage/managedwriter/testdata/validation_proto3.pb.go
  bigquery/storage/managedwriter/testdata/validation_proto3.proto
  bigquery/storage/managedwriter/testutils_test.go
  bigquery/storage/managedwriter/validation_test.go
Labels: api: bigquery, size: xl

#6074 doc(storage): clarify metadata restrictions
  storage/storage.go
Labels: api: storage, size: xs

#6042 chore(internal/apidiff): reenable & refactor for submodule world
  internal/apidiff/apidiff.go
  internal/kokoro/check_incompat_changes.sh
Labels: size: m

#6058 chore(all): auto-regenerate gapics
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/apiv1beta1/model_client.go
  aiplatform/apiv1beta1/model_client_example_test.go
  aiplatform/go.mod
  aiplatform/go.sum
  eventarc/apiv1/eventarc_client.go
  eventarc/apiv1/eventarc_client_example_test.go
  eventarc/apiv1/gapic_metadata.json
  eventarc/go.mod
  eventarc/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1beta1/ModelClient/UpdateExplanationDataset/main.go
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/eventarc/apiv1/Client/GetProvider/main.go
  internal/generated/snippets/eventarc/apiv1/Client/ListProviders/main.go
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: l

#6072 feat(vision/v2): Release breaking changes as v2 module
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  release-please-config-yoshi-submodules.json
  vision/v2/CHANGES.md
  vision/v2/README.md
  vision/v2/apiv1/doc.go
  vision/v2/apiv1/gapic_metadata.json
  vision/v2/apiv1/image_annotator_client.go
  vision/v2/apiv1/image_annotator_client_example_test.go
  vision/v2/apiv1/product_search_client.go
  vision/v2/apiv1/product_search_client_example_test.go
  vision/v2/apiv1/version.go
  vision/v2/go.mod
  vision/v2/go.sum
  vision/v2/internal/version.go
Labels: api: vision, size: xl

#6081 chore: fix version pathing
  .release-please-manifest-submodules.json
Labels: size: xs

#6073 feat(retail): start generating apiv2alpha and apiv2beta
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  retail/apiv2alpha/catalog_client.go
  retail/apiv2alpha/catalog_client_example_test.go
  retail/apiv2alpha/completion_client.go
  retail/apiv2alpha/completion_client_example_test.go
  retail/apiv2alpha/control_client.go
  retail/apiv2alpha/control_client_example_test.go
  retail/apiv2alpha/doc.go
  retail/apiv2alpha/gapic_metadata.json
  retail/apiv2alpha/prediction_client.go
  retail/apiv2alpha/prediction_client_example_test.go
  retail/apiv2alpha/product_client.go
  retail/apiv2alpha/product_client_example_test.go
  retail/apiv2alpha/search_client.go
  retail/apiv2alpha/search_client_example_test.go
  retail/apiv2alpha/serving_config_client.go
  retail/apiv2alpha/serving_config_client_example_test.go
  retail/apiv2alpha/user_event_client.go
  retail/apiv2alpha/user_event_client_example_test.go
  retail/apiv2alpha/version.go
  retail/apiv2beta/catalog_client.go
  retail/apiv2beta/catalog_client_example_test.go
  retail/apiv2beta/completion_client.go
  retail/apiv2beta/completion_client_example_test.go
  retail/apiv2beta/control_client.go
  retail/apiv2beta/control_client_example_test.go
  retail/apiv2beta/doc.go
  retail/apiv2beta/gapic_metadata.json
  retail/apiv2beta/prediction_client.go
  retail/apiv2beta/prediction_client_example_test.go
  retail/apiv2beta/product_client.go
  retail/apiv2beta/product_client_example_test.go
  retail/apiv2beta/search_client.go
  retail/apiv2beta/search_client_example_test.go
  retail/apiv2beta/serving_config_client.go
  retail/apiv2beta/serving_config_client_example_test.go
  retail/apiv2beta/user_event_client.go
  retail/apiv2beta/user_event_client_example_test.go
  retail/apiv2beta/version.go
  retail/go.mod
  retail/go.sum
Labels: api: retail, size: xl

#6080 chore(all): auto-regenerate gapics
  accessapproval/apiv1/access_approval_client.go
  accessapproval/apiv1/access_approval_client_example_test.go
  accessapproval/apiv1/gapic_metadata.json
  accessapproval/go.mod
  accessapproval/go.sum
  gkemulticloud/go.mod
  gkemulticloud/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/go.sum
  internal/generated/snippets/accessapproval/apiv1/Client/GetAccessApprovalServiceAccount/main.go
  internal/generated/snippets/accessapproval/apiv1/Client/InvalidateApprovalRequest/main.go
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  recaptchaenterprise/v2/apiv1/version.go
  recaptchaenterprise/v2/go.mod
  recaptchaenterprise/v2/go.sum
  retail/go.sum
  video/go.mod
  video/go.sum
Labels: size: l

#6077 fix(spanner/spansql): fix invalid timestamp literal formats
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: api: spanner, size: xs

#5703 feat(civil): before and after methods for Time
  civil/civil.go
  civil/civil_test.go
Labels: stale: extraold, size: m

#6047 chore(storage): implement GetObject and DeleteObject
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Labels: api: storage, size: m

#6089 chore(civil): refactor methods to use consistent receiver names
  civil/civil.go
  civil/civil_test.go
Labels: size: m

#6090 chore(all): auto-regenerate gapics
  accessapproval/go.mod
  accessapproval/go.sum
  aiplatform/apiv1beta1/model_client.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  iam/go.mod
  iam/go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/accessapproval/apiv1/snippet_metadata.google.cloud.accessapproval.v1.json
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/appengine/apiv1/snippet_metadata.google.appengine.v1.json
  internal/generated/snippets/datastream/apiv1/snippet_metadata.google.cloud.datastream.v1.json
  internal/generated/snippets/datastream/apiv1alpha1/snippet_metadata.google.cloud.datastream.v1alpha1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/eventarc/publishing/apiv1/snippet_metadata.google.cloud.eventarc.publishing.v1.json
  internal/generated/snippets/gkemulticloud/apiv1/snippet_metadata.google.cloud.gkemulticloud.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  talent/go.mod
  talent/go.sum
  vision/v2/apiv1/version.go
  vision/v2/go.mod
  vision/v2/go.sum
Labels: size: m

#6094 chore(bigquery): switch existing formatters to enable error wrapping
  bigquery/bigquery.go
  bigquery/intervalvalue.go
  bigquery/job.go
  bigquery/routine.go
  bigquery/schema.go
  bigquery/standardsql.go
  bigquery/storage/managedwriter/adapt/error.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/client.go
Labels: api: bigquery, size: s

#6079 feat(spanner): add GFE latency trace for commit requests
  spanner/transaction.go
Labels: api: spanner, size: xs

#6096 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  gkehub/apiv1beta1/gapic_metadata.json
  gkehub/apiv1beta1/gke_hub_membership_client.go
  gkehub/apiv1beta1/gke_hub_membership_client_example_test.go
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/CancelOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/DeleteOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetLocation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/GetOperation/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListLocations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/ListOperations/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/SetIamPolicy/main.go
  internal/generated/snippets/gkehub/apiv1beta1/GkeHubMembershipClient/TestIamPermissions/main.go
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: xl

#6100 chore(all): auto-regenerate gapics
  firestore/apiv1/admin/firestore_admin_client.go
  firestore/apiv1/admin/firestore_admin_client_example_test.go
  firestore/apiv1/admin/gapic_metadata.json
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/CancelOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/DeleteOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/GetOperation/main.go
  internal/generated/snippets/firestore/apiv1/admin/FirestoreAdminClient/ListOperations/main.go
  internal/generated/snippets/firestore/apiv1/admin/snippet_metadata.google.firestore.admin.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: l

#6041 feat(pubsub): add min extension period
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pubsub.go
  pubsub/subscription.go
Labels: api: pubsub, size: m

#6108 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
Labels: size: l

#6053 chore(storage): implement OpenReader, refactor gRPC read
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
  storage/storage.go
Labels: api: storage, size: l
