Repository googleapis/google-cloud-go, pull requests merged in 2022-12, with the labels that each got.

#7091 feat(spanner): support for enum columns as keys, index and integration tests
  spanner/integration_test.go
  spanner/key.go
  spanner/key_test.go
Labels: api: spanner, size: m

#7109 feat(pubsublite): set finalizer for PublisherClient
  pubsublite/doc.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/publisher.go
Labels: automerge, api: pubsublite, size: s

#7117 chore: downgrade some dependencies
  .github/renovate.json
  bigtable/go.mod
  bigtable/go.sum
  logging/go.mod
  logging/go.sum
  profiler/go.mod
  profiler/go.sum
  pubsub/go.mod
  pubsub/go.sum
  storage/go.mod
  storage/go.sum
Labels: size: m

#7061 feat(datastore): Return Get, GetMulti, Put and PutMulti errors with enhanced details
  datastore/datastore.go
  datastore/datastore_test.go
Labels: api: datastore, automerge, size: m

#7137 feat(iam): rewrite iam sigs and update proto import
  iam/apiv1/doc.go
  iam/apiv1/iam_policy_client.go
  iam/apiv1/iam_policy_client_example_test.go
  iam/apiv1/iampb/iam_policy.pb.go
  iam/apiv1/iampb/options.pb.go
  iam/apiv1/iampb/policy.pb.go
  iam/go.mod
  iam/go.sum
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
Labels: api: iam, automerge, size: s

#7114 chore(all): auto-regenerate gapics
  dialogflow/go.mod
  dialogflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  metastore/apiv1/metastorepb/metastore.pb.go
  metastore/go.mod
  metastore/go.sum
  monitoring/dashboard/apiv1/dashboardpb/scorecard.pb.go
  monitoring/go.mod
  monitoring/go.sum
  orchestration/airflow/service/apiv1/environments_client.go
  orchestration/airflow/service/apiv1/environments_client_example_test.go
  orchestration/airflow/service/apiv1/gapic_metadata.json
  orchestration/airflow/service/apiv1/image_versions_client.go
  orchestration/airflow/service/apiv1/image_versions_client_example_test.go
  orchestration/airflow/service/apiv1/servicepb/environments.pb.go
  orchestration/airflow/service/apiv1/servicepb/image_versions.pb.go
  orchestration/airflow/service/apiv1/servicepb/operations.pb.go
  orchestration/go.mod
  orchestration/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/stubs/storage.pb.go
Labels: automerge, size: xl

#7141 fix(bigtable/bttest): correct CellsSeenCount and CellsReturnedCount calculations
  bigtable/bttest/inmem.go
Labels: api: bigtable, automerge, size: s

#7097 chore(iam): bump iam/apiv2 ga date check 6 months
  internal/gapicgen/generator/config.go
Labels: api: iam, size: xs

#5856 chore(storage): add benchmarking script
  storage/internal/benchmarks/README.md
  storage/internal/benchmarks/client_pool.go
  storage/internal/benchmarks/download_benchmark.go
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/upload_benchmark.go
  storage/internal/benchmarks/utils.go
  storage/internal/benchmarks/w1r3.go
Labels: api: storage, stale: extraold, size: xl

#6999 feat(all): enable REGAPIC and REST numeric enums
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: size: m

#7105 feat(pubsublite): unload idle partition publishers
  pubsublite/internal/test/verifier.go
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/service_test.go
Labels: api: pubsublite, size: l

#6885 feat(pubsublite): create/update export subscriptions
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/config.go
  pubsublite/config_test.go
  pubsublite/example_test.go
  pubsublite/integration_test.go
Labels: automerge, api: pubsublite, stale: old, size: l

#7157 fix(internal/gapicgen): disable rest for non-rest APIs
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/generator/config.go
Labels: automerge, size: xs

#7143 test(bigtable): expand integration tests for read stats
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: m

#7104 chore(bigquery/storage/managedwriter): internal refactor (flow controller, ids)
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/flow_controller.go
  bigquery/storage/managedwriter/flow_controller_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, automerge, size: m

#5701 feat(spanner): add database roles
  spanner/client.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/read_test.go
  spanner/sessionclient.go
  spanner/sessionclient_test.go
Labels: api: spanner, stale: extraold, size: l

#7163 fix(spanner): fallback to check grpc error message when ResourceType nil
  spanner/session.go
Labels: api: spanner, kokoro:force-run, size: xs

#7162 fix: update test to be compatible with new containers
  profiler/integration_test.go
  profiler/kokoro/integration_test.sh
Labels: size: s

#6005 feat(bigtable): install grpc rls and xds by default
  bigtable/bigtable.go
  bigtable/bigtable_enablexds.go
Labels: api: bigtable, stale: extraold, size: s

#7164 Fix git issue in buildscript
  profiler/kokoro/integration_test.sh
Labels: size: xs

#7169 fix(compute/metadata): switch DNS lookup to an absolute lookup
  compute/metadata/metadata.go
Labels: api: compute, size: xs

#7170 chore: run go mod tidy in gapicgen
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: size: s

#7142 chore(all): auto-regenerate gapics
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  metastore/apiv1beta/metastorepb/metastore.pb.go
  speech/apiv1p1beta1/adaptation_client.go
  speech/apiv1p1beta1/adaptation_client_example_test.go
  speech/apiv1p1beta1/gapic_metadata.json
  speech/apiv1p1beta1/speech_client.go
  speech/apiv1p1beta1/speech_client_example_test.go
  speech/apiv1p1beta1/speechpb/cloud_speech.pb.go
Labels: automerge, size: xl

#7167 refactor(bigquery/storage/managedwriter): introduce connection concepts
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/connection_test.go
Labels: api: bigquery, automerge, size: l

#7176 feat(spanner): reset array of proto, enum when null from database
  spanner/testdata/protos/singer.pb.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: m

#7159 fix(logging): fix kuberentes environment test
  internal/kokoro/environment.sh
Labels: api: logging, size: xs

#7179 chore(storage): enable more grpc integration tests
  storage/integration_test.go
Labels: api: storage, automerge, size: xs

#7181 chore(internal/godocfx): go mod tidy
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/godocfx/godocfx_test.go
  internal/godocfx/testdata/golden/index.yml
  internal/godocfx/testdata/golden/pkg-readme.md
Labels: automerge, size: s

#7183 test(bigtable): improve read stats integration tests
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: m

#7188 chore: fix updated yaml file name
  internal/gapicgen/generator/config.go
Labels: size: xs

#7189 test(storage): skip a consistently failing test
  storage/integration_test.go
Labels: api: storage, automerge, size: xs

#7193 chore(storage): fix checksums for gRPC uploads
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: s

#7195 chore(storage): fix checksum for grpc simple write
  storage/grpc_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: m

#7196 refactor: augment private getWriteStream with view support
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/integration_test.go
Labels: size: m
