Repository googleapis/google-cloud-go, pull requests merged in 2022-10, with the labels that each got.

#6787 chore(functions): enable Go 1.13 error wrapping
  functions/metadata/metadata.go
Labels: api: cloudfunctions, size: xs

#6792 chore(translate): enable Go 1.13 error wrapping
  translate/translate.go
Labels: api: translate, size: xs

#6793 chore(pubsub): enable Go 1.13 error wrapping (+ pubsublite)
  pubsub/pubsub.go
  pubsub/subscription.go
  pubsublite/config.go
  pubsublite/internal/wire/assigner.go
  pubsublite/internal/wire/publish_batcher.go
Labels: api: pubsub, size: s

#6802 fix(internal/godocfx): Use default html rendering
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/godocfx/goldmark-codeblock/codeblock.go
  internal/godocfx/parse.go
  internal/godocfx/pkgload/load.go
  internal/godocfx/testdata/golden/index.yml
  third_party/go/doc/Makefile
  third_party/go/doc/comment.go
  third_party/go/doc/comment_test.go
  third_party/go/doc/doc.go
  third_party/go/doc/example.go
  third_party/go/doc/example_test.go
  third_party/go/doc/exports.go
  third_party/go/doc/filter.go
  third_party/go/doc/go115.go
  third_party/go/doc/headscan.go
  third_party/go/doc/reader.go
  third_party/go/doc/synopsis.go
  third_party/go/doc/synopsis_test.go
  third_party/pkgsite/print_type.go
Labels: automerge, size: xl

#6568 test(bigtable): adds test proxy for Bigtable test suite
  bigtable/go.mod
  bigtable/go.sum
  bigtable/internal/testproxy/README.md
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, stale: old, size: l

#6247 feat(bigquery/storage/managedwriter): enable field name indirection
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testdata/validation_proto2.pb.go
  bigquery/storage/managedwriter/testdata/validation_proto2.proto
  bigquery/storage/managedwriter/testutils_test.go
  bigquery/storage/managedwriter/validation_test.go
Labels: api: bigquery, automerge, stale: extraold, size: l

#6797 feat(bigtable): adds readrow grpc to test proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6795 chore(spanner): enable Go 1.13 error wrapping
  spanner/spannertest/db.go
  spanner/spannertest/db_eval.go
  spanner/spannertest/db_query.go
  spanner/value.go
Labels: api: spanner, cla: yes, kokoro:force-run, size: s

#6805 feat(bigtable): adds readrows grpc to test proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, cla: yes, automerge, size: m

#6811 feat(bigtable): adds mutaterow to test proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6812 feat(bigtable): adds bulkmutaterow to test proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6823 feat(bigtable): adds checkandmutate to proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6692 feat(firestore): adds COUNT aggregation query
  firestore/integration_test.go
  firestore/mock_test.go
  firestore/query.go
  firestore/query_test.go
Labels: api: firestore, automerge, size: m

#6825 feat(bigtable): adds readmodifywriterow to proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6824 feat(bigtable): adds samplerowkeys to proxy
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, automerge, size: m

#6746 feat(bigtable): add update table metadata support
  bigtable/admin.go
  bigtable/admin_test.go
Labels: api: bigtable, automerge, size: m

#6829 chore(certificatemanager): auto-regenerate gapics
  certificatemanager/apiv1/certificate_manager_client.go
  certificatemanager/apiv1/certificate_manager_client_example_test.go
  certificatemanager/apiv1/gapic_metadata.json
  certificatemanager/go.mod
  certificatemanager/go.sum
  internal/generated/snippets/certificatemanager/apiv1/Client/CreateCertificateIssuanceConfig/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteCertificateIssuanceConfig/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetCertificateIssuanceConfig/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListCertificateIssuanceConfigs/main.go
  internal/generated/snippets/certificatemanager/apiv1/snippet_metadata.google.cloud.certificatemanager.v1.json
Labels: size: xl

#6834 chore: release certificatemanager 1.1.0
  .release-please-manifest-submodules.json
  certificatemanager/CHANGES.md
  certificatemanager/internal/version.go
Labels: size: s

#6808 chore(storage): implement gRPC ListObjects read_mask support
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge, size: l

#6835 feat(pubsub): add support for snapshot labels
  pubsub/integration_test.go
  pubsub/snapshot.go
Labels: api: pubsub, size: s

#6807 chore(storage): ignore 0 time when converting to bucket
  storage/bucket.go
  storage/integration_test.go
Labels: api: storage, size: l

#6820 chore(storage): enable more tests for grpc
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6827 chore(storage): enable several tests for grpc + related fixes
  storage/bucket.go
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, size: l

#6817 fix(storage): fix read-write race in Writer.Write
  storage/writer.go
Labels: api: storage, size: xs

#6777 chore(.github): assign pubsublite issues to tmdiep
  .github/blunderbuss.yml
Labels: size: xs

#6863 fix(storage): fix request token passing for Copier.Run
  storage/copy.go
Labels: api: storage, size: xs

#6839 chore(all): auto-regenerate gapics
  asset/apiv1/asset_client.go
  asset/go.mod
  asset/go.sum
  assuredworkloads/apiv1/assured_workloads_client.go
  assuredworkloads/apiv1/assured_workloads_client_example_test.go
  assuredworkloads/apiv1/gapic_metadata.json
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  bigquery/go.mod
  bigquery/go.sum
  certificatemanager/go.mod
  certificatemanager/go.sum
  container/go.mod
  container/go.sum
  dataplex/go.mod
  dataplex/go.sum
  dialogflow/go.mod
  dialogflow/go.sum
  edgecontainer/apiv1/edgecontainerpb/resources.pb.go
  edgecontainer/go.mod
  edgecontainer/go.sum
  gsuiteaddons/go.mod
  gsuiteaddons/go.sum
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/assuredworkloads/apiv1/Client/AcknowledgeViolation/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/GetViolation/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/ListViolations/main.go
  internal/generated/snippets/assuredworkloads/apiv1/Client/RestrictAllowedResources/main.go
  internal/generated/snippets/assuredworkloads/apiv1/snippet_metadata.google.cloud.assuredworkloads.v1.json
  internal/generated/snippets/certificatemanager/apiv1/snippet_metadata.google.cloud.certificatemanager.v1.json
  internal/generated/snippets/firestore/apiv1/admin/snippet_metadata.google.firestore.admin.v1.json
  internal/generated/snippets/firestore/apiv1/snippet_metadata.google.firestore.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  recaptchaenterprise/go.mod
  recaptchaenterprise/go.sum
  recaptchaenterprise/v2/apiv1/gapic_metadata.json
  recaptchaenterprise/v2/apiv1/recaptcha_enterprise_client.go
  recaptchaenterprise/v2/apiv1/recaptcha_enterprise_client_example_test.go
  recaptchaenterprise/v2/go.mod
  recaptchaenterprise/v2/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: size: xl

#6871 chore(all): auto-regenerate gapics
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  batch/go.mod
  batch/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  run/apiv2/gapic_metadata.json
  run/apiv2/revisions_client.go
  run/apiv2/revisions_client_example_test.go
  run/apiv2/services_client.go
  run/apiv2/services_client_example_test.go
  run/go.mod
  run/go.sum
  security/go.mod
  security/go.sum
  webrisk/apiv1/web_risk_client.go
  webrisk/go.mod
  webrisk/go.sum
Labels: size: xl

#6718 feat(firestore): adds snapshot reads impl.
  firestore/client.go
  firestore/client_test.go
  firestore/collref.go
  firestore/collref_test.go
  firestore/docref.go
  firestore/docref_test.go
  firestore/from_value_test.go
  firestore/integration_test.go
  firestore/list_documents.go
  firestore/mock_test.go
  firestore/query.go
  firestore/transaction.go
  firestore/transaction_test.go
  firestore/util_test.go
Labels: api: firestore, automerge, size: l

#6878 docs(pubsub): fix comments on message for exactly once delivery
  pubsub/message.go
Labels: api: pubsub, automerge, size: xs

#6853 chore(storage): delete and migrate grpc specific tests
  storage/integration_test.go
Labels: api: storage, automerge, size: l

#6864 docs(pubsublite): update publisher and subscriber client usage
  pubsublite/admin.go
  pubsublite/doc.go
  pubsublite/example_test.go
  pubsublite/pscompat/publisher.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/subscriber.go
Labels: automerge, api: pubsublite, size: s

#6867 fix(pubsublite): close api clients when publisher clients have terminated
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/service.go
  pubsublite/internal/wire/service_test.go
  pubsublite/internal/wire/service_util_test.go
  pubsublite/internal/wire/subscriber.go
Labels: automerge, api: pubsublite, size: m

#6880 chore(storage): add content type sniffing to gRPC writer
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  storage/go.mod
  storage/go.sum
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6891 feat(speech): start generating apiv2
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  speech/apiv2/doc.go
  speech/apiv2/gapic_metadata.json
  speech/apiv2/speech_client.go
  speech/apiv2/speech_client_example_test.go
  speech/apiv2/speechpb/cloud_speech.pb.go
  speech/apiv2/version.go
Labels: api: speech, size: xl

#6893 feat(dataform): start generating apiv1beta1
  dataform/apiv1beta1/dataform_client.go
  dataform/apiv1beta1/dataform_client_example_test.go
  dataform/apiv1beta1/dataformpb/dataform.pb.go
  dataform/apiv1beta1/doc.go
  dataform/apiv1beta1/gapic_metadata.json
  dataform/apiv1beta1/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
Labels: size: xl

#6872 docs(storage): replace deprecated usage of ioutil in sample code
  storage/README.md
Labels: api: storage, samples, size: xs

#6895 chore(firestore): disabled flaky read time test
  firestore/integration_test.go
Labels: api: firestore, size: xs

#6897 chore(datastore): moves test collateral into new files
  datastore/datastore_test.go
  datastore/load_test.go
  datastore/prop_test.go
  datastore/util_test.go
Labels: size: xl

#6901 chore(ci): move apidiff to GitHub Action
  .github/workflows/apidiff.yml
  internal/apidiff/apidiff.go
  internal/apidiff/apidiff_test.go
  internal/kokoro/check_incompat_changes.sh
  internal/kokoro/presubmit.sh
Labels: automerge, size: l

#6861 chore(bigtable): adds CloseClient() to test proxy
  bigtable/go.sum
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable, automerge, size: m

#6909 docs(pubsub): update subscription retry policy defaults
  pubsub/subscription.go
Labels: api: pubsub, automerge, size: xs

#6842 chore(storage): enable more grpc integration tests
  storage/integration_test.go
Labels: api: storage, size: l

#6908 test(compute): remove TestCapitalLetter
  compute/apiv1/smoke_test.go
Labels: api: compute, size: m

#6888 chore: no longer generate old secrets client
  internal/gapicgen/generator/genproto.go
Labels: size: xs

#6890 fix(bigquery): avoid stack overflow on query param with recursive types
  bigquery/params.go
  bigquery/params_test.go
Labels: api: bigquery, automerge, size: s

#6913 chore(bigtable): update bttest for table deletion
  bigtable/bttest/inmem.go
Labels: api: bigtable, automerge, size: m

#6911 chore(ci): move vet to GitHub Action
  .github/workflows/vet.sh
  .github/workflows/vet.yml
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Labels: automerge, size: s

#6520 fix(bttest): Reject empty regex row filters
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: automerge, stale: extraold, size: s

#6912 chore(ci): fix apidiff handling of empty set
  .github/workflows/apidiff.yml
Labels: automerge, size: s

#6924 chore(ci): only apidiff directories with go file changes
  .github/workflows/apidiff.yml
Labels: automerge

#6813 feat(bigtable): add create table metadata support
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: m

#6495 fix(bttest): CellsPer(Row|Column)LimitFilter should error with arguments <= 0.
  bigtable/bttest/inmem.go
Labels: api: bigtable, automerge, stale: extraold, size: xs

#6917 fix(bigtable): fix flaky AdminBackUp test
  bigtable/integration_test.go
Labels: api: bigtable, size: xs

#6933 chore(bigtable): fix AdminBackup ... again
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: xs

#6928 docs(datastore): adds emulator instructions
  datastore/doc.go
Labels: api: datastore, automerge, size: s

#6881 chore(datastore): replaces fakeClient with mock
  datastore/datastore_test.go
  datastore/load_test.go
  datastore/mock_test.go
Labels: api: datastore, automerge, size: l

#6714 feat(datastore): adds COUNT aggregation query
  datastore/go.mod
  datastore/go.sum
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, automerge, stale: old, size: l

#6926 docs(firestore): adds emulator snippet
  firestore/doc.go
Labels: api: firestore, automerge, size: s

#6755 feat(datastore): adds snapshot reads
  datastore/datastore.go
  datastore/datastore_test.go
  datastore/integration_test.go
  datastore/transaction.go
  datastore/transaction_test.go
Labels: api: datastore, automerge, size: l

#6942 chore: fixup compute sums
  .release-please-manifest-submodules.json
  compute/go.sum
  compute/internal/version.go
  compute/metadata/go.sum
  compute/metadata/internal/version.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  release-please-config-yoshi-submodules.json
Labels: size: s

#6943 chore: carve out longrunning module
  longrunning/CHANGES.md
  longrunning/README.md
  longrunning/go.mod
  longrunning/go.sum
  longrunning/internal/version.go
  longrunning/tidyfix.go
Labels: size: m

#6944 feat(compute/metadata): drop weak dep on parent module
  compute/metadata/go.mod
  compute/metadata/go.sum
  compute/metadata/tidyhack.go
Labels: api: compute, automerge, size: s

#6946 chore: tidy longrunning sums
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  longrunning/go.sum
Labels: automerge, size: xs

#6886 feat(spanner): add support for Proto Columns
  spanner/go.mod
  spanner/go.sum
  spanner/integration_test.go
  spanner/protoutils.go
  spanner/testdata/protos/singer.pb.go
  spanner/testdata/protos/singer.proto
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: l

#6947 chore: cleanup files of newly carved out modules
  .release-please-manifest-submodules.json
  compute/metadata/go.sum
  longrunning/go.mod
  longrunning/go.sum
  longrunning/internal/version.go
  longrunning/tidyfix.go
  release-please-config-yoshi-submodules.json
Labels: automerge, size: s

#6952 chore: add cndb team as owners for datastore and firestore
  .github/CODEOWNERS
Labels: size: xs

#6936 docs(datastore): use Query.FilterField() in docs
  datastore/doc.go
Labels: api: datastore, automerge, size: xs

#6941 chore(datastore): fix for Get & Multi tests
  datastore/datastore.go
  datastore/datastore_test.go
Labels: api: datastore, automerge, size: m

#6935 chore(bigtable): more AdminBackup fix
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: xs

#6960 fix(bigquery/storage/managedwriter): remove old header routing
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, automerge, size: s

#6929 test(storage): enable more grpc integration tests
  storage/integration_test.go
Labels: api: storage, size: l
