Repository googleapis/google-cloud-go, pull requests merged in 2022-06, with the labels that each got.

#6110 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  retail/apiv2/product_client.go
  retail/go.mod
  retail/go.sum
Labels: size: s

#6091 chore(storage): implement UpdateObject
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Labels: api: storage, automerge, size: l

#6113 fix(pubsub): use MaxInt instead of MaxInt64 for BufferedByteLimit
  pubsub/topic.go
Labels: api: pubsub, size: s

#6125 fix(pubsub): fix iterator distribution bound calculations
  pubsub/iterator.go
  pubsub/iterator_test.go
Labels: api: pubsub, size: s

#6115 chore(storage): implement ListObjectACLs
  storage/acl.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, automerge, size: m

#6129 docs(pubsub): add instructions for stream management
  pubsub/doc.go
Labels: api: pubsub, size: s

#6136 chore: fix regen
  talent/apiv4beta1/application_client.go
  talent/apiv4beta1/application_client_example_test.go
  talent/apiv4beta1/mock_test.go
  talent/apiv4beta1/profile_client.go
  talent/apiv4beta1/profile_client_example_test.go
Labels: size: xl

#5812 feat(storage): support AbortIncompleteMultipartUpload LifecycleAction
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, stale: extraold, size: m

#5929 feat(storage): add support for OLM Prefix/Suffix
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, stale: old, size: m

#6099 chore(storage): implement OpenWriter, refactor gRPC write
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
  storage/writer.go
Labels: api: storage, size: l

#6137 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  compute/apiv1/gapic_metadata.json
  compute/apiv1/instance_group_managers_client.go
  compute/apiv1/instance_groups_client.go
  compute/apiv1/instances_client.go
  compute/apiv1/region_instance_group_managers_client.go
  compute/apiv1/security_policies_client.go
  compute/apiv1/target_https_proxies_client.go
  compute/apiv1/target_https_proxies_client_example_test.go
  compute/apiv1/target_ssl_proxies_client.go
  compute/apiv1/target_ssl_proxies_client_example_test.go
  compute/go.mod
  compute/go.sum
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  functions/go.mod
  functions/go.sum
  gkehub/go.mod
  gkehub/go.sum
  go.mod
  go.sum
  internal/generated/snippets/compute/apiv1/TargetHttpsProxiesClient/SetCertificateMap/main.go
  internal/generated/snippets/compute/apiv1/TargetSslProxiesClient/SetCertificateMap/main.go
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  shell/go.mod
  shell/go.sum
  spanner/go.mod
  spanner/go.sum
  talent/apiv4beta1/company_client.go
  talent/apiv4beta1/company_client_example_test.go
  talent/apiv4beta1/completion_client.go
  talent/apiv4beta1/completion_client_example_test.go
  talent/apiv4beta1/doc.go
  talent/apiv4beta1/event_client.go
  talent/apiv4beta1/event_client_example_test.go
  talent/apiv4beta1/gapic_metadata.json
  talent/apiv4beta1/job_client.go
  talent/apiv4beta1/job_client_example_test.go
  talent/apiv4beta1/tenant_client.go
  talent/apiv4beta1/tenant_client_example_test.go
  talent/go.mod
  talent/go.sum
Labels: size: l

#6160 chore: adjust assuredworkload yaml file name
  internal/gapicgen/generator/config.go
Labels: size: xs

#6158 chore(bigquery): cleanup some lint errors
  bigquery/internal/version.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, size: s

#6162 feat(pubsub): send stream ack deadline seconds on exactly once change #6157
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pstest/fake.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: m

#6082 feat(bigquery/storage/managedwriter): improve proto3 normalization
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/validation_test.go
Labels: api: bigquery, size: l

#6138 chore(storage): implement Notification methods
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/notifications.go
Labels: api: storage, size: m

#6148 feat(spanner/spansql): add a support for parsing INSERT statement
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#6177 chore(storage): gRPC treat LogBucket as resource name
  storage/bucket.go
  storage/client_test.go
Labels: api: storage, automerge, size: s

#6172 chore(all): auto-regenerate gapics
  batch/apiv1/batch_client.go
  batch/go.mod
  batch/go.sum
  go.mod
  go.sum
  internal/generated/snippets/batch/apiv1/snippet_metadata.google.cloud.batch.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: m

#6179 chore(internal/gapicgen): update generator to v0.31.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#6181 fix(pubsublite): fixed version in stream headers
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/rpc_test.go
  pubsublite/internal/wire/version.go
  pubsublite/internal/wire/version_test.go
Labels: automerge, api: pubsublite, size: s

#6173 feat(internal/pubsub): prepare internal/message for exactly once
  internal/pubsub/message.go
Labels: size: m

#6150 chore(internal/gapicgen): support stub generation in google-cloud-go
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/gapics.go
Labels: automerge, size: s

#6017 feature(datastore): adds in, not-in, and != query operators
  datastore/integration_test.go
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, stale: old, size: m

#6202 test(bigquery): address minor test issues
  bigquery/integration_test.go
Labels: api: bigquery, size: s

#6203 chore(talent): release v0.8.0
  talent/CHANGES.md
Labels: size: xs

#6207 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  binaryauthorization/go.mod
  binaryauthorization/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/baremetalsolution/apiv2/snippet_metadata.google.cloud.baremetalsolution.v2.json
  internal/generated/snippets/batch/apiv1/snippet_metadata.google.cloud.batch.v1.json
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/functions/apiv1/snippet_metadata.google.cloud.functions.v1.json
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/storage_client.go
  video/go.mod
  video/go.sum
Labels: size: m

#6176 feat(videointelligence): start generating apv1p3beta1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  videointelligence/apiv1p3beta1/doc.go
  videointelligence/apiv1p3beta1/gapic_metadata.json
  videointelligence/apiv1p3beta1/streaming_video_intelligence_client.go
  videointelligence/apiv1p3beta1/streaming_video_intelligence_client_example_test.go
  videointelligence/apiv1p3beta1/version.go
  videointelligence/apiv1p3beta1/video_intelligence_client.go
  videointelligence/apiv1p3beta1/video_intelligence_client_example_test.go
Labels: api: videointelligence, size: l

#6225 chore: extend GA after dates for preview clients
  internal/gapicgen/generator/config.go
Labels: size: s

#6213 chore(all): auto-regenerate gapics
  baremetalsolution/apiv2/bare_metal_solution_client.go
  baremetalsolution/apiv2/bare_metal_solution_client_example_test.go
  baremetalsolution/apiv2/gapic_metadata.json
  baremetalsolution/go.mod
  baremetalsolution/go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/baremetalsolution/apiv2/Client/DetachLun/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/GetLocation/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/GetNfsShare/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ListLocations/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ListNetworkUsage/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ListNfsShares/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/ResizeVolume/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/StartInstance/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/StopInstance/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/UpdateInstance/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/UpdateNetwork/main.go
  internal/generated/snippets/baremetalsolution/apiv2/Client/UpdateNfsShare/main.go
  internal/generated/snippets/baremetalsolution/apiv2/snippet_metadata.google.cloud.baremetalsolution.v2.json
  internal/generated/snippets/binaryauthorization/apiv1/snippet_metadata.google.cloud.binaryauthorization.v1.json
  internal/generated/snippets/binaryauthorization/apiv1beta1/snippet_metadata.google.cloud.binaryauthorization.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  videointelligence/apiv1p3beta1/streaming_video_intelligence_client.go
  videointelligence/apiv1p3beta1/video_intelligence_client.go
  videointelligence/go.mod
  videointelligence/go.sum
Labels: size: xl

#6227 chore(ids): release 1.0.0
  ids/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: ids, size: xs

#6239 chore(spanner): skip a test that seems to cause timeout issues
  spanner/integration_test.go
Labels: api: spanner, size: xs

#6228 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/generated/snippets/baremetalsolution/apiv2/snippet_metadata.google.cloud.baremetalsolution.v2.json
  internal/generated/snippets/datastore/admin/apiv1/snippet_metadata.google.datastore.admin.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: m

#6229 chore(vmmigration): release 1.0.0
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  vmmigration/apiv1/doc.go
Labels: size: xs

#6231 chore(dataplex): release 1.0.0
  dataplex/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xs, api: dataplex

#6232 chore(optimization): release 1.0.0
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  optimization/apiv1/doc.go
Labels: size: xs

#6233 chore(assuredworkloads): release 1.0.0
  assuredworkloads/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: assuredworkloads, size: xs

#6235 chore(binaryauthorization): release 1.0.0
  binaryauthorization/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: binaryauthorization, size: xs

#6236 chore(datastream): release 1.0.0
  datastream/apiv1/doc.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xs, api: datastream

#6237 chore(notebooks): release 1.0.0
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  notebooks/apiv1/doc.go
Labels: api: notebooks, size: xs

#6230 fix(storage): allow for Age int64* type and int64 type
  storage/bucket.go
  storage/bucket_test.go
Labels: size: m

#6119 feat(pubsub): support bigquery subscriptions
  pubsub/integration_test.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: m

#6245 chore(all): auto-regenerate gapics
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/model_client.go
  aiplatform/apiv1/model_client_example_test.go
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/apiv1beta1/model_client.go
  aiplatform/apiv1beta1/model_client_example_test.go
  aiplatform/go.mod
  aiplatform/go.sum
  analytics/go.mod
  analytics/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/ModelClient/BatchImportModelEvaluationSlices/main.go
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/ModelClient/BatchImportModelEvaluationSlices/main.go
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: l

#6187 feat(pubsub): report publisher outstanding metrics
  pubsub/flow_controller.go
  pubsub/subscription.go
  pubsub/topic.go
  pubsub/trace.go
Labels: api: pubsub, size: m

#6249 test(bigquery/storage/managedwriter): address data race
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#6251 fix(bigquery): release 1.34.1
  bigquery/CHANGES.md
Labels: api: bigquery, size: xs

#6029 feat(logging): support structured logging functionality
  logging/README.md
  logging/doc.go
  logging/instrumentation.go
  logging/internal/common.go
  logging/internal/environment.go
  logging/loggeroption.go
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
  logging/resource.go
  logging/resource_test.go
Labels: api: logging, stale: old, size: xl

#6260 chore: release eligible clients in GA modules as GA
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  video/livestream/apiv1/doc.go
  video/stitcher/apiv1/doc.go
  workflows/apiv1/doc.go
Labels: size: s

#6269 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/apiv1/big_query_write_client.go
  channel/go.sum
  contactcenterinsights/go.sum
  container/go.mod
  container/go.sum
  gaming/go.mod
  gaming/go.sum
  go.mod
  go.sum
  internal/gapicgen/generator/config.go
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  networkmanagement/go.mod
  networkmanagement/go.sum
  pubsublite/go.mod
  pubsublite/go.sum
  recommender/apiv1/gapic_metadata.json
  recommender/apiv1/recommender_client.go
  recommender/apiv1/recommender_client_example_test.go
  recommender/go.mod
  recommender/go.sum
  security/go.mod
  security/go.sum
  talent/apiv4/gapic_metadata.json
  talent/apiv4/job_client.go
  talent/apiv4/job_client_example_test.go
  talent/go.mod
  talent/go.sum
  video/go.mod
  video/go.sum
Labels: kokoro:force-run, size: m

#6152 chore(storage): implement HMACKey methods
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/hmac.go
  storage/http_client.go
Labels: api: storage, size: l

#6267 fix(bigquery/storage/managedwriter/adapt): schema->protodescriptor
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: api: bigquery, size: l

#6266 chore(storage): move storage stubs into GAPIC
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/genproto.go
  storage/acl.go
  storage/acl_test.go
  storage/bucket.go
  storage/grpc_client.go
  storage/hmac.go
  storage/internal/apiv2/doc.go
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/storage_client_example_test.go
  storage/internal/apiv2/stubs/storage.pb.go
  storage/notifications.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Labels: api: storage, size: xl

#6201 feat(pubsub): add AckWithResult and NackWithResult to message
  pubsub/go.mod
  pubsub/go.sum
  pubsub/iterator.go
  pubsub/message.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
Labels: api: pubsub, size: m

#6288 chore(all): auto-regenerate gapics
  dataflow/go.mod
  dataflow/go.sum
  dialogflow/go.mod
  dialogflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/area120/tables/apiv1alpha1/snippet_metadata.google.area120.tables.v1alpha1.json
  internal/generated/snippets/asset/apiv1/snippet_metadata.google.cloud.asset.v1.json
  internal/generated/snippets/asset/apiv1p2beta1/snippet_metadata.google.cloud.asset.v1p2beta1.json
  internal/generated/snippets/asset/apiv1p5beta1/snippet_metadata.google.cloud.asset.v1p5beta1.json
  internal/generated/snippets/assuredworkloads/apiv1/snippet_metadata.google.cloud.assuredworkloads.v1.json
  internal/generated/snippets/assuredworkloads/apiv1beta1/snippet_metadata.google.cloud.assuredworkloads.v1beta1.json
  internal/generated/snippets/automl/apiv1/snippet_metadata.google.cloud.automl.v1.json
  internal/generated/snippets/automl/apiv1beta1/snippet_metadata.google.cloud.automl.v1beta1.json
  internal/generated/snippets/binaryauthorization/apiv1/snippet_metadata.google.cloud.binaryauthorization.v1.json
  internal/generated/snippets/binaryauthorization/apiv1beta1/snippet_metadata.google.cloud.binaryauthorization.v1beta1.json
  internal/generated/snippets/channel/apiv1/snippet_metadata.google.cloud.channel.v1.json
  internal/generated/snippets/cloudtasks/apiv2/snippet_metadata.google.cloud.tasks.v2.json
  internal/generated/snippets/cloudtasks/apiv2beta2/snippet_metadata.google.cloud.tasks.v2beta2.json
  internal/generated/snippets/cloudtasks/apiv2beta3/snippet_metadata.google.cloud.tasks.v2beta3.json
  internal/generated/snippets/containeranalysis/apiv1beta1/snippet_metadata.grafeas.v1beta1.json
  internal/generated/snippets/dataflow/apiv1beta3/snippet_metadata.google.dataflow.v1beta3.json
  internal/generated/snippets/dataplex/apiv1/snippet_metadata.google.cloud.dataplex.v1.json
  internal/generated/snippets/dataqna/apiv1alpha/snippet_metadata.google.cloud.dataqna.v1alpha.json
  internal/generated/snippets/datastream/apiv1/snippet_metadata.google.cloud.datastream.v1.json
  internal/generated/snippets/datastream/apiv1alpha1/snippet_metadata.google.cloud.datastream.v1alpha1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/domains/apiv1beta1/snippet_metadata.google.cloud.domains.v1beta1.json
  internal/generated/snippets/functions/apiv2beta/FunctionClient/CreateFunction/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/DeleteFunction/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/GenerateDownloadUrl/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/GenerateUploadUrl/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/GetFunction/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/GetIamPolicy/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/GetOperation/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/ListFunctions/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/ListLocations/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/ListOperations/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/ListRuntimes/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/SetIamPolicy/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/TestIamPermissions/main.go
  internal/generated/snippets/functions/apiv2beta/FunctionClient/UpdateFunction/main.go
  internal/generated/snippets/functions/apiv2beta/snippet_metadata.google.cloud.functions.v2beta.json
  internal/generated/snippets/gaming/apiv1/snippet_metadata.google.cloud.gaming.v1.json
  internal/generated/snippets/gaming/apiv1beta/snippet_metadata.google.cloud.gaming.v1beta.json
  internal/generated/snippets/gkehub/apiv1beta1/snippet_metadata.google.cloud.gkehub.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: m

#6271 test(storage): unflake PostPolicyV4 test
  storage/integration_test.go
Labels: api: storage, size: m

#6290 chore: add releaseType to config
  .github/release-please.yml
Labels: size: s

#6291 feat(functions): add apiv2beta REST client
  functions/apiv2beta/doc.go
  functions/apiv2beta/function_client.go
  functions/apiv2beta/function_client_example_test.go
  functions/apiv2beta/gapic_metadata.json
  internal/gapicgen/generator/config.go
Labels: api: cloudfunctions, size: xl

#6289 fix(pubsub): increase modack deadline RPC timeout
  pubsub/iterator.go
Labels: api: pubsub, size: xs

#6292 test(compute): wait on operations and don't retry them
  compute/apiv1/smoke_test.go
Labels: api: compute, size: s
