Repository googleapis/google-cloud-go, pull requests merged in 2022-04, with the labels that each got.

#5832 docs(storage): redirect users to bucket methods for SignedURL and PostPolicy
  storage/post_policy_v4.go
  storage/storage.go
Labels: api: storage, size: xs

#5825 feat(run): start generating apiv2
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  release-please-config-yoshi-submodules.json
  run/CHANGES.md
  run/README.md
  run/apiv2/doc.go
  run/apiv2/gapic_metadata.json
  run/apiv2/revisions_client.go
  run/apiv2/revisions_client_example_test.go
  run/apiv2/services_client.go
  run/apiv2/services_client_example_test.go
  run/apiv2/version.go
  run/go.mod
  run/go.sum
  run/internal/version.go
Labels: api: run, size: xl

#5834 chore(internal/gapicgen): Change internal version to 0.0.0
  internal/gapicgen/generator/_CHANGES.md.txt
  internal/gapicgen/generator/_internal_version.go.txt
  internal/gapicgen/generator/gapics.go
Labels: size: s

#5846 test(bigquery): make policy tag setup use unique display names
  bigquery/integration_test.go
Labels: api: bigquery, size: xs

#5836 feat(spanner/spansql): support case expression
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#5849 test(spanner): fix backup spanner test failing because of zero sizeBytes
  spanner/integration_test.go
Labels: api: spanner, size: s

#5851 chore: fixup 1.17 -> 1.18 things
  internal/gapicgen/cmd/genbot/Dockerfile
  internal/gapicgen/go.mod
  internal/kokoro/check_incompat_changes.sh
  internal/kokoro/vet.sh
Labels: size: xs

#5839 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  dlp/go.mod
  dlp/go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/run/apiv2/RevisionsClient/DeleteRevision/main.go
  internal/generated/snippets/run/apiv2/RevisionsClient/GetRevision/main.go
  internal/generated/snippets/run/apiv2/RevisionsClient/ListRevisions/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/CreateService/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/DeleteService/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/GetIamPolicy/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/GetService/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/ListServices/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/SetIamPolicy/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/TestIamPermissions/main.go
  internal/generated/snippets/run/apiv2/ServicesClient/UpdateService/main.go
  internal/godocfx/go.sum
  run/go.mod
  run/go.sum
  servicemanagement/go.mod
  servicemanagement/go.sum
Labels: size: xl

#5854 chore(all): auto-regenerate gapics
  cloudtasks/go.mod
  cloudtasks/go.sum
  deploy/go.mod
  deploy/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/storagetransfer/apiv1/Client/CreateAgentPool/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/DeleteAgentPool/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/GetAgentPool/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/ListAgentPools/main.go
  internal/generated/snippets/storagetransfer/apiv1/Client/UpdateAgentPool/main.go
  internal/godocfx/go.sum
  secretmanager/go.mod
  secretmanager/go.sum
  speech/go.mod
  speech/go.sum
  storagetransfer/apiv1/gapic_metadata.json
  storagetransfer/apiv1/storage_transfer_client.go
  storagetransfer/apiv1/storage_transfer_client_example_test.go
  storagetransfer/go.mod
  storagetransfer/go.sum
Labels: size: l

#5848 chore: start generating bigquery/migration v2
  bigquery/migration/apiv2/doc.go
  bigquery/migration/apiv2/gapic_metadata.json
  bigquery/migration/apiv2/migration_client.go
  bigquery/migration/apiv2/migration_client_example_test.go
  bigquery/migration/apiv2/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: l

#5857 chore(storage): update genproto dep
  storage/bucket.go
  storage/go.mod
  storage/go.sum
Labels: api: storage, size: xs

#5826 test(storage): add tests for dual-region buckets
  storage/integration_test.go
Labels: api: storage, size: m

#5706 chore(storage): update to go 1.15 chores
  storage/bucket.go
  storage/integration_test.go
  storage/invoke.go
  storage/reader_go114_test.go
  storage/reader_test.go
  storage/retry_test.go
  storage/storage.go
  storage/writer.go
Labels: api: storage, stale: old, size: l

#5850 doc(storage): update Writer.ChunkSize docs
  storage/storage.go
  storage/writer.go
Labels: api: storage, size: s

#5863 test(bigquery): refactor integration tests
  bigquery/dataset_integration_test.go
  bigquery/integration_test.go
  bigquery/routine_integration_test.go
  bigquery/table_integration_test.go
Labels: api: bigquery, size: xl

#5869 chore(storage): refactor emulator tests, resolve some TODOs
  storage/bucket.go
  storage/client_test.go
  storage/grpc_client.go
Labels: api: storage, size: m

#5868 chore: bump storage dependencies to v1.22.0
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/godocfx/testdata/golden/index.yml
  logging/go.mod
  logging/go.sum
  profiler/go.mod
  profiler/go.sum
  storage/go.mod
  storage/go.sum
Labels: size: m

#5864 docs(pubsublite): clarify publish error handling
  pubsublite/pscompat/publisher.go
Labels: api: pubsublite, size: s

#5874 fix(spanner/spannertest): Improve DDL application delay cancellation.
  spanner/spannertest/inmem.go
Labels: api: spanner, size: s

#5672 feat(bigquery): support table cloning
  bigquery/copy.go
  bigquery/integration_test.go
  bigquery/table.go
Labels: api: bigquery, stale: old, size: m

#5876 chore(internal/kokoro): Update vet.sh staticcheck
  cmd/go-cloud-debug-agent/internal/controller/client.go
  cmd/go-cloud-debug-agent/internal/controller/client_test.go
  debugger/apiv2/mock_test.go
  internal/fields/fold.go
  internal/kokoro/vet.sh
  internal/pretty/diff_test.go
  longrunning/autogen/mock_test.go
Labels: size: xl

#5822 chore(internal/gapicgen): add code to start generating snip metadata
  internal/gapicgen/cmd/gensnippets/main.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/gensnippets/gensnippets.go
  internal/gapicgen/gensnippets/metadata/metadata.pb.go
  internal/gapicgen/gensnippets/metadata/metadata.proto
  internal/gapicgen/gensnippets/model.go
  internal/generated/snippets/secretmanager/apiv1/snippet_metadata.google.cloud.secretmanager.v1.json
Labels: size: xl

#5887 test(internal/gapicgen): add missing header
  internal/gapicgen/gensnippets/model.go
Labels: size: s

#5892 chore(storage): add gRPC client constructor
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: m

#5896 fix(certificatemanager): fix versioning for release-please
  certificatemanager/CHANGES.md
Labels: size: s

#5895 chore(internal/gapicgen): update microgenerator to v0.28.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#5898 chore(certificatemanager): try to fix release-please
  certificatemanager/CHANGES.md
Labels: size: xs

#5893 chore(all): auto-regenerate gapics
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/apiv1beta1/model_client.go
  aiplatform/apiv1beta1/model_client_example_test.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: l

#5894 chore: begin generation of bigquery/dataexchange
  bigquery/dataexchange/apiv1beta1/analytics_hub_client.go
  bigquery/dataexchange/apiv1beta1/analytics_hub_client_example_test.go
  bigquery/dataexchange/apiv1beta1/doc.go
  bigquery/dataexchange/apiv1beta1/gapic_metadata.json
  bigquery/dataexchange/apiv1beta1/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xl

#5884 chore(storage): add GetServiceAccount implementation
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: s

#5900 chore(internal/gapicgen): remove filter on gensnippets
  internal/gapicgen/gensnippets/gensnippets.go
Labels: size: xs

#5897 chore(internal/gapicgen): enable regapic for LRO
  internal/gapicgen/generator/config.go
Labels: size: xs

#5844 chore(bigtable): Table.ReadRow returns empty map for row
  bigtable/bigtable.go
Labels: api: bigtable, size: xs

#5843 chore(bigtable): removes cbt source code
  bigtable/cmd/cbt/README.md
  bigtable/cmd/cbt/cbt.go
  bigtable/cmd/cbt/cbt_test.go
  bigtable/cmd/cbt/cbtdoc.go
  bigtable/cmd/cbt/gcpolicy.go
  bigtable/cmd/cbt/gcpolicy_test.go
  bigtable/cmd/cbt/testing.go
  bigtable/cmd/cbt/timeout_test.go
  bigtable/cmd/loadtest/loadtest.go
  bigtable/cmd/scantest/scantest.go
  bigtable/go.mod
  bigtable/go.sum
  bigtable/internal/cbtconfig/cbtconfig.go
  bigtable/internal/cbtconfig/cbtconfig_test.go
Labels: api: bigtable, size: xl

#5914 chore(spanner): fix flaky test in oc_stats.go
  spanner/oc_test.go
Labels: api: spanner, size: xs

#5919 fix(internal/gapicgen): don't try to make snippets for non-gapics
  internal/gapicgen/gensnippets/gensnippets.go
Labels: size: xs

#5921 chore(aiplatform): release 1.9.0
  aiplatform/CHANGES.md
Labels: api: aiplatform, size: xs

#5845 tests(bigtable): fix flaky integration test
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: s

#5924 chore(all): auto-regenerate gapics
  compute/apiv1/firewall_policies_client.go
  compute/go.mod
  compute/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/eventarc/apiv1/snippet_metadata.google.cloud.eventarc.v1.json
  internal/generated/snippets/eventarc/publishing/apiv1/snippet_metadata.google.cloud.eventarc.publishing.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  servicemanagement/apiv1/service_manager_client.go
  servicemanagement/go.mod
  servicemanagement/go.sum
Labels: size: m

#5930 chore(all): auto-regenerate gapics
  channel/go.mod
  channel/go.sum
  go.mod
  go.sum
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  servicemanagement/go.mod
  servicemanagement/go.sum
Labels: size: s

#5908 chore(storage): implement ListBuckets
  storage/bucket.go
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: m

#5918 chore(storage): implement ListObjects
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: l

#5935 chore: show we support 1.18
  README.md
Labels: size: xs

#5909 fix(pubsub): nack messages properly with error from receive scheduler
  pubsub/internal/scheduler/receive_scheduler.go
  pubsub/subscription.go
Labels: api: pubsub, size: s

#5940 fix(pubsub): enable updating enable_exactly_once_delivery in fake pubsub
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, size: s

#5936 chore(all): auto-regenerate gapics
  channel/apiv1/cloud_channel_client.go
  channel/apiv1/cloud_channel_client_example_test.go
  channel/apiv1/gapic_metadata.json
  channel/go.mod
  channel/go.sum
  go.mod
  go.sum
  internal/generated/snippets/channel/apiv1/CloudChannelClient/CreateChannelPartnerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/CreateCustomerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/DeleteChannelPartnerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/DeleteCustomerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/GetChannelPartnerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/GetCustomerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/ListChannelPartnerRepricingConfigs/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/ListCustomerRepricingConfigs/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/UpdateChannelPartnerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/CloudChannelClient/UpdateCustomerRepricingConfig/main.go
  internal/generated/snippets/channel/apiv1/snippet_metadata.google.cloud.channel.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  pubsub/go.mod
  pubsub/go.sum
Labels: size: xl

#5945 fix(internal/gapicgen): properly update modules that have no gapic changes
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/git/github.go
  internal/gapicgen/git/github_test.go
Labels: size: m

#5943 fix(pubsublite): retry Cancelled stream errors
  pubsublite/internal/wire/rpc.go
  pubsublite/internal/wire/streams_test.go
  pubsublite/pscompat/integration_test.go
Labels: api: pubsublite, size: m

#5944 feat(spanner): enable row.ToStructLenient to work with STRUCT data type
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: m

#5932 feat(spanner/spansql): support DEFAULT keyword
  spanner/spannertest/README.md
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#5950 refactor(pubsublite): remove usages of xerrors
  pubsublite/go.mod
  pubsublite/internal/test/util.go
  pubsublite/internal/wire/errors.go
  pubsublite/internal/wire/partition_count.go
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/streams.go
  pubsublite/pscompat/example_test.go
Labels: api: pubsublite, size: s

#5951 test(spanner): skip flaky test for oc_stats with PG dialect.
  spanner/integration_test.go
  spanner/oc_test.go
Labels: api: spanner, size: xs

#5803 feat(bigtable): support PingAndWarm in emulator
  bigtable/bttest/inmem.go
  bigtable/internal/mockserver/inmem.go
Labels: api: bigtable, automerge, stale: old, size: s

#5934 chore(storage): add assertion to list buckets test
  storage/client_test.go
Labels: api: storage, size: xs

#5953 docs: replace CL with PR in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size: xs

#5923 chore(storage): implement UpdateBucket
  storage/bucket.go
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: l

#5965 chore(storage): implement ListBucketACLs and ListDefaultObjectACLs
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: m
