Repository googleapis/google-cloud-go, pull requests merged in 2022-01, with the labels that each got.

#5262 chore(spanner): update README file for benchwrapper
  spanner/internal/benchwrapper/README.md
Labels: api: spanner

#5277 fix(iam): run formatter
  iam/go_mod_tidy_hack.go
Labels: api: iam

#5255 chore(storage): remove runWithRetry
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage

#5276 test(spanner)!: fix data race in spanner integration tests
  spanner/batch.go
  spanner/integration_test.go
  spanner/oc_test.go
  spanner/pdml.go
  spanner/sessionclient.go
  spanner/stats.go
  spanner/transaction.go
Labels: api: spanner

#5292 chore(spanner): release 1.29.0
  spanner/CHANGES.md
Labels: api: spanner

#5300 doc(storage): improve retry package docs
  storage/doc.go
Labels: api: storage

#5287 feat(bigquery): support null marker for csv in external data config
  bigquery/external.go
  bigquery/external_test.go
  bigquery/file.go
  bigquery/file_test.go
Labels: api: bigquery

#5297 chore(all): auto-regenerate gapics
  datastore/admin/apiv1/doc.go
  datastore/go.mod
  datastore/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  networksecurity/apiv1beta1/doc.go
  networksecurity/apiv1beta1/network_security_client.go
  networksecurity/go.mod
  networksecurity/go.sum
Labels: size: xs

#5307 chore(all): auto-regenerate gapics
  contactcenterinsights/apiv1/contact_center_insights_client.go
  contactcenterinsights/apiv1/contact_center_insights_client_example_test.go
  contactcenterinsights/apiv1/doc.go
  contactcenterinsights/apiv1/gapic_metadata.json
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  dataproc/apiv1/doc.go
  dataproc/go.mod
  dataproc/go.sum
  go.mod
  go.sum
  internal/generated/snippets/contactcenterinsights/apiv1/Client/CreateView/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/DeleteView/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/GetView/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/ListViews/main.go
  internal/generated/snippets/contactcenterinsights/apiv1/Client/UpdateView/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/doc.go
  storage/internal/apiv2/gapic_metadata.json
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/storage_client_example_test.go
Labels: size: xxl

#5247 fix(firestore): DocumentIterator.GetAll: check iterator error
  firestore/query.go
  firestore/transaction_test.go
Labels: api: firestore, size: xs

#5003 feat(storage): add rpo (turbo replication) support
  storage/bucket.go
  storage/bucket_test.go
Labels: api: storage, cla: yes, stale: extraold, size: s

#5314 feat(storage): retry on a HTTP 408 response code
  storage/invoke.go
  storage/storage.go
Labels: api: storage, size: xs

#5220 fix(containeranalysis): fix docs and closing of client.
  containeranalysis/apiv1/container_analysis_client.go
Labels: api: containeranalysis, size: xs

#5301 test(storage): fill out invoke tests
  storage/invoke_test.go
Labels: api: storage, size: s

#5298 chore: update release please action to v3
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: size: xs

#5249 test(storage): add a bucket to avoid rate limits
  storage/integration_test.go
Labels: api: storage, size: s

#5327 test(spanner): move testing helper to a test
  spanner/integration_test.go
  spanner/stats.go
Labels: api: spanner, size: xs

#5328 chore(compute): release 1.0.0
  compute/apiv1/doc.go
  internal/gapicgen/generator/config.go
Labels: api: compute, size: xs

#5335 chore(.github): revert to v2 of release-please
  .github/workflows/release-submodule.yaml
  .github/workflows/release.yaml
Labels: size: xs

#5348 chore: fix snippet module up to resolve imports
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/GetEnhancedMeasurementSettings/main.go
  internal/generated/snippets/analytics/admin/apiv1alpha/AnalyticsAdminClient/UpdateEnhancedMeasurementSettings/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
Labels: size: m

#5347 chore(all): auto-regenerate gapics
  apigateway/apiv1/doc.go
  apigateway/go.mod
  apigateway/go.sum
  artifactregistry/apiv1beta2/doc.go
  artifactregistry/go.mod
  artifactregistry/go.sum
  asset/apiv1/doc.go
  asset/go.mod
  asset/go.sum
  automl/apiv1/auto_ml_client.go
  automl/apiv1/doc.go
  automl/apiv1/prediction_client.go
  automl/go.mod
  automl/go.sum
  compute/apiv1/doc.go
  datalabeling/apiv1beta1/doc.go
  datalabeling/go.mod
  datalabeling/go.sum
  documentai/apiv1/doc.go
  documentai/go.mod
  documentai/go.sum
  internal/.repo-metadata-full.json
  managedidentities/apiv1/doc.go
  managedidentities/go.mod
  managedidentities/go.sum
  talent/apiv4beta1/doc.go
  talent/go.mod
  talent/go.sum
  workflows/apiv1beta/doc.go
  workflows/go.mod
  workflows/go.sum
Labels: size: s

#5358 feat(eventarc/publishing): start generating apiv1
  eventarc/publishing/apiv1/doc.go
  eventarc/publishing/apiv1/gapic_metadata.json
  eventarc/publishing/apiv1/publisher_client.go
  eventarc/publishing/apiv1/publisher_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: eventarc, size: m

#5366 chore(gapicgen): unfreeze grafeas and containeranalysis stub gen
  internal/gapicgen/generator/genproto.go
Labels: size: xs

#5367 test(storage): use unique name for bucket insertion to avoid collisions
  storage/retry_conformance_test.go
Labels: api: storage, size: xs

#5368 test(storage): interleave buckets in test (rate limit issue)
  storage/integration_test.go
Labels: api: storage, size: xs

#5362 chore(all): auto-regenerate gapics
  datafusion/apiv1/doc.go
  datafusion/go.mod
  datafusion/go.sum
  go.mod
  go.sum
  internal/generated/snippets/eventarc/publishing/apiv1/PublisherClient/PublishChannelConnectionEvents/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/redis/apiv1beta1/CloudRedisClient/GetInstanceAuthString/main.go
  internal/generated/snippets/redis/apiv1beta1/CloudRedisClient/RescheduleMaintenance/main.go
  internal/godocfx/go.sum
  redis/apiv1beta1/cloud_redis_client.go
  redis/apiv1beta1/cloud_redis_client_example_test.go
  redis/apiv1beta1/doc.go
  redis/apiv1beta1/gapic_metadata.json
  redis/go.mod
  redis/go.sum
  workflows/apiv1beta/doc.go
  workflows/go.mod
  workflows/go.sum
Labels: size: m

#5320 fix(pubsub): add deadletter and retries handling in the fake pubsub
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, size: m

#5312 doc(storage): edits to retry package docs
  storage/doc.go
Labels: api: storage, size: xs

#5376 fix(storage): fix nil check in gRPC Reader
  storage/reader.go
Labels: api: storage, size: xs

#5378 chore(bigtable): upgrade some deps
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
Labels: api: bigtable, size: s

#5232 feat(bigtable): add support for autoscaling
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
Labels: api: bigtable, size: m

#5387 feat(bigquery): augment retry predicate
  bigquery/bigquery.go
  bigquery/bigquery_test.go
  bigquery/job.go
Labels: api: bigquery, size: xs

#5316 fix(pubsub): pass context into checkOrdering to allow cancel
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: xs

#5141 feat(networkconnectivity): to v1
  internal/gapicgen/generator/config.go
  networkconnectivity/CHANGES.md
Labels: cla: yes, api: networkconnectivity, stale: extraold, size: xs

#5140 feat(deploy): to v1
  deploy/CHANGES.md
  internal/gapicgen/generator/config.go
Labels: cla: yes, api: clouddeploy, stale: extraold, size: xs

#5139 feat(filestore): to v1
  filestore/CHANGES.md
  internal/gapicgen/generator/config.go
Labels: cla: yes, stale: extraold

#5138 feat(orchestration/airflow/service): to v1
  internal/gapicgen/generator/config.go
  orchestration/CHANGES.md
Labels: cla: yes, stale: extraold, size: xs

#5137 feat(contactcenterinsights): to v1
  contactcenterinsights/CHANGES.md
  internal/gapicgen/generator/config.go
Labels: cla: yes, api: contactcenterinsights, stale: extraold, size: xs

#5136 feat(accesscontextmanager): to v1
  accesscontextmanager/CHANGES.md
  internal/gapicgen/generator/config.go
Labels: cla: yes, api: accesscontextmanager, stale: extraold, size: xs

#5404 feat(video): start generating livestream apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  video/livestream/apiv1/doc.go
  video/livestream/apiv1/gapic_metadata.json
  video/livestream/apiv1/livestream_client.go
  video/livestream/apiv1/livestream_client_example_test.go
Labels: api: videointelligence, size: xxl

#5375 chore(storage): support emulator for gRPC
  storage/storage.go
Labels: api: storage, size: xs

#5384 feat(storage): add net.ErrClosed to default retry
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage, size: xs

#5408 chore(internal/gapicgen): update microgenerator to v0.24.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#5409 feat(dataplex): start generating apiv1
  dataplex/CHANGES.md
  dataplex/README.md
  dataplex/apiv1/dataplex_client.go
  dataplex/apiv1/dataplex_client_example_test.go
  dataplex/apiv1/doc.go
  dataplex/apiv1/gapic_metadata.json
  dataplex/apiv1/metadata_client.go
  dataplex/apiv1/metadata_client_example_test.go
  dataplex/go.mod
  dataplex/go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xxl
