Repository googleapis/google-cloud-go, pull requests merged in 2022-11, with the labels that each got.

#6973 chore(bigtable): add timeouts to proxy methods
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable, size: s

#6828 feat(storage): add Autoclass support
  storage/bucket.go
  storage/bucket_test.go
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, size: l

#6974 test(storage): add gRPC error code to retry to fix flaky PAP test
  storage/integration_test.go
Labels: api: storage, size: s

#6977 chore(bigtable): more text proxy tune-up
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
Labels: api: bigtable, size: m

#6874 feat(spanner): PG JSONB support
  spanner/integration_test.go
  spanner/protoutils.go
  spanner/value.go
  spanner/value_test.go
Labels: size: l

#6950 feat(spanner/spansql): add support for interval arg of some date/timestamp functions
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, cla: yes, size: m

#6981 chore: update individual config to be separate prs
  release-please-config-individual.json
Labels: size: xs

#6958 feat(spanner): configurable logger
  spanner/client.go
  spanner/pdml_test.go
  spanner/session_test.go
Labels: api: spanner, size: s

#6882 test(storage): test Copier.Run's token propagation + refactor int test
  storage/client.go
  storage/copy.go
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#6992 chore(bigtable): removes test proxy credentials
  bigtable/go.mod
  bigtable/go.sum
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable, size: m

#6993 test(storage): enable grpc tests skipped because of allowlist issue
  storage/integration_test.go
Labels: api: storage, size: xs

#6976 feat(bigquery): widen retry predicate
  bigquery/bigquery.go
  bigquery/bigquery_test.go
Labels: api: bigquery, automerge, size: s

#6994 chore(storage): gRPC support customer encryption
  storage/grpc_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: l

#6998 chore(.github): force renovate to use 1.19
  .github/renovate.json
Labels: size: xs

#6979 chore(datastore): fix for flaky integration tests
  datastore/integration_test.go
Labels: api: datastore, automerge, size: s

#7002 chore: tidy up snippet module
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
Labels: automerge, size: s

#7003 chore: fixup version after manual tagging
  .release-please-manifest.json
Labels: automerge, size: xs

#7004 chore(datastore): integration test fix
  datastore/integration_test.go
Labels: api: datastore, size: xs

#6785 chore(errorreporting): enable Go 1.13 error wrapping
  errorreporting/errors.go
  logging/logadmin/logadmin.go
  logging/logging.go
Labels: api: clouderrorreporting, stale: old, size: s

#6991 feat(bigtable): add support for request stats
  bigtable/bigtable.go
  bigtable/integration_test.go
Labels: api: bigtable, size: l

#6954 feat(spanner): add support for handling null value in Proto columns
  spanner/integration_test.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: l

#6902 test(storage): refactor RequesterPays to multi-transport tests
  storage/integration_test.go
Labels: api: storage, size: l

#7010 feat(bigquery): remove code for reservation/apiv1beta1
  bigquery/reservation/apiv1beta1/doc.go
  bigquery/reservation/apiv1beta1/gapic_metadata.json
  bigquery/reservation/apiv1beta1/reservation_client.go
  bigquery/reservation/apiv1beta1/reservation_client_example_test.go
  bigquery/reservation/apiv1beta1/version.go
  internal/gapicgen/generator/config.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/CreateAssignment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/CreateCapacityCommitment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/CreateReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/DeleteAssignment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/DeleteCapacityCommitment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/DeleteReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/GetBiReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/GetCapacityCommitment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/GetReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/ListAssignments/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/ListCapacityCommitments/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/ListReservations/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/MergeCapacityCommitments/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/MoveAssignment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/SearchAssignments/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/SplitCapacityCommitment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/UpdateBiReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/UpdateCapacityCommitment/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/Client/UpdateReservation/main.go
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
Labels: api: bigquery, size: xl, breaking change allowed

#7019 chore(bigtable/bttest): Add read stats to the emulator and a simple test
  bigtable/bigtable_test.go
  bigtable/bttest/inmem.go
Labels: api: bigtable, kokoro:force-run, automerge, size: m

#7012 feat(addressvalidation): start generating apiv1
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  maps/CHANGES.md
  maps/README.md
  maps/addressvalidation/apiv1/address_validation_client.go
  maps/addressvalidation/apiv1/address_validation_client_example_test.go
  maps/addressvalidation/apiv1/addressvalidationpb/address.pb.go
  maps/addressvalidation/apiv1/addressvalidationpb/address_validation_service.pb.go
  maps/addressvalidation/apiv1/addressvalidationpb/geocode.pb.go
  maps/addressvalidation/apiv1/addressvalidationpb/metadata.pb.go
  maps/addressvalidation/apiv1/addressvalidationpb/usps_data.pb.go
  maps/addressvalidation/apiv1/doc.go
  maps/addressvalidation/apiv1/gapic_metadata.json
  maps/addressvalidation/apiv1/version.go
  maps/go.mod
  maps/go.sum
  maps/internal/version.go
  release-please-config-yoshi-submodules.json
Labels: size: xl

#7011 feat(routing): start generating apiv2
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  maps/routing/apiv2/doc.go
  maps/routing/apiv2/gapic_metadata.json
  maps/routing/apiv2/routes_client.go
  maps/routing/apiv2/routes_client_example_test.go
  maps/routing/apiv2/routingpb/fallback_info.pb.go
  maps/routing/apiv2/routingpb/location.pb.go
  maps/routing/apiv2/routingpb/maneuver.pb.go
  maps/routing/apiv2/routingpb/navigation_instruction.pb.go
  maps/routing/apiv2/routingpb/polyline.pb.go
  maps/routing/apiv2/routingpb/route.pb.go
  maps/routing/apiv2/routingpb/route_label.pb.go
  maps/routing/apiv2/routingpb/route_modifiers.pb.go
  maps/routing/apiv2/routingpb/route_travel_mode.pb.go
  maps/routing/apiv2/routingpb/routes_service.pb.go
  maps/routing/apiv2/routingpb/routing_preference.pb.go
  maps/routing/apiv2/routingpb/speed_reading_interval.pb.go
  maps/routing/apiv2/routingpb/toll_info.pb.go
  maps/routing/apiv2/routingpb/toll_passes.pb.go
  maps/routing/apiv2/routingpb/units.pb.go
  maps/routing/apiv2/routingpb/vehicle_emission_type.pb.go
  maps/routing/apiv2/routingpb/vehicle_info.pb.go
  maps/routing/apiv2/routingpb/waypoint.pb.go
  maps/routing/apiv2/version.go
Labels: size: xl

#7032 chore(genbot): upgrade base image and protoc
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, size: xs

#7014 feat(spanner): add support for Array of Proto columns
  spanner/integration_test.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: l

#7036 chore: manually regenerate some files
  aiplatform/apiv1beta1/aiplatformpb/batch_prediction_job.pb.go
  batch/apiv1/batchpb/task.pb.go
  channel/apiv1/channelpb/offers.pb.go
Labels: automerge, size: xl

#7037 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: automerge, size: xs

#6931 chore(ci): GitHub Workflows security hardening
  .github/workflows/vet.yml
Labels: type: cleanup, size: xs

#7051 chore: downgrade a couple of deps for compatibility
  go.mod
  go.sum
  internal/godocfx/go.sum
Labels: automerge, size: s

#7026 feat(bigquery): start generating proto stubs
  bigquery/connection/apiv1/connectionpb/connection.pb.go
  bigquery/connection/apiv1beta1/connectionpb/connection.pb.go
  bigquery/dataexchange/apiv1beta1/dataexchangepb/dataexchange.pb.go
  bigquery/datatransfer/apiv1/datatransferpb/datatransfer.pb.go
  bigquery/datatransfer/apiv1/datatransferpb/transfer.pb.go
  bigquery/migration/apiv2/migrationpb/migration_entities.pb.go
  bigquery/migration/apiv2/migrationpb/migration_error_details.pb.go
  bigquery/migration/apiv2/migrationpb/migration_metrics.pb.go
  bigquery/migration/apiv2/migrationpb/migration_service.pb.go
  bigquery/migration/apiv2/migrationpb/translation_config.pb.go
  bigquery/migration/apiv2alpha/migrationpb/assessment_task.pb.go
  bigquery/migration/apiv2alpha/migrationpb/migration_entities.pb.go
  bigquery/migration/apiv2alpha/migrationpb/migration_error_details.pb.go
  bigquery/migration/apiv2alpha/migrationpb/migration_metrics.pb.go
  bigquery/migration/apiv2alpha/migrationpb/migration_service.pb.go
  bigquery/migration/apiv2alpha/migrationpb/translation_service.pb.go
  bigquery/migration/apiv2alpha/migrationpb/translation_task.pb.go
  bigquery/reservation/apiv1/reservationpb/reservation.pb.go
  bigquery/storage/apiv1/storagepb/annotations.pb.go
  bigquery/storage/apiv1/storagepb/arrow.pb.go
  bigquery/storage/apiv1/storagepb/avro.pb.go
  bigquery/storage/apiv1/storagepb/protobuf.pb.go
  bigquery/storage/apiv1/storagepb/storage.pb.go
  bigquery/storage/apiv1/storagepb/stream.pb.go
  bigquery/storage/apiv1/storagepb/table.pb.go
  bigquery/storage/apiv1beta1/storagepb/arrow.pb.go
  bigquery/storage/apiv1beta1/storagepb/avro.pb.go
  bigquery/storage/apiv1beta1/storagepb/read_options.pb.go
  bigquery/storage/apiv1beta1/storagepb/storage.pb.go
  bigquery/storage/apiv1beta1/storagepb/table_reference.pb.go
  bigquery/storage/apiv1beta2/storagepb/arrow.pb.go
  bigquery/storage/apiv1beta2/storagepb/avro.pb.go
  bigquery/storage/apiv1beta2/storagepb/protobuf.pb.go
  bigquery/storage/apiv1beta2/storagepb/storage.pb.go
  bigquery/storage/apiv1beta2/storagepb/stream.pb.go
  bigquery/storage/apiv1beta2/storagepb/table.pb.go
  internal/aliasfix/mappings.go
  internal/gapicgen/cmd/genbot/README.md
Labels: api: bigquery, automerge, size: xl

#7000 test(storage): split out some of the object tests
  storage/integration_test.go
Labels: api: storage, size: m

#7056 feat(maps/routing): start generating apiv2
  maps/CHANGES.md
Labels: size: xs

#7057 test(storage): fix flaky grpc tests
  storage/integration_test.go
Labels: api: storage, size: xs

#7042 feat(spanner): add support for handling null values in array of proto columns
  spanner/integration_test.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: s

#7059 feat(spanner): updates to configuration
  internal/kokoro/build_samples.sh
  spanner/integration_test.go
  spanner/testdata/protos/singer.pb.go
Labels: api: spanner, size: m

#7030 feat(spanner): start generating proto stubs
  internal/aliasfix/mappings.go
  spanner/admin/database/apiv1/databasepb/backup.pb.go
  spanner/admin/database/apiv1/databasepb/common.pb.go
  spanner/admin/database/apiv1/databasepb/spanner_database_admin.pb.go
  spanner/admin/instance/apiv1/instancepb/common.pb.go
  spanner/admin/instance/apiv1/instancepb/spanner_instance_admin.pb.go
  spanner/apiv1/spannerpb/commit_response.pb.go
  spanner/apiv1/spannerpb/keys.pb.go
  spanner/apiv1/spannerpb/mutation.pb.go
  spanner/apiv1/spannerpb/query_plan.pb.go
  spanner/apiv1/spannerpb/result_set.pb.go
  spanner/apiv1/spannerpb/spanner.pb.go
  spanner/apiv1/spannerpb/transaction.pb.go
  spanner/apiv1/spannerpb/type.pb.go
Labels: api: spanner, automerge, size: xl

#7028 chore: start generating proto stubs
  internal/aliasfix/mappings.go
  pubsub/apiv1/pubsubpb/pubsub.pb.go
  pubsub/apiv1/pubsubpb/schema.pb.go
  pubsublite/apiv1/pubsublitepb/admin.pb.go
  pubsublite/apiv1/pubsublitepb/common.pb.go
  pubsublite/apiv1/pubsublitepb/cursor.pb.go
  pubsublite/apiv1/pubsublitepb/publisher.pb.go
  pubsublite/apiv1/pubsublitepb/subscriber.pb.go
  pubsublite/apiv1/pubsublitepb/topic_stats.pb.go
Labels: automerge, size: xl

#7027 chore: start generating proto stubs
  errorreporting/apiv1beta1/errorreportingpb/common.pb.go
  errorreporting/apiv1beta1/errorreportingpb/error_group_service.pb.go
  errorreporting/apiv1beta1/errorreportingpb/error_stats_service.pb.go
  errorreporting/apiv1beta1/errorreportingpb/report_errors_service.pb.go
  internal/aliasfix/mappings.go
  logging/apiv2/loggingpb/log_entry.pb.go
  logging/apiv2/loggingpb/logging.pb.go
  logging/apiv2/loggingpb/logging_config.pb.go
  logging/apiv2/loggingpb/logging_metrics.pb.go
Labels: automerge, size: xl

#7008 chore(ci): ignore interface additions for stubs
  .github/workflows/apidiff.yml
Labels: size: xs

#7058 test(pubsublite): fix flaky TestIntegration_PublishSubscribeSinglePartition
  pubsublite/pscompat/integration_test.go
Labels: automerge, api: pubsublite, size: xs

#7065 chore(all): auto-regenerate gapics
  bigquery/datatransfer/apiv1/data_transfer_client.go
  bigquery/datatransfer/apiv1/datatransferpb/datatransfer.pb.go
  bigquery/datatransfer/apiv1/datatransferpb/transfer.pb.go
  bigquery/go.mod
  bigquery/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/batch/apiv1/snippet_metadata.google.cloud.batch.v1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/channel/apiv1/snippet_metadata.google.cloud.channel.v1.json
  internal/generated/snippets/dlp/apiv2/snippet_metadata.google.privacy.dlp.v2.json
  internal/generated/snippets/documentai/apiv1/snippet_metadata.google.cloud.documentai.v1.json
  internal/generated/snippets/documentai/apiv1beta3/snippet_metadata.google.cloud.documentai.v1beta3.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  memcache/apiv1/cloud_memcache_client.go
  memcache/apiv1/cloud_memcache_client_example_test.go
  memcache/apiv1/gapic_metadata.json
  memcache/apiv1/memcachepb/cloud_memcache.pb.go
  memcache/apiv1beta2/cloud_memcache_client.go
  memcache/apiv1beta2/cloud_memcache_client_example_test.go
  memcache/apiv1beta2/gapic_metadata.json
  memcache/apiv1beta2/memcachepb/cloud_memcache.pb.go
  memcache/go.mod
  memcache/go.sum
  notebooks/apiv1/gapic_metadata.json
  notebooks/apiv1/managed_notebook_client.go
  notebooks/apiv1/managed_notebook_client_example_test.go
  notebooks/apiv1/notebook_client.go
  notebooks/apiv1/notebook_client_example_test.go
  notebooks/apiv1/notebookspb/diagnostic_config.pb.go
  notebooks/apiv1/notebookspb/managed_service.pb.go
  notebooks/apiv1/notebookspb/runtime.pb.go
  notebooks/apiv1/notebookspb/service.pb.go
  notebooks/apiv1beta1/doc.go
  notebooks/apiv1beta1/gapic_metadata.json
  notebooks/apiv1beta1/notebook_client.go
  notebooks/apiv1beta1/notebook_client_example_test.go
  notebooks/apiv1beta1/notebookspb/environment.pb.go
  notebooks/apiv1beta1/notebookspb/instance.pb.go
  notebooks/apiv1beta1/notebookspb/service.pb.go
  notebooks/go.mod
  notebooks/go.sum
  shell/apiv1/shellpb/cloudshell.pb.go
  shell/go.mod
  shell/go.sum
Labels: automerge, size: xl

#7066 feat(spanner): update go-genproto dependency
  internal/kokoro/build_samples.sh
  spanner/go.mod
  spanner/go.sum
Labels: api: spanner, size: l

#7084 fix(compute/metadata): set IdleConnTimeout for http.Client
  compute/metadata/metadata.go
Labels: api: compute, automerge, size: xs

#7083 fix(logging): fix stdout log http request format
  logging/logging.go
  logging/logging_test.go
Labels: api: logging, size: m

#7093 feat(vmwareengine): start generating apiv1
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  release-please-config-yoshi-submodules.json
  vmwareengine/CHANGES.md
  vmwareengine/README.md
  vmwareengine/apiv1/doc.go
  vmwareengine/apiv1/gapic_metadata.json
  vmwareengine/apiv1/version.go
  vmwareengine/apiv1/vmware_engine_client.go
  vmwareengine/apiv1/vmware_engine_client_example_test.go
  vmwareengine/apiv1/vmwareenginepb/vmwareengine.pb.go
  vmwareengine/go.mod
  vmwareengine/go.sum
  vmwareengine/internal/version.go
Labels: api: vmwareengine, size: xl

#7098 test(pubsublite): fix flaky TestIntegration_PublishSubscribeSinglePartition
  pubsublite/pscompat/integration_test.go
Labels: api: pubsublite, size: xs
