Repository googleapis/google-cloud-go, pull requests merged in 2022-03, with the labels that each got.

#5617 feat(storage): allow specifying includeTrailingDelimiter
  storage/bucket.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: xs

#5707 feat(bigquery): add job timeout support
  bigquery/copy.go
  bigquery/copy_test.go
  bigquery/extract.go
  bigquery/extract_test.go
  bigquery/load.go
  bigquery/load_test.go
  bigquery/query.go
  bigquery/query_test.go
Labels: api: bigquery, size: s

#5718 docs(pubsub): clarify ack/nack cannot be called from goroutine
  pubsub/doc.go
Labels: api: pubsub, size: xs

#5714 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage/apiv1/big_query_write_client.go
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/securitycenter/apiv1/Client/CreateBigQueryExport/main.go
  internal/generated/snippets/securitycenter/apiv1/Client/DeleteBigQueryExport/main.go
  internal/generated/snippets/securitycenter/apiv1/Client/GetBigQueryExport/main.go
  internal/generated/snippets/securitycenter/apiv1/Client/ListBigQueryExports/main.go
  internal/generated/snippets/securitycenter/apiv1/Client/UpdateBigQueryExport/main.go
  internal/godocfx/go.sum
  securitycenter/apiv1/gapic_metadata.json
  securitycenter/apiv1/security_center_client.go
  securitycenter/apiv1/security_center_client_example_test.go
  securitycenter/go.mod
  securitycenter/go.sum
Labels: size: m

#5720 feat(video/stitcher): start generating apiv1
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  video/go.mod
  video/go.sum
  video/stitcher/apiv1/doc.go
  video/stitcher/apiv1/gapic_metadata.json
  video/stitcher/apiv1/version.go
  video/stitcher/apiv1/video_stitcher_client.go
  video/stitcher/apiv1/video_stitcher_client_example_test.go
Labels: api: videostitcher, size: xxl

#5724 test(spanner): skip TestIntegration_StartBackupOperation test with PG dialect because of timeouts
  spanner/integration_test.go
Labels: api: spanner, size: xs

#5717 fix(spanner/spansql): support GROUP BY without an aggregation function
  spanner/spannertest/db_query.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, size: xs

#5723 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/CreateCdnKey/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/CreateLiveSession/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/CreateSlate/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/CreateVodSession/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/DeleteCdnKey/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/DeleteSlate/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetCdnKey/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetLiveAdTagDetail/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetLiveSession/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetSlate/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetVodAdTagDetail/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetVodSession/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/GetVodStitchDetail/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/ListCdnKeys/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/ListLiveAdTagDetails/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/ListSlates/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/ListVodAdTagDetails/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/ListVodStitchDetails/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/UpdateCdnKey/main.go
  internal/generated/snippets/video/stitcher/apiv1/VideoStitcherClient/UpdateSlate/main.go
  internal/godocfx/go.sum
Labels: size: l

#5726 fix(internal/gapicgen): add generation of internal/version.go for new client modules
  internal/gapicgen/generator/_internal_version.go.txt
  internal/gapicgen/generator/gapics.go
Labels: size: s

#5725 docs(storage): clarify upload checksum docs
  storage/storage.go
  storage/writer.go
Labels: api: storage, size: xs

#5727 feat(certificatemanager): start generating apiv1
  certificatemanager/CHANGES.md
  certificatemanager/README.md
  certificatemanager/apiv1/certificate_manager_client.go
  certificatemanager/apiv1/certificate_manager_client_example_test.go
  certificatemanager/apiv1/doc.go
  certificatemanager/apiv1/gapic_metadata.json
  certificatemanager/apiv1/version.go
  certificatemanager/go.mod
  certificatemanager/go.sum
  certificatemanager/internal/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xxl

#5729 chore(all): auto-regenerate gapics
  analytics/admin/apiv1alpha/analytics_admin_client.go
  analytics/admin/apiv1alpha/analytics_admin_client_example_test.go
  analytics/admin/apiv1alpha/gapic_metadata.json
  analytics/go.mod
  analytics/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: xl

#5685 chore(storage): stub out grpc/json interfaces with factory methods
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Labels: api: storage, size: m

#4790 feat(pubsub/pstest): add topic retention support
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, cla: yes, stale: extraold, size: s

#5666 feat(bigquery): support authorized datasets
  bigquery/dataset.go
  bigquery/dataset_test.go
  bigquery/go.mod
  bigquery/go.sum
  bigquery/integration_test.go
Labels: api: bigquery, size: s

#5738 feat(aiplatform): start generating apiv1beta1
  aiplatform/apiv1beta1/dataset_client.go
  aiplatform/apiv1beta1/dataset_client_example_test.go
  aiplatform/apiv1beta1/doc.go
  aiplatform/apiv1beta1/endpoint_client.go
  aiplatform/apiv1beta1/endpoint_client_example_test.go
  aiplatform/apiv1beta1/featurestore_client.go
  aiplatform/apiv1beta1/featurestore_client_example_test.go
  aiplatform/apiv1beta1/featurestore_online_serving_client.go
  aiplatform/apiv1beta1/featurestore_online_serving_client_example_test.go
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/apiv1beta1/index_client.go
  aiplatform/apiv1beta1/index_client_example_test.go
  aiplatform/apiv1beta1/index_endpoint_client.go
  aiplatform/apiv1beta1/index_endpoint_client_example_test.go
  aiplatform/apiv1beta1/job_client.go
  aiplatform/apiv1beta1/job_client_example_test.go
  aiplatform/apiv1beta1/metadata_client.go
  aiplatform/apiv1beta1/metadata_client_example_test.go
  aiplatform/apiv1beta1/migration_client.go
  aiplatform/apiv1beta1/migration_client_example_test.go
  aiplatform/apiv1beta1/model_client.go
  aiplatform/apiv1beta1/model_client_example_test.go
  aiplatform/apiv1beta1/pipeline_client.go
  aiplatform/apiv1beta1/pipeline_client_example_test.go
  aiplatform/apiv1beta1/prediction_client.go
  aiplatform/apiv1beta1/prediction_client_example_test.go
  aiplatform/apiv1beta1/specialist_pool_client.go
  aiplatform/apiv1beta1/specialist_pool_client_example_test.go
  aiplatform/apiv1beta1/tensorboard_client.go
  aiplatform/apiv1beta1/tensorboard_client_example_test.go
  aiplatform/apiv1beta1/version.go
  aiplatform/apiv1beta1/vizier_client.go
  aiplatform/apiv1beta1/vizier_client_example_test.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: api: aiplatform, size: xxl

#5741 chore(storage): add call setting resolution helper
  storage/client.go
Labels: api: storage, size: xs

#5742 chore(internal/gapicgen): disable storage gapic retry
  internal/gapicgen/generator/config.go
Labels: size: xs

#5733 chore(all): auto-regenerate gapics
  go.mod
  go.sum
  internal/examples/fake/go.sum
  internal/generated/snippets/certificatemanager/apiv1/Client/CreateCertificate/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/CreateCertificateMap/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/CreateCertificateMapEntry/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/CreateDnsAuthorization/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteCertificate/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteCertificateMap/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteCertificateMapEntry/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteDnsAuthorization/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetCertificate/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetCertificateMap/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetCertificateMapEntry/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetDnsAuthorization/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListCertificateMapEntries/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListCertificateMaps/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListCertificates/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListDnsAuthorizations/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/UpdateCertificate/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/UpdateCertificateMap/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/UpdateCertificateMapEntry/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/UpdateDnsAuthorization/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: l

#5722 test(storage): RequesterPays test fix
  storage/integration_test.go
Labels: api: storage, size: s

#5673 fix(storage): respect STORAGE_EMULATOR_HOST in signedURL
  storage/grpc_client.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: s

#5747 test(bigtable): add UUID to avoid name collisions during test runs
  bigtable/integration_test.go
Labels: api: bigtable, size: xs

#5753 fix(bigquery): Query.Read fails with dry-run queries
  bigquery/query.go
Labels: api: bigquery, size: xs

#5758 chore(certificatemanager): release v0.1.0
  certificatemanager/CHANGES.md
Labels: size: xs

#5754 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: m

#5744 chore(storage): add bucket adapters
  storage/acl.go
  storage/acl_test.go
  storage/bucket.go
  storage/go.mod
  storage/go.sum
  storage/storage.go
Labels: api: storage, size: m

#5763 chore(internal): auto-publish docs for appengine
  internal/kokoro/publish_docs.sh
Labels: size: xs

#5756 test(bigtable): fix flaky SampleRowKeys IT
  bigtable/integration_test.go
Labels: api: bigtable, automerge, size: xs

#4286 feat(bigtable/cmd/cbt): Add keys-only option to lookup and read to avoid fetching and displaying cell values
  bigtable/cmd/cbt/cbt.go
  bigtable/cmd/cbt/cbt_test.go
  bigtable/cmd/cbt/testing.go
  bigtable/cmd/cbt/timeout_test.go
Labels: api: bigtable, cla: yes, stale: extraold, size: m

#5766 chore(certificatemanager): Initial release 0.1.0
  .release-please-manifest-submodules.json
  release-please-config-yoshi-submodules.json
Labels: size: xs

#5761 chore(all): auto-regenerate gapics
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/redis/apiv1/CloudRedisClient/GetInstanceAuthString/main.go
  internal/generated/snippets/redis/apiv1/CloudRedisClient/RescheduleMaintenance/main.go
  internal/godocfx/go.sum
  redis/apiv1/cloud_redis_client.go
  redis/apiv1/cloud_redis_client_example_test.go
  redis/apiv1/gapic_metadata.json
  redis/go.mod
  redis/go.sum
Labels: size: m

#5765 feat(optimization): start generating apiv1
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  optimization/CHANGES.md
  optimization/README.md
  optimization/apiv1/doc.go
  optimization/apiv1/fleet_routing_client.go
  optimization/apiv1/fleet_routing_client_example_test.go
  optimization/apiv1/gapic_metadata.json
  optimization/apiv1/version.go
  optimization/go.mod
  optimization/go.sum
  optimization/internal/version.go
  release-please-config-yoshi-submodules.json
Labels: size: xl

#5768 chore(storage): add withUserProject internal setting option
  storage/client.go
Labels: api: storage, size: xs

#5771 docs(storage): update Signed URLs and Post Policy to new surface
  storage/doc.go
Labels: api: storage, size: xs

#5774 test(storage): increase context deadline for RequesterPays
  storage/integration_test.go
Labels: api: storage, size: xs

#5775 chore(storage): add Bucket Get & Delete implementations
  storage/bucket.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: s

#5777 fix(spanner): early unlock of session pool lock during dumping the tracked session handles to avoid deadlock
  spanner/session.go
Labels: api: spanner, size: xs

#5767 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  dataflow/go.mod
  dataflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: size: m

#5784 test(compute): longer timeout for flaky test
  compute/apiv1/smoke_test.go
Labels: api: compute, size: xs

#5785 chore(all): auto-regenerate gapics
  compute/go.mod
  compute/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/optimization/apiv1/FleetRoutingClient/BatchOptimizeTours/main.go
  internal/generated/snippets/optimization/apiv1/FleetRoutingClient/OptimizeTours/main.go
  internal/generated/snippets/spanner/admin/database/apiv1/DatabaseAdminClient/CopyBackup/main.go
  internal/godocfx/go.sum
  metastore/apiv1alpha/dataproc_metastore_client.go
  metastore/go.mod
  metastore/go.sum
  spanner/admin/database/apiv1/database_admin_client.go
  spanner/admin/database/apiv1/database_admin_client_example_test.go
  spanner/admin/database/apiv1/gapic_metadata.json
  spanner/go.mod
  spanner/go.sum
Labels: size: m

#5790 test(storage): skip ObjectReadGRPC integration test that causes timeout
  storage/integration_test.go
Labels: api: storage, size: xs

#5792 test(storage): use t.Cleanup for requesterpays test
  storage/integration_test.go
Labels: api: storage, size: xs

#5798 chore(all): auto-regenerate gapics
  aiplatform/apiv1/gapic_metadata.json
  aiplatform/apiv1/model_client.go
  aiplatform/apiv1/model_client_example_test.go
  aiplatform/apiv1beta1/gapic_metadata.json
  aiplatform/apiv1beta1/model_client.go
  aiplatform/apiv1beta1/model_client_example_test.go
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/ModelClient/ImportModelEvaluation/main.go
  internal/generated/snippets/aiplatform/apiv1beta1/ModelClient/ImportModelEvaluation/main.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
Labels: size: s

#5807 fix(bigquery): improve retry for table create
  bigquery/table.go
Labels: api: bigquery, size: xs

#5808 chore(all): auto-regenerate gapics
  dialogflow/go.mod
  dialogflow/go.sum
  dlp/go.mod
  dlp/go.sum
  gaming/go.mod
  gaming/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/retail/apiv2/ProductClient/AddLocalInventories/main.go
  internal/generated/snippets/retail/apiv2/ProductClient/RemoveLocalInventories/main.go
  internal/godocfx/go.sum
  retail/apiv2/catalog_client.go
  retail/apiv2/completion_client.go
  retail/apiv2/gapic_metadata.json
  retail/apiv2/product_client.go
  retail/apiv2/product_client_example_test.go
  retail/apiv2/search_client.go
  retail/apiv2/user_event_client.go
  retail/go.mod
  retail/go.sum
Labels: size: l

#5770 chore(docs): add APIError to debugging docs
  doc.go
Labels: size: s

#5818 chore: update modules release-please config
  .github/release-please.yml
  .release-please-manifest-submodules.json
  bigtable/.release-please-manifest.json
  bigtable/release-please-config.json
  datastore/.release-please-manifest.json
  datastore/release-please-config.json
  errorreporting/.release-please-manifest.json
  errorreporting/release-please-config.json
  firestore/.release-please-manifest.json
  firestore/release-please-config.json
  logging/.release-please-manifest.json
  logging/release-please-config.json
  profiler/.release-please-manifest.json
  profiler/release-please-config.json
  pubsub/.release-please-manifest.json
  pubsub/release-please-config.json
  pubsublite/.release-please-manifest.json
  pubsublite/release-please-config.json
  release-please-config-submodules.json
  spanner/.release-please-manifest.json
  spanner/release-please-config.json
  storage/.release-please-manifest.json
  storage/release-please-config.json
Labels: size: m

#5811 fix(bigquery/storage/managedwriter): correct enum processing in NormalizeDescriptor
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testdata/messages_proto2.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto2.proto
  bigquery/storage/managedwriter/testdata/schemas.go
Labels: api: bigquery, size: l

#5819 fix(bigquery/storage/managedwriter/adapt): fix enum append
  bigquery/storage/managedwriter/adapt/protoconversion.go
Labels: api: bigquery, size: xs

#5821 chore(internal): make config information public so we can reuse from mains
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/config_test.go
  internal/gapicgen/generator/gapics.go
  internal/gapicgen/generator/generator.go
Labels: size: xl

#5814 chore(storage): implement interface IAM methods
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: m
