Repository googleapis/google-cloud-go, pull requests merged in 2022-07, with the labels that each got.

#6297 test(logging): fix TestInstrumentationIngestion failure
  logging/logging_test.go
  logging/logging_unexported_test.go
Labels: api: logging, size: xs

#6257 feat(pubsub/pstest): subscription message ordering
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub, size: m

#6263 fix(spanner): make Priority in QueryOptions effective and add some related tests.
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner, size: m

#6303 fix(spanner/spansql) Add tests for INSERT parsing, fix INTO bug
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: size: s

#6296 chore(all): auto-regenerate gapics
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  container/apiv1/cluster_manager_client.go
  container/apiv1/cluster_manager_client_example_test.go
  container/apiv1/gapic_metadata.json
  container/go.mod
  container/go.sum
  dialogflow/go.mod
  dialogflow/go.sum
  gaming/go.mod
  gaming/go.sum
  go.mod
  go.sum
  internal/generated/snippets/container/apiv1/ClusterManagerClient/CompleteNodePoolUpgrade/main.go
  internal/generated/snippets/container/apiv1/snippet_metadata.google.container.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  security/go.mod
  security/go.sum
  video/go.mod
  video/go.sum
Labels: size: m

#6309 chore(all): auto-regenerate gapics
  certificatemanager/apiv1/certificate_manager_client.go
  certificatemanager/apiv1/certificate_manager_client_example_test.go
  certificatemanager/apiv1/gapic_metadata.json
  certificatemanager/go.mod
  certificatemanager/go.sum
  dataform/go.sum
  dialogflow/go.sum
  eventarc/go.sum
  gkebackup/go.sum
  gkemulticloud/go.sum
  go.mod
  go.sum
  internal/generated/snippets/certificatemanager/apiv1/Client/CancelOperation/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/DeleteOperation/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetLocation/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListLocations/main.go
  internal/generated/snippets/certificatemanager/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/certificatemanager/apiv1/snippet_metadata.google.cloud.certificatemanager.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.sum
  securitycenter/go.sum
  spanner/go.sum
  trace/go.sum
Labels: size: xl

#6304 fix(bigquery/storage/managedstorage): improve internal locking
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/retry.go
Labels: api: bigquery, size: l

#6281 feat(pubsub): add helper method for parsing ErrorInfos
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/message.go
  pubsub/service.go
  pubsub/subscription.go
Labels: api: pubsub, size: l

#6317 feat(bigtable): adds autoscaling target storage per node
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/go.mod
  bigtable/go.sum
Labels: api: bigtable, size: m

#6323 feat(functions): start generating apiv2
  functions/apiv2/doc.go
  functions/apiv2/function_client.go
  functions/apiv2/function_client_example_test.go
  functions/apiv2/gapic_metadata.json
  functions/apiv2/version.go
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: api: cloudfunctions, size: xl

#6326 chore(beyondcorp): start generating apiv1
  beyondcorp/appconnectors/apiv1/app_connectors_client.go
  beyondcorp/appconnectors/apiv1/app_connectors_client_example_test.go
  beyondcorp/appconnectors/apiv1/doc.go
  beyondcorp/appconnectors/apiv1/gapic_metadata.json
  beyondcorp/appconnectors/apiv1/version.go
  beyondcorp/appgateways/apiv1/app_gateways_client.go
  beyondcorp/appgateways/apiv1/app_gateways_client_example_test.go
  beyondcorp/appgateways/apiv1/doc.go
  beyondcorp/appgateways/apiv1/gapic_metadata.json
  beyondcorp/appgateways/apiv1/version.go
  beyondcorp/clientconnectorservices/apiv1/client_connector_services_client.go
  beyondcorp/clientconnectorservices/apiv1/client_connector_services_client_example_test.go
  beyondcorp/clientconnectorservices/apiv1/doc.go
  beyondcorp/clientconnectorservices/apiv1/gapic_metadata.json
  beyondcorp/clientconnectorservices/apiv1/version.go
  beyondcorp/clientgateways/apiv1/client_gateways_client.go
  beyondcorp/clientgateways/apiv1/client_gateways_client_example_test.go
  beyondcorp/clientgateways/apiv1/doc.go
  beyondcorp/clientgateways/apiv1/gapic_metadata.json
  beyondcorp/clientgateways/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
Labels: size: xl

#6327 testing(bigquery/storage/managewriter): confirm packed behaviors with normalization
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/validation_test.go
Labels: api: bigquery, kokoro:force-run, size: m

#6294 feat(storage): add Custom Placement Config Dual Region Support
  storage/bucket.go
  storage/integration_test.go
Labels: size: m

#6312 feat(bigquery/storage/managedwriter/adapt): support packed field option
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: api: bigquery, size: m

#6338 fix(bigquery/storage/managedwriter): improve network reconnection
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
Labels: api: bigquery, size: m

#6335 fix(pubsub): make receipt modack call async
  pubsub/iterator.go
Labels: api: pubsub, size: s

#6347 chore(all): auto-regenerate gapics
  dataplex/apiv1/content_client.go
  dataplex/apiv1/content_client_example_test.go
  dataplex/apiv1/dataplex_client.go
  dataplex/apiv1/dataplex_client_example_test.go
  dataplex/apiv1/gapic_metadata.json
  dataplex/apiv1/metadata_client.go
  dataplex/apiv1/metadata_client_example_test.go
  dataplex/go.mod
  dataplex/go.sum
  go.mod
  go.sum
  internal/generated/snippets/dataplex/apiv1/Client/CancelOperation/main.go
  internal/generated/snippets/dataplex/apiv1/Client/DeleteOperation/main.go
  internal/generated/snippets/dataplex/apiv1/Client/GetLocation/main.go
  internal/generated/snippets/dataplex/apiv1/Client/GetOperation/main.go
  internal/generated/snippets/dataplex/apiv1/Client/ListLocations/main.go
  internal/generated/snippets/dataplex/apiv1/Client/ListOperations/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/CancelOperation/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/DeleteOperation/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/GetIamPolicy/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/GetLocation/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/GetOperation/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/ListLocations/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/ListOperations/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/SetIamPolicy/main.go
  internal/generated/snippets/dataplex/apiv1/ContentClient/TestIamPermissions/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/CancelOperation/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/DeleteOperation/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/GetLocation/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/GetOperation/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/ListLocations/main.go
  internal/generated/snippets/dataplex/apiv1/MetadataClient/ListOperations/main.go
  internal/generated/snippets/dataplex/apiv1/snippet_metadata.google.cloud.dataplex.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
Labels: size: xl

#6350 chore(storage): remove adapters dependency
  storage/bucket.go
  storage/go.mod
  storage/go.sum
Labels: api: storage, size: s

#6301 doc(pubsub): clarify behavior of ack deadlines
  pubsub/doc.go
Labels: api: pubsub, size: s

#6334 chore(ci): add sync branch workflow for storage-refactor
  .github/workflows/sync_branch.yaml
Labels: automerge, size: s

#6348 test(profiler): use go 1.18.4 in integration test
  profiler/kokoro/integration_test.sh
Labels: api: cloudprofiler, size: s

#6355 chore(ci): storage-refactor sync use Yoshi Code Bot
  .github/workflows/sync_branch.yaml
Labels: automerge, size: xs

#6344 fix(spanner): fix pool.numInUse exceeding MaxOpened
  spanner/session.go
Labels: api: spanner, size: s

#6341 feat(spanner/spansql): add support for if expressions
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#6364 chore: fix config pass for assuredworkloads
  internal/gapicgen/generator/config.go
Labels: size: xs

#6270 chore(storage): update ACL methods
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
Labels: api: storage, size: l

#6366 chore: switched app_profile to app_profile_id
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
Labels: size: xs

#6357 chore(settings): add storage-refactor settings
  .github/sync-repo-settings.yaml
Labels: automerge, size: s

#6365 chore(all): auto-regenerate gapics
  assuredworkloads/apiv1beta1/assured_workloads_client.go
  assuredworkloads/apiv1beta1/assured_workloads_client_example_test.go
  assuredworkloads/apiv1beta1/gapic_metadata.json
  assuredworkloads/go.mod
  assuredworkloads/go.sum
  internal/generated/snippets/assuredworkloads/apiv1beta1/Client/AnalyzeWorkloadMove/main.go
  internal/generated/snippets/assuredworkloads/apiv1beta1/Client/GetOperation/main.go
  internal/generated/snippets/assuredworkloads/apiv1beta1/Client/ListOperations/main.go
  internal/generated/snippets/assuredworkloads/apiv1beta1/Client/RestrictAllowedResources/main.go
  internal/generated/snippets/assuredworkloads/apiv1beta1/Client/RestrictAllowedServices/main.go
  internal/generated/snippets/assuredworkloads/apiv1beta1/snippet_metadata.google.cloud.assuredworkloads.v1beta1.json
  internal/generated/snippets/bigquery/connection/apiv1/snippet_metadata.google.cloud.bigquery.connection.v1.json
  internal/generated/snippets/bigquery/connection/apiv1beta1/snippet_metadata.google.cloud.bigquery.connection.v1beta1.json
  internal/generated/snippets/bigquery/dataexchange/apiv1beta1/snippet_metadata.google.cloud.bigquery.dataexchange.v1beta1.json
  internal/generated/snippets/bigquery/datatransfer/apiv1/snippet_metadata.google.cloud.bigquery.datatransfer.v1.json
  internal/generated/snippets/bigquery/migration/apiv2/snippet_metadata.google.cloud.bigquery.migration.v2.json
  internal/generated/snippets/bigquery/migration/apiv2alpha/snippet_metadata.google.cloud.bigquery.migration.v2alpha.json
  internal/generated/snippets/bigquery/reservation/apiv1/snippet_metadata.google.cloud.bigquery.reservation.v1.json
  internal/generated/snippets/bigquery/reservation/apiv1beta1/snippet_metadata.google.cloud.bigquery.reservation.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1/snippet_metadata.google.cloud.bigquery.storage.v1.json
  internal/generated/snippets/bigquery/storage/apiv1beta1/snippet_metadata.google.cloud.bigquery.storage.v1beta1.json
  internal/generated/snippets/bigquery/storage/apiv1beta2/snippet_metadata.google.cloud.bigquery.storage.v1beta2.json
  vmmigration/apiv1/doc.go
  vmmigration/apiv1/gapic_metadata.json
  vmmigration/apiv1/vm_migration_client.go
  vmmigration/apiv1/vm_migration_client_example_test.go
  vmmigration/go.mod
  vmmigration/go.sum
Labels: size: xl

#6375 test(profiler): compile busybench before running backoff test
  profiler/integration_test.go
  profiler/kokoro/integration_test.sh
Labels: api: cloudprofiler, size: s

#6373 chore(bigquery/storage/managedwriter): augment test logging
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#6313 chore(storage): RewriteObject implementation
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
Labels: api: storage, size: m

#6383 chore(internal/gapicgen): update microgen v0.31.2
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, size: xs

#6385 test(bigquery/storage/managedwriter): relax error checking
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: s

#5946 feat(firestore): adds Bulkwriter support to Firestore client
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
  firestore/client.go
  firestore/go.mod
  firestore/go.sum
  firestore/integration_test.go
  firestore/mock_test.go
  firestore/writebatch.go
Labels: api: firestore, stale: extraold, size: l

#6392 test(storage): unflake TestIntegration_ACL
  storage/integration_test.go
Labels: api: storage, size: xs

#6393 Revert "chore: sync main to storage-refactor"
  .release-please-manifest-submodules.json
  assuredworkloads/CHANGES.md
  assuredworkloads/internal/version.go
  bigquery/storage/managedwriter/integration_test.go
  dataplex/CHANGES.md
  dataplex/internal/version.go
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
  firestore/client.go
  firestore/go.mod
  firestore/go.sum
  firestore/integration_test.go
  firestore/mock_test.go
  firestore/writebatch.go
  internal/gapicgen/cmd/genbot/Dockerfile
  profiler/integration_test.go
  profiler/kokoro/integration_test.sh
  storage/.release-please-manifest.json
  storage/CHANGES.md
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/internal/version.go
  storage/storage.go
  vmmigration/CHANGES.md
  vmmigration/internal/version.go
Labels: automerge, size: l

#6376 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  go.mod
  go.sum
  internal/generated/snippets/assuredworkloads/apiv1/snippet_metadata.google.cloud.assuredworkloads.v1.json
  internal/generated/snippets/assuredworkloads/apiv1beta1/snippet_metadata.google.cloud.assuredworkloads.v1beta1.json
  internal/generated/snippets/dataplex/apiv1/snippet_metadata.google.cloud.dataplex.v1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/gapic_metadata.json
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/storage_client_example_test.go
  storage/internal/apiv2/stubs/storage.pb.go
Labels: size: xl

#6384 chore(logging): change python version for logging environment tests
  internal/kokoro/environment.sh
Labels: api: logging, size: xs

#6404 chore(firestore): add missing license headers
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
Labels: api: firestore, automerge, size: s

#6400 chore(ci): skip sync job on foks
  .github/workflows/sync_branch.yaml
Labels: automerge, size: xs

#6399 chore(settings): disable linear history on branch
  .github/sync-repo-settings.yaml
Labels: automerge, size: xs

#6349 feat(spanner/spansql): support for parsing a DML file
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/types.go
Labels: api: spanner, priority: p3, size: l

#6389 feat(spanner/spansql): add support for IFNULL expressions
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#6382 chore(internal/gapicgen): update spanner db admin
  internal/gapicgen/generator/config.go
Labels: automerge, size: xs

#6403 feat(artifactregistry): start generating apiv1
  artifactregistry/apiv1/artifact_registry_client.go
  artifactregistry/apiv1/artifact_registry_client_example_test.go
  artifactregistry/apiv1/doc.go
  artifactregistry/apiv1/gapic_metadata.json
  artifactregistry/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: api: artifactregistry, size: xl

#6314 feat(bigtable): add PolicyType for GCPolicy and expose public methods for different types of GC policies
  bigtable/gc.go
  bigtable/go.mod
  bigtable/go.sum
Labels: api: bigtable, automerge, size: m

#6421 chore(settings): revert enablement of merge commit
  .github/sync-repo-settings.yaml
Labels: automerge, size: xs

#6397 chore(all): auto-regenerate gapics
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  networksecurity/apiv1beta1/gapic_metadata.json
  networksecurity/apiv1beta1/network_security_client.go
  networksecurity/apiv1beta1/network_security_client_example_test.go
  networksecurity/go.mod
  networksecurity/go.sum
  securitycenter/go.mod
  securitycenter/go.sum
  spanner/admin/database/apiv1/database_admin_client.go
  spanner/admin/database/apiv1/database_admin_client_example_test.go
  spanner/admin/database/apiv1/gapic_metadata.json
  spanner/go.mod
  spanner/go.sum
Labels: size: l

#6414 chore(storage): integrate Compose in new interface
  storage/client.go
  storage/copy.go
  storage/grpc_client.go
  storage/http_client.go
  storage/reader.go
  storage/storage.go
  storage/writer.go
Labels: api: storage, kokoro:force-run, size: m

#5986 feat(bigquery): support JSON as a data type
  bigquery/nulls.go
  bigquery/nulls_test.go
  bigquery/params.go
  bigquery/params_test.go
  bigquery/schema.go
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery, stale: extraold, size: m

#6426 chore(storage): add makeStorageOpts helper
  storage/client.go
  storage/copy.go
Labels: api: storage, size: s

#6274 feat(recommendationengine): reenable generation
  internal/gapicgen/generator/config.go
  internal/gapicgen/generator/genproto.go
  recommendationengine/apiv1beta1/catalog_client.go
  recommendationengine/apiv1beta1/catalog_client_example_test.go
  recommendationengine/apiv1beta1/doc.go
  recommendationengine/apiv1beta1/prediction_api_key_registry_client.go
  recommendationengine/apiv1beta1/prediction_api_key_registry_client_example_test.go
  recommendationengine/apiv1beta1/prediction_client.go
  recommendationengine/apiv1beta1/prediction_client_example_test.go
  recommendationengine/apiv1beta1/user_event_client.go
  recommendationengine/apiv1beta1/user_event_client_example_test.go
  recommendationengine/apiv1beta1/version.go
  recommendationengine/go.mod
  recommendationengine/go.sum
Labels: api: recommendationengine, size: m

#6412 ci: use header-checker for license headers
  .github/header-checker-lint.md
  header_test.go
Labels: automerge, size: m

#6432 chore: fix file extension type
  .github/header-checker-lint.yml
Labels: size: u

#6430 chore(storage): migrate HMAC operations
  storage/hmac.go
Labels: api: storage, size: m

#6427 chore(ci): remove sync job
  .github/workflows/sync_branch.yaml
Labels: automerge, size: s

#6436 fix(bigtable): make code buildable
  bigtable/cmd/loadtest/loadtest.go
  bigtable/cmd/scantest/scantest.go
  bigtable/go.mod
  bigtable/go.sum
Labels: api: bigtable, size: l

#6435 chore(storage): migrate Copier
  storage/client.go
  storage/copy.go
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
Labels: api: storage, size: m

#6433 chore(storage): migrate top-level methods
  storage/bucket.go
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: m

#6423 feat(spanner/spansql): add support for nullif expressions
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#6437 chore(storage): migrate IAM operations
  storage/iam.go
Labels: api: storage, size: s

#6441 test: start building all code
  internal/kokoro/presubmit.sh
Labels: size: s

#6440 chore(storage): migrate ACL operations
  storage/acl.go
Labels: api: storage, size: m

#6442 chore(storage): migrate Notification methods
  storage/integration_test.go
  storage/notifications.go
Labels: api: storage, automerge, size: s

#6443 test: update continuous.sh for storage-refactor
  internal/kokoro/continuous.sh
Labels: size: xs

#6438 chore(storage): migrate bucket methods
  storage/bucket.go
  storage/bucket_test.go
  storage/storage_test.go
Labels: api: storage, size: l

#6402 feat(bigquery/storage/managedwriter): refactor AppendResponse
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
  bigquery/storage/managedwriter/doc.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/options.go
Labels: api: bigquery, size: l

#6445 chore(storage): migrate object metadata operations
  storage/storage.go
Labels: api: storage, automerge, size: m

#6450 docs: fix incorrect connection pool documentation
  pubsub/doc.go
Labels: size: xs
