Repository googleapis/google-cloud-go, pull requests merged in 2023-09, with the labels that each got.

#8527 feat(spanner): add executor framework autogenerated proto code
  spanner/executor/apiv1/executorpb/README.md
  spanner/executor/apiv1/executorpb/cloud_executor.pb.go
Labels: api: spanner, size: xl

#8508 feat(auth): add support for external accounts in detect
  auth/detect/detect_test.go
  auth/detect/filetypes.go
  auth/detect/internal/externalaccount/aws_provider.go
  auth/detect/internal/externalaccount/aws_provider_test.go
  auth/detect/internal/externalaccount/executable_provider.go
  auth/detect/internal/externalaccount/executable_provider_test.go
  auth/detect/internal/externalaccount/externalaccount.go
  auth/detect/internal/externalaccount/externalaccount_test.go
  auth/detect/internal/externalaccount/file_provider.go
  auth/detect/internal/externalaccount/file_provider_test.go
  auth/detect/internal/externalaccount/impersonate_test.go
  auth/detect/internal/externalaccount/sts_exchange.go
  auth/detect/internal/externalaccount/sts_exchange_test.go
  auth/detect/internal/externalaccount/testdata/3pi_cred.json
  auth/detect/internal/externalaccount/testdata/3pi_cred.txt
  auth/detect/internal/externalaccount/url_provider.go
  auth/detect/internal/externalaccount/url_provider_test.go
  auth/detect/internal/gdch/gdch.go
  auth/detect/internal/impersonate/impersonate.go
Labels: automerge, size: xl

#8533 test(pubsub): add retry to all integration test resource creation
  pubsub/integration_test.go
Labels: api: pubsub, size: m

#8409 fix(firestore): Compare full resource path when docs ordered by __name__
  firestore/integration_test.go
  firestore/query.go
Labels: api: firestore, size: m

#8370 fix(firestore): Correcting EndBefore with LimitToLast behaviour
  firestore/integration_test.go
  firestore/query.go
Labels: api: firestore, stale: old, size: s

#8545 feat(bigquery): add external dataset reference
  bigquery/dataset.go
  bigquery/dataset_test.go
  bigquery/go.mod
  bigquery/go.sum
Labels: api: bigquery, automerge, size: m

#8496 test(pubsublite): fix flaky TestAssigningSubscriberAddRemovePartitions
  pubsublite/internal/wire/subscriber_test.go
Labels: automerge, api: pubsublite, size: s

#8551 chore(deps): temporarily ignore grpc dep
  .github/renovate.json
Labels: automerge, size: xs

#8424 chore(video/stitcher): add config to restore generation of apiv1
  .github/.OwlBot.yaml
Labels: api: videointelligence, automerge, size: xs

#8552 chore: release auth standalone
  .release-please-manifest-submodules.json
  internal/postprocessor/releaseplease.go
  release-please-config-yoshi-submodules.json
Labels: automerge, size: xs

#8526 test(pubsub): dedupe by message data in ordering keys json test
  pubsub/integration_test.go
  pubsub/internal/testutil/verifier.go
Labels: api: pubsub, size: s

#8561 feat(video/stitcher): refactor RPCs to use LRO
  video/CHANGES.md
Labels: api: videointelligence, size: xs

#8553 chore(storage): remove closing of channel
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/w1r3.go
  storage/internal/benchmarks/warmup.go
Labels: api: storage, size: s

#8568 chore(alloydb/connectors): add config to generate apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs, api: alloydb

#8567 feat(auth): add httptransport package
  auth/detect/internal/impersonate/impersonate.go
  auth/go.mod
  auth/go.sum
  auth/httptransport/httptransport.go
  auth/httptransport/httptransport_test.go
  auth/httptransport/trace.go
  auth/httptransport/trace_test.go
  auth/httptransport/transport.go
  auth/internal/transport/transport.go
  auth/internal/transport/transport_test.go
Labels: size: xl

#8512 feat: add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Labels: size: s

#8578 feat(auth): add impersonate package
  auth/impersonate/doc.go
  auth/impersonate/example_test.go
  auth/impersonate/idtoken.go
  auth/impersonate/idtoken_test.go
  auth/impersonate/impersonate.go
  auth/impersonate/impersonate_test.go
  auth/impersonate/integration_test.go
  auth/impersonate/user.go
  auth/impersonate/user_test.go
Labels: automerge, size: xl

#5331 feat(firestore): adds multi-DB support
  CONTRIBUTING.md
  firestore/client.go
  firestore/client_test.go
  firestore/integration_test.go
  internal/kokoro/continuous.sh
Labels: api: firestore, stale: extraold, size: m

#8544 fix(datastore): Handle loading nil values
  datastore/integration_test.go
  datastore/load.go
  datastore/load_test.go
Labels: api: datastore, size: m

#8540 fix(datastore): Allow saving nested byte slice
  datastore/datastore_test.go
  datastore/prop.go
Labels: api: datastore, size: m

#8566 fix(bigquery): dependency detection on proto conversion
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: api: bigquery, size: m

#8569 feat(auth): add cert support to httptransport
  auth/go.mod
  auth/go.sum
  auth/httptransport/httptransport.go
  auth/httptransport/transport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
  auth/internal/transport/cert/cmd/test_signer.go
  auth/internal/transport/cert/default_cert.go
  auth/internal/transport/cert/enterprise_cert.go
  auth/internal/transport/cert/enterprise_cert_test.go
  auth/internal/transport/cert/secureconnect_cert.go
  auth/internal/transport/cert/secureconnect_cert_test.go
  auth/internal/transport/cert/testdata/certificate_config.json
  auth/internal/transport/cert/testdata/certificate_config_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata.json
  auth/internal/transport/cert/testdata/context_aware_metadata_invalid_pem.json
  auth/internal/transport/cert/testdata/context_aware_metadata_nonexpiring_pem.json
  auth/internal/transport/cert/testdata/invalid.pem
  auth/internal/transport/cert/testdata/nonexpiring.pem
  auth/internal/transport/cert/testdata/rsa2048bit.pem
  auth/internal/transport/cert/testdata/signer.sh
  auth/internal/transport/cert/testdata/signer_invalid_pem.sh
  auth/internal/transport/cert/testdata/testcert.pem
  auth/internal/transport/s2a.go
  auth/internal/transport/s2a_test.go
Labels: automerge, size: xl

#8477 test(pubsublite): fix flaky TestStreamIdleTimerRestart
  pubsublite/internal/wire/request_timer_test.go
Labels: automerge, api: pubsublite, size: xs

#8601 fix(bigquery/storage/managedwriter): automatic retry for multiplex test
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#8575 test(pubsub): cleanup ordered keys json integration test
  pubsub/integration_test.go
Labels: api: pubsub, size: s

#8608 fix(pubsub): add veneer header to sub client
  pubsub/pubsub.go
Labels: api: pubsub, automerge, size: xs

#8607 fix(bigtable): add missing veneer header
  bigtable/internal/option/option.go
Labels: api: bigtable, automerge, size: xs

#8610 chore: update min version to Go 1.19
  .github/renovate.json
  README.md
Labels: size: m

#8364 feat(datastore): Adding x-goog-request-params header
  datastore/client.go
  datastore/datastore.go
  datastore/integration_test.go
Labels: api: datastore, stale: old, size: s

#8619 chore: Add team and remove individual owner
  .github/CODEOWNERS
Labels: size: s

#8589 test(spanner): test custom timeout sample
  spanner/client_test.go
Labels: api: spanner, samples, size: s

#8624 chore(storage): update gRPC version [benchmarks]
  go.work.sum
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
Labels: api: storage, size: xs

#8595 feat(auth/oauth2adapt): adds a new module to translate types
  .release-please-manifest-individual.json
  auth/oauth2adapt/go.mod
  auth/oauth2adapt/go.sum
  auth/oauth2adapt/oauth2adapt.go
  auth/oauth2adapt/oauth2adapt_test.go
  go.work
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/postprocessor/releaseplease.go
  release-please-config-individual.json
Labels: size: l

#8626 chore(bigtable): switch to google.golang.org/protobuf
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
  bigtable/bttest/instance_server.go
  bigtable/conformance_test.go
  bigtable/gc.go
  bigtable/go.mod
  bigtable/integration_test.go
  bigtable/internal/conformance/README.md
  bigtable/internal/conformance/tests.pb.go
  bigtable/internal/conformance/tests.proto
  bigtable/internal/testproxy/proxy.go
  bigtable/reader_test.go
  bigtable/retry_test.go
Labels: api: bigtable, automerge, size: l

#8627 chore: fix publish job
  internal/kokoro/publish_docs.sh
Labels: size: xs

#8628 chore(auth): cleanup some small todos
  auth/detect/compute.go
  auth/detect/example_test.go
  auth/detect/internal/externalaccount/aws_provider.go
  auth/example_test.go
  auth/impersonate/integration_test.go
  auth/internal/testutil/testdns/dns.go
  auth/internal/testutil/testgcs/storage.go
  auth/internal/testutil/testutil.go
Labels: automerge, size: l
