Repository googleapis/google-cloud-go, pull requests merged in 2023-06, with the labels that each got.

#8027 chore(main): Migrate release job from github
  internal/kokoro/release.sh
  internal/kokoro/requirements.in
  internal/kokoro/requirements.txt
Labels: size: l

#8017 fix(storage): fix reads with "./" in object name [XML]
  storage/http_client.go
  storage/integration_test.go
Labels: api: storage, size: s

#8033 chore(storage): fix error unwrapping bug [benchmarking]
  storage/internal/benchmarks/utils.go
Labels: api: storage, size: xs

#8039 chore: move renovate to run weekly
  .github/renovate.json
Labels: automerge, size: xs

#7671 fix(bigquery): RowIterator.Schema not filled when using Storage Read API
  bigquery/storage_integration_test.go
  bigquery/storage_iterator.go
Labels: api: bigquery, stale: extraold, size: m

#8040 fix(pubsub): fix issue preventing clearing BQ subscription
  pubsub/pstest/fake.go
  pubsub/subscription.go
Labels: api: pubsub, size: s

#8051 test(storage): fix panicking test
  storage/integration_test.go
Labels: api: storage, automerge, size: xs

#8000 chore(storage): add workload 6 (directories) [benchmarks]
  storage/internal/benchmarks/README.md
  storage/internal/benchmarks/benchmark_result.go
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/download_benchmark.go
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/utils.go
  storage/internal/benchmarks/w1r3.go
Labels: api: storage, size: l

#8054 doc(storage): clarify conditions errors
  storage/bucket.go
  storage/storage.go
Labels: api: storage, automerge, size: xs

#8029 fix(pubsublite): Use fieldmask directly instead of field_mask genproto alias
  pubsublite/admin.go
  pubsublite/admin_test.go
  pubsublite/config.go
  pubsublite/config_test.go
Labels: api: pubsublite, size: xs

#8032 fix(bigtable): Use fieldmask directly instead of field_mask genproto alias
  bigtable/admin.go
Labels: api: bigtable, automerge, size: xs

#8030 fix(pubsub): Use fieldmask directly instead of field_mask genproto alias
  pubsub/pstest/fake_test.go
  pubsub/snapshot.go
  pubsub/subscription.go
  pubsub/topic.go
Labels: automerge, api: pubsublite, size: xs

#8060 fix(pubsub/pstest): fix failing bq config test
  pubsub/pstest/fake_test.go
Labels: api: pubsub, size: xs

#8061 chore(ci): ignore interface adds in regen pr
  .github/workflows/apidiff.yml
Labels: automerge, size: xs

#8062 chore(storage): fix bugs in workload 6 [benchmarks]
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/main.go
Labels: api: storage, size: s

#8063 chore(storage): add data to output [benchmarks]
  storage/internal/benchmarks/benchmark_result.go
  storage/internal/benchmarks/main.go
Labels: api: storage, size: m

#8065 chore(ci): fix apidiff branch match
  .github/workflows/apidiff.yml
Labels: automerge, size: xs

#8072 chore(migrationcenter): add config to generate apiv1
  .github/.OwlBot.yaml
  .release-please-manifest-submodules.json
  internal/postprocessor/config.yaml
  release-please-config-yoshi-submodules.json
Labels: size: s

#8082 fix(firestore): do not trace iterator.Done error
  firestore/query.go
Labels: api: firestore, automerge, size: xs

#8084 chore(firestore): gofmt query.go
  firestore/query.go
Labels: api: firestore, size: xs

#8083 feat(gkebackup): add operation, location, iampolicy mixin methods
  gkebackup/CHANGES.md
Labels: size: xs

#8086 Revert "fix(datastore): Handling nil slices in save and query (#8043)"
  datastore/load.go
  datastore/load_test.go
  datastore/save.go
Labels: api: datastore, size: s

#8093 chore(all): manually document frozen files
  batch/apiv1/iam_policy_client.go
  datacatalog/apiv1/iam_policy_client.go
  datastream/apiv1/iam_policy_client.go
  networkconnectivity/apiv1/policy_based_routing_client.go
  run/apiv2/locations_client.go
  vmmigration/apiv1/iam_policy_client.go
Labels: automerge, size: s

#8102 chore(owlbot): update postprocessor sha
  .github/.OwlBot.lock.yaml
Labels: automerge, size: xs

#8104 feat(profiler): support configurable debug logging destination
  profiler/profiler.go
  profiler/profiler_test.go
Labels: api: cloudprofiler, automerge, size: s

#8111 chore(postprocessor): update manual entries
  internal/.repo-metadata-full.json
  internal/postprocessor/config.yaml
Labels: automerge, size: l

#8112 chore(postprocessor): fix missing format specifier
  internal/postprocessor/manifest.go
Labels: automerge, size: xs

#8129 test: skip flaky test
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/godocfx_test.go
Labels: size: s

#8103 chore(postprocessor): add update steps
  internal/postprocessor/README.md
Labels: automerge, size: s

#8131 chore(internal/postprocessor): fix profiler & errorreporting shortnames
  internal/.repo-metadata-full.json
  internal/postprocessor/config.yaml
Labels: automerge, size: xs

#8128 fix(internal/retry): never return nil from GRPCStatus()
  internal/retry.go
  internal/retry_test.go
Labels: automerge, size: s

#8152 feat(spanner): add databoost property for batch transactions
  spanner/batch.go
  spanner/integration_test.go
  spanner/transaction.go
Labels: api: spanner, size: m

#8132 docs: update timeout docs for gax.WithTimeout
  doc.go
Labels: automerge, size: s

#8159 fix(storage): fix routing header for writes
  storage/grpc_client.go
Labels: api: storage, size: xs

#8055 feat(bigquery): support for tables primary and foreign keys
  bigquery/table.go
  bigquery/table_integration_test.go
  bigquery/table_test.go
Labels: api: bigquery, automerge, size: l

#7803 fix(datastore): datastoreClient.RunAggregationQuery
  datastore/client.go
  datastore/query.go
Labels: api: datastore, stale: extraold, size: s

#8097 feat(storage): add support for MatchGlob
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge, size: m

#8165 fix(storage): fix CreateBucket logic for gRPC
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, size: s

#8166 test: fix brittle tests
  pubsub/pubsub_test.go
  spanner/client_test.go
Labels: size: xs

#8167 fix(datastore): Change aggregation result to return generic value
  datastore/query.go
Labels: api: datastore, size: s

#8164 fix(bigquery/storage/managedwriter): correct reconnection logic
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/send_optimizer.go
Labels: api: bigquery, size: m

#7977 feat(pubsub): add support for cloud storage subscriptions
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, stale: old, size: l

#8113 feat(storage): respect WithEndpoint for SignedURLs and PostPolicy
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
  storage/post_policy_v4.go
  storage/post_policy_v4_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: l

#8160 chore(storage): rename host variable used for xml reads
  storage/bucket.go
  storage/http_client.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: m

#8168 feat(pubsub): enable project autodetection and detect empty project
  pubsub/integration_test.go
  pubsub/pubsub.go
  pubsub/pubsub_test.go
Labels: api: pubsub, size: m

#8172 doc(storage): minor fix to PostPolicyV4 docs
  storage/post_policy_v4.go
Labels: api: storage, automerge, size: xs

#8184 fix(storage): fix AllObjects condition in gRPC
  storage/bucket.go
  storage/integration_test.go
Labels: api: storage, automerge, size: s
