Repository googleapis/google-cloud-go, pull requests merged in 2023-08, with the labels that each got.

#8367 test(profiler): Remove 'master' go version from tests
  profiler/integration_test.go
Labels: api: cloudprofiler, size: s

#8264 chore(firestore): Cleanup integration test resources
  firestore/integration_test.go
Labels: api: firestore, size: m

#8150 fix(storage): Same method name and Trace Span name
  storage/bucket.go
Labels: api: storage, automerge, stale: old, size: xs

#8348 feat(storage): support single-shot uploads in gRPC
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge, size: m

#8372 fix(bigquery): use JobFromProject for storage iterator
  bigquery/storage_iterator.go
Labels: api: bigquery, size: xs

#8375 feat(storage): add trace span to Writer
  storage/storage.go
  storage/writer.go
Labels: api: storage, automerge, size: xs

#8334 docs(bigquery/storage/managedwriter): augment context usage in package docs
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/doc.go
Labels: api: bigquery, automerge, size: s

#8295 test(spanner): enabling Go Integration tests for databoost
  spanner/integration_test.go
Labels: api: spanner, size: xs

#7924 feat(spanner): add integration tests for Bit Reversed Sequences
  spanner/integration_test.go
Labels: api: spanner, stale: extraold, size: l

#8389 chore(storage): add trace support to benchmark
  storage/internal/benchmarks/download_benchmark.go
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/upload_benchmark.go
  storage/internal/benchmarks/w1r3.go
Labels: api: storage, size: m

#8395 chore: update all go versions to 1.19
  advisorynotifications/go.mod
  ai/go.mod
  alloydb/go.mod
  commerce/go.mod
  confidentialcomputing/go.mod
  internal/gapicgen/go.mod
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/postprocessor/execv/gocmd/gocmd.go
  internal/postprocessor/go.mod
  internal/postprocessor/main.go
  migrationcenter/go.mod
  netapp/go.mod
  policysimulator/go.mod
  rapidmigrationassessment/go.mod
  storageinsights/go.mod
  support/go.mod
  workstations/go.mod
Labels: size: l

#7674 fix(datastore): fix NoIndex for array property
  datastore/load.go
  datastore/load_test.go
Labels: api: datastore, stale: extraold, size: m

#8363 fix(datastore): Correcting string representation of Key
  datastore/integration_test.go
  datastore/key.go
Labels: api: datastore, size: s

#8396 fix(storage): fix gRPC generation/condition issues
  storage/client_test.go
  storage/grpc_client.go
Labels: api: storage, automerge, size: m

#8403 chore(internal/gapicgen): update generator to v0.38.0
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#8390 feat(storage): trace span covers life of a Reader
  storage/reader.go
Labels: api: storage, automerge, size: s

#8407 chore(storage): remove HMAC experimental tags
  storage/hmac.go
Labels: api: storage, automerge, size: s

#8405 feat(bigquery): add ProjectID to JobIDConfig
  bigquery/job.go
  bigquery/job_test.go
  bigquery/query_test.go
Labels: api: bigquery, size: s

#8415 fix(logging): init default retryer
  logging/logging.go
  logging/logging_unexported_test.go
Labels: api: logging, size: m

#8419 docs(bigquery): improve RowIterator docs and out of process pagination with Storage API
  bigquery/bigquery.go
  bigquery/doc.go
  bigquery/iterator.go
Labels: api: bigquery, automerge, size: s

#8425 chore(language): add config to generate apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: language, size: xs

#8426 chore(bigquery/biglake): add config to generate apiv1 and apiv1alpha1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigquery, size: s

#8433 feat(bigquery/biglake): start generating apiv1 and apiv1alpha1
  bigquery/CHANGES.md
Labels: api: bigquery, automerge, size: xs

#8434 feat(language): start generating apiv2
  language/CHANGES.md
Labels: api: language, size: xs

#8436 chore(policytroubleshooter/iam): add config to generate apiv3
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge, api: policytroubleshooter, size: xs

#8437 test(internal/docfx): fix expected number of pages in test
  internal/godocfx/godocfx_test.go
Labels: automerge, size: xs

#8440 fix(spanner): reset buffer after abort on first SQL statement
  spanner/client.go
  spanner/client_test.go
Labels: api: spanner, size: l

#8443 test(pubsub): remove brittle custom retry test
  pubsub/pubsub_test.go
Labels: api: pubsub, size: s

#8444 feat(policytroubleshooter/iam): start generating apiv3
  policytroubleshooter/CHANGES.md
Labels: api: policytroubleshooter, size: xs

#8446 chore(ci): add new_client workflow
  .github/workflows/new_client.yml
  internal/actions/cmd/changefinder/README.md
  internal/actions/cmd/changefinder/main.go
Labels: size: m

#8448 chore(ci): fix yaml syntax
  .github/workflows/action_syntax.yml
  .github/workflows/new_client.yml
Labels: automerge, size: s

#8457 chore(ci): find changes on most recent main commit
  .github/workflows/new_client.yml
Labels: automerge

#8458 chore: add datastore to allowlist of things to generate still
  internal/gapicgen/generator/genproto.go
Labels: size: xs

#8447 fix(bigquery): value for datasetID on foreign keys
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery, automerge, size: s

#8307 feat(datastore): SUM and AVG aggregations
  datastore/go.mod
  datastore/go.sum
  datastore/integration_test.go
  datastore/query.go
  datastore/testdata/index.yaml
Labels: api: datastore, stale: old, size: m

#8439 feat(datastore): Support aggregation query in transaction
  datastore/integration_test.go
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, size: m

#8467 fix(spanner): Transaction was started in a different session
  spanner/client.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/transaction.go
Labels: size: l

#7820 feat(spanner/spannertest): support INSERT DML
  spanner/spannertest/README.md
  spanner/spannertest/db.go
  spanner/spannertest/integration_test.go
Labels: api: spanner, stale: extraold, size: m

#8473 test(datastore): Truncate transaction read time to millisecond
  datastore/integration_test.go
Labels: api: datastore, size: xs

#8465 feat(auth): add base auth package
  .release-please-manifest-individual.json
  auth/README.md
  auth/auth.go
  auth/auth_test.go
  auth/example_test.go
  auth/go.mod
  auth/internal/internal.go
  auth/internal/jwt/jwt.go
  auth/internal/jwt/jwt_test.go
  auth/threelegged.go
  auth/threelegged_test.go
  go.work
  go.work.sum
  release-please-config-individual.json
Labels: automerge, size: xl

#8475 test(datastore): Correct read time before creating entities
  datastore/integration_test.go
Labels: api: datastore, size: xs

#8483 chore(ci): increase new-client fetch depth
  .github/workflows/new_client.yml
Labels: automerge, size: xs

#8482 feat(spanner/spansql): add support for bit functions, sequence functions and GENERATE_UUID
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/types.go
Labels: api: spanner, size: s

#8421 test(storage): increase timeout for requester pays test
  storage/integration_test.go
Labels: api: storage, size: xs

#8478 test(pubsublite): fix flaky TestRoutingPublisherUnloadIdlePublisher
  pubsublite/internal/wire/publisher_test.go
Labels: automerge, api: pubsublite, size: xs

#8479 test(pubsublite): fix flaky TestIntegration_SeekSubscription
  pubsublite/pscompat/integration_test.go
Labels: automerge, api: pubsublite, size: s

#8488 feat(spanner): allow non-default service accounts
  spanner/client.go
Labels: api: spanner, size: xs

#8481 feat(spanner/spansql): add support for SEQUENCE statements
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: l

#8490 chore(config): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge, size: xs

#8498 feat(spanner/spansql): add support for aggregate function calls
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#8489 fix(pubsub): make AckWithResult return success when constructed
  internal/pubsub/message.go
Labels: api: pubsub, size: s

#8487 test(datastore): Retry aggregation query testcase on failure
  datastore/integration_test.go
Labels: size: s

#8495 fix(bigquery): field descriptor proto name should not be lowercase
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: api: bigquery, size: m

#8507 fix(bigquery/storage/managedwriter): address possible deadlocks
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery, automerge, size: s

#8418 chore(storage): add warmup option [benchmarks]
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/w1r3.go
  storage/internal/benchmarks/warmup.go
Labels: api: storage, size: m

#8476 feat(bigquery): set PreferredMinStreamCount when creating read session
  bigquery/storage_client.go
Labels: api: bigquery, automerge, size: xs

#8513 docs(postprocessor): nudge users towards stable clients
  internal/postprocessor/_README.md.txt
Labels: automerge, size: s

#8516 test(storage): skip warmup if duration is 0
  storage/internal/benchmarks/warmup.go
Labels: api: storage, size: xs

#8404 test(storage): add bucket conditions test
  storage/client_test.go
Labels: api: storage, automerge, size: m

#8509 feat(storage): export gRPC client constructor
  storage/doc.go
  storage/http_client.go
  storage/integration_test.go
  storage/internal/benchmarks/client_pool.go
  storage/storage.go
Labels: api: storage, size: m

#8502 test(pubsub): use default MinExtensionPeriod for exactly once tests
  pubsub/subscription_test.go
Labels: api: pubsub, size: xs
