Repository googleapis/google-cloud-go, pull requests merged in 2023-03, with the labels that each got.

#7502 feat(advisorynotifications): start generating apiv1
  .release-please-manifest-submodules.json
  advisorynotifications/CHANGES.md
  advisorynotifications/README.md
  advisorynotifications/apiv1/advisory_notifications_client.go
  advisorynotifications/apiv1/advisory_notifications_client_example_test.go
  advisorynotifications/apiv1/advisorynotificationspb/service.pb.go
  advisorynotifications/apiv1/doc.go
  advisorynotifications/apiv1/gapic_metadata.json
  advisorynotifications/apiv1/version.go
  advisorynotifications/go.mod
  advisorynotifications/go.sum
  advisorynotifications/internal/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  release-please-config-yoshi-submodules.json
Labels: size: xl, api: advisorynotifications

#7503 feat(alloydb): start generating apiv1, apiv1beta, apiv1alpha
  .release-please-manifest-submodules.json
  alloydb/CHANGES.md
  alloydb/README.md
  alloydb/apiv1/alloydb_admin_client.go
  alloydb/apiv1/alloydb_admin_client_example_test.go
  alloydb/apiv1/alloydbpb/resources.pb.go
  alloydb/apiv1/alloydbpb/service.pb.go
  alloydb/apiv1/doc.go
  alloydb/apiv1/gapic_metadata.json
  alloydb/apiv1/version.go
  alloydb/apiv1alpha/alloydb_admin_client.go
  alloydb/apiv1alpha/alloydb_admin_client_example_test.go
  alloydb/apiv1alpha/alloydbpb/resources.pb.go
  alloydb/apiv1alpha/alloydbpb/service.pb.go
  alloydb/apiv1alpha/doc.go
  alloydb/apiv1alpha/gapic_metadata.json
  alloydb/apiv1alpha/version.go
  alloydb/apiv1beta/alloydb_admin_client.go
  alloydb/apiv1beta/alloydb_admin_client_example_test.go
  alloydb/apiv1beta/alloydbpb/resources.pb.go
  alloydb/apiv1beta/alloydbpb/service.pb.go
  alloydb/apiv1beta/doc.go
  alloydb/apiv1beta/gapic_metadata.json
  alloydb/apiv1beta/version.go
  alloydb/go.mod
  alloydb/go.sum
  alloydb/internal/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  release-please-config-yoshi-submodules.json
Labels: size: xl, api: alloydb

#7504 feat(kms/inventory): start generating apiv1
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  kms/inventory/apiv1/doc.go
  kms/inventory/apiv1/gapic_metadata.json
  kms/inventory/apiv1/inventorypb/key_dashboard_service.pb.go
  kms/inventory/apiv1/inventorypb/key_tracking_service.pb.go
  kms/inventory/apiv1/key_dashboard_client.go
  kms/inventory/apiv1/key_dashboard_client_example_test.go
  kms/inventory/apiv1/key_tracking_client.go
  kms/inventory/apiv1/key_tracking_client_example_test.go
  kms/inventory/apiv1/version.go
Labels: api: cloudkms, size: xl

#7505 feat(cloudbuild): start generating apiv2
  cloudbuild/apiv2/cloudbuildpb/cloudbuild.pb.go
  cloudbuild/apiv2/cloudbuildpb/repositories.pb.go
  cloudbuild/apiv2/doc.go
  cloudbuild/apiv2/gapic_metadata.json
  cloudbuild/apiv2/repository_manager_client.go
  cloudbuild/apiv2/repository_manager_client_example_test.go
  cloudbuild/apiv2/version.go
  cloudbuild/go.mod
  cloudbuild/go.sum
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
Labels: api: cloudbuild, size: xl

#7501 fix(spanner): possible deadlock when deleting sessions from different places
  spanner/session.go
Labels: api: spanner, size: xs

#7508 refactor: augment poolRouter interface (and simpleRouter)
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/connection_test.go
Labels: size: m

#7500 feat(spanner): add x-goog-spanner-route-to-leader header to Spanner RPC contexts for RW/PDML transactions.
  spanner/batch.go
  spanner/client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/pdml.go
  spanner/session.go
  spanner/sessionclient.go
  spanner/transaction.go
Labels: api: spanner, kokoro:force-run, size: m

#6691 feat(spanner/spansql): support fine-grained access control DDL syntax
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, stale: extraold, size: l

#7463 feat(spanner): enable custom decoding for list value
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: s

#7514 fix(spanner/spansql): fix SQL for CREATE CHANGE STREAM TableName; case
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: api: spanner, size: s

#7520 chore(internal/gapicgen): add omit-snippets flag to gapics.go
  internal/gapicgen/generator/gapics.go
Labels: size: xs

#7516 testing(bigquery/storage/managedwriter): add basic CDC example
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testdata/validation_proto2.pb.go
  bigquery/storage/managedwriter/testdata/validation_proto2.proto
Labels: api: bigquery, automerge, size: l

#7510 feat(bigquery): add support for storage billing model
  bigquery/dataset.go
  bigquery/dataset_integration_test.go
  bigquery/dataset_test.go
Labels: api: bigquery, automerge, size: m

#7532 refactor: switch from syntax to presence checks
  bigquery/storage/managedwriter/adapt/protoconversion.go
Labels: automerge, size: m

#7519 fix(pubsub): pipe revision ID in name in DeleteSchemaRevision
  pubsub/pstest/fake.go
  pubsub/schema.go
  pubsub/schema_test.go
Labels: api: pubsub, automerge, size: s

#7528 chore(storage): reenable some skipped Bucket tests
  storage/integration_test.go
Labels: api: storage, automerge, size: s

#7533 feat(spanner/spansql): support grant/revoke view, change stream, table function
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#7524 build(spanner): configure integration tests against devel & staging environments for kokoro and use secret manager
  internal/kokoro/populate-secrets.sh
  internal/kokoro/trampoline.sh
  spanner/kokoro/integration.sh
Labels: api: spanner, size: m

#7539 feat(security/privateca): remove apiv1beta1
  .github/.OwlBot.yaml
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ActivateCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/CreateCertificate/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/CreateCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/DisableCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/EnableCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/FetchCertificateAuthorityCsr/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/GetCertificate/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/GetCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/GetCertificateRevocationList/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/GetReusableConfig/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ListCertificateAuthorities/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ListCertificateRevocationLists/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ListCertificates/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ListReusableConfigs/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/RestoreCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/RevokeCertificate/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/ScheduleDeleteCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/UpdateCertificate/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/UpdateCertificateAuthority/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/CertificateAuthorityClient/UpdateCertificateRevocationList/main.go
  internal/generated/snippets/security/privateca/apiv1beta1/snippet_metadata.google.cloud.security.privateca.v1beta1.json
  security/privateca/apiv1beta1/certificate_authority_client.go
  security/privateca/apiv1beta1/certificate_authority_client_example_test.go
  security/privateca/apiv1beta1/doc.go
  security/privateca/apiv1beta1/privatecapb/resources.pb.go
  security/privateca/apiv1beta1/privatecapb/service.pb.go
  security/privateca/apiv1beta1/version.go
Labels: size: xl

#7552 chore: go mod tidy
  aiplatform/go.mod
  beyondcorp/go.mod
  dataform/go.mod
  dataproc/go.mod
  datastream/go.mod
  deploy/go.mod
  eventarc/go.mod
  functions/go.mod
  gkehub/go.mod
  iot/go.mod
  metastore/go.mod
  networksecurity/go.mod
  policytroubleshooter/go.mod
  privatecatalog/go.mod
  resourcemanager/go.mod
  run/go.mod
  securitycenter/go.mod
  servicedirectory/go.mod
  vmmigration/go.mod
  vmwareengine/go.mod
Labels: size: s

#7373 deps(bigquery): update arrow to v11
  bigquery/arrow.go
  bigquery/go.mod
  bigquery/go.sum
Labels: api: bigquery, stale: old, size: s

#7573 build(spanner): disable flaky bots for cloud-devel
  spanner/kokoro/integration.sh
Labels: api: spanner, kokoro:force-run, size: s

#7574 test(spanner): update test to pass spanner host
  spanner/integration_test.go
Labels: api: spanner, kokoro:force-run, size: xs

#7575 chore: bump owlobot sha
  .github/.OwlBot.lock.yaml
Labels: size: xs

#7569 testing(bigquery): consistently instantiate clients
  bigquery/integration_test.go
  bigquery/storage_integration_test.go
Labels: api: bigquery, automerge, size: xs

#7576 testing(bigquery/storage/managedwriter): increase test threshhold
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, size: xs

#7390 feat(pubsublite): Publish idempotence
  pubsublite/internal/wire/publish_batcher.go
  pubsublite/internal/wire/publish_batcher_test.go
  pubsublite/internal/wire/publisher.go
  pubsublite/internal/wire/publisher_test.go
  pubsublite/internal/wire/requests_test.go
  pubsublite/internal/wire/settings.go
  pubsublite/internal/wire/streams_test.go
  pubsublite/pscompat/message.go
  pubsublite/pscompat/settings.go
  pubsublite/pscompat/settings_test.go
Labels: automerge, api: pubsublite, stale: old, size: l

#7314 feat(bigquery/storage/managedwriter): decouple connections and writers
  bigquery/storage/managedwriter/appendresult.go
  bigquery/storage/managedwriter/appendresult_test.go
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/connection_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/retry.go
  bigquery/storage/managedwriter/retry_test.go
  bigquery/storage/managedwriter/send_optimizer.go
  bigquery/storage/managedwriter/send_optimizer_test.go
Labels: stale: old, size: xl

#7581 refactor(bigquery/storage/managedwriter): flowcontroller byte reporting
  bigquery/storage/managedwriter/flow_controller.go
  bigquery/storage/managedwriter/flow_controller_test.go
Labels: api: bigquery, automerge, size: s

#7583 fix(storage): retract versions with Copier bug
  storage/go.mod
Labels: api: storage, automerge, size: xs

#7543 fix(storage): SignedURL v4 allows headers with colons in value
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: m

#7592 Revert "fix(storage): SignedURL v4 allows headers with colons in value"
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge, size: m

#7593 test: test fix presubmit for earliest
  internal/kokoro/presubmit.sh
Labels: size: xs

#7595 chore: fix gapicgen flag
  internal/gapicgen/generator/gapics.go
Labels: size: xs

#7594 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: automerge, size: xs

#7600 chore: fix syntax in owlbot
  .github/.OwlBot.yaml
Labels: automerge, size: xs

#7599 feat(workstations): start generating apiv1beta
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  release-please-config-yoshi-submodules.json
  workstations/CHANGES.md
  workstations/README.md
  workstations/apiv1beta/doc.go
  workstations/apiv1beta/gapic_metadata.json
  workstations/apiv1beta/version.go
  workstations/apiv1beta/workstations_client.go
  workstations/apiv1beta/workstations_client_example_test.go
  workstations/apiv1beta/workstationspb/workstations.pb.go
  workstations/go.mod
  workstations/go.sum
  workstations/internal/version.go
Labels: size: xl, api: workstations

#7603 fix(storage): SignedURL v4 allows headers with colons in value
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: s

#7606 chore(internal/gapicgen): fix fmt issue
  internal/gapicgen/generator/config.go
Labels: automerge, size: xs

#7607 chore(owlbot): preserve lro from_conn.go
  .github/.OwlBot.yaml
Labels: automerge

#7602 chore(storage): add idempotency header
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage, automerge, size: s

#7612 feat(edgecontainer): promote to GA
  edgecontainer/CHANGES.md
Labels: size: xs

#7568 fix(pubsub): check response of receipt modacks for exactly once delivery
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/subscription_test.go
Labels: api: pubsub, automerge, size: m

#7614 chore(firestore): removed redundant region tags.
  firestore/integration_test.go
Labels: api: firestore, automerge, size: xs

#7499 chore(storage): update parameters and output
  storage/internal/benchmarks/README.md
  storage/internal/benchmarks/client_pool.go
  storage/internal/benchmarks/download_benchmark.go
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/upload_benchmark.go
  storage/internal/benchmarks/utils.go
  storage/internal/benchmarks/w1r3.go
Labels: api: storage, size: l

#7620 chore(all): auto-regenerate gapics
  apikeys/go.mod
  apikeys/go.sum
  artifactregistry/go.mod
  artifactregistry/go.sum
  asset/go.mod
  batch/go.mod
  batch/go.sum
  bigquery/go.mod
  bigquery/go.sum
  compute/go.mod
  compute/go.sum
  contactcenterinsights/go.mod
  contactcenterinsights/go.sum
  functions/go.mod
  functions/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/cloudbuild/apiv1/v2/snippet_metadata.google.devtools.cloudbuild.v1.json
  internal/generated/snippets/cloudbuild/apiv2/snippet_metadata.google.devtools.cloudbuild.v2.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/containeranalysis/apiv1beta1/snippet_metadata.grafeas.v1beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/iam/apiv2/PoliciesClient/GetOperation/main.go
  internal/generated/snippets/iam/apiv2/snippet_metadata.google.iam.v2.json
  internal/generated/snippets/maps/addressvalidation/apiv1/snippet_metadata.google.maps.addressvalidation.v1.json
  internal/generated/snippets/maps/mapsplatformdatasets/apiv1alpha/snippet_metadata.google.maps.mapsplatformdatasets.v1alpha.json
  internal/generated/snippets/maps/routing/apiv2/snippet_metadata.google.maps.routing.v2.json
  internal/generated/snippets/pubsub/apiv1/snippet_metadata.google.pubsub.v1.json
  internal/generated/snippets/recaptchaenterprise/v2/apiv1/snippet_metadata.google.cloud.recaptchaenterprise.v1.json
  internal/generated/snippets/servicecontrol/apiv1/snippet_metadata.google.api.servicecontrol.v1.json
  internal/generated/snippets/servicemanagement/apiv1/snippet_metadata.google.api.servicemanagement.v1.json
  internal/generated/snippets/workstations/apiv1beta/snippet_metadata.google.cloud.workstations.v1beta.json
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/postprocessor/go.mod
  internal/postprocessor/go.sum
  maps/go.mod
  maps/go.sum
  resourcemanager/go.mod
  resourcemanager/go.sum
  run/go.mod
  run/go.sum
  workstations/go.mod
Labels: size: l

#7630 refactor(bigquery/storage/managedwriter): make newConnection less brittle
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/connection.go
Labels: api: bigquery, automerge, size: s

#7509 fix(logging): Propagate better errors and prevent infinite retry with invalid UTF-8 chars
  logging/logging.go
  logging/logging_test.go
Labels: api: logging, size: s

#7635 chore(storage): update signed url conformance test cases
  storage/internal/test/conformance/v4_signatures.json
Labels: api: storage, size: s

#7627 feat(iam): promote to GA
  iam/CHANGES.md
Labels: api: iam, size: xs

#7626 chore(internal/gapicgen): move GA after comments from config.go to buganizer
  internal/gapicgen/generator/config.go
Labels: size: m

#7641 feat(run): promote to GA
  run/CHANGES.md
Labels: api: run, size: xs

#7640 feat(apikeys): promote to GA
  apikeys/CHANGES.md
Labels: api: apikeys, size: xs

#7639 feat(maps): promote to GA
  maps/CHANGES.md
Labels: size: xs

#7642 feat(functions): promote v2 to GA
  functions/CHANGES.md
Labels: api: cloudfunctions, size: xs

#7643 feat(gkebackup): promote to GA
  gkebackup/CHANGES.md
Labels: size: xs

#7644 feat(baremetalsolution): promote to GA
  baremetalsolution/CHANGES.md
Labels: size: xs, api: baremetalsolution

#7645 feat(batch): promote to GA
  batch/CHANGES.md
Labels: size: xs, api: batch

#7648 chore(internal/gapicgen): update .repo-metadata-full.json
  internal/.repo-metadata-full.json
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: size: m

#7647 feat(artifactregistry): promote to GA
  artifactregistry/apiv1/doc.go
Labels: api: artifactregistry, size: xs

#7638 chore(all): auto-regenerate gapics
  aiplatform/go.mod
  aiplatform/go.sum
  baremetalsolution/go.mod
  baremetalsolution/go.sum
  bigquery/go.mod
  bigquery/go.sum
  container/apiv1/containerpb/cluster_service.pb.go
  container/go.mod
  container/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  kms/go.mod
  kms/go.sum
  maps/go.mod
  maps/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/stubs/storage.pb.go
Labels: size: xl

#7649 chore: bulk migrate apis to owlbot
  .github/.OwlBot.yaml
  internal/gapicgen/generator/config.go
Labels: size: m

#7659 fix(video/stitcher): stop generation and rewind stitcher client
  .github/.OwlBot.yaml
  video/stitcher/apiv1/doc.go
  video/stitcher/apiv1/gapic_metadata.json
  video/stitcher/apiv1/stitcherpb/ad_tag_details.pb.go
  video/stitcher/apiv1/stitcherpb/cdn_keys.pb.go
  video/stitcher/apiv1/stitcherpb/companions.pb.go
  video/stitcher/apiv1/stitcherpb/events.pb.go
  video/stitcher/apiv1/stitcherpb/sessions.pb.go
  video/stitcher/apiv1/stitcherpb/slates.pb.go
  video/stitcher/apiv1/stitcherpb/stitch_details.pb.go
  video/stitcher/apiv1/stitcherpb/video_stitcher_service.pb.go
  video/stitcher/apiv1/video_stitcher_client.go
  video/stitcher/apiv1/video_stitcher_client_example_test.go
Labels: api: videointelligence, size: xl

#7660 chore(all): auto-regenerate gapics
  advisorynotifications/apiv1/advisorynotificationspb/service.pb.go
  advisorynotifications/go.mod
  advisorynotifications/go.sum
  apikeys/apiv2/doc.go
  apikeys/go.mod
  apikeys/go.sum
  go.mod
  go.sum
  internal/.repo-metadata-full.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  internal/postprocessor/go.mod
  internal/postprocessor/go.sum
  maps/addressvalidation/apiv1/doc.go
  maps/go.mod
  maps/go.sum
  maps/routing/apiv2/doc.go
  storage/go.mod
  storage/go.sum
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/stubs/storage.pb.go
Labels: size: xl

#7664 testing(bigquery/storage/managedwriter): fix data race in router test
  bigquery/storage/managedwriter/routers_test.go
Labels: api: bigquery, automerge, size: s

#7629 chore(storage): fix projectID in gRPC CreateBucket
  storage/grpc_client.go
Labels: api: storage, automerge, size: xs

#7663 feat(bigquery/storage/managedwriter): introduce location routing header
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/connection.go
Labels: api: bigquery, automerge, size: s

#7669 fix(bigquery/storage/managedwriter): fix option propagation
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/client_test.go
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/connection_test.go
  bigquery/storage/managedwriter/routers.go
Labels: api: bigquery, size: m
