Repository googleapis/google-cloud-go, pull requests merged in 2023-01, with the labels that each got.

#7203 chore(storage): refactor retention_period to retention_duration
  storage/bucket.go
  storage/bucket_test.go
Labels: api: storage, size: s

#7204 feat(bigquery/datapolicies): start generating apiv1
  bigquery/datapolicies/apiv1/data_policy_client.go
  bigquery/datapolicies/apiv1/data_policy_client_example_test.go
  bigquery/datapolicies/apiv1/datapoliciespb/datapolicy.pb.go
  bigquery/datapolicies/apiv1/doc.go
  bigquery/datapolicies/apiv1/gapic_metadata.json
  bigquery/datapolicies/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
Labels: api: bigquery, size: xl

#7217 test(pubsub): remove t.Parallel from eos deadline exceeded tests
  pubsub/subscription_test.go
Labels: api: pubsub, size: xs

#7220 docs: add a debug.md
  debug.md
Labels: automerge, size: m

#7225 chore(internal/gapicgen): update generator to 0.33.6
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: size: xs

#7149 feat(spanner): inline begin transaction for ReadWriteTransactions
  spanner/client.go
  spanner/client_benchmarks_test.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/oc_test.go
  spanner/read.go
  spanner/retry.go
  spanner/session.go
  spanner/session_test.go
  spanner/spannertest/inmem.go
  spanner/stats.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner, stale: old, size: xl, breaking change

#7187 feat(spanner/spansql): support `default_leader` database option
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#7229 fix(spanner): fix integration tests data race
  spanner/internal/testutil/inmem_spanner_server.go
Labels: api: spanner, size: xs

#7201 feat(spanner/spansql): add support for change stream value_capture_type option
  spanner/spannertest/db_test.go
  spanner/spansql/parser.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#7230 feat(storage): add ComponentCount as part of ObjectAttrs
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: size: s

#7238 chore(internal/postprocessor): add cloudbuild.yaml file
  internal/postprocessor/cloudbuild.yaml
Labels: size: s

#7237 testing: add multiplex integration test
  bigquery/storage/managedwriter/integration_test.go
Labels: size: m

#7244 chore(all): auto-regenerate gapics
  bigquery/go.mod
  bigquery/go.sum
  datastore/go.mod
  datastore/go.sum
  dialogflow/cx/apiv3beta1/agents_client.go
  dialogflow/cx/apiv3beta1/changelogs_client.go
  dialogflow/cx/apiv3beta1/cxpb/advanced_settings.pb.go
  dialogflow/cx/apiv3beta1/cxpb/agent.pb.go
  dialogflow/cx/apiv3beta1/cxpb/audio_config.pb.go
  dialogflow/cx/apiv3beta1/cxpb/changelog.pb.go
  dialogflow/cx/apiv3beta1/cxpb/deployment.pb.go
  dialogflow/cx/apiv3beta1/cxpb/entity_type.pb.go
  dialogflow/cx/apiv3beta1/cxpb/environment.pb.go
  dialogflow/cx/apiv3beta1/cxpb/experiment.pb.go
  dialogflow/cx/apiv3beta1/cxpb/flow.pb.go
  dialogflow/cx/apiv3beta1/cxpb/fulfillment.pb.go
  dialogflow/cx/apiv3beta1/cxpb/intent.pb.go
  dialogflow/cx/apiv3beta1/cxpb/page.pb.go
  dialogflow/cx/apiv3beta1/cxpb/response_message.pb.go
  dialogflow/cx/apiv3beta1/cxpb/security_settings.pb.go
  dialogflow/cx/apiv3beta1/cxpb/session.pb.go
  dialogflow/cx/apiv3beta1/cxpb/session_entity_type.pb.go
  dialogflow/cx/apiv3beta1/cxpb/test_case.pb.go
  dialogflow/cx/apiv3beta1/cxpb/transition_route_group.pb.go
  dialogflow/cx/apiv3beta1/cxpb/validation_message.pb.go
  dialogflow/cx/apiv3beta1/cxpb/version.pb.go
  dialogflow/cx/apiv3beta1/cxpb/webhook.pb.go
  dialogflow/cx/apiv3beta1/deployments_client.go
  dialogflow/cx/apiv3beta1/entity_types_client.go
  dialogflow/cx/apiv3beta1/environments_client.go
  dialogflow/cx/apiv3beta1/experiments_client.go
  dialogflow/cx/apiv3beta1/flows_client.go
  dialogflow/cx/apiv3beta1/security_settings_client.go
  dialogflow/cx/apiv3beta1/session_entity_types_client.go
  dialogflow/cx/apiv3beta1/sessions_client.go
  dialogflow/cx/apiv3beta1/test_cases_client.go
  dialogflow/cx/apiv3beta1/transition_route_groups_client.go
  dialogflow/cx/apiv3beta1/versions_client.go
  dialogflow/go.mod
  dialogflow/go.sum
  go.mod
  go.sum
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/monitoring/dashboard/apiv1/snippet_metadata.google.monitoring.dashboard.v1.json
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  monitoring/dashboard/apiv1/dashboardpb/dashboards_service.pb.go
  monitoring/dashboard/apiv1/dashboardpb/metrics.pb.go
  monitoring/dashboard/apiv1/dashboardpb/table.pb.go
  monitoring/dashboard/apiv1/dashboardpb/xychart.pb.go
  monitoring/dashboard/apiv1/dashboards_client.go
  monitoring/go.mod
  monitoring/go.sum
  talent/go.mod
  talent/go.sum
  vmwareengine/apiv1/vmwareenginepb/vmwareengine.pb.go
  vmwareengine/go.mod
  vmwareengine/go.sum
Labels: automerge, size: xl

#7245 feat(datacatalog/lineage): start generating apiv1
  datacatalog/go.mod
  datacatalog/go.sum
  datacatalog/lineage/apiv1/doc.go
  datacatalog/lineage/apiv1/gapic_metadata.json
  datacatalog/lineage/apiv1/lineage_client.go
  datacatalog/lineage/apiv1/lineage_client_example_test.go
  datacatalog/lineage/apiv1/lineagepb/lineage.pb.go
  datacatalog/lineage/apiv1/version.go
  internal/.repo-metadata-full.json
  internal/aliasfix/mappings.go
  internal/gapicgen/generator/config.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/postprocessor/go.mod
  internal/postprocessor/go.sum
Labels: api: datacatalog, size: xl

#7246 feat(datacatalog): start generating REST transport for apiv1
  datacatalog/apiv1/data_catalog_client.go
  datacatalog/apiv1/data_catalog_client_example_test.go
  datacatalog/apiv1/doc.go
  datacatalog/apiv1/gapic_metadata.json
  datacatalog/apiv1/policy_tag_manager_client.go
  datacatalog/apiv1/policy_tag_manager_client_example_test.go
  datacatalog/apiv1/policy_tag_manager_serialization_client.go
  datacatalog/apiv1/policy_tag_manager_serialization_client_example_test.go
  internal/gapicgen/generator/config.go
Labels: api: datacatalog, size: xl

#7248 chore: onboard select clients to OwlBot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  internal/gapicgen/generator/config.go
Labels: automerge, size: s

#7250 chore: update docker digest
  .github/.OwlBot.lock.yaml
Labels: automerge, size: xs

#7239 chore(internal): fixups for postprocessor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  internal/README.md
  internal/cloudbuild.yaml
  internal/postprocessor/main.go
Labels: size: s

#7256 fix(bigquery): create/update an isolated dataset for collation feature
  bigquery/dataset_integration_test.go
Labels: api: bigquery, automerge, size: s

#7270 chore: fix postprocessor pathing and branch issues
  internal/postprocessor/main.go
Labels: automerge, size: xs

#7257 refactor: simplify options, instrumentation for multiplexing
  bigquery/storage/managedwriter/client.go
  bigquery/storage/managedwriter/instrumentation.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/options.go
  bigquery/storage/managedwriter/options_test.go
Labels: automerge, size: m

#7272 chore(bigquery): fix linting issue
  bigquery/storage/managedwriter/integration_test.go
Labels: api: bigquery, automerge, size: xs

#7273 chore: bump postprocessor rev
  .github/.OwlBot.lock.yaml
Labels: automerge, size: xs

#7234 chore: update import paths in manual layers
  iam/iam.go
  longrunning/example_test.go
  longrunning/longrunning.go
  longrunning/longrunning_test.go
Labels: automerge, size: xs

#7283 feat(spanner/spansql): add support for managing the optimizer statistics package
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: l

#7287 feat(spanner/spansql): add support for ALTER INDEX statement
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, size: m

#7280 chore(internal/postprocessor): be selective about what PRs to update
  .github/.OwlBot.lock.yaml
  internal/README.md
  internal/postprocessor/README.md
  internal/postprocessor/main.go
Labels: automerge, size: m

#7294 fix(internal/postprocessor): include module and package in scope
  .github/.OwlBot.lock.yaml
  internal/postprocessor/main.go
  internal/postprocessor/main_test.go
Labels: automerge, size: s

#7297 fix(logging): Fix typo in README.md
  logging/README.md
Labels: api: logging, size: xs

#7296 chore(all): auto-regenerate gapics
  certificatemanager/apiv1/certificate_manager_client.go
  certificatemanager/apiv1/certificatemanagerpb/certificate_manager.pb.go
  certificatemanager/go.mod
  certificatemanager/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  dialogflow/cx/apiv3/cxpb/agent.pb.go
  dialogflow/go.mod
  dialogflow/go.sum
  firestore/go.mod
  firestore/go.sum
  go.mod
  go.sum
  internal/gapicgen/generator/config.go
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/networkconnectivity/apiv1/snippet_metadata.google.cloud.networkconnectivity.v1.json
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  speech/apiv1p1beta1/speechpb/resource.pb.go
  speech/go.mod
  speech/go.sum
  tpu/apiv1/tpupb/cloud_tpu.pb.go
  tpu/go.mod
  tpu/go.sum
  trace/apiv2/tracepb/trace.pb.go
  trace/go.mod
  trace/go.sum
Labels: size: xl

#7261 feat(logging): Add (*Logger). StandardLoggerFromTemplate() method.
  logging/examples_test.go
  logging/logging.go
  logging/logging_test.go
  logging/logging_unexported_test.go
Labels: api: logging, kokoro:force-run, size: m

#7295 feat(pubsub): add support for schema revisions
  pubsub/integration_test.go
  pubsub/pstest/fake.go
  pubsub/schema.go
  pubsub/schema_test.go
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub, size: l, breaking change allowed

#7317 fix(pubsub): dont compare revision fields in schema config test
  pubsub/integration_test.go
  pubsub/schema_test.go
  pubsub/topic.go
Labels: api: pubsub, size: s

#7319 fix(pubsub): fix bug with AckWithResult with exactly once disabled
  pubsub/integration_test.go
  pubsub/message.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: s

#7326 chore(internal/gapicgen): actually freeze cloud dir
  internal/gapicgen/generator/genproto.go
Labels: size: xs

#7325 fix(bigquery): fetch dst table for jobs when readings with Storage API
  bigquery/bigquery.go
  bigquery/job.go
  bigquery/query.go
  bigquery/storage_integration_test.go
  bigquery/storage_iterator.go
  bigquery/table.go
Labels: api: bigquery, automerge, size: s

#7323 refactor(bigquery/storage/managedwriter): introduce send optimizers
  bigquery/storage/managedwriter/send_optimizer.go
  bigquery/storage/managedwriter/send_optimizer_test.go
Labels: api: bigquery, size: l

#7328 chore: add support link to new issues page
  .github/ISSUE_TEMPLATE/config.yml
Labels: automerge, size: xs

#7318 chore(all): auto-regenerate gapics
  billing/apiv1/billingpb/cloud_billing.pb.go
  billing/go.mod
  billing/go.sum
  documentai/apiv1beta3/documentaipb/document_io.pb.go
  documentai/go.mod
  documentai/go.sum
  go.mod
  go.sum
  internal/generated/snippets/aiplatform/apiv1/snippet_metadata.google.cloud.aiplatform.v1.json
  internal/generated/snippets/aiplatform/apiv1beta1/snippet_metadata.google.cloud.aiplatform.v1beta1.json
  internal/generated/snippets/analytics/admin/apiv1alpha/snippet_metadata.google.analytics.admin.v1alpha.json
  internal/generated/snippets/automl/apiv1/snippet_metadata.google.cloud.automl.v1.json
  internal/generated/snippets/automl/apiv1beta1/snippet_metadata.google.cloud.automl.v1beta1.json
  internal/generated/snippets/billing/apiv1/snippet_metadata.google.cloud.billing.v1.json
  internal/generated/snippets/billing/budgets/apiv1/snippet_metadata.google.cloud.billing.budgets.v1.json
  internal/generated/snippets/billing/budgets/apiv1beta1/snippet_metadata.google.cloud.billing.budgets.v1beta1.json
  internal/generated/snippets/certificatemanager/apiv1/snippet_metadata.google.cloud.certificatemanager.v1.json
  internal/generated/snippets/compute/apiv1/snippet_metadata.google.cloud.compute.v1.json
  internal/generated/snippets/container/apiv1/snippet_metadata.google.container.v1.json
  internal/generated/snippets/datacatalog/apiv1/snippet_metadata.google.cloud.datacatalog.v1.json
  internal/generated/snippets/datacatalog/apiv1beta1/snippet_metadata.google.cloud.datacatalog.v1beta1.json
  internal/generated/snippets/datacatalog/lineage/apiv1/snippet_metadata.google.cloud.datacatalog.lineage.v1.json
  internal/generated/snippets/dataproc/apiv1/snippet_metadata.google.cloud.dataproc.v1.json
  internal/generated/snippets/dialogflow/apiv2/snippet_metadata.google.cloud.dialogflow.v2.json
  internal/generated/snippets/dialogflow/apiv2beta1/snippet_metadata.google.cloud.dialogflow.v2beta1.json
  internal/generated/snippets/dialogflow/cx/apiv3/snippet_metadata.google.cloud.dialogflow.cx.v3.json
  internal/generated/snippets/dialogflow/cx/apiv3beta1/snippet_metadata.google.cloud.dialogflow.cx.v3beta1.json
  internal/generated/snippets/documentai/apiv1/snippet_metadata.google.cloud.documentai.v1.json
  internal/generated/snippets/documentai/apiv1beta3/snippet_metadata.google.cloud.documentai.v1beta3.json
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  internal/generated/snippets/lifesciences/apiv2beta/snippet_metadata.google.cloud.lifesciences.v2beta.json
  internal/generated/snippets/maps/addressvalidation/apiv1/snippet_metadata.google.maps.addressvalidation.v1.json
  internal/generated/snippets/maps/routing/apiv2/snippet_metadata.google.maps.routing.v2.json
  internal/generated/snippets/networkconnectivity/apiv1/snippet_metadata.google.cloud.networkconnectivity.v1.json
  internal/generated/snippets/orgpolicy/apiv2/snippet_metadata.google.cloud.orgpolicy.v2.json
  internal/generated/snippets/run/apiv2/snippet_metadata.google.cloud.run.v2.json
  internal/generated/snippets/servicecontrol/apiv1/snippet_metadata.google.api.servicecontrol.v1.json
  internal/generated/snippets/speech/apiv1/snippet_metadata.google.cloud.speech.v1.json
  internal/generated/snippets/speech/apiv1p1beta1/snippet_metadata.google.cloud.speech.v1p1beta1.json
  internal/generated/snippets/speech/apiv2/snippet_metadata.google.cloud.speech.v2.json
  internal/generated/snippets/trace/apiv1/snippet_metadata.google.devtools.cloudtrace.v1.json
  internal/generated/snippets/trace/apiv2/snippet_metadata.google.devtools.cloudtrace.v2.json
  internal/godocfx/go.mod
  internal/godocfx/go.sum
  lifesciences/apiv2beta/lifesciencespb/workflows.pb.go
  lifesciences/apiv2beta/workflows_service_v2_beta_client.go
  lifesciences/go.mod
  lifesciences/go.sum
  networkconnectivity/go.mod
  networkconnectivity/go.sum
Labels: size: m
