Repository googleapis/google-cloud-go, pull requests merged in 2023-11, with the labels that each got.

#8958 fix(bigquery): correct deps issue
  bigquery/go.mod
  bigquery/go.sum
Labels: api: bigquery, size: m

#8965 docs(bigquery): update package docs to show query parameterization
  bigquery/doc.go
Labels: api: bigquery, size: s

#8945 feat(spanner): add method to return partition token
  spanner/batch.go
Labels: api: spanner, size: xs

#8953 feat(spanner): add methods to return Row fields
  spanner/row.go
  spanner/row_test.go
Labels: api: spanner, size: s

#8714 feat(spanner): Executor framework server and worker proxy
  spanner/go.mod
  spanner/test/cloudexecutor/executor/executor_proxy_server_impl.go
  spanner/test/cloudexecutor/executor/internal/inputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/outputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/utility/error_code_mapper.go
  spanner/test/cloudexecutor/executor/internal/utility/table_metadata_helper.go
  spanner/test/cloudexecutor/worker_proxy.go
Labels: api: spanner, size: l

#8938 test(storage): add object to encryption test to reduce rate limit issues
  storage/integration_test.go
Labels: api: storage, size: s

#8942 feat(spanner): Add lastUseTime property to session
  spanner/batch.go
  spanner/client.go
  spanner/client_test.go
  spanner/pdml.go
  spanner/session.go
  spanner/session_test.go
  spanner/transaction.go
Labels: api: spanner, size: m

#8932 feat(spanner): Admin, Batch, Partition actions for executor framework
  spanner/test/cloudexecutor/executor/actions/admin.go
  spanner/test/cloudexecutor/executor/actions/batch.go
  spanner/test/cloudexecutor/executor/actions/dql.go
  spanner/test/cloudexecutor/executor/actions/execution_flow_context.go
  spanner/test/cloudexecutor/executor/actions/partition.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_conversion.go
Labels: api: spanner, size: xl

#8977 fix(spanner): fix test flakiness in lastUseTime unit test
  spanner/client_test.go
Labels: api: spanner, size: s

#8976 feat(spanner): Add DML, DQL, Mutation, Txn Actions and Utility methods for executor framework
  spanner/test/cloudexecutor/executor/actions/dml.go
  spanner/test/cloudexecutor/executor/actions/dql.go
  spanner/test/cloudexecutor/executor/actions/execution_flow_context.go
  spanner/test/cloudexecutor/executor/actions/mutation.go
  spanner/test/cloudexecutor/executor/actions/partition.go
  spanner/test/cloudexecutor/executor/actions/transaction.go
  spanner/test/cloudexecutor/executor/internal/inputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/outputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_conversion.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_value_converter.go
  spanner/test/cloudexecutor/executor/internal/utility/key.go
  spanner/test/cloudexecutor/executor/internal/utility/spanner_to_executor_value_converter.go
Labels: api: spanner, size: xl

#8978 feat(spanner): update code for session leaks cleanup
  spanner/client.go
  spanner/client_test.go
  spanner/pdml.go
  spanner/session.go
  spanner/session_test.go
  spanner/transaction.go
Labels: api: spanner, size: m

#8930 feat(storage): change gRPC writes to use bi-directional streams
  storage/client_test.go
  storage/grpc_client.go
Labels: api: storage, size: m

#8755 feat(bigtable): Add support for reverse scans
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
  bigtable/reader.go
  bigtable/retry_test.go
Labels: api: bigtable, size: l

#8992 chore(owlbot): fix merchant inv API owlbot config
  .github/.OwlBot.yaml
Labels: automerge, size: xs

#8993 chore(storage): update apiary dependency
  storage/go.mod
  storage/go.sum
Labels: api: storage, size: s

#8995 chore(edgenetwork): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#8982 test(bigtable): Adding isolation to app profile
  bigtable/integration_test.go
Labels: api: bigtable, size: s

#8990 feat(bigquery): add DataGovernanceType to routines
  bigquery/routine.go
  bigquery/routine_integration_test.go
  bigquery/routine_test.go
Labels: api: bigquery, size: m

#8655 feat(internal/trace): add OpenTelemetry support
  go.mod
  go.sum
  go.work.sum
  internal/generated/snippets/go.sum
  internal/testutil/trace_otel.go
  internal/trace/trace.go
  internal/trace/trace_test.go
Labels: stale: old, size: l

#8998 chore(changefinder): support nested commit format
  internal/actions/cmd/changefinder/README.md
  internal/actions/cmd/changefinder/main.go
Labels: size: s

#8979 fix(logging): added marshalling methods for proto fields in structuredLogEntry
  logging/logging.go
  logging/logging_test.go
Labels: api: logging, size: m

#8989 docs(datastore): replace deprecated func in docs
  datastore/doc.go
  datastore/example_test.go
Labels: api: datastore, size: xs

#8543 fix(storage): do not inhibit the dead code elimination.
  storage/bucket.go
  storage/storage.go
Labels: api: storage, stale: extraold, size: m

#8562 chore(storage): add server mode [benchmarks]
  go.work.sum
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
Labels: api: storage, stale: extraold, size: l

#8969 feat(spanner): enable long running transaction clean up
  spanner/README.md
  spanner/client_test.go
  spanner/session.go
  spanner/session_test.go
Labels: api: spanner, kokoro:force-run, size: m

#9011 chore: update script to be more secure
  .github/workflows/apidiff.yml
Labels: automerge, size: xs

#9012 chore(cloudprofiler): add config to generate apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: cloudprofiler, size: xs

#9013 fix(storage): set flush and get_state to false on the last write in gRPC
  storage/grpc_client.go
Labels: api: storage, size: s

#9018 chore(telcoautomation): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#9021 chore: re-onboard firestore admin
  .github/.OwlBot.yaml
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
Labels: size: l

#9022 chore: fix firestore admin config in yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#9023 chore: really onboard firestore
  .github/.OwlBot.yaml
Labels: size: xs

#9046 chore: update feature request template language
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: size: xs

#9052 fix(spanner): handle nil error when cleaning up long running session
  spanner/session.go
Labels: api: spanner, kokoro:force-run, size: xs
