Repository googleapis/google-cloud-go, pull requests merged in 2024-12, with the labels that each got.

#11202 chore(spanner): run go mod tidy
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
Labels: api: spanner, kokoro:force-run

#11193 fix(pubsub): move start span logic for publish batch
  pubsub/topic.go
Labels: api: pubsub, automerge

#11123 feat(bigquery): support IAM conditions in datasets
  bigquery/dataset.go
  bigquery/dataset_integration_test.go
  bigquery/dataset_test.go
Labels: api: bigquery, automerge

#11216 feat(bigquery): expose IsCaseInsensitive for dataset metadata
  bigquery/dataset.go
  bigquery/dataset_integration_test.go
  bigquery/dataset_test.go
Labels: api: bigquery, automerge

#11200 fix(storage): add backoff to gRPC write retries
  storage/bucket_test.go
  storage/client_test.go
  storage/grpc_client.go
  storage/grpc_client_test.go
  storage/http_client.go
  storage/invoke.go
  storage/invoke_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage

#11222 test(storage): skip dataflux emulator test
  storage/dataflux/worksteal_test.go
Labels: api: storage, automerge

#11111 feat(storage): add Writer.ChunkTransferTimeout
  storage/client.go
  storage/client_test.go
  storage/go.mod
  storage/go.sum
  storage/http_client.go
  storage/writer.go
Labels: api: storage, automerge

#11223 chore(storage): bump grpc dep
  storage/go.mod
  storage/go.sum
Labels: api: storage, automerge

#11225 fix(cloudbuild): deprecate apiv1 client
  cloudbuild/apiv1/doc.go
Labels: api: cloudbuild

#11226 fix(storage): disable soft delete policy using 0 duration
  storage/bucket.go
  storage/bucket_test.go
Labels: api: storage

#11233 chore(spanner): remove deprecated usages of internal/trace from tests
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/ot_traces_test.go
Labels: api: spanner

#11231 test(bigquery): migrate trace testing from opencensus to otel
  bigquery/go.mod
  bigquery/trace_integration_test.go
Labels: api: bigquery, automerge

#11175 fix(pubsub): fix defer call in for loop
  pubsub/topic.go
Labels: api: pubsub

#11241 test(bigquery): remove defunct opencensus test
  bigquery/oc_test.go
Labels: api: bigquery, automerge

#11244 ci(spanner): emulator test should run only when env is set already
  spanner/metrics_test.go
Labels: api: spanner, kokoro:force-run

#11252 ci(spanner): emulator test should run only when env is set already
  spanner/metrics_test.go
Labels: api: spanner

#11160 fix(auth): correct typo in link
  auth/internal/compute/compute.go
Labels: automerge

#10561 chore(firestore): use internal/detect
  firestore/client.go
Labels: api: firestore, automerge

#11248 test(datastore): remove defunct opencensus test
  datastore/oc_test.go
Labels: api: datastore

#11260 test(spanner): skip/remove oc span related tests
  spanner/client_test.go
  spanner/oc_test.go
Labels: api: spanner, automerge

#11224 fix(bigtable): Resolve discrepancy between server and client qps
  bigtable/metrics.go
Labels: api: bigtable

#11272 test(storage): fix trace span test
  storage/integration_test.go
Labels: api: storage, automerge

#11066 feat(bigtable): Async refresh dry run in parallel with sync refresh
  bigtable/bigtable.go
  bigtable/conformance_test.sh
  bigtable/metrics.go
  bigtable/metrics_util.go
Labels: api: bigtable

#11078 feat(compute/metadata): add debug logging
  compute/metadata/go.mod
  compute/metadata/go.sum
  compute/metadata/log.go
  compute/metadata/log_test.go
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
  compute/metadata/testdata/httpRequest.log
  compute/metadata/testdata/httpResponse.log
Labels: api: compute

#11294 chore: start generating memorystore v1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#11295 chore: start generating memorystore v1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#11296 chore(shopping): start generating reviews v1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#11280 docs(bigtable): Add todos
  bigtable/bigtable.go
Labels: api: bigtable

#11293 docs(bigtable): Adding shut down log
  bigtable/cmd/emulator/cbtemulator.go
Labels: api: bigtable

#11048 feat(spanner): implement generation and propagation of "x-goog-spanner-request-id" Header
  spanner/batch.go
  spanner/client.go
  spanner/client_test.go
  spanner/cmp_test.go
  spanner/errors.go
  spanner/grpc_client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/read.go
  spanner/read_test.go
  spanner/request_id_header.go
  spanner/request_id_header_test.go
  spanner/sessionclient.go
  spanner/transaction.go
Labels: api: spanner

#11309 test(spanner): temporarily skip TestRequestIDHeader if using multiplexedSessions
  spanner/request_id_header_test.go
Labels: api: spanner

#11303 fix(storage/dataflux): address deadlock when reading from ranges
  storage/dataflux/integration_test.go
  storage/dataflux/range_splitter.go
  storage/dataflux/worksteal.go
  storage/dataflux/worksteal_test.go
Labels: api: storage, automerge

#5390 feat(bigtable/bttest): add GetPartitions feature to emulator server
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
  internal/generated/snippets/go.mod
Labels: stale: extraold, size: m

#11212 feat(storage): return file metadata on read
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/reader.go
  storage/reader_test.go
Labels: api: storage

#11150 test(bigtable): Retry if already exists
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
Labels: api: bigtable

#11302 feat(storage): add ObjectHandle.Move method
  storage/client.go
  storage/go.mod
  storage/go.sum
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge

#11197 fix(storage): monitored resource detection
  storage/grpc_client.go
  storage/grpc_metrics.go
  storage/grpc_metrics_test.go
  storage/integration_test.go
  storage/option.go
  storage/option_test.go
Labels: api: storage, automerge

#11335 test(storage): skip MetricsEnablementInGCE
  storage/integration_test.go
Labels: api: storage

#11281 test(firestore): Resolve flaky tests
  firestore/go.mod
  firestore/go.sum
  firestore/integration_test.go
Labels: api: firestore

#11331 tests(logging): Minimized risk of flaky metrics/sinks tests by adding retries
  logging/go.mod
  logging/go.sum
  logging/internal/testing/retry.go
  logging/logadmin/metrics_test.go
  logging/logadmin/sinks_test.go
  logging/logging_test.go
Labels: api: logging

#11337 fix(storage): disable allow non-default credentials flag
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage

#11229 chore(spanner): track precommit token for R/W multiplexed session
  spanner/client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/kokoro/presubmit.sh
  spanner/read.go
  spanner/session.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11347 test(spanner): skip failing tests on cloud-devel and staging
  spanner/integration_test.go
Labels: api: spanner
