Repository googleapis/google-cloud-go, pull requests merged in 2024-05, with the labels that each got.

#10076 feat(shopping): new shopping.merchant.conversions client
  shopping/CHANGES.md
Labels: automerge

#10060 chore(spanner): update Spanner owner to harshachinta
  .github/blunderbuss.yml
Labels: api: spanner

#9760 chore(spanner): remove the need for github.com/stretchr/testify
  spanner/go.mod
  spanner/go.sum
  spanner/integration_test.go
  spanner/mocks_test.go
  spanner/row_test.go
  spanner/test/opentelemetry/test/go.sum
Labels: api: spanner

#10085 chore(maps/solar): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#10082 chore(postprocessor): ignore spanner/test in release-please gen
  internal/postprocessor/releaseplease.go
Labels: automerge

#10087 chore(thirdpartycheck): remove testify exemption
  internal/actions/cmd/thirdpartycheck/main.go
Labels: automerge

#10088 chore(postprocessor): update image to include #10082
  .github/.OwlBot.lock.yaml
Labels: automerge

#9758 chore(spanner): fix some go vet issues
  spanner/client_test.go
  spanner/examples_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/pdml_test.go
  spanner/read_test.go
  spanner/spannertest/db_test.go
  spanner/spannertest/inmem.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_value_converter.go
  spanner/timestampbound_test.go
Labels: api: spanner, automerge

#10091 docs(testing): switch deprecated WithInsecure to WithTransportCredentials
  testing.md
Labels: automerge: exact

#10093 fix(auth): get s2a logic up to date
  auth/grpctransport/grpctransport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
  auth/internal/transport/s2a.go
Labels: automerge

#10099 fix(spanner): remove json-iterator dependency
  spanner/go.mod
  spanner/go.sum
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
  spanner/value.go
Labels: api: spanner

#10102 feat(auth): Enable client certificates by default
  auth/internal/transport/cba.go
Labels: automerge

#10096 chore(spanner): use time.Since instead of time.Now().Sub
  spanner/client_test.go
  spanner/integration_test.go
  spanner/session.go
Labels: api: spanner, automerge

#10113 chore(thirdparty): remove json-iterator exemption
  internal/actions/cmd/thirdpartycheck/main.go
Labels: kokoro:force-run, automerge: exact

#10118 test(spanner): update max staleness bound value
  spanner/integration_test.go
Labels: api: spanner

#9315 feat(spanner): add support for Proto Columns
  spanner/integration_test.go
  spanner/key.go
  spanner/key_test.go
  spanner/protoutils.go
  spanner/testdata/protos/descriptors.pb
  spanner/testdata/protos/singer.pb.go
  spanner/testdata/protos/singer.proto
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, size: xl, breaking change

#10063 refactor(datastore): Rename function
  datastore/query.go
  datastore/query_test.go
  datastore/transaction.go
Labels: api: datastore

#10029 test(bigtable): Skipping long running tests in short mode
  bigtable/integration_test.go
Labels: api: bigtable

#10131 chore(internal/postprocessor): add ai to individuallyReleasedModules
  .release-please-manifest-submodules.json
  internal/postprocessor/releaseplease.go
  release-please-config-yoshi-submodules.json
Labels: automerge

#10134 chore(ci): update postprocessor version
  .github/.OwlBot.lock.yaml
Labels: automerge

#9702 feat(bigtable): Adding automated backups
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
Labels: api: bigtable

#10143 fix(auth): don't try to detect default creds it opt configured
  auth/grpctransport/grpctransport.go
  auth/httptransport/transport.go
Labels: automerge

#10147 fix(auth): have refresh time match docs
  auth/auth.go
Labels: automerge

#10151 fix(auth): Enable client certificates by default only for GDU
  auth/internal/transport/cba.go
Labels: automerge

#10154 fix(storage): retry net.OpError on connection reset
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage

#10158 fix(datastore): regenerate protos in new namespace
  datastore/internal/gaepb/datastore_ae_v3.pb.go
  datastore/internal/gaepb/datastore_ae_v3.proto
Labels: api: datastore, automerge

#10150 chore(vertexai): remove flags from client test
  vertexai/genai/client_test.go
Labels: automerge

#10149 feat(vertexai): add Candidate.FunctionCalls accessor
  vertexai/genai/client_test.go
  vertexai/genai/content.go
Labels: automerge

#10152 chore(vertexai): skip tests that check blocked inputs for model
  vertexai/genai/client_test.go
Labels: automerge

#10162 fix(auth): handle non-Transport DefaultTransport
  auth/httptransport/httptransport.go
  auth/httptransport/httptransport_test.go
Labels: automerge

#10165 test(pubsub): make error checking of receive less brittle
  pubsub/doc.go
  pubsub/example_test.go
  pubsub/flow_controller_test.go
  pubsub/integration_test.go
  pubsub/internal/longtest/endtoend_test.go
  pubsub/iterator_test.go
  pubsub/pstest_test.go
  pubsub/streaming_pull_test.go
  pubsub/subscription_test.go
  pubsub/topic_test.go
Labels: api: pubsub

#9372 feat(bigtable): Add ignore_warnings flag to SetGcPolicy
  bigtable/admin.go
  bigtable/admin_test.go
Labels: api: bigtable, stale: old, size: s

#9722 feat(pubsub/pstest): add support to register other servers into grpc.Server
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub

#10079 fix(spanner): Add ARRAY keywords to keywords
  spanner/spansql/keywords.go
  spanner/spansql/parser_test.go
Labels: api: spanner

#10185 test: fix presubmit script to handle dirs
  internal/kokoro/presubmit.sh
Labels: automerge

#10172 test(bigtable): Refactor and add nil check to AutomatedBackupPolicy test
  bigtable/integration_test.go
Labels: api: bigtable

#10190 test(storage): increase ctx timeout for requesterpays test
  storage/integration_test.go
Labels: api: storage

#10194 chore(spanner): fix proto schema naming in tests
  spanner/integration_test.go
  spanner/testdata/protos/README.md
  spanner/testdata/protos/descriptors.pb
  spanner/testdata/protos/singer.pb.go
  spanner/testdata/protos/singer.proto
  spanner/value_test.go
Labels: api: spanner

#10030 feat(logging): OpenTelemetry trace/span ID integration for Go logging library
  logging/go.mod
  logging/logging.go
  logging/logging_test.go
Labels: api: logging

#10170 docs(bigquery): improve Inserter and StructSaver godoc
  bigquery/doc.go
Labels: api: bigquery

#10200 chore(internal/postprocessor): update postprocessor version
  .github/.OwlBot.lock.yaml
Labels: automerge

#10206 chore(commerce): promote to GA v1.0.0
  commerce/CHANGES.md
Labels: automerge

#9673 fix(bigtable): Retry on RST_STREAM error
  bigtable/bigtable.go
  bigtable/retry_test.go
Labels: api: bigtable

#10208 chore(config): promote to GA v1.0.0
  config/CHANGES.md
Labels: automerge

#10211 chore(servicehealth): promote to GA v1.0.0
  servicehealth/CHANGES.md
Labels: automerge

#10210 chore(netapp): promote to GA v1.0.0
  netapp/CHANGES.md
Labels: automerge

#10209 chore(migrationcenter): promote to GA v1.0.0
  migrationcenter/CHANGES.md
Labels: automerge

#10212 chore(workstations): promote to GA v1.0.0
  workstations/CHANGES.md
Labels: automerge

#10214 chore(publicca): start generating v1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge, api: publicca

#10127 feat(storage): add BucketName to BucketHandle
  storage/bucket.go
Labels: api: storage, automerge

#10197 feat(vertexai): support model garden and tuned models names
  vertexai/genai/client.go
  vertexai/genai/client_test.go
  vertexai/genai/example_test.go
Labels: automerge

#7315 fix(bigquery): empty slice instead of nil slice for primitive repeated fields
  bigquery/integration_test.go
  bigquery/iterator.go
  bigquery/value.go
  bigquery/value_test.go
Labels: stale: extraold, size: m

#10153 fix(pubsub): Closes #10094 - memory leak in pubsub receive
  pubsub/iterator.go
Labels: api: pubsub

#10161 chore: remove todo storage client grpc flag
  storage/storage.go
Labels: automerge

#10227 test(storage): add 5m timeout per integration test
  storage/integration_test.go
Labels: api: storage

#10218 feat(spanner): update go mod to use latest grpc lib
  spanner/go.mod
  spanner/go.sum
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
Labels: api: spanner

#10228 test(storage): add more debugging info
  storage/integration_test.go
Labels: api: storage, automerge

#10232 test(storage): fix context timeout logic
  storage/integration_test.go
Labels: api: storage, automerge

#10223 chore: prep for switching golint -> go vet
  bigtable/admin.go
  bigtable/bttest/inmem_test.go
  bigtable/export_test.go
  bigtable/integration_test.go
  datastore/integration_test.go
  firestore/client_test.go
  firestore/collref_test.go
  firestore/conformance_test.go
  firestore/docref.go
  firestore/docref_test.go
  firestore/document.go
  firestore/document_test.go
  firestore/fieldpath.go
  firestore/from_value_test.go
  firestore/integration_test.go
  firestore/options.go
  firestore/options_test.go
  firestore/order.go
  firestore/query.go
  firestore/query_test.go
  firestore/to_value.go
  firestore/to_value_test.go
  firestore/transaction.go
  firestore/transaction_test.go
  firestore/util_test.go
  firestore/watch.go
  firestore/watch_test.go
  firestore/writebatch_test.go
  internal/fields/fields_test.go
  internal/protostruct/protostruct_test.go
  longrunning/longrunning_test.go
  pubsub/pstest/fake.go
  pubsublite/integration_test.go
  pubsublite/operations.go
  pubsublite/pscompat/example_test.go
  pubsublite/pscompat/integration_test.go
  pubsublite/pscompat/subscriber_test.go
  rpcreplay/example_test.go
  spanner/client_benchmarks_test.go
  spanner/examples_test.go
  spanner/integration_test.go
  spanner/value_test.go
  storage/internal/benchmarks/continuous_reads.go
  storage/internal/benchmarks/download_benchmark.go
  storage/internal/benchmarks/upload_benchmark.go
  storage/internal/benchmarks/w1r3.go
  vertexai/genai/example_test.go
Labels: automerge

#10135 docs(storage): update autoclass doc
  storage/bucket.go
Labels: api: storage, automerge

#10169 fix(bigquery/storage/managedwriter): faster context failure on send
  bigquery/storage/managedwriter/connection.go
Labels: api: bigquery, automerge

#10242 chore(spanner): regenerate proto files and fix tests
  spanner/integration_test.go
  spanner/testdata/protos/descriptors.pb
  spanner/testdata/protos/singer.pb.go
  spanner/testdata/protos/singer.proto
Labels: api: spanner

#10244 chore(spanner): fix executor
  spanner/test/cloudexecutor/executor/internal/inputstream/handler.go
Labels: api: spanner

#10239 test(storage): use control client for int test
  storage/integration_test.go
Labels: api: storage, automerge

#10246 fix(kms): enable cloud.google.com/go/auth
  kms/CHANGES.md
Labels: api: cloudkms

#10186 test(spanner): fix race when accessing trace spans
  internal/testutil/trace.go
  internal/trace/trace_test.go
Labels: api: spanner

#10257 test(storage): fix OC span test
  storage/go.mod
  storage/go.sum
  storage/integration_test.go
Labels: api: storage, automerge

#10258 chore(storage): fix go vet issue
  storage/go.mod
Labels: api: storage

#10250 fix(storage): set invocation headers on xml reads
  storage/http_client.go
Labels: api: storage

#10253 test(spanner): fix spanner trace tests
  spanner/client_test.go
  spanner/go.mod
  spanner/go.sum
  spanner/test/opentelemetry/test/go.mod
Labels: api: spanner

#9512 fix(bigtable/bttest): Error when applying a mutation with an empty row key
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, size: m

#10233 feat(auth): adds X509 workload certificate provider
  auth/internal/transport/cert/testdata/certificate_config_workload.json
  auth/internal/transport/cert/testdata/certificate_config_workload_empty.json
  auth/internal/transport/cert/testdata/certificate_config_workload_invalid_cert.json
  auth/internal/transport/cert/testdata/certificate_config_workload_no_cert.json
  auth/internal/transport/cert/testdata/certificate_config_workload_no_key.json
  auth/internal/transport/cert/testdata/workload_cert.pem
  auth/internal/transport/cert/testdata/workload_cert_invalid.txt
  auth/internal/transport/cert/testdata/workload_key.pem
  auth/internal/transport/cert/workload_cert.go
  auth/internal/transport/cert/workload_cert_test.go
Labels: automerge

#10226 fix(bigtable): Reject misspecified Automated Backup Policies when updating a table
  bigtable/admin.go
  bigtable/admin_test.go
Labels: api: bigtable

#10260 test(datastore): fix OC span test
  datastore/go.mod
  datastore/go.sum
  datastore/oc_test.go
Labels: api: datastore

#10259 test(bigquery): fix OC span test
  bigquery/go.mod
  bigquery/go.sum
  bigquery/oc_test.go
Labels: api: bigquery

#10278 chore(CODEOWNERS): add Go Gemini devs to ai
  .github/CODEOWNERS
Labels: automerge

#10284 test(storage): do not fail on precondition failure for bucket updates
  storage/integration_test.go
Labels: api: storage

#10287 feat(internal/trace): deprecate OpenCensus support
  auth/grpctransport/grpctransport.go
  auth/httptransport/httptransport.go
  debug.md
  internal/trace/trace.go
Labels: automerge

#10290 fix(auth): pass through client to 2LO and 3LO flows
  auth/credentials/filetypes.go
Labels: automerge
