Repository googleapis/google-cloud-go, pull requests merged in 2024-01, with the labels that each got.

#9179 chore(spanner): refactor executor proto
  spanner/test/cloudexecutor/executor/actions/admin.go
  spanner/test/cloudexecutor/executor/actions/batch.go
  spanner/test/cloudexecutor/executor/actions/dml.go
  spanner/test/cloudexecutor/executor/actions/dql.go
  spanner/test/cloudexecutor/executor/actions/execution_flow_context.go
  spanner/test/cloudexecutor/executor/actions/mutation.go
  spanner/test/cloudexecutor/executor/actions/partition.go
  spanner/test/cloudexecutor/executor/actions/transaction.go
  spanner/test/cloudexecutor/executor/executor_proxy_server_impl.go
  spanner/test/cloudexecutor/executor/internal/inputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/outputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_value_converter.go
  spanner/test/cloudexecutor/executor/internal/utility/key.go
  spanner/test/cloudexecutor/executor/internal/utility/spanner_to_executor_value_converter.go
  spanner/test/cloudexecutor/executor/internal/utility/table_metadata_helper.go
  spanner/test/cloudexecutor/proto/README.md
  spanner/test/cloudexecutor/proto/cloud_executor.pb.go
  spanner/test/cloudexecutor/proto/cloud_executor.proto
  spanner/test/cloudexecutor/worker_proxy.go
Labels: api: spanner, size: xl, breaking change allowed

#9213 chore(cloudquotas): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs, api: cloudquotas

#9195 chore(github): set minimal workflow permissions
  .github/workflows/action_syntax.yml
  .github/workflows/apidiff.yml
  .github/workflows/conformance.yaml
  .github/workflows/new_client.yml
Labels: size: s

#9216 deps: update dependencies for bigtable emulator
  bigtable/go.mod
  bigtable/go.sum
Labels: size: s

#9030 fix(firestore): Return status code from bulkwriter results
  firestore/bulkwriter.go
  firestore/integration_test.go
Labels: api: firestore, stale: old, size: m

#9224 feat(bigquery): expose query id on row iterator if available
  bigquery/iterator.go
  bigquery/iterator_test.go
  bigquery/query.go
Labels: api: bigquery, automerge, size: s

#7668 feat(spanner): add directed reads feature
  spanner/batch.go
  spanner/client.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/transaction.go
Labels: api: spanner, stale: extraold, size: l

#9232 fix(storage): migrate deprecated proto dep
  storage/conformance_test.go
  storage/go.mod
Labels: api: storage, automerge, size: s

#9240 test(firestore): Fix TestIntegration_BulkWriter_Create
  firestore/integration_test.go
Labels: api: firestore, size: xs

#9242 feat(internal/trace): export internal/trace package constants and vars
  internal/trace/trace.go
  internal/trace/trace_test.go
Labels: size: m

#9074 docs(main): add telemetry discussion to debug.md
  debug.md
  doc.go
Labels: kokoro:force-run, stale: old, size: l

#9244 chore(servicehealth): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: s

#9251 fix(internal/postprocessor): handle googleapis link in commit body
  internal/postprocessor/main.go
  internal/postprocessor/testdata/nested-commits.input
  internal/postprocessor/testdata/nested-commits.output
Labels: size: s

#9255 chore(owlbot): update postprocessor version
  .github/.OwlBot.lock.yaml
Labels: automerge, size: xs

#9241 feat(bigquery/storage/managedwriter): improve schema comparison stability
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/testdata/messages_proto2.pb.go
  bigquery/storage/managedwriter/testdata/messages_proto2.proto
Labels: api: bigquery, automerge, size: l

#8673 feat(bigquery): Add support for AllowNonIncrementalDefinition and Staleness on MaterializedView
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery, stale: extraold, size: m

#9233 test(bigtable): Return error in correct format from test proxy
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable, size: xs

#8486 test(storage): update retry conformance tests for dual transports
  storage/internal/test/conformance/retry_tests.json
  storage/retry_conformance_test.go
Labels: api: storage, stale: extraold, size: m

#9215 feat(storage): add maxAttempts RetryOption
  storage/bucket_test.go
  storage/invoke.go
  storage/invoke_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, automerge, size: m

#9206 feat(spanner): add SelectAll method to decode from Spanner iterator.Rows to golang struct
  spanner/go.mod
  spanner/go.sum
  spanner/mocks.go
  spanner/read.go
  spanner/row.go
  spanner/row_test.go
  spanner/value.go
  spanner/value_benchmarks_test.go
Labels: api: spanner, size: l

#9238 deps(bigquery): update arrow to v14
  bigquery/arrow.go
  bigquery/go.mod
  bigquery/go.sum
  bigquery/storage_integration_test.go
Labels: api: bigquery, automerge, size: m

#9239 chore(pubsub): Remove TODO that is 7 years old and on which no action has been taken
  pubsub/topic.go
Labels: api: pubsub, size: xs

#8559 docs(pubsub): update allowed message retention duration by server
  pubsub/integration_test.go
  pubsub/topic.go
Labels: api: pubsub, stale: extraold, size: m

#9264 chore(storage): add continuous read workload [benchmarks]
  go.work.sum
  storage/internal/benchmarks/README.md
  storage/internal/benchmarks/benchmark_result.go
  storage/internal/benchmarks/continuous_reads.go
  storage/internal/benchmarks/directory_benchmark.go
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/utils.go
Labels: api: storage, size: l

#9286 chore(securityposture): add config to generate apiv1
  .github/.OwlBot.yaml
  go.work.sum
  internal/postprocessor/config.yaml
  storage/internal/benchmarks/go.sum
Labels: size: m

#9268 docs(main): add OpenTelemetry-Go compatibility warning to debug.md
  debug.md
Labels: size: s

#9287 chore(internal): Decrease title length
  internal/gapicgen/git/git.go
  internal/gapicgen/git/github.go
Labels: size: xs

#9292 chore(datastore/firestore/bigtable): Adding partners as owners
  .github/CODEOWNERS
Labels: api: datastore, size: s

#9027 feat(datastore): Adding reserve IDs support
  datastore/client.go
  datastore/integration_test.go
  datastore/key.go
Labels: api: datastore, stale: extraold, size: s

#9274 test(firestore): Fix client read time test
  firestore/integration_test.go
Labels: api: firestore, size: xs

#9270 test(bigtable): Clean up test clusters
  bigtable/integration_test.go
Labels: api: bigtable, size: s

#9273 test(bigtable): Cancel context
  bigtable/integration_test.go
Labels: api: bigtable, size: s

#9211 feat(storage): support IncludeFoldersAsPrefixes
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge, size: m

#9220 fix(bigtable): Fix deadline exceeded conformance test
  bigtable/bigtable.go
Labels: api: bigtable, size: s

#9293 chore(logging): Adding partners as owners
  .github/CODEOWNERS
Labels: api: logging, size: xs

#9296 chore(internal/gapicgen/git): fix TestFormatChanges
  internal/gapicgen/git/git_test.go
Labels: size: s

#9236 fix(bigquery): support more timestamp formats for query param
  bigquery/integration_test.go
  bigquery/params.go
Labels: api: bigquery, automerge, size: s

#9015 feat(pubsub): support message filtering in pstest
  pubsub/go.mod
  pubsub/go.sum
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/pstest/filtering.go
  pubsub/pstest/filtering_test.go
Labels: api: pubsub, size: l

#9307 chore(internal/gapicgen/git): run gofmt
  internal/gapicgen/git/git_test.go
Labels: size: s

#9311 fix(pubsub): move flow control release to callback completion
  pubsub/subscription.go
  pubsub/subscription_test.go
Labels: api: pubsub, size: m

#9322 chore(visionai): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#9323 deps(bigquery): bump google.golang.org/api to 0.160.0
  bigquery/go.mod
  bigquery/go.sum
Labels: size: s

#9325 chore(internal/actions): add touch flag to changefinder
  internal/actions/cmd/changefinder/README.md
  internal/actions/cmd/changefinder/main.go
Labels: automerge, size: m

#8754 feat(spanner/spansql): add support for CREATE VIEW with SQL SECURITY DEFINER
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, stale: extraold, size: m

#9341 docs: add policy on new dependencies to contrib
  CONTRIBUTING.md
Labels: automerge, size: s
