Repository googleapis/google-cloud-go, pull requests merged in 2024-06, with the labels that each got.

#10307 chore(internal/postprocessor): add config to generate networkservices and shopping/merchant clients
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#10308 chore(storage): remove usage of setClientHeader where possible
  storage/acl.go
  storage/hmac.go
  storage/http_client.go
Labels: api: storage

#10045 feat(storage/transfermanager): prototype
  storage/transfermanager/doc.go
  storage/transfermanager/downloader.go
  storage/transfermanager/downloader_test.go
  storage/transfermanager/example_test.go
  storage/transfermanager/integration_test.go
  storage/transfermanager/option.go
  storage/transfermanager/option_test.go
Labels: api: storage

#10328 feat(bigquery): add rounding mode to FieldSchema
  bigquery/schema.go
  bigquery/schema_test.go
  bigquery/table_integration_test.go
Labels: api: bigquery

#10315 feat(storage): add bucket HierarchicalNamespace
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, automerge

#10339 test(storage): use long uidSpace for buckets
  storage/integration_test.go
Labels: api: storage, automerge

#10305 testing(bigquery): update BQML option to non-alpha name
  bigquery/integration_test.go
Labels: api: bigquery, automerge

#10327 chore(spanner): add json handling in executor
  spanner/test/cloudexecutor/executor/internal/inputstream/handler.go
  spanner/test/cloudexecutor/executor/internal/utility/executor_to_spanner_value_converter.go
  spanner/test/cloudexecutor/executor/internal/utility/spanner_to_executor_value_converter.go
Labels: api: spanner

#10341 fix(internal/postprocessor): use approved image tag
  internal/postprocessor/README.md
  internal/postprocessor/cloudbuild.yaml
Labels: automerge

#10344 chore(internal/postprocessor): update to newly tagged image
  .github/.OwlBot.lock.yaml
Labels: automerge

#10289 feat(spanner): add OrderBy feature
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner

#10347 feat(storage/transfermanager): add Range to output
  storage/transfermanager/downloader.go
  storage/transfermanager/integration_test.go
Labels: api: storage, automerge

#10331 doc(storage): recommend using WithJSONReads
  storage/option.go
  storage/reader.go
Labels: api: storage, automerge

#10329 chore(storage/transfermanager): add usage metric headers
  storage/invoke.go
  storage/invoke_test.go
  storage/transfermanager/downloader.go
Labels: api: storage

#10349 fix(datastore): Update retry transaction logic to be inline with Spanner
  datastore/mock_test.go
  datastore/transaction.go
  datastore/transaction_test.go
Labels: api: datastore

#10362 fix(vertexai): don't add empty Text parts to session history
  vertexai/genai/chat.go
  vertexai/genai/client_test.go
Labels: automerge

#10363 feat(vertexai): explicit caching
  vertexai/genai/aiplatformpb_veneer.gen.go
  vertexai/genai/caching.go
  vertexai/genai/caching_test.go
  vertexai/genai/chat.go
  vertexai/genai/client.go
  vertexai/genai/client_test.go
  vertexai/genai/config.yaml
  vertexai/genai/example_test.go
  vertexai/go.mod
  vertexai/go.sum
  vertexai/internal/support/support.go
  vertexai/internal/support/support_test.go
Labels: automerge

#10367 chore: give go-vertexai team aiplatform CODEOWNERS
  .github/CODEOWNERS
Labels: automerge

#10321 fix(spanner): fix data-race caused by TrackSessionHandles
  spanner/session.go
Labels: api: spanner

#10355 feat(vertexai/genai): add MergedResponse method to GenerateContentResponseIterator
  vertexai/genai/client.go
Labels: automerge

#10371 chore(vertexai): clean up utility function and add tests
  vertexai/genai/chat.go
  vertexai/genai/chat_test.go
Labels: automerge

#10374 fix(storage): retry broken pipe error
  storage/invoke.go
Labels: api: storage

#10376 chore(storage): remove use of xerrors
  storage/go.mod
  storage/go.sum
  storage/invoke_test.go
Labels: api: storage

#10386 fix(spanner): prevent possible panic for Session not found errors
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner

#10238 feat(pubsub): make lease management RPCs concurrent
  pubsub/iterator.go
  pubsub/iterator_test.go
Labels: api: pubsub

#10390 chore(spanner): use previous version of cloud.google.com/go
  spanner/go.mod
  spanner/go.sum
Labels: api: spanner

#10394 fix(storage): allow empty soft delete on Create
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, automerge

#10306 feat(bigtable): add string type to supported Bigtable type
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10405 feat(spanner): add support of checking row not found errors from ReadRow and ReadRowUsingIndex
  spanner/errors.go
  spanner/integration_test.go
  spanner/transaction.go
Labels: api: spanner

#10411 testing(bigquery): fix legacy trace test
  bigquery/trace_integration_test.go
Labels: automerge

#10413 doc(storage): add example for retention
  storage/example_test.go
Labels: api: storage

#10415 fix(auth): fetch initial token when CachedTokenProviderOptions.DisableAutoRefresh is true
  auth/auth.go
  auth/auth_test.go
Labels: automerge

#10379 feat(storage/transfermanager): automatically shard downloads
  storage/transfermanager/download_buffer.go
  storage/transfermanager/downloader.go
  storage/transfermanager/downloader_buffer_test.go
  storage/transfermanager/downloader_test.go
  storage/transfermanager/integration_test.go
  storage/transfermanager/option.go
  storage/transfermanager/option_test.go
Labels: api: storage, automerge

#10431 fix(auth): return error if envvar detected file returns an error
  auth/credentials/detect.go
  auth/credentials/detect_test.go
Labels: automerge

#10434 chore: promote clients to GA
  backupdr/CHANGES.md
  cloudcontrolspartner/CHANGES.md
  cloudquotas/CHANGES.md
  edgenetwork/CHANGES.md
  securesourcemanager/CHANGES.md
  securitycentermanagement/CHANGES.md
  telcoautomation/CHANGES.md
Labels: automerge

#10425 feat(bigquery): support column name character map in load jobs
  bigquery/load.go
  bigquery/load_test.go
Labels: api: bigquery, automerge

#10444 chore(cloudquotas): release v1.0.0
  cloudquotas/CHANGES.md
Labels: api: cloudquotas

#10436 feat(pubsub): add client ID to initial streaming pull request
  pubsub/go.mod
  pubsub/go.sum
  pubsub/iterator.go
  pubsub/pullstream.go
  pubsub/pullstream_test.go
  pubsub/subscription.go
Labels: api: pubsub

#10382 feat(spanner): add LockHint feature
  spanner/client.go
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner

#10408 docs(compute/metadata): update OnGCE description
  compute/metadata/metadata.go
Labels: automerge: exact

#10441 fix(logging): Skip automatic resource detection if a CommonResource LoggerOption is passed in
  logging/logging.go
  logging/logging_unexported_test.go
  logging/resource.go
Labels: api: logging

#10449 fix(spanner): fix negative values for max_in_use_sessions metrics
  spanner/session.go
  spanner/session_test.go
Labels: api: spanner, automerge

#10397 fix(auth): Update http and grpc transports to support token exchange over mTLS
  auth/credentials/detect.go
  auth/grpctransport/grpctransport.go
  auth/httptransport/httptransport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
  auth/internal/transport/transport.go
Labels: automerge
