Repository googleapis/google-cloud-go, pull requests merged in 2024-04, with the labels that each got.

#9675 chore(docs): fix typo in testing.md
  testing.md
Labels: automerge: exact

#9678 chore(ci): only lint when action changed
  .github/workflows/action_syntax.yml
Labels: automerge

#9681 test(storage): add WriteTo integration test cases
  storage/integration_test.go
Labels: api: storage, automerge

#9687 fix(vertexai): if GenerateContentResponse.Candidates.Content is nil will panic
  vertexai/genai/client.go
Labels: automerge

#9690 docs(vertexai): fix typo in README
  vertexai/README.md
Labels: automerge: exact

#9696 chore(aiplatform): move to individual release
  release-please-config-individual.json
  release-please-config-yoshi-submodules.json
Labels: automerge, api: aiplatform

#9689 chore(storage): bring dependencies down to 1.20 [benchmarks]
  .github/renovate.json
  storage/internal/benchmarks/continuous_reads.go
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
  storage/internal/benchmarks/main.go
Labels: api: storage

#9698 chore(ci): move aiplatform release manifest entry
  .release-please-manifest-individual.json
  .release-please-manifest-submodules.json
Labels: automerge

#9692 doc(storage): reference storage control in pkg doc
  storage/doc.go
Labels: api: storage, automerge

#9703 chore: fix some bad conversions
  auth/httptransport/trace.go
  pubsublite/pscompat/message.go
  spanner/spansql/parser.go
Labels: automerge

#9707 chore(internal/postprocessor): mark aiplatform as individual
  internal/postprocessor/releaseplease.go
Labels: automerge

#9709 chore(release-please): remove extra aiplatform entry
  .github/.OwlBot.lock.yaml
  .release-please-manifest-submodules.json
Labels: automerge

#9712 feat(backupdr): start generating backupdr v1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#9716 chore: remove aiplatform from bulk release config
  release-please-config-yoshi-submodules.json
Labels: automerge

#9718 chore(internal/postprocessor): lower go version of Dockerfile
  internal/postprocessor/Dockerfile
Labels: automerge

#9719 chore(ci): update owlbot lock sha
  .github/.OwlBot.lock.yaml
Labels: automerge

#9682 feat(pubsub): use Streaming Pull response for ordering check
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/subscription.go
Labels: api: pubsub

#9490 bigquery: support map[string]interface{} fields and ",json" struct tag
  bigquery/integration_test.go
  bigquery/params.go
  bigquery/params_test.go
  bigquery/schema.go
  bigquery/schema_test.go
Labels: api: bigquery, size: m

#9676 testing(bigquery/storage/managedwriter): add a range type test
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testdata/testing.pb.go
  bigquery/storage/managedwriter/testdata/testing.proto
Labels: api: bigquery

#9735 test(monitoring): remove old smoke test
  monitoring/apiv3/ListMonitoredResourceDescriptors_smoke_test.go
  monitoring/go.mod
  monitoring/go.sum
Labels: api: monitoring, automerge

#9747 fix(storage): disable gax retries for gRPC
  storage/client_test.go
  storage/grpc_client.go
  storage/retry_conformance_test.go
Labels: api: storage, automerge

#9520 feat(storage): support for soft delete policies and restore
  storage/bucket.go
  storage/bucket_test.go
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: l

#9726 fix(bigquery): add jobRateLimitExceeded in jobRetryReasons
  bigquery/bigquery.go
Labels: api: bigquery

#9752 testing(bigquery): test refactor to subtests
  bigquery/integration_test.go
  bigquery/params_test.go
  bigquery/value_test.go
Labels: api: bigquery, automerge

#9753 chore(internal/gapicgen): add apps/card/v1 to go-genproto allowlist
  internal/gapicgen/generator/genproto.go
Labels: automerge

#9638 chore(storage): gRPC object/bucket empty update parity with JSON
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage

#9754 feat(bigquery): RANGE type StandardSQLDataType support
  bigquery/routine_integration_test.go
  bigquery/standardsql.go
  bigquery/standardsql_test.go
Labels: api: bigquery

#9756 chore(storage): remove superfluous options
  storage/client.go
  storage/storage.go
Labels: api: storage, automerge

#9739 feat(spanner): Add "RESOURCE_EXHAUSTED" to list of retryable codes for streaming operations.
  spanner/read.go
Labels: api: spanner

#9771 chore: run goimports
  datastore/internal/gaepb/datastore_v3.pb.go
Labels: automerge

#9769 chore(shopping): add notifications v1beta client
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#9770 chore(shopping): add lfp client
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#9733 feat(compute/metadata): add context aware functions
  compute/metadata/examples_test.go
  compute/metadata/metadata.go
  compute/metadata/metadata_go113_test.go
  compute/metadata/metadata_test.go
  compute/metadata/retry.go
Labels: api: compute, automerge

#9767 fix(storage): wrap error when MaxAttempts is hit
  storage/client_test.go
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage

#9656 fix(datastore): Prevent panic on GetMulti failure
  datastore/datastore.go
Labels: api: datastore

#9776 chore(chat): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: chat

#9778 chore(auth): update deps
  auth/go.mod
  auth/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
Labels: automerge

#9714 fix(firestore): Move createIndexes calls
  firestore/integration_test.go
Labels: api: firestore

#9694 feat(auth/oauth2adapt): add helpers for working with credentials types
  auth/oauth2adapt/go.mod
  auth/oauth2adapt/go.sum
  auth/oauth2adapt/oauth2adapt.go
  auth/oauth2adapt/oauth2adapt_test.go
Labels: automerge

#9602 fix(datastore): Adding tracing to run method
  datastore/query.go
Labels: api: datastore

#9780 test(storage): unskip gRPC write test
  storage/client_test.go
Labels: api: storage, automerge

#9040 feat(bigtable): allow non-default service account in DirectPath
  bigtable/bigtable.go
Labels: api: bigtable, stale: extraold, size: xs

#9186 feat(bigtable/spanner): remove grpclb
  bigtable/bigtable.go
  spanner/client.go
Labels: api: bigtable, stale: extraold, size: xs

#9783 chore(bigtable): Adding partners as owners
  .github/CODEOWNERS
Labels: api: bigtable, automerge

#9482 chore: support Go 1.22
  .github/workflows/apidiff.yml
  .github/workflows/conformance.yaml
  .github/workflows/new_client.yml
  .github/workflows/third_party_check.yml
  README.md
  internal/gapicgen/cmd/genbot/Dockerfile
Labels: automerge, size: s

#9785 chore(postprocessor): fix videointelligence config
  internal/postprocessor/config.yaml
Labels: automerge

#9655 doc(bigtable): Updating documentation for ReadRows
  bigtable/bigtable.go
Labels: api: bigtable

#9688 fix(bigtable): Resolve DeadlineExceeded conformance test failures
  bigtable/bigtable.go
Labels: api: bigtable

#9653 feat(datastore): Configure both mTLS and TLS endpoints for Datastore client
  datastore/datastore.go
Labels: api: datastore

#9786 chore(identitytoolkit): onboard apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: identitytoolkit, automerge

#9762 feat(bigquery): RANGE support for basic data movement
  bigquery/integration_test.go
  bigquery/params.go
  bigquery/params_test.go
  bigquery/rangevalue.go
  bigquery/schema.go
  bigquery/schema_test.go
  bigquery/storage_integration_test.go
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery

#9791 testing(bigquery): correct an integration test expectation
  bigquery/integration_test.go
  bigquery/params_test.go
Labels: api: bigquery, automerge

#9797 chore(internal/kokoro): enable new auth lib in continuous.sh
  internal/kokoro/continuous.sh
Labels: automerge

#9421 fix(datastore): propagate ctx on query error
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, size: xs

#9789 feat(datastore): respect DATASTORE_EMULATOR_HOST endpoint setting
  datastore/datastore.go
Labels: api: datastore

#9795 feat(bigquery): RANGE support when reading Arrow format
  bigquery/arrow.go
  bigquery/integration_test.go
  bigquery/storage_integration_test.go
Labels: api: bigquery

#9800 fix(auth): default gRPC token type to Bearer if not set
  auth/grpctransport/dial_socketopt_test.go
  auth/grpctransport/grpctransport.go
  auth/grpctransport/grpctransport_test.go
Labels: automerge

#9801 fix(auth/oauth2adapt): adapt Token Types to be translated
  auth/oauth2adapt/go.mod
  auth/oauth2adapt/go.sum
  auth/oauth2adapt/oauth2adapt.go
  auth/oauth2adapt/oauth2adapt_test.go
Labels: automerge

#9805 chore: new owl bot post processor docker image
  .github/.OwlBot.lock.yaml
Labels: owl-bot-update-lock

#9803 chore: don't run CI for config file changes
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
  spanner/kokoro/beta-integration.sh
Labels: automerge

#9807 chore: reenable new auth after fixes
  internal/kokoro/continuous.sh
Labels: automerge

#9999 fix(auth): add internal opt to skip validation on transports
  auth/grpctransport/grpctransport.go
  auth/grpctransport/grpctransport_test.go
  auth/httptransport/httptransport.go
  auth/httptransport/httptransport_test.go
Labels: automerge

#10002 fix(auth): set secure flag for gRPC conn pools
  auth/grpctransport/grpctransport.go
Labels: automerge

#10003 chore: add internaloption.WithDefaultEndpointTemplate
  batch/apiv1/iam_policy_client.go
  bigtable/internal/option/option.go
  datacatalog/apiv1/iam_policy_client.go
  datastream/apiv1/iam_policy_client.go
  debugger/apiv2/controller2_client.go
  debugger/apiv2/debugger2_client.go
  errorreporting/apiv1beta1/error_group_client.go
  errorreporting/apiv1beta1/error_stats_client.go
  errorreporting/apiv1beta1/report_errors_client.go
  run/apiv2/locations_client.go
  storage/http_client.go
  storage/storage.go
  vmmigration/apiv1/iam_policy_client.go
Labels: automerge

#10006 testing(bigquery): improve retry testing
  bigquery/bigquery.go
  bigquery/bigquery_test.go
Labels: api: bigquery, automerge

#9779 feat(spanner): add support for change streams transaction exclusion option
  spanner/client.go
  spanner/client_test.go
  spanner/pdml.go
  spanner/pdml_test.go
  spanner/transaction.go
Labels: api: spanner

#10010 feat(civil): add Compare method to Date, Time, and DateTime
  civil/civil.go
  civil/civil_test.go
Labels: automerge: exact

#10018 fix(auth/credentials): error on bad file name if explicitly set
  auth/credentials/detect.go
  auth/credentials/detect_test.go
Labels: automerge

#10020 chore: revert "feat(civil): add Compare method to Date, Time, and DateTime"
  civil/civil.go
  civil/civil_test.go
Labels: automerge

#8972 feat(datastore): Adding BeginLater transaction option implementation
  datastore/datastore.go
  datastore/integration_test.go
  datastore/mock_test.go
  datastore/query.go
  datastore/query_test.go
  datastore/transaction.go
  datastore/transaction_test.go
Labels: api: datastore, do not merge, stale: extraold, size: l

#10037 test(storage): shorten backoff for conf tests
  storage/retry_conformance_test.go
Labels: api: storage, automerge

#9836 feat(bigquery/storage/managedwriter/adapt): add RANGE support to adapt
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/adapt/schemaconversion.go
  bigquery/storage/managedwriter/adapt/schemaconversion_test.go
Labels: api: bigquery, automerge

#10047 test(storage): allow short tests to run without creds
  storage/bucket_test.go
  storage/integration_test.go
  storage/storage_test.go
Labels: api: storage

#10048 test(storage): use quicker backoff for TestInvoke
  storage/invoke_test.go
Labels: api: storage

#10049 chore: fix postprocessor build
  go.work.sum
  internal/gapicgen/git/github.go
  internal/gapicgen/go.mod
  internal/gapicgen/go.sum
  internal/postprocessor/go.mod
  internal/postprocessor/go.sum
  internal/postprocessor/main.go
Labels: automerge

#9515 feat(bigtable): Support AuthorizedView in data and admin client
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/bigtable.go
  bigtable/integration_test.go
Labels: api: bigtable, size: l

#9711 feat(pubsub): support publisher compression
  pubsub/integration_test.go
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub

#10062 chore(deps): fix package update rule
  .github/renovate.json
Labels: automerge

#10064 chore(internal/kokoro): filter changes down to unique dir
  internal/kokoro/presubmit.sh
Labels: automerge

#10071 chore(spanner): temporarily skip spanner tests
  spanner/client_test.go
  spanner/sessionclient_test.go
Labels: api: spanner, automerge
