Repository googleapis/google-cloud-go, pull requests merged in 2024-08, with the labels that each got.

#10617 chore(storage/transfermanager): reduce zero array size used for checksums
  storage/transfermanager/downloader.go
Labels: api: storage

#10611 fix(bigtable/emulator): Sending empty row in SampleRowKeys response
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable

#9594 feat(pubsub): add otel tracing with links
  go.work
  go.work.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pubsub.go
  pubsub/service.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsub/topic.go
  pubsub/trace.go
  pubsub/trace_test.go
Labels: api: pubsub

#10635 fix(storage): retry gRPC DEADLINE_EXCEEDED errors
  storage/client_test.go
  storage/invoke.go
Labels: api: storage

#10269 feat(spanner): add support of using multiplexed session with ReadOnlyTransactions
  spanner/client.go
  spanner/client_test.go
  spanner/go.mod
  spanner/integration_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/kokoro/presubmit.sh
  spanner/oc_test.go
  spanner/ot_metrics.go
  spanner/pdml_test.go
  spanner/session.go
  spanner/session_test.go
  spanner/sessionclient.go
  spanner/sessionclient_test.go
  spanner/spannertest/inmem.go
  spanner/stats.go
  spanner/test/opentelemetry/test/ot_metrics_test.go
  spanner/test/opentelemetry/test/ot_traces_test.go
  spanner/test/opentelemetry/test/test_util.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#10646 feat(spanner): add support of multiplexed session support in writeAtleastOnce mutations
  spanner/client_test.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#10645 fix(storage): check for grpc NotFound error in HMAC test
  storage/integration_test.go
Labels: api: storage

#10644 fix(storage): add retryalways policy to encryption test
  storage/integration_test.go
Labels: api: storage, automerge

#10659 feat(bigtable): Remove deprecated Bytes from BigEndianBytesEncoding
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10671 fix(bigquery): remove retry on FailedPrecondition
  bigquery/storage_iterator.go
  bigquery/storage_iterator_test.go
Labels: api: bigquery

#10675 fix(bigquery): processStream check ctx done when queuing non retryable err
  bigquery/storage_iterator.go
  bigquery/storage_iterator_test.go
Labels: api: bigquery

#10670 fix(bigtable): Use new auth library
  bigtable/bigtable.go
Labels: api: bigtable

#10098 chore(spanner): grpc.WithInsecure is deprecated
  spanner/admin/database/apiv1/database_test.go
  spanner/admin/database/apiv1/init.go
  spanner/admin/instance/apiv1/init.go
  spanner/client.go
  spanner/integration_test.go
  spanner/internal/testutil/inmem_instance_admin_server_test.go
  spanner/internal/testutil/inmem_spanner_server_test.go
  spanner/internal/testutil/mocked_inmem_server.go
  spanner/spannertest/inmem.go
  spanner/spannertest/integration_test.go
Labels: api: spanner

#10691 chore: update readme about version support
  .github/renovate.json
  README.md
Labels: automerge

#10701 chore(apihub): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#10709 feat(pubsub): add opentelemetry tracing support
  go.work
  go.work.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/pubsub.go
  pubsub/service.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsub/topic.go
  pubsub/trace.go
  pubsub/trace_test.go
Labels: api: pubsub

#10660 fix(spanner): json null handling
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#10708 chore(datastore): add owlbot config for protos
  .github/.OwlBot.yaml
  internal/gapicgen/generator/genproto.go
  internal/postprocessor/config.yaml
Labels: api: datastore, automerge

#10699 feat(genai): add tokenizer package
  vertexai/genai/tokenizer/example_test.go
  vertexai/genai/tokenizer/tokenizer.go
  vertexai/genai/tokenizer/tokenizer_test.go
Labels: automerge

#9759 fix(spanner): ensure defers run at the right time in tests
  spanner/integration_test.go
Labels: api: spanner

#9757 chore(spanner): drop errors backwards compatibility
  spanner/client_test.go
  spanner/errors.go
  spanner/errors112.go
  spanner/errors113.go
  spanner/errors_test.go
  spanner/go.mod
  spanner/go.sum
  spanner/pdml_test.go
  spanner/retry.go
  spanner/row.go
  spanner/statement.go
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
  spanner/value.go
Labels: api: spanner

#10095 fix(spanner): wait for background goroutines to complete
  spanner/sessionclient.go
  spanner/spannertest/inmem.go
Labels: api: spanner

#10718 feat(vertexai): update tokenizer documentation and pull new code
  vertexai/genai/tokenizer/tokenizer.go
  vertexai/internal/import-go-sentencepiece.sh
  vertexai/internal/sentencepiece/README.md
  vertexai/internal/sentencepiece/internal/cmd/dumper/main.go
  vertexai/internal/sentencepiece/normalize.go
  vertexai/internal/sentencepiece/processor.go
Labels: automerge

#10724 feat(datastore): reference new protos
  datastore/client.go
  datastore/datastore.go
  datastore/datastore_test.go
  datastore/integration_test.go
  datastore/key.go
  datastore/load.go
  datastore/load_test.go
  datastore/mock_test.go
  datastore/mutation.go
  datastore/mutation_test.go
  datastore/prop_test.go
  datastore/query.go
  datastore/query_test.go
  datastore/save.go
  datastore/save_test.go
  datastore/transaction.go
  datastore/transaction_test.go
  datastore/util_test.go
  internal/aliasfix/mappings.go
Labels: api: datastore, automerge

#10679 feat(bigtable): Add MarshalJSON to allow clients to get a stringified version of the protobuf
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10698 chore(bigtable): Revert use new auth library
  bigtable/bigtable.go
Labels: api: bigtable

#10743 feat(bigtable): Update go version for conformance tests
  bigtable/conformance_test.sh
Labels: api: bigtable

#10710 feat(storage): add update time in bucketAttrs
  storage/bucket.go
  storage/bucket_test.go
  storage/integration_test.go
Labels: api: storage, kokoro:run, automerge

#10749 chore(datastore): update genproto version
  datastore/go.mod
  datastore/go.sum
Labels: automerge

#10756 chore(bigquery/storage): add v1alpha config
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigquery, automerge

#10585 chore(firestore): fix the query round trip test
  firestore/query.go
  firestore/query_test.go
Labels: api: firestore

#10759 feat(bigtable): Add UpdateFamily to allow updating a family type
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/bttest/inmem.go
  bigtable/integration_test.go
Labels: api: bigtable

#10767 feat(storage): support IncludeFoldersAsPrefixes for gRPC
  storage/grpc_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge

#10766 feat(bigtable): Using new auth library
  bigtable/bigtable.go
Labels: api: bigtable

#10763 test(firestore): Make test data independent
  firestore/integration_test.go
Labels: api: firestore

#10674 perf(bigtable): Use RecvMsg instead of Recv
  bigtable/bigtable.go
Labels: api: bigtable

#10757 feat(storage): add direct google access side-effect imports by default
  go.work.sum
  storage/doc.go
  storage/go.mod
  storage/go.sum
  storage/grpc_client.go
  storage/grpc_dp.go
Labels: api: storage

#10639 feat(storage): introduce gRPC client-side metrics
  go.work.sum
  storage/client.go
  storage/doc.go
  storage/go.mod
  storage/go.sum
  storage/grpc_client.go
  storage/grpc_metrics.go
  storage/grpc_metrics_test.go
  storage/option.go
  storage/option_test.go
Labels: api: storage

#10164 feat(firestore): Query profiling
  firestore/integration_test.go
  firestore/options.go
  firestore/query.go
  firestore/query_test.go
  firestore/transaction.go
Labels: api: firestore

#10797 fix(auth): make sure quota option takes precedence over env/file
  auth/grpctransport/grpctransport.go
  auth/grpctransport/grpctransport_test.go
  auth/httptransport/httptransport_test.go
  auth/httptransport/transport.go
Labels: automerge

#10789 test(bigtable): Fix TestIntegration_Aggregates
  bigtable/bttest/inmem.go
  bigtable/integration_test.go
Labels: api: bigtable
