Repository googleapis/google-cloud-go, pull requests merged in 2024-09, with the labels that each got.

#10771 feat(bigtable): Add update value type test.
  bigtable/bttest/inmem.go
  bigtable/integration_test.go
  bigtable/type.go
Labels: api: bigtable

#10823 fix(datastore): remove namespace from Key.String() (#10684)
  datastore/datastore.go
  datastore/key.go
  datastore/mutation.go
Labels: api: datastore

#10824 fix(datastore): do not delay on final transaction attempt
  datastore/transaction.go
Labels: api: datastore

#10678 feat(bigtable): Add client side metrics to feature flag
  bigtable/bigtable.go
  bigtable/bttest/inmem_test.go
  bigtable/internal/option/option.go
  bigtable/metrics_test.go
Labels: api: bigtable

#10624 fix(pubsub): close grpc streams on retry
  pubsub/pullstream.go
Labels: api: pubsub

#10800 fix(pubsub): add attributes before startSpan
  pubsub/iterator.go
  pubsub/topic.go
Labels: api: pubsub

#10827 feat(pubsub): allow trace extraction from protobuf message
  pubsub/trace.go
Labels: api: pubsub

#10820 feat(bigtable): add "TypeUnspecified" to represent an unspecified type
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10784 vertexai(test): add corpora_test in tokenizer module
  vertexai/genai/tokenizer/corpora_test.go
  vertexai/go.mod
Labels: automerge

#10658 fix(bigtable): Error logging for client side metrics
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/export_test.go
  bigtable/metrics.go
  bigtable/metrics_monitoring_exporter.go
  bigtable/metrics_test.go
  bigtable/metrics_util.go
  bigtable/metrics_util_test.go
  bigtable/retry_test.go
Labels: api: bigtable

#10840 fix(compute/metadata): check error chain for retryable error
  compute/metadata/retry_linux.go
Labels: api: compute, automerge

#10802 feat(firestore): Adding distance threshold and result field
  firestore/examples_test.go
  firestore/fieldpath.go
  firestore/integration_test.go
  firestore/query.go
  firestore/query_test.go
Labels: api: firestore

#10628 chore(spanner): unskip pg integeration tests against emulator
  spanner/emulator_test.sh
  spanner/integration_test.go
  spanner/oc_test.go
  spanner/row_test.go
Labels: api: spanner, kokoro:force-run

#10736 fix(spanner): unnecessary string formatting fixes
  spanner/errors.go
  spanner/integration_test.go
  spanner/session_test.go
  spanner/spannertest/integration_test.go
  spanner/timestampbound.go
Labels: api: spanner, automerge

#10874 fix(spanner): increase spanner ping timeout to give backend more time to process executeSQL requests
  spanner/session.go
Labels: api: spanner, kokoro:force-run, automerge

#10838 chore(storage): adding dynamic delay algorithm
  storage/dynamic_delay.go
  storage/dynamic_delay_test.go
Labels: api: storage

#10841 vertexai(test): Run corpora test in go coroutine to reduce test runtime
  vertexai/genai/tokenizer/corpora_test.go
Labels: automerge

#10883 fix(bigquery): properly handle RANGE type arrays
  bigquery/integration_test.go
  bigquery/value.go
Labels: api: bigquery

#10826 feat(firestore): surfacing the error returned from the service in BulkWriter
  firestore/bulkwriter.go
Labels: api: firestore

#10881 fix(firestore): Add UTF-8 validation
  firestore/client.go
  firestore/client_test.go
  firestore/docref.go
  firestore/docref_test.go
Labels: api: firestore

#10748 feat(storage/dataflux): add dataflux interface
  storage/dataflux/README.md
  storage/dataflux/doc.go
  storage/dataflux/example_test.go
  storage/dataflux/fast_list.go
  storage/dataflux/integration_test.go
  storage/dataflux/range_splitter.go
  storage/dataflux/sequential.go
  storage/dataflux/worksteal.go
  storage/go.mod
Labels: api: storage

#10891 fix(compute/metadata): close Response Body for failed request
  compute/metadata/metadata.go
Labels: api: compute, automerge

#10906 fix(bigtable): Rollback new auth library
  bigtable/bigtable.go
Labels: api: bigtable

#10875 chore(storage): remove NotificationConfig implementation from gRPC
  storage/client_test.go
  storage/doc.go
  storage/grpc_client.go
  storage/notifications.go
Labels: api: storage

#10901 chore(storage): remove HMAC and SA grpc support
  storage/client_test.go
  storage/doc.go
  storage/grpc_client.go
  storage/hmac.go
  storage/integration_test.go
  storage/retry_conformance_test.go
  storage/storage.go
Labels: api: storage

#10619 fix(storage): add unknown host to retriable errors
  storage/invoke.go
Labels: api: storage

#10908 test: isolate time travel test
  bigquery/dataset_integration_test.go
Labels: automerge

#10870 fix(storage): disable grpc metrics using emulator
  storage/grpc_client.go
Labels: api: storage

#10894 feat(storage/transfermanager): add option to StripPrefix on directory download
  storage/transfermanager/downloader.go
  storage/transfermanager/integration_test.go
Labels: api: storage

#10893 feat(storage/transfermanager): add SkipIfExists option
  storage/transfermanager/downloader.go
  storage/transfermanager/integration_test.go
  storage/transfermanager/option.go
Labels: api: storage

#10899 feat(storage/dataflux): add range_splitter #10748
  storage/dataflux/fast_list.go
  storage/dataflux/integration_test.go
  storage/dataflux/range_splitter.go
  storage/dataflux/range_splitter_test.go
Labels: api: storage

#10739 chore(spanner): avoid deprecated ioutil
  spanner/pdml_test.go
Labels: api: spanner, automerge

#10419 chore(spanner): add support of client side native metrics collection and export
  spanner/batch.go
  spanner/client.go
  spanner/client_test.go
  spanner/go.mod
  spanner/go.sum
  spanner/grpc_client.go
  spanner/integration_test.go
  spanner/metric_monitoring_exporter_test.go
  spanner/metrics.go
  spanner/metrics_monitoring_exporter.go
  spanner/metrics_test.go
  spanner/ot_metrics.go
  spanner/read.go
  spanner/read_test.go
  spanner/session.go
  spanner/session_test.go
  spanner/sessionclient.go
  spanner/sessionclient_test.go
  spanner/spannertest/integration_test.go
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
  spanner/transaction.go
Labels: api: spanner

#10711 docs(spanner): fix Key related document code to add package name
  spanner/key.go
Labels: api: spanner, kokoro:force-run, automerge

#10734 perf(spanner): better error handling
  spanner/client.go
  spanner/client_benchmarks_test.go
  spanner/client_test.go
  spanner/integration_test.go
  spanner/row.go
  spanner/session_test.go
  spanner/sessionclient_test.go
  spanner/spannertest/db_eval.go
  spanner/spannertest/db_query.go
  spanner/spannertest/inmem.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner, automerge

#10704 fix(spanner): enable toStruct support for structs with proto message ptr fields
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#10916 example(vertexai): Add goroutine GenerateContent example
  vertexai/genai/example_test.go
Labels: automerge

#10241 feat(spanner): Add x-goog-spanner-end-to-end-tracing header for requests to Spanner
  spanner/client.go
  spanner/client_test.go
Labels: api: spanner

#10929 chore: reassign bigquery blunderbuss to alvarowolfx
  .github/blunderbuss.yml
Labels: api: bigquery

#10913 feat(storage/dataflux): add worksteal algorithm to fast-listing
  storage/dataflux/fast_list.go
  storage/dataflux/fast_list_test.go
  storage/dataflux/range_splitter.go
  storage/dataflux/sequential.go
  storage/dataflux/worksteal.go
Labels: api: storage

#10935 fix(bigquery): missing schema for empty result set on stateless queries
  bigquery/integration_test.go
  bigquery/iterator.go
Labels: api: bigquery
