Repository googleapis/google-cloud-go, pull requests merged in 2024-02, with the labels that each got.

#9344 feat(storage): support universe domains
  storage/http_client.go
  storage/storage.go
Labels: api: storage, size: s

#9208 feat(storage): support auto-detection of access ID for external_account creds
  storage/bucket.go
  storage/bucket_test.go
Labels: api: storage, size: m

#9347 fix(storage): fix v4 url signing for hosts that specify ports
  storage/bucket_test.go
  storage/integration_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage, size: s

#9348 feat(storage): support custom hostname for VirtualHostedStyle SignedURLs
  storage/bucket_test.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, size: s

#9353 docs: fix debug guide link
  doc.go
Labels: automerge, size: xs

#9356 test(spanner): remove mock dependency from spanner runtime
  spanner/mocks_test.go
Labels: api: spanner, size: u

#9354 chore(apps/meet): add config to generate apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#9343 chore(ci): add third party dep check
  .github/workflows/third_party_check.yml
  internal/actions/cmd/changefinder/main.go
  internal/actions/cmd/thirdpartycheck/main.go
  internal/actions/go.mod
  internal/actions/go.sum
Labels: automerge, size: m

#8985 refactor(datastore): Add validateReadOptions method
  datastore/query.go
  datastore/query_test.go
Labels: api: datastore, stale: extraold, size: m

#8984 feat(datastore): Adding BeginLater and transaction state
  datastore/query_test.go
  datastore/transaction.go
Labels: api: datastore, stale: extraold, size: m

#9352 chore(internal/protoveneer): add protoveneer tool
  .github/CODEOWNERS
  go.work
  internal/protoveneer/README.md
  internal/protoveneer/cmd/protoveneer/apache-llc.txt
  internal/protoveneer/cmd/protoveneer/config.go
  internal/protoveneer/cmd/protoveneer/converters.go
  internal/protoveneer/cmd/protoveneer/protoveneer.go
  internal/protoveneer/cmd/protoveneer/protoveneer_test.go
  internal/protoveneer/cmd/protoveneer/testdata/basic/basic.pb.go
  internal/protoveneer/cmd/protoveneer/testdata/basic/config.yaml
  internal/protoveneer/cmd/protoveneer/testdata/basic/golden
  internal/protoveneer/go.mod
  internal/protoveneer/go.sum
  internal/protoveneer/support/support.go
  internal/protoveneer/support/support_test.go
Labels: size: xl

#9360 fix(bigquery/storage/managedwriter): resolve data races
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/managed_stream_test.go
  bigquery/storage/managedwriter/retry.go
Labels: api: bigquery, automerge, size: m

#9371 feat(bigquery): add ExportDataStatstics to QueryStatistics
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery, automerge, size: m

#9368 feat(bigquery): switch all timestamp representations to int64 usec
  bigquery/iterator.go
  bigquery/job.go
  bigquery/query.go
  bigquery/query_test.go
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery, automerge, size: m

#9382 fix(spanner): support time.Time and other custom types using SelectAll
  spanner/row.go
  spanner/row_test.go
Labels: api: spanner, size: s

#9375 chore(ci): allowlist some dependencies
  go.work.sum
  internal/actions/cmd/thirdpartycheck/main.go
Labels: automerge, size: xs

#9362 fix(pubsublite): fix regional endpoints
  pubsublite/internal/wire/rpc.go
Labels: automerge, api: pubsublite, size: s

#9279 test(logging/logadmin): multiple fixes for sinks_test.go
  logging/logadmin/sinks_test.go
Labels: api: logging, size: m

#9299 feat(spanner): support max_commit_delay in Spanner transactions
  spanner/client_test.go
  spanner/integration_test.go
  spanner/transaction.go
Labels: api: spanner, size: s

#9390 fix: add mutex to internal trace otel test variable
  internal/trace/trace.go
  internal/trace/trace_test.go
  spanner/test/opentelemetry/test/ot_traces_test.go
Labels: size: s

#9386 docs(storage): indicate that gRPC is incompatible with universe domains
  storage/storage.go
Labels: api: storage, size: xs

#9391 chore(vertexai): use unary RPC for GenerateContent
  vertexai/genai/client.go
  vertexai/genai/client_test.go
Labels: automerge, size: s

#9389 feat(vertexai): add WithREST option to vertexai client
  vertexai/genai/client.go
  vertexai/genai/client_test.go
  vertexai/genai/option.go
Labels: automerge, size: m

#9394 fix(vertexai): fix dependency on aiplatform
  vertexai/go.mod
  vertexai/go.sum
Labels: automerge, size: s

#9396 chore: update CI to turn gowork setting off for build/test
  bigtable/conformance_test.sh
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Labels: automerge, size: s

#9411 fix(bigquery): align return time.Time values to UTC
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery, size: xs

#9416 fix(spanner): internal test package should import local version
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
Labels: api: spanner, size: xl

#9417 fix(spanner): SelectAll struct fields match should be case-insensitive
  spanner/row.go
  spanner/row_test.go
Labels: api: spanner, kokoro:force-run, size: s

#9418 test: fix TestGoldens
  go.work.sum
  internal/godocfx/testdata/golden/cloud.google.com/go/storage@v1.33.0/index.yml
  internal/godocfx/testdata/golden/cloud.google.com/go/storage@v1.33.0/toc.yml
Labels: automerge

#9426 chore(parallelstore): add config to generate apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: size: xs

#3930 fix(bigtable/bttest): make table gc release memory
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, cla: yes, stale: extraold, size: m

#9414 fix(bigtable): Allow micro seconds in filter in Bigtable emulator
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable, size: s

#9413 fix(firestore): Correct the cursors when LimitToLast is used
  firestore/integration_test.go
  firestore/query.go
Labels: api: firestore, size: m

#9435 chore(internal/protoveneer): fix module name in go.mod
  internal/protoveneer/go.mod
Labels: size: xs

#9429 chore(vertexai/genai): use new model names
  vertexai/genai/client_test.go
  vertexai/genai/example_test.go
Labels: size: xs

#9438 chore(internal/protoveneer): add removeOtherDoc config
  internal/protoveneer/cmd/protoveneer/config.go
  internal/protoveneer/cmd/protoveneer/protoveneer.go
Labels: size: s

#9436 chore(vertexai): update README to mention model list docs
  vertexai/README.md
Labels: automerge, size: xs

#9445 chore(deps): disable Dockerfile updates
  .github/renovate.json
Labels: size: xs

#9460 feat(spanner): SelectAll struct spanner tag annotation match should be case-insensitive
  spanner/row.go
  spanner/row_test.go
Labels: api: spanner, size: s

#9472 fix(pubsub): fix out of order issue when exactly once is enabled
  pubsub/integration_test.go
  pubsub/iterator.go
Labels: api: pubsub, size: m

#9454 chore(vertexai/genai): update to latest proto version
  vertexai/genai/aiplatformpb_veneer.gen.go
  vertexai/genai/client.go
  vertexai/genai/config.yaml
  vertexai/genai/license.txt
Labels: size: s

#9476 test(pubsub): remove duplicate ctx assignment in ordered keys test
  pubsub/integration_test.go
Labels: api: pubsub, size: xs

#9481 chore(chat): revert "add config to generate apiv1 (#9480)"
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: chat, size: xs
