Repository googleapis/google-cloud-go, pull requests merged in 2024-07, with the labels that each got.

#10370 feat(compute/metadata): add context for all functions/methods
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
Labels: api: compute, automerge: exact

#10460 fix(auth): support gRPC API keys
  auth/grpctransport/grpctransport.go
  auth/grpctransport/grpctransport_test.go
Labels: automerge

#10410 feat(bigtable): support update column family's value type to non-aggregate type
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#10464 chore: don't lint this text/template usage
  internal/protoveneer/cmd/protoveneer/protoveneer.go
Labels: automerge

#10476 test(bigtable): Creating new table per test
  bigtable/integration_test.go
Labels: api: bigtable

#10480 fix(spanner): healthCheck should not decrement num_in_use sessions
  spanner/session.go
Labels: api: spanner

#10482 test(compute): update image in test
  compute/apiv1/smoke_test.go
Labels: api: compute, automerge

#10453 refactor(auth): unify how we handle requests in auth layer
  auth/auth.go
  auth/credentials/downscope/downscope.go
  auth/credentials/idtoken/cache.go
  auth/credentials/idtoken/compute.go
  auth/credentials/impersonate/idtoken.go
  auth/credentials/impersonate/impersonate.go
  auth/credentials/impersonate/user.go
  auth/credentials/internal/externalaccount/aws_provider.go
  auth/credentials/internal/externalaccount/url_provider.go
  auth/credentials/internal/gdch/gdch.go
  auth/credentials/internal/impersonate/impersonate.go
  auth/credentials/internal/stsexchange/sts_exchange.go
  auth/internal/internal.go
  auth/internal/testutil/testdns/dns.go
  auth/internal/testutil/testgcs/storage.go
  auth/threelegged.go
Labels: automerge

#10483 fix(auth): check len of slices, not non-nil
  auth/credentials/detect.go
  auth/credentials/idtoken/idtoken.go
  auth/internal/transport/transport.go
Labels: automerge

#10479 feat(auth): Add workload X509 cert provider as a default cert provider
  auth/internal/transport/cert/default_cert.go
  auth/internal/transport/cert/workload_cert.go
  auth/internal/transport/cert/workload_cert_test.go
Labels: automerge

#10484 chore(profiler): upgrade default proftest gce image to debian-11
  profiler/proftest/proftest.go
Labels: api: cloudprofiler

#10488 fix(bigtable): Add quotes to end of range
  bigtable/bigtable.go
  bigtable/bigtable_test.go
Labels: api: bigtable

#10489 test(datastore): Update BeginLater test and resolve data race
  datastore/integration_test.go
  datastore/transaction.go
Labels: api: datastore

#10504 fix(storage/transfermanager): WaitAndClose waits for Callbacks to finish
  storage/transfermanager/downloader.go
Labels: api: storage

#10510 feat(pubsub/pstest): add Message.Topic field and populate on publish
  pubsub/pstest/fake.go
Labels: api: pubsub

#10487 test(bigtable): Retry create column family
  bigtable/integration_test.go
Labels: api: bigtable

#10507 chore(storage/transfermanager): DownloadDirectory fails if file already exists
  storage/transfermanager/downloader.go
  storage/transfermanager/integration_test.go
Labels: api: storage

#10512 fix(storage/transfermanager): correct Attrs.StartOffset for sharded downloads
  storage/transfermanager/downloader.go
  storage/transfermanager/integration_test.go
Labels: api: storage

#10516 test(storage): mustUpdateObject does not fail on precondition failure
  storage/integration_test.go
Labels: api: storage

#10515 test(storage): bucket deletions will succeed if the bucket does not exist
  storage/client.go
  storage/integration_test.go
Labels: api: storage

#10513 chore(storage/transfermanager): expand DownloadObjectInput docs
  storage/transfermanager/downloader.go
Labels: api: storage

#10509 chore(storage/transfermanager): non-positive partSize will turn off sharding
  storage/transfermanager/downloader.go
  storage/transfermanager/downloader_test.go
  storage/transfermanager/option.go
  storage/transfermanager/option_test.go
Labels: api: storage

#10520 feat(bigtable): add column family type to FamilyInfo in TableInfo
  bigtable/admin.go
  bigtable/integration_test.go
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10514 chore(storage): remove x-goog-api-client header merging from invoke
  storage/grpc_client.go
  storage/http_client.go
  storage/http_client_test.go
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage

#10530 chore(privilegedaccessmanager): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#10533 feat(containeranalysis): add GetVulnerabilityOccurrencesSummary RPC
  containeranalysis/apiv1/container_analysis_client.go
  containeranalysis/apiv1/container_analysis_client_example_test.go
  containeranalysis/apiv1/doc.go
Labels: automerge

#10521 feat(compute/metadata): add sys check for windows OnGCE
  compute/metadata/go.mod
  compute/metadata/go.sum
  compute/metadata/metadata.go
  compute/metadata/syscheck.go
  compute/metadata/syscheck_linux.go
  compute/metadata/syscheck_windows.go
Labels: api: compute, automerge

#10534 chore: run goimports
  containeranalysis/apiv1/container_analysis_client.go
  containeranalysis/apiv1/container_analysis_client_example_test.go
Labels: automerge

#10542 feat(bigquery): json support on managedwriter/adapt pkg
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
  bigquery/storage/managedwriter/adapt/schemaconversion.go
  bigquery/storage/managedwriter/adapt/schemaconversion_test.go
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/testdata/schemas.go
  bigquery/storage/managedwriter/testdata/testing.pb.go
  bigquery/storage/managedwriter/testdata/testing.proto
Labels: api: bigquery

#10536 docs(logging): Documentation for automatic trace/span ID extraction
  logging/doc.go
Labels: api: logging

#10551 fix(auth): use default client for universe metadata lookup
  auth/internal/internal.go
Labels: automerge

#10554 docs(bigquery): update description of query preview feature
  bigquery/bigquery.go
Labels: automerge

#10508 fix(spanner): fix negative values for max_in_use_sessions metrics #10449
  spanner/session.go
Labels: api: spanner

#10558 fix(bigquery): reduce default backoffs
  bigquery/job.go
Labels: api: bigquery

#10412 feat(spanner): Add RESOURCE_EXHAUSTED to retryable transaction codes
  spanner/retry.go
  spanner/retry_test.go
Labels: api: spanner

#10538 feat(storage): add full object checksum to reader.Attrs
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
  storage/reader.go
Labels: api: storage

#10568 test(storage/transfermanager): add CRC to test
  storage/transfermanager/integration_test.go
Labels: api: storage

#10318 testing(bigquery/storage/managedwriter): dynamic schema test fixes
  bigquery/storage/managedwriter/integration_test.go
  bigquery/storage/managedwriter/validation_test.go
Labels: api: bigquery, automerge

#9665 feat(bigtable/emulator): allow listening on Unix Domain Sockets
  bigtable/bttest/inmem.go
  bigtable/cmd/emulator/cbtemulator.go
Labels: api: bigtable

#10562 feat(bigtable): mark CBT Authorized View admin APIs as unimplemented in the emulator
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable

#10548 feat(firestore): Adding vector search
  firestore/document.go
  firestore/from_value.go
  firestore/integration_test.go
  firestore/query.go
  firestore/query_test.go
  firestore/to_value.go
  firestore/vector.go
  firestore/vector_test.go
Labels: api: firestore

#10576 Revert "feat(bigtable): support update column family's value type to …
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#10583 chore(firestore): minor tweaks and doc for vector search
  firestore/doc.go
  firestore/examples_test.go
  firestore/from_value.go
  firestore/integration_test.go
  firestore/query.go
  firestore/query_test.go
  firestore/vector.go
  firestore/vector_test.go
Labels: api: firestore

#10046 feat(bigtable): Client side merics
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/bttest/example_test.go
  bigtable/conformance_test.go
  bigtable/export_test.go
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
  bigtable/metric_util.go
  bigtable/metrics.go
  bigtable/metrics_monitoring_exporter.go
  bigtable/metrics_monitoring_exporter_test.go
  bigtable/metrics_test.go
  bigtable/retry_test.go
Labels: api: bigtable

#10593 chore(bigtable): add owlbot copy config
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigtable

#10598 fix(bigtable): move usage to local proto definitions
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/aliasshim.go
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
  bigtable/bttest/instance_server.go
  bigtable/bttest/instance_server_test.go
  bigtable/bttest/validation.go
  bigtable/bttest/validation_test.go
  bigtable/conformance_test.go
  bigtable/filter.go
  bigtable/gc.go
  bigtable/gc_test.go
  bigtable/go.mod
  bigtable/go.sum
  bigtable/integration_test.go
  bigtable/internal/conformance/tests.pb.go
  bigtable/internal/mockserver/inmem.go
  bigtable/internal/option/option.go
  bigtable/internal/testproxy/proxy.go
  bigtable/internal/testproxy/proxy_test.go
  bigtable/metric_util.go
  bigtable/metrics_test.go
  bigtable/reader.go
  bigtable/reader_test.go
  bigtable/retry_test.go
  bigtable/type.go
  bigtable/type_test.go
  internal/aliasfix/mappings.go
Labels: api: bigtable

#10600 chore(bigtable): bump genproto
  bigtable/go.mod
  bigtable/go.sum
Labels: api: bigtable, automerge

#10586 chore(all): update module github.com/google/s2a-go to v0.1.8
  auth/go.mod
  auth/go.sum
  go.work.sum
Labels: automerge

#10582 feat(bigtable): Add support for new functions
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10366 feat(bigtable): Add MergeToCell support to the bigtable emulator and client
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#10602 feat(bigtable): expose protoToType
  bigtable/admin.go
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#10569 feat(storage/transfermanager): checksum full object downloads
  storage/transfermanager/downloader.go
  storage/transfermanager/downloader_test.go
  storage/transfermanager/integration_test.go
Labels: api: storage

#8694 fix(datastore): Ignore field mismatch errors
  datastore/datastore.go
  datastore/integration_test.go
  datastore/option.go
  datastore/query.go
  datastore/transaction.go
Labels: api: datastore, stale: extraold, size: m

#10603 fix(firestore): Retry batchwrite only on retryable errors
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
Labels: api: firestore
