Repository googleapis/google-cloud-go, pull requests merged in 2024-10, with the labels that each got.

#10939 feat(vertexai): Add supported models in tokenizer
  vertexai/genai/tokenizer/tokenizer.go
Labels: automerge

#6967 feat(firestore): add WithCommitResponseTo TransactionOption
  .github/workflows/vet.sh
  firestore/examples_test.go
  firestore/transaction.go
  firestore/transaction_test.go
Labels: api: firestore, stale: extraold, size: s

#10932 fix(bigquery): create read session with client or job projectID
  bigquery/storage_client.go
  bigquery/storage_integration_test.go
  bigquery/storage_iterator.go
  bigquery/table.go
Labels: api: bigquery, automerge

#10943 fix(spanner): handle errors
  spanner/metrics.go
  spanner/transaction_test.go
Labels: api: spanner

#10947 perf(spanner): use passthrough with emulator endpoint
  spanner/admin/database/apiv1/init.go
  spanner/admin/instance/apiv1/init.go
  spanner/client.go
Labels: api: spanner

#10859 feat(storage): GA gRPC client
  storage/doc.go
Labels: api: storage

#10888 perf(storage): gRPC zerocopy codec
  storage/grpc_client.go
  storage/grpc_client_test.go
Labels: api: storage

#10952 test(auth): use the same now when checking tokenstate
  auth/auth.go
Labels: automerge

#10959 feat(pubsub): add support for cloud storage ingestion topics
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub

#10971 chore: allow go toolchain to upgrade just for installing tools
  internal/postprocessor/Dockerfile
Labels: automerge

#10972 chore: apply GOTOOLCHAIN change to all commands in run block
  internal/postprocessor/Dockerfile
Labels: automerge

#10981 chore: add safedir for git
  internal/kokoro/continuous.sh
  internal/kokoro/presubmit.sh
Labels: automerge

#10983 chore(spanner): generate client_hash metric attribute using FNV
  spanner/metrics.go
  spanner/metrics_test.go
Labels: api: spanner

#10958 feat(storage): dynamic read request stall timeout
  storage/client_test.go
  storage/experimental/experimental.go
  storage/http_client.go
  storage/integration_test.go
  storage/internal/experimental.go
  storage/option.go
  storage/option_test.go
Labels: api: storage, automerge

#10969 feat(pubsub): add support for ingestion platform logging settings
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub

#10979 fix(logging): Fixed input validation for X-Cloud-Trace-Context; encoded spanID from XCTC header into hex string.
  logging/logging.go
  logging/logging_test.go
Labels: api: logging

#10994 test(storage): fix ReadStallTimeout test
  storage/client_test.go
Labels: api: storage

#10999 chore(spanner): add safedir for git
  spanner/kokoro/beta-integration.sh
  spanner/kokoro/presubmit.sh
Labels: api: spanner, automerge

#11002 docs(storage): remove preview wording from NewGRPCClient
  storage/storage.go
Labels: api: storage, breaking change

#10987 feat(storage): adding bucket-specific dynamicDelay
  storage/dynamic_delay.go
  storage/dynamic_delay_test.go
  storage/experimental/experimental.go
  storage/http_client.go
Labels: api: storage

#10992 chore(storage): fix ReadStallTimeout test
  storage/client_test.go
  storage/retry_conformance_test.go
Labels: api: storage

#11007 fix(spanner): decode PROTO to custom type variant of base type
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#10984 feat(storage): add grpc metrics experimental options
  storage/experimental/experimental.go
  storage/grpc_client.go
  storage/grpc_metrics.go
  storage/internal/experimental.go
  storage/option.go
  storage/option_test.go
Labels: api: storage

#11019 chore: fix doc publish creds
  internal/kokoro/publish_docs.sh
Labels: automerge

#11018 chore: update SA used for tests
  internal/kokoro/continuous.sh
Labels: automerge

#11016 fix(storage): Skip only specific transport tests.
  storage/client_test.go
Labels: api: storage

#11031 docs: add missing option link
  doc.go
Labels: automerge

#11030 docs: clean up info on gRPC error parsing
  doc.go
Labels: automerge

#11029 docs(pubsub): add doc links to top level package doc
  pubsub/doc.go
Labels: api: pubsub

#11023 chore(auth): fixup some docs
  auth/auth.go
Labels: automerge

#11039 fix(spanner): attempt latency for streaming call should capture the total latency till decoding of protos
  spanner/client.go
  spanner/metrics_test.go
  spanner/read.go
  spanner/read_test.go
  spanner/transaction.go
Labels: api: spanner

#11036 docs(bigquery): link types on package docs
  bigquery/bigquery.go
  bigquery/doc.go
Labels: api: bigquery, automerge

#11053 chore(parallelstore): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge, api: parallelstore

#11050 fix(datastore): use local retryer in transactions
  datastore/transaction.go
Labels: api: datastore

#11044 docs: remove install instructions assuming GOPATH
  README.md
Labels: automerge

#11056 chore: fix NewCredentials docs
  auth/auth.go
Labels: automerge

#11052 fix(bigquery): parse negative NUMERIC from arrow
  bigquery/arrow.go
  bigquery/integration_test.go
Labels: api: bigquery, automerge

#11058 fix(bigquery): handle null RANGE
  bigquery/value.go
  bigquery/value_test.go
Labels: api: bigquery, automerge

#11064 chore: update build scripts to be able to support migration to use release kokoro pool
  internal/kokoro/populate-secrets.sh
  internal/kokoro/trampoline.sh
Labels: automerge

#11067 chore(storage): bump auth dependency
  storage/go.mod
  storage/go.sum
Labels: api: storage, automerge
