Repository googleapis/google-cloud-go, pull requests merged in 2024-11, with the labels that each got.

#10998 feat(spanner): client built in metrics
  spanner/client.go
  spanner/metrics_test.go
Labels: api: spanner

#11043 docs: fixup invalid headers
  doc.go
Labels: automerge

#11074 chore(storage): adding request-id in the stall-retry log
  storage/http_client.go
Labels: api: storage

#11085 test(storage): fix metrics exporter test
  storage/go.mod
  storage/go.sum
  storage/option_test.go
Labels: api: storage

#10945 feat(spanner/spansql): add support for protobuf column types & Proto bundles
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, automerge

#11095 fix(spanner): skip exporting metrics if attempt or operation is not captured.
  spanner/metrics.go
Labels: api: spanner

#11096 chore(spanner): add details to fix permission error in native metrics
  spanner/metrics_monitoring_exporter.go
Labels: api: spanner

#11094 chore: fix typo in comment in pubsub subscription config
  pubsub/subscription.go
Labels: automerge: exact

#11087 fix(pubsub/pstest): make invalid filter return error instead of panic
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub

#11104 test(pubsublite): fix flaky TestIntegration_ResourceAdminOperations
  pubsublite/integration_test.go
Labels: automerge, api: pubsublite

#11112 fix(firestore): Allow using != with nil
  firestore/integration_test.go
  firestore/query.go
Labels: api: firestore

#10956 feat(spanner): add ResetForRetry method for stmt-based transactions
  spanner/read.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11109 fix(spanner): use spanner options when initializing monitoring exporter
  spanner/client.go
  spanner/client_test.go
  spanner/metrics.go
  spanner/metrics_monitoring_exporter.go
  spanner/metrics_test.go
  spanner/read_test.go
  spanner/spannertest/integration_test.go
Labels: api: spanner

#11118 fix(auth): restore use of grpc.Dial
  auth/grpctransport/grpctransport.go
  auth/grpctransport/pool_test.go
Labels: automerge

#10904 fix(pubsub): use official semconv variable whenever possible
  pubsub/iterator.go
  pubsub/trace.go
  pubsub/trace_test.go
Labels: api: pubsub

#11114 chore(pubsub): switch to using errors.Is
  pubsub/example_subscription_iterator_test.go
  pubsub/example_test.go
  pubsub/example_topic_iterator_test.go
  pubsub/integration_test.go
  pubsub/internal/longtest/endtoend_test.go
  pubsub/iterator.go
  pubsub/mock_test.go
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
  pubsub/subscription.go
Labels: api: pubsub

#11125 chore: move ai libs back to main release train
  .release-please-manifest-individual.json
  .release-please-manifest-submodules.json
  release-please-config-individual.json
  release-please-config-yoshi-submodules.json
Labels: automerge

#11129 test(storage): skip direct connectivity test
  storage/integration_test.go
Labels: api: storage

#11046 fix(spanner): allow non default service account only when direct path is enabled
  spanner/client.go
Labels: api: spanner

#11131 fix(spanner): add safecheck to avoid deadlock when creating multiplex session
  spanner/session.go
Labels: api: spanner

#11135 fix(storage): bump auth dep
  storage/go.mod
  storage/go.sum
Labels: api: storage

#11137 feat(storage): allow non default service account
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage

#11140 chore(spanner): update gcp project
  spanner/kokoro/beta-integration.sh
Labels: api: spanner, kokoro:force-run, automerge

#11143 docs(managedkafka): update title in README
  managedkafka/README.md
Labels: automerge, api: managedkafka

#11119 fix(bigquery): do not override ctx within inner span creation
  bigquery/inserter.go
  bigquery/model.go
  bigquery/routine.go
  bigquery/table.go
  bigquery/trace_integration_test.go
Labels: api: bigquery, automerge

#11152 fix(storage): correct direct connectivity check
  storage/integration_test.go
  storage/storage.go
Labels: api: storage

#11158 refactor(bigquery/storage/managedwriter): simplify signatures
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/managed_stream.go
  bigquery/storage/managedwriter/retry.go
Labels: api: bigquery, automerge

#11159 feat(auth): add universe domain support to mTLS
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
Labels: breaking change

#11177 build(spanner): speed up test time for Spanner
  spanner/batch_test.go
  spanner/client.go
  spanner/client_benchmarks_test.go
  spanner/client_test.go
  spanner/metrics.go
  spanner/metrics_test.go
  spanner/oc_test.go
  spanner/pdml_test.go
  spanner/session_test.go
  spanner/sessionclient_test.go
  spanner/transaction_test.go
Labels: api: spanner

#10966 feat(storage/dataflux): run worksteal listing parallel to sequential listing
  storage/dataflux/example_test.go
  storage/dataflux/fast_list.go
  storage/dataflux/fast_list_test.go
  storage/dataflux/integration_test.go
  storage/dataflux/range_splitter.go
  storage/dataflux/range_splitter_test.go
  storage/dataflux/sequential.go
  storage/dataflux/sequential_test.go
  storage/dataflux/worksteal.go
  storage/dataflux/worksteal_next_page.go
  storage/dataflux/worksteal_test.go
  storage/emulator_test.sh
Labels: api: storage

#11201 test(storage/dataflux): skip flaky tests
  storage/dataflux/integration_test.go
Labels: api: storage
