Repository googleapis/google-cloud-go, pull requests merged in 2025-04, with the labels that each got.

#11914 feat(pubsub): allow using table schema for bq config
  pubsub/subscription.go
Labels: api: pubsub

#11913 chore(storage): Add UUID to stalled read logs for unique request identification
  storage/http_client.go
Labels: api: storage, automerge

#11934 fix(storage): fix panic when Flush called early
  storage/client_test.go
  storage/grpc_client.go
  storage/writer.go
Labels: api: storage, automerge

#11951 fix(storage): wrap read response parsing errors
  storage/grpc_client.go
  storage/grpc_reader.go
Labels: api: storage, automerge

#11953 chore(storage): remove references to ioutil
  storage/conformance_test.go
  storage/example_test.go
  storage/http_client.go
  storage/mock_test.go
  storage/reader_test.go
  storage/retry_test.go
  storage/storage_test.go
Labels: api: storage, automerge

#11688 feat(storage): add CurrentState function to determine state of stream in MRD
  storage/client_test.go
  storage/grpc_client.go
  storage/reader.go
Labels: api: storage

#11647 feat(storage): Unfinalized appendable objects.
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/grpc_writer.go
  storage/integration_test.go
  storage/retry_conformance_test.go
  storage/writer.go
Labels: api: storage, automerge

#11958 test(storage): skip Writer Append test
  storage/integration_test.go
Labels: api: storage, automerge

#11957 feat(pubsub): support message transforms
  pubsub/pstest/fake.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsub/topic.go
  pubsub/topic_test.go
  pubsub/transform.go
Labels: api: pubsub

#11907 chore(spanner): add x-goog-spanner-request-id value to associated span as attribute
  spanner/go.mod
  spanner/request_id_header.go
  spanner/request_id_header_test.go
  spanner/test/opentelemetry/test/ot_traces_test.go
Labels: api: spanner

#11941 chore(spanner/spansql): update readme of spansql and spannertest package about maintenance status
  spanner/spannertest/README.md
  spanner/spansql/README.md
Labels: api: spanner

#11964 chore(storage): cleanup MRD code
  storage/client_test.go
  storage/grpc_client.go
Labels: api: storage

#11969 chore(storage): use a generator for the read ids
  storage/grpc_client.go
  storage/grpc_reader_multi_range.go
Labels: api: storage

#11984 fix(bigtable): Correct the retry condition of QueryExpiredViolation
  bigtable/bigtable.go
  bigtable/bigtable_test.go
Labels: api: bigtable

#11985 fix(bigtable): Use the same Backoff for idempotent and internal errors
  bigtable/bigtable.go
Labels: api: bigtable

#11980 feat(bigtable): Allow configuring multicluster routing and isolation
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11989 fix(storage): fix Attrs for append takeover
  storage/grpc_client.go
  storage/grpc_writer.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage

#11992 fix(storage): remove check for FinalizeOnClose
  storage/writer.go
Labels: api: storage

#12006 doc(storage): add examples for appendable writes
  storage/example_test.go
Labels: api: storage

#11963 feat(pubsub): rename lease settings, change byte limit default
  pubsub/v2/subscription.go
  pubsub/v2/subscription_test.go
  pubsub/v2/topic.go
Labels: api: pubsub

#12011 chore(pubsub): restore v1 package source files
  pubsub/debug.go
  pubsub/doc.go
  pubsub/example_subscription_iterator_test.go
  pubsub/example_test.go
  pubsub/example_topic_iterator_test.go
  pubsub/flow_controller.go
  pubsub/flow_controller_test.go
  pubsub/integration_test.go
  pubsub/iterator.go
  pubsub/iterator_test.go
  pubsub/message.go
  pubsub/mock_test.go
  pubsub/nodebug.go
  pubsub/pstest_test.go
  pubsub/pubsub.go
  pubsub/pubsub_test.go
  pubsub/pullstream.go
  pubsub/pullstream_test.go
  pubsub/schema.go
  pubsub/schema_test.go
  pubsub/service.go
  pubsub/snapshot.go
  pubsub/streaming_pull_test.go
  pubsub/subscription.go
  pubsub/subscription_test.go
  pubsub/timeout_test.go
  pubsub/topic.go
  pubsub/topic_test.go
  pubsub/trace.go
  pubsub/trace_test.go
  pubsub/transform.go
Labels: api: pubsub

#12007 test(storage): add flush to append test cases
  storage/integration_test.go
Labels: api: storage, automerge

#12012 fix(storage): fix zero-byte flush
  storage/grpc_writer.go
  storage/integration_test.go
  storage/writer.go
Labels: api: storage, automerge

#12016 fix(storage): fix unfinalized write size
  storage/grpc_client.go
  storage/grpc_writer.go
  storage/integration_test.go
Labels: api: storage

#12021 fix(storage): populate Writer.Attrs after Flush()
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/grpc_writer.go
  storage/integration_test.go
  storage/writer.go
Labels: api: storage, automerge

#12009 feat(spanner): add interval type support
  spanner/integration_test.go
  spanner/protoutils.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#11830 feat(bigtable): Enable MV and LV tests
  bigtable/integration_test.go
Labels: api: bigtable

#12034 fix(spanner): retry INTERNAL retriable auth error
  spanner/retry.go
  spanner/retry_test.go
Labels: api: spanner

#12028 test(bigtable): Fix materialized view tests
  bigtable/integration_test.go
Labels: api: bigtable

#12032 chore(storage): move gRPC Writer code to own file
  storage/grpc_client.go
  storage/grpc_writer.go
Labels: api: storage, automerge

#12031 doc(storage): update gRPC docs
  storage/doc.go
Labels: api: storage, automerge

#12033 fix(storage): validate Bidi option for MRD
  storage/client_test.go
  storage/grpc_client.go
  storage/integration_test.go
  storage/reader.go
  storage/retry_conformance_test.go
Labels: api: storage, automerge

#12062 chore(shopping/merchant/inventories): add config to generate apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#12054 test(storage): re-enable download in conf test
  storage/retry_conformance_test.go
Labels: api: storage

#12079 chore(chronicle): add config to generate apiv1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#12074 fix(storage): fix append edge cases
  storage/grpc_writer.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage, automerge

#12076 refactor(bigtable): Separate admin retry options from data retry options
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/integration_test.go
Labels: api: bigtable

#12078 feat(bigquery): support per-job reservation assignment
  bigquery/copy.go
  bigquery/copy_test.go
  bigquery/extract.go
  bigquery/extract_test.go
  bigquery/load.go
  bigquery/load_test.go
  bigquery/query.go
  bigquery/query_test.go
Labels: api: bigquery, automerge

#12083 test(storage): retry conformance test for flush
  storage/retry_conformance_test.go
Labels: api: storage

#12085 fix(storage): Correct the settings for appendable writes.
  storage/grpc_writer.go
Labels: automerge
