Repository googleapis/google-cloud-go, pull requests merged in 2025-07, with the labels that each got.

#12531 ci(spanner): Skip GFE related tests when directpath is enabled
  spanner/integration_test.go
Labels: api: spanner

#12509 chore(pubsub/v2): carve out v2 module
  internal/postprocessor/config.yaml
  internal/postprocessor/releaseplease.go
Labels: api: pubsub

#12541 chore(internal/postprocessor): make module scanning config-based
  internal/postprocessor/config.go
  internal/postprocessor/config.yaml
  internal/postprocessor/config_test.go
  internal/postprocessor/releaseplease.go
Labels: automerge

#12516 feat(bigtable): Adding support to schema bundles
  bigtable/admin.go
  bigtable/integration_test.go
  bigtable/testdata/proto_schema_bundle.pb
  bigtable/testdata/proto_schema_bundle.proto
  bigtable/testdata/updated_proto_schema_bundle.pb
  bigtable/testdata/updated_proto_schema_bundle.proto
Labels: api: bigtable

#12546 feat(bigquery/v2/apiv2_client): add the deprecated Connection() method
  bigquery/v2/apiv2_client/client.go
Labels: api: bigquery

#12549 revert(storage): add IpFilter to bucketAttrs
  storage/bucket.go
  storage/bucket_test.go
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, breaking change

#12554 test(storage): Writer Attrs() are updated on flush
  storage/client_test.go
Labels: api: storage

#12555 test(storage): Add buffer reuse test.
  storage/client_test.go
Labels: api: storage

#12564 docs(pubsub/v2): update v2 package docs with migration guide
  go.work.sum
  pubsub/v2/doc.go
Labels: api: pubsub

#12538 feat(firestore): Add pipeline expressions basic structure
  firestore/pipeline.go
  firestore/pipeline_aggregate.go
  firestore/pipeline_constant.go
  firestore/pipeline_expr.go
  firestore/pipeline_field.go
  firestore/pipeline_filter_condition.go
  firestore/pipeline_function.go
  firestore/pipeline_result.go
  firestore/pipeline_result_test.go
  firestore/pipeline_source.go
  firestore/pipeline_stage.go
  firestore/pipeline_test.go
  firestore/pipeline_utils.go
  firestore/to_value.go
Labels: api: firestore

#12548 fix(storage): fix MultiRangeDownloader deadlock
  storage/client_test.go
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge

#12580 chore(pubsub): revert incorrect OwlBot changes to pubsub/v2 configs
  .release-please-manifest-submodules.json
  internal/.repo-metadata-full.json
  release-please-config-yoshi-submodules.json
Labels: api: pubsub, automerge

#12585 test(storage): fix Reader integration test
  storage/integration_test.go
Labels: api: storage

#12542 perf(storage): zero copy for MultiRangeDownloader
  storage/grpc_client.go
  storage/grpc_client_test.go
Labels: api: storage

#12607 ci(spanner): Fix directpath nightly jobs in spanner
  spanner/integration_test.go
  spanner/regression_test.go
Labels: api: spanner

#12605 docs(pubsub/v2): move wiki to package doc
  pubsub/v2/doc.go
Labels: api: pubsub

#12567 feat(bigtable): Support universe domain
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/export_test.go
  bigtable/integration_test.go
  bigtable/internal/option/option.go
Labels: api: bigtable

#12590 fix(pubsub/v2): acquire bounded limits in flow controller
  pubsub/flow_controller.go
  pubsub/flow_controller_test.go
  pubsub/v2/flow_controller.go
  pubsub/v2/flow_controller_test.go
Labels: api: pubsub

#12618 fix(spanner): enforce only one resource header
  spanner/client.go
  spanner/client_test.go
  spanner/read_test.go
  spanner/session_test.go
  spanner/transaction_test.go
Labels: api: spanner
