Repository googleapis/google-cloud-go, pull requests merged in 2025-09, with the labels that each got.

#12791 chore(pubsub): reconfigure pubsub v1 release definition
  release-please-config-individual.json
Labels: api: pubsub

#12400 feat(datastore): Support field transforms
  datastore/datastore.go
  datastore/datastore_test.go
  datastore/integration_test.go
  datastore/mutation.go
  datastore/transaction.go
  datastore/transform.go
  datastore/transform_test.go
Labels: api: datastore

#12804 chore(spanner): Disable connecting to metadata server for emulator tests
  spanner/metrics.go
Labels: api: spanner

#12677 feat(storage): post support dynamic key name
  storage/bucket.go
  storage/post_policy_v4.go
Labels: api: storage

#12831 feat: provide minimal onboarding for Librarian
  .librarian/generator-input/repo-config.yaml
  .librarian/state.yaml
Labels: automerge

#12845 chore(storage): bump grpc to v1.74.3
  storage/go.mod
  storage/go.sum
Labels: api: storage, automerge

#12858 test(storage): fix append test race
  storage/integration_test.go
Labels: api: storage

#12885 fix(compute/metadata): use separate client for subscribe methods
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
Labels: api: compute

#12892 fix(compute/metadata): racy test and uninitialized subClient
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
Labels: api: compute

#12911 fix(compute/metadata): set subClient for UseDefaultClient case
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
Labels: api: compute

#12898 fix(firestore): Initialize readSettings in queries to prevent panic
  firestore/collgroupref.go
  firestore/collref.go
  firestore/query.go
Labels: api: firestore

#12896 fix(firestore): Add dedicated lock to BulkWriter to prevent race
  firestore/bulkwriter.go
  firestore/bulkwriter_test.go
  firestore/mock_test.go
Labels: api: firestore

#12829 feat(pubsub/v2): add subscriber shutdown options
  pubsub/v2/integration_test.go
  pubsub/v2/iterator.go
  pubsub/v2/shutdown.go
  pubsub/v2/shutdown_test.go
  pubsub/v2/streaming_pull_test.go
  pubsub/v2/subscriber.go
  pubsub/v2/subscriber_test.go
Labels: api: pubsub

#12878 feat(bigquery/v2): query client and basic query execution flow
  bigquery/v2/query/doc.go
  bigquery/v2/query/helper.go
  bigquery/v2/query/iterator.go
  bigquery/v2/query/main_test.go
  bigquery/v2/query/options.go
  bigquery/v2/query/query.go
  bigquery/v2/query/query_integration_test.go
  bigquery/v2/query/row.go
Labels: api: bigquery

#12958 feat(bigquery): add support for MaxSlots
  bigquery/copy.go
  bigquery/copy_test.go
  bigquery/extract.go
  bigquery/extract_test.go
  bigquery/go.mod
  bigquery/go.sum
  bigquery/load.go
  bigquery/load_test.go
  bigquery/query.go
  bigquery/query_test.go
  go.work.sum
Labels: api: bigquery, automerge

#12963 ci(bigquery/v2): fix race condition on query cancel test
  bigquery/v2/query/query_integration_test.go
Labels: api: bigquery, automerge
