Repository googleapis/google-cloud-go, pull requests merged in 2025-10, with the labels that each got.

#12899 feat(firestore): Add FieldNotFoundError for missing fields
  firestore/document.go
  firestore/document_test.go
Labels: api: firestore

#13037 chore(internal/stategen): fix comment naming
  internal/stategen/state.go
Labels: automerge

#12992 feat(firestore): Add omitzero struct tag option
  firestore/integration_test.go
  firestore/to_value.go
  firestore/to_value_test.go
Labels: api: firestore

#13022 fix(storage): remove default timeout for gRPC operations
  storage/grpc_client.go
Labels: api: storage
