Repository googleapis/google-cloud-go, pull requests merged in 2025-01, with the labels that each got.

#11342 chore(spanner): support mutation only operation for read-write mux
  spanner/client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/mutation.go
  spanner/mutation_test.go
  spanner/session.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11366 test(storage): fix flaky soft delete update
  storage/integration_test.go
Labels: api: storage

#11367 chore(pubsub): remove handwritten layer from v2
  go.work
  pubsub/v2/integration_test.go
  pubsub/v2/schema.go
  pubsub/v2/schema_test.go
  pubsub/v2/snapshot.go
  pubsub/v2/subscription.go
  pubsub/v2/subscription_test.go
  pubsub/v2/topic.go
  pubsub/v2/topic_test.go
Labels: api: pubsub

#11375 deprecate(pubsub/v2): remove and rename existing settings
  pubsub/loadtest/loadtest.go
  pubsub/v2/integration_test.go
  pubsub/v2/iterator.go
  pubsub/v2/iterator_test.go
  pubsub/v2/subscription.go
  pubsub/v2/subscription_test.go
  pubsub/v2/topic.go
Labels: api: pubsub

#11378 chore: update remaining usages of Go 1.21 to 1.22
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/vet.sh
  .github/workflows/vet.yml
  internal/postprocessor/Dockerfile
  internal/postprocessor/main.go
  profiler/kokoro/integration_test.sh
  storage/internal/benchmarks/continuous_reads.go
  storage/transfermanager/downloader.go
Labels: automerge: exact

#11384 chore: update postprocessor sha for new Go version
  .github/.OwlBot.lock.yaml
Labels: automerge

#11388 fix(bigtable): Retry correct mutations
  bigtable/bigtable.go
Labels: api: bigtable

#11354 test(bigtable): Resolve flaky tests and refactor code
  bigtable/integration_test.go
Labels: api: bigtable

#11215 feat(bigtable): Hot backups
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11377 feat(storage): merge support for bi-directional multiple range reads
  storage/bucket_test.go
  storage/client.go
  storage/client_test.go
  storage/experimental/experimental.go
  storage/go.mod
  storage/grpc_client.go
  storage/grpc_client_test.go
  storage/grpc_reader.go
  storage/grpc_writer.go
  storage/http_client.go
  storage/http_client_test.go
  storage/integration_test.go
  storage/internal/apiv2/doc.go
  storage/internal/apiv2/gapic_metadata.json
  storage/internal/apiv2/storage_client.go
  storage/internal/apiv2/storage_client_example_test.go
  storage/internal/apiv2/storagepb/storage.pb.go
  storage/internal/experimental.go
  storage/internal/test/conformance/retry_tests.json
  storage/invoke.go
  storage/invoke_test.go
  storage/option.go
  storage/option_test.go
  storage/reader.go
  storage/reader_test.go
  storage/retry_conformance_test.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Labels: api: storage

#11390 chore(storage): update envoyproxy/go-control-plane
  go.work.sum
  storage/go.mod
  storage/go.sum
Labels: api: storage

#11279 fix(spanner/spansql): PROTO BUNDLE and protobuf type parsing fixes
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
Labels: api: spanner

#11398 test(storage): parallelize concurrency test for MRD
  storage/integration_test.go
Labels: api: storage

#11395 test(bigtable): Pass reverse flag from proxy to library
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable

#11405 fix(storage): add mutex around uses of mrd variables
  storage/grpc_client.go
Labels: api: storage

#11415 test(storage): run metrics test only in grpc
  storage/integration_test.go
Labels: api: storage

#11416 fix(storage): return the appropriate error for method not supported
  storage/http_client.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage

#11417 chore: fix automation for ai release
  internal/postprocessor/releaseplease.go
  release-please-config-yoshi-submodules.json
Labels: automerge

#11420 docs(storage): add preview comment to NewMultiRangeDownloader
  storage/reader.go
  storage/storage.go
  storage/writer.go
Labels: api: storage

#11423 test(storage): run metrics enablement test only once
  storage/integration_test.go
Labels: api: storage

#11429 refactor(pubsub/v2): make tests use new GAPIC library
  pubsub/v2/example_subscription_iterator_test.go
  pubsub/v2/example_test.go
  pubsub/v2/example_topic_iterator_test.go
  pubsub/v2/integration_test.go
  pubsub/v2/iterator.go
  pubsub/v2/iterator_test.go
  pubsub/v2/pstest_test.go
  pubsub/v2/pubsub.go
  pubsub/v2/pubsub_test.go
  pubsub/v2/pullstream_test.go
  pubsub/v2/subscription.go
  pubsub/v2/subscription_test.go
  pubsub/v2/timeout_test.go
  pubsub/v2/topic.go
  pubsub/v2/topic_test.go
  pubsub/v2/trace_test.go
Labels: api: pubsub

#11428 test(bigtable): Convert entry error to status
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable

#11443 fix(spanner): ReadWriteStmtBasedTransaction would not remember options for retries
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11369 fix(storage): return sentinel ErrObjectNotExist for copy and compose
  storage/grpc_client.go
  storage/http_client.go
  storage/integration_test.go
Labels: api: storage

#11444 chore: bump github.com/envoyproxy/go-control-plane/envoy
  bigtable/go.mod
  bigtable/go.sum
  go.work.sum
  internal/generated/snippets/go.sum
  spanner/go.mod
  spanner/go.sum
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
Labels: automerge

#11359 feat(firestore): add UsesEmulator field to Client
  firestore/client.go
  firestore/client_test.go
Labels: api: firestore

#11376 feat(pubsub/v2): rename data plane clients
  pubsub/v2/doc.go
  pubsub/v2/integration_test.go
  pubsub/v2/iterator_test.go
  pubsub/v2/pubsub.go
  pubsub/v2/streaming_pull_test.go
  pubsub/v2/subscription.go
  pubsub/v2/subscription_test.go
  pubsub/v2/topic.go
  pubsub/v2/topic_test.go
Labels: api: pubsub

#11437 fix(bigtable): Do not retry conditional mutate
  bigtable/bigtable.go
  bigtable/retry_test.go
Labels: api: bigtable

#11434 fix(bigtable): Mutate groups even after first error
  bigtable/bigtable.go
  bigtable/bigtable_test.go
Labels: api: bigtable

#11447 feat(datastore): Add read time from client while running queries
  datastore/datastore.go
  datastore/integration_test.go
  datastore/query.go
  datastore/query_test.go
  datastore/transaction.go
Labels: api: datastore

#11453 test(bigtable): Add known failures for unimplemented features
  bigtable/conformance_test.sh
  bigtable/internal/testproxy/known_failures.txt
Labels: api: bigtable

#11459 testing(bigquery/storage/managedwriter): fix go-cmp diff usage
  bigquery/storage/managedwriter/options_test.go
Labels: api: bigquery

#11463 feat(bigquery/storage/managedwriter): graceful connection drains
  bigquery/storage/managedwriter/connection.go
  bigquery/storage/managedwriter/managed_stream_test.go
Labels: api: bigquery

#11465 feat(storage): Specify benchmark integrity check.
  storage/internal/benchmarks/benchmark_result.go
  storage/internal/benchmarks/main.go
Labels: api: storage

#11107 chore(storage): Instrument existing metadata ops with storage trace package
  storage/acl.go
  storage/bucket.go
  storage/go.mod
  storage/http_client.go
  storage/iam.go
  storage/notifications.go
  storage/storage.go
  storage/trace.go
  storage/trace_test.go
Labels: api: storage, automerge

#11485 test(storage): run emulated test only against emulator
  storage/trace_test.go
Labels: api: storage

#10213 fix(bigtable): Track number of rows read to set rowsLimit in subsequent requests
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/internal/testproxy/proxy.go
  bigtable/retry_test.go
Labels: api: bigtable

#11457 fix(bigtable): Allow nil condition in conditional mutation
  bigtable/bigtable.go
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable

#11478 test(bigtable): Modify ApplyBulk errors before returning
  .github/workflows/conformance.yaml
  bigtable/internal/testproxy/proxy.go
Labels: api: bigtable

#11472 chore(spanner): handle commit retry protocol extension for mux rw
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11483 feat(storage/append): Support appends in w1r3.
  storage/internal/benchmarks/main.go
  storage/internal/benchmarks/upload_benchmark.go
  storage/internal/benchmarks/w1r3.go
Labels: api: storage, automerge

#11495 chore: update post-processor image
  .github/.OwlBot.lock.yaml
Labels: automerge

#11494 test(storage): fix formatting error
  storage/internal/benchmarks/main.go
Labels: api: storage, automerge

#11489 doc(bigtable): Fix misspelled words
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11499 fix(bigtable): Allow GC updates on emulated aggregate column family
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable

#11506 fix(firestore): Convert key before setting map entry
  firestore/from_value.go
  firestore/from_value_test.go
Labels: api: firestore

#11524 chore(spanner): Update CODEOWNERS to use TeamSync Managed Team
  .github/CODEOWNERS
Labels: api: spanner

#11476 feat(storage): implement RetryChunkDeadline for grpc writes
  storage/bucket_test.go
  storage/client_test.go
  storage/grpc_client.go
  storage/grpc_writer.go
  storage/integration_test.go
  storage/invoke.go
  storage/invoke_test.go
  storage/storage.go
  storage/storage_test.go
  storage/writer.go
Labels: api: storage

#11528 test(storage): retry metadata check in SoftDelete test
  storage/integration_test.go
Labels: api: storage

#11527 fix(storage): wait for XML read req to finish to avoid data races
  storage/http_client.go
Labels: api: storage

#11533 fix(storage): clone the defaultRetry to avoid modifying it directly
  storage/grpc_client.go
Labels: api: storage

#11532 test(storage): add -race to emulator tests
  storage/emulator_test.sh
Labels: api: storage

#11534 fix(storage): remove duplicate routing header
  storage/grpc_client.go
Labels: api: storage

#11519 feat(storage): wrap NotFound errors for buckets and objects
  storage/example_test.go
  storage/grpc_client.go
  storage/grpc_reader.go
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
  storage/transfermanager/integration_test.go
Labels: api: storage

#11537 feat(pubsub): support new forms of topic ingestion
  pubsub/topic.go
  pubsub/topic_test.go
Labels: api: pubsub
