Repository googleapis/google-cloud-go, pull requests merged in 2025-03, with the labels that each got.

#11638 feat(spanner): add option for LastStatement in transaction
  spanner/client_test.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/request_id_header_test.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11654 feat(spanner): Support REPEATABLE_READ for RW transaction
  spanner/client.go
  spanner/client_test.go
  spanner/transaction.go
Labels: api: spanner

#11522 feat(spanner/spansql): Add support for tokenlist and create search index
  spanner/spansql/keywords.go
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner, automerge

#11758 chore: fix failing vet checks
  spanner/spansql/parser.go
Labels: automerge

#11755 chore: skip aliasshim for all env
  internal/kokoro/continuous.sh
Labels: automerge

#11761 fix(dataform): remove v1alpha2 client
  .github/.OwlBot.yaml
  dataform/apiv1alpha2/auxiliary.go
  dataform/apiv1alpha2/auxiliary_go123.go
  dataform/apiv1alpha2/dataform_client.go
  dataform/apiv1alpha2/dataform_client_example_go123_test.go
  dataform/apiv1alpha2/dataform_client_example_test.go
  dataform/apiv1alpha2/dataformpb/dataform.pb.go
  dataform/apiv1alpha2/doc.go
  dataform/apiv1alpha2/gapic_metadata.json
  dataform/apiv1alpha2/helpers.go
  dataform/apiv1alpha2/version.go
  internal/aliasfix/mappings.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CancelWorkflowInvocation/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CommitWorkspaceChanges/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CreateCompilationResult/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CreateRepository/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CreateWorkflowInvocation/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/CreateWorkspace/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/DeleteRepository/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/DeleteWorkflowInvocation/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/DeleteWorkspace/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/FetchFileDiff/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/FetchFileGitStatuses/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/FetchGitAheadBehind/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/FetchRemoteBranches/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetCompilationResult/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetIamPolicy/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetLocation/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetRepository/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetWorkflowInvocation/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/GetWorkspace/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/InstallNpmPackages/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ListCompilationResults/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ListLocations/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ListRepositories/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ListWorkflowInvocations/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ListWorkspaces/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/MakeDirectory/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/MoveDirectory/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/MoveFile/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/PullGitCommits/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/PushGitCommits/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/QueryCompilationResultActions/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/QueryDirectoryContents/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/QueryWorkflowInvocationActions/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ReadFile/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/RemoveDirectory/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/RemoveFile/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/ResetWorkspaceChanges/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/SetIamPolicy/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/TestIamPermissions/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/UpdateRepository/main.go
  internal/generated/snippets/dataform/apiv1alpha2/Client/WriteFile/main.go
  internal/generated/snippets/dataform/apiv1alpha2/snippet_metadata.google.cloud.dataform.v1alpha2.json
  internal/postprocessor/config.yaml
Labels: automerge

#11687 fix(storage): modify the callback of mrd to return length of data read instead of limit.
  storage/grpc_client.go
  storage/integration_test.go
  storage/reader.go
Labels: api: storage, automerge

#11653 test(storage): avoid inspecting creds in -short test
  storage/bucket_test.go
Labels: api: storage, automerge

#11432 fix(storage): fix stream termination in MRD.
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge

#11778 Revert "fix(storage): fix stream termination in MRD. (#11432)"
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage, automerge

#11674 chore(spanner): enable spanner gRPC client to use DirectPath bound token if possible
  spanner/client.go
Labels: api: spanner

#11649 fix(firestore): Enable '!=' operator for 'nil' and 'NaN'; correct handling of '!= nil' filters #11639
  firestore/integration_test.go
  firestore/query.go
Labels: api: firestore

#11799 fix(spanner): revert the ALTS bound token enablement
  spanner/client.go
Labels: api: spanner, automerge

#11791 feat(storage): Add Flush for appendable writes
  storage/client.go
  storage/client_test.go
  storage/grpc_client.go
  storage/http_client.go
  storage/writer.go
Labels: api: storage

#11803 feat(bigquery): support MetadataCacheMode for ExternalDataConfig
  bigquery/external.go
  bigquery/external_test.go
  bigquery/table_test.go
Labels: api: bigquery, automerge

#11806 chore(pubsub): bump cloud.google.com/go version
  pubsub/go.mod
  pubsub/go.sum
Labels: api: pubsub

#11606 feat(pubsub/pstest): support listening on custom address
  pubsub/pstest/fake.go
  pubsub/pstest/fake_test.go
Labels: api: pubsub

#11811 chore: skip benchmark for all env
  internal/kokoro/continuous.sh
Labels: automerge

#11810 fix(bigquery): Increase timeout for storage api test and remove usage of deprecated pkg
  bigquery/benchmarks/bench.go
  bigquery/storage_integration_test.go
Labels: api: bigquery, automerge

#11792 feat(bigtable): Add support for logical views
  bigtable/admin.go
  bigtable/integration_test.go
Labels: api: bigtable

#11816 feat(bigtable): Add datatypes for GoogleSQL
  bigtable/sql_types.go
Labels: api: bigtable, kokoro:force-run, kokoro:run

#11828 fix(auth): allow non-default SA credentials for DP
  auth/grpctransport/directpath.go
  auth/grpctransport/directpath_test.go
Labels: automerge

#11829 feat(bigtable): Add PrepareStatement to run GoogleSQL queries
  bigtable/bigtable.go
  bigtable/integration_test.go
  bigtable/sql_types.go
Labels: api: bigtable

#11852 feat(spanner): support multiplexed sessions for ReadWriteStmtBasedTransaction
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner, automerge

#11665 feat(auth): configure DirectPath bound credentials from AllowedHardBoundTokens
  auth/grpctransport/directpath.go
  auth/grpctransport/directpath_test.go
  auth/grpctransport/grpctransport.go
Labels: automerge

#11777 feat(bigtable): Row key schema support in admin client
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
  bigtable/type.go
  bigtable/type_test.go
Labels: api: bigtable

#11603 fix(pubsub/pstest): message ordering issue
  pubsub/pstest/fake.go
Labels: api: pubsub

#11784 test(storage): extend timeout for tests to finish
  storage/client_test.go
Labels: api: storage

#11865 chore: start generating modelarmor v1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#11862 feat(bigtable): Add Bind function to bind query params
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
  bigtable/sql_types.go
Labels: api: bigtable

#11866 feat(bigtable): adding node scaling factor
  bigtable/admin.go
  bigtable/admin_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11808 feat(civil): implement database/sql.Scanner|Valuer (#1145)
  civil/civil.go
  civil/civil_test.go
Labels: automerge

#11856 fix(vertexai): close cache client to avoid leaking gRPC goroutines
  vertexai/genai/client.go
Labels: automerge: exact

#11884 ci(spanner): Create Spanner Benchmarking Script
  spanner/benchmarks/benchmarks.go
Labels: api: spanner

#11887 ci(spanner): Add support for point reads in benchmarking
  spanner/benchmarks/benchmarks.go
Labels: api: spanner

#11890 ci(spanner): Support configuring cloud environment in benchmarking script
  spanner/benchmarks/benchmarks.go
Labels: api: spanner

#11891 test(spanner): deflake failing tests for TestClient_ReadWriteTransaction_PreviousTransactionID & TestIntegration_Foreign_Key_Delete_Cascade_Action
  spanner/client.go
  spanner/integration_test.go
Labels: api: spanner

#11896 bugfix(bigtable): fix update LV function
  bigtable/admin.go
Labels: api: bigtable

#11496 fix(spanner): snapshot EnableOpenTelemetryMetrics value on client creation
  spanner/client.go
  spanner/ot_metrics.go
  spanner/request_id_header_test.go
Labels: api: spanner

#11878 chore(storage): Allow non-default SAs for GCS.
  storage/grpc_client.go
Labels: api: storage, automerge

#11892 chore(bigtable): Refactor tests and mark SQL rpcs unimplemented in emulator
  bigtable/bttest/inmem.go
  bigtable/export_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11898 feat(spanner): allow string values for Scan functions
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#11883 feat(bigtable): Add Execute method to execute GoogleSQL queries
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
Labels: api: bigtable

#11918 fix(readme): update authentication section
  README.md
Labels: type: docs

#11925 chore(iam): add config to generate apiv3
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: iam

#11921 test(bigtable): Correct the partial batch testcase
  bigtable/bigtable_test.go
Labels: api: bigtable

#11930 fix(auth): restore calling DialContext
  auth/grpctransport/grpctransport.go
Labels: automerge

#11931 feat(bigquery): support managed iceberg tables
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery, automerge

#11924 feat(bigtable): Add methods to read ResultRow
  bigtable/bigtable.go
  bigtable/bigtable_test.go
  bigtable/integration_test.go
  bigtable/result_row.go
  bigtable/result_row_test.go
  bigtable/sql_types.go
Labels: api: bigtable
