Repository googleapis/google-cloud-go, pull requests merged in 2025-06, with the labels that each got.

#12393 test(storage): added retry pre-condition to unflake Copy test
  storage/integration_test.go
Labels: api: storage

#11162 fix(auth): add back DirectPath misconfiguration logging
  auth/go.mod
  auth/go.sum
  auth/grpctransport/directpath.go
  auth/grpctransport/directpath_test.go
Labels: automerge

#12372 chore(storage): replace deprecated io/ioutil
  storage/reader.go
Labels: api: storage

#12403 chore: bump changed modules
  accessapproval/CHANGES.md
  advisorynotifications/CHANGES.md
  ai/CHANGES.md
  aiplatform/CHANGES.md
  alloydb/CHANGES.md
  apigateway/CHANGES.md
  apigeeconnect/CHANGES.md
  apikeys/CHANGES.md
  appengine/CHANGES.md
  apps/CHANGES.md
  area120/CHANGES.md
  bigtable/CHANGES.md
  chat/CHANGES.md
  cloudquotas/CHANGES.md
Labels: automerge

#12408 feat(bigtable): NewServerWithListener for user specified listener
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
Labels: api: bigtable

#12404 chore(spanner): enable spanner gRPC client to use DirectPath bound token if possible
  spanner/client.go
Labels: api: spanner, kokoro:force-run

#12301 docs(storage): Improve error inspection documentation
  storage/doc.go
Labels: api: storage

#12402 refactor(storage): Refactor to hide PipeWriter.
  storage/client.go
  storage/client_test.go
  storage/grpc_writer.go
  storage/http_client.go
  storage/writer.go
Labels: api: storage

#12410 fix(bigtable): Correct the Bigtable monitoring client options
  bigtable/metrics.go
  bigtable/metrics_test.go
Labels: api: bigtable

#12405 chore(bigquery/v2): carveout v2 module
  bigquery/v2/doc.go
  bigquery/v2/go.mod
  bigquery/v2/go.sum
  go.work
  release-please-config-individual.json
Labels: api: bigquery, automerge

#12435 feat(bigquery/v2): bump to 2.x alpha
  bigquery/v2/CHANGES.md
Labels: api: bigquery

#12437 feat(bigquery/v2): rev alpha version
  bigquery/v2/doc.go
Labels: api: bigquery, automerge

#12441 chore(bigquery/v2): add config to generate bigquery apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigquery

#12446 chore(bigquery/v2): add module bootstrap files expected by postprocessor
  bigquery/v2/README.md
  bigquery/v2/internal/version.go
Labels: api: bigquery, automerge

#12439 feat(spanner/spansql): add support for EXISTS subquery
  spanner/spansql/parser.go
  spanner/spansql/parser_test.go
  spanner/spansql/sql.go
  spanner/spansql/sql_test.go
  spanner/spansql/types.go
Labels: api: spanner

#12436 feat(spanner): add option for how to call BeginTransaction
  spanner/client.go
  spanner/client_test.go
  spanner/read.go
  spanner/session.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#12425 feat(firestore): Add rest of the input stages
  firestore/pipeline_result.go
  firestore/pipeline_result_test.go
  firestore/pipeline_source.go
  firestore/pipeline_source_test.go
  firestore/pipeline_stage.go
Labels: api: firestore

#12464 feat(bigquery/v2): add interim BigQuery aggregated service client
  bigquery/v2/apiv2_client/client.go
  bigquery/v2/apiv2_client/client_dataset.go
  bigquery/v2/apiv2_client/client_job.go
  bigquery/v2/apiv2_client/client_model.go
  bigquery/v2/apiv2_client/client_project.go
  bigquery/v2/apiv2_client/client_routine.go
  bigquery/v2/apiv2_client/client_row_access_policy.go
  bigquery/v2/apiv2_client/client_table.go
  bigquery/v2/apiv2_client/integration_test.go
Labels: api: bigquery

#12476 chore(maintenance/api): add config to generate apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: maintenance

#11349 feat(bigtable): Add application_blocking_latencies client side metric
  bigtable/bigtable.go
  bigtable/metrics.go
  bigtable/metrics_test.go
Labels: api: bigtable

#12496 fix(spanner): pointer type custom struct decoder
  spanner/row_test.go
  spanner/value.go
Labels: api: spanner
