Repository googleapis/google-cloud-go, pull requests merged in 2025-08, with the labels that each got.

#11652 feat(spanner): add GCP standard otel attributes
  spanner/client.go
  spanner/go.mod
  spanner/grpc_client.go
  spanner/ot_metrics.go
  spanner/pdml.go
  spanner/read.go
  spanner/sessionclient.go
  spanner/test/opentelemetry/test/ot_traces_test.go
  spanner/trace.go
  spanner/trace_test.go
  spanner/transaction.go
Labels: api: spanner

#12654 chore(storage): update apiary dependency
  storage/go.mod
  storage/go.sum
Labels: api: storage, automerge

#12657 feat(compute/metadata): add Options.UseDefaultClient
  compute/metadata/metadata.go
  compute/metadata/metadata_test.go
Labels: api: compute

#12663 feat(spanner): release spanner 1.84.1
  spanner/go.mod
Labels: api: spanner

#12661 doc(storage): remove HNS requirement from MoveObject docs
  storage/storage.go
Labels: api: storage

#12527 chore(managedkafka): onboard schemaregistry v1
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: managedkafka

#12709 fix(bigtable): Fix NoopMetricsProvider panic
  bigtable/bigtable.go
  bigtable/integration_test.go
  bigtable/metrics.go
Labels: api: bigtable

#12719 chore(bigquery/datapolicies): add config to generate apiv2
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigquery

#12733 fix(storage): fix redirect logic in MRD
  storage/grpc_client.go
  storage/integration_test.go
Labels: api: storage

#12422 refactor(storage): Pipeline gRPC writes.
  storage/grpc_writer.go
  storage/storage.go
  storage/writer.go
Labels: api: storage

#12725 test(bigtable): Add more retries to verification of AdminBackup test
  bigtable/integration_test.go
Labels: api: bigtable

#12653 doc(storage): clarify direct path docs
  storage/doc.go
Labels: api: storage

#12746 fix(storage): No progress report for oneshot write
  storage/client_test.go
  storage/grpc_writer.go
Labels: api: storage

#12579 feat(bigquery/storage/managedwriter): allow overriding proto conversion mapping
  bigquery/storage/managedwriter/adapt/options.go
  bigquery/storage/managedwriter/adapt/protoconversion.go
  bigquery/storage/managedwriter/adapt/protoconversion_test.go
Labels: api: bigquery, automerge

#12740 perf(spanner): improve mutationProto allocations and performance
  spanner/mutation.go
  spanner/mutation_test.go
Labels: api: spanner

#12753 fix(storage): Make Writer thread-safe.
  storage/client_test.go
  storage/grpc_writer.go
Labels: api: storage

#12684 feat(bigtable): expose directaccess via a env variable
  bigtable/bigtable.go
Labels: api: bigtable

#12758 refactor(bigtable): Rename pinger to pingAndWarm
  bigtable/bigtable.go
  bigtable/integration_test.go
Labels: api: bigtable

#12788 chore(bigquery): reconfigure bigquery v1 release definition
  release-please-config-individual.json
Labels: api: bigquery

#12575 feat(firestore): allow creating REST clients
  firestore/client.go
Labels: api: firestore

#10616 feat(bigtable): first_response_latencies metric
  bigtable/bigtable.go
  bigtable/integration_test.go
  bigtable/metrics.go
  bigtable/metrics_test.go
Labels: api: bigtable
