Repository googleapis/google-cloud-go, pull requests merged in 2025-02, with the labels that each got.

#11544 fix(spanner): inject "x-goog-spanner-request-id" into outgoing client context
  spanner/request_id_header.go
Labels: api: spanner

#11546 feat(spanner): make randIDForProcess hexadecimal in x-goog-spanner-request-id
  spanner/request_id_header.go
  spanner/request_id_header_test.go
Labels: api: spanner

#10066 fix(bigquery): move MaxStaleness field to table level
  bigquery/integration_test.go
  bigquery/table.go
  bigquery/table_test.go
Labels: api: bigquery

#11556 fix(bigquery): broken github.com/envoyproxy/go-control-plane/envoy dep
  bigquery/go.mod
  bigquery/go.sum
Labels: api: bigquery, automerge

#11571 fix: panic when explicitly beginning prepared transaction
  spanner/client.go
  spanner/client_test.go
Labels: breaking change

#11570 feat(iam/admin): regenerate client
  iam/admin/apiv1/adminpb/audit_data.pb.go
  iam/admin/apiv1/adminpb/iam.pb.go
  iam/admin/apiv1/auxiliary.go
  iam/admin/apiv1/auxiliary_go123.go
  iam/admin/apiv1/doc.go
  iam/admin/apiv1/gapic_metadata.json
  iam/admin/apiv1/helpers.go
  iam/admin/apiv1/iam_client.go
  iam/admin/apiv1/iam_client_example_go123_test.go
  iam/admin/apiv1/iam_client_example_test.go
  iam/admin/apiv1/iter_patch.go
Labels: api: iam

#11501 feat(storage): Benchmark with experimental MRD.
  storage/internal/benchmarks/client_pool.go
  storage/internal/benchmarks/main.go
Labels: api: storage, automerge

#11580 feat(firestore): Add String() method to DocumentChangeKind type
  firestore/watch.go
  firestore/watch_test.go
Labels: api: firestore

#11591 fix(main): bump github.com/envoyproxy/go-control-plane/envoy to v1.32.4
  bigtable/go.mod
  bigtable/go.sum
  go.mod
  go.sum
  internal/generated/snippets/go.mod
  internal/generated/snippets/go.sum
  logging/go.mod
  logging/go.sum
  profiler/go.mod
  profiler/go.sum
  spanner/go.mod
  spanner/go.sum
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/go.sum
  storage/go.mod
  storage/go.sum
  storage/internal/benchmarks/go.mod
  storage/internal/benchmarks/go.sum
Labels: automerge

#11583 chore(spanner): support multiplexed session for Partitioned operations
  spanner/batch.go
  spanner/batch_test.go
  spanner/client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/kokoro/presubmit.sh
  spanner/pdml.go
  spanner/pdml_test.go
  spanner/session.go
Labels: api: spanner, kokoro:force-run

#11585 chore(spanner): preserving lock order - R/W mux session
  spanner/client.go
  spanner/client_test.go
  spanner/transaction.go
  spanner/transaction_test.go
Labels: api: spanner

#11599 refactor(auth): refactor GetGRPCTransportCredsAndEndpoint return type to struct
  auth/grpctransport/grpctransport.go
  auth/internal/transport/cba.go
  auth/internal/transport/cba_test.go
Labels: automerge

#11615 feat(spanner): support multiplexed session for read-write transactions & partition ops
  spanner/client.go
Labels: api: spanner

#11587 perf(spanner): grab debug stack outside of lock
  spanner/session.go
Labels: api: spanner

#11586 feat(internal/testutil): support listening on custom host (testutil)
  internal/testutil/server.go
  internal/testutil/server_test.go
Labels: api: pubsub

#11626 fix(spanner): multiplexed_session_previous_transaction_id is not supported in the request for a non multiplexed session
  spanner/transaction.go
Labels: api: spanner

#11628 chore(spanner): remove previous txn id from selector
  spanner/transaction.go
Labels: api: spanner

#11629 test(spanner): fix continuous test failure
  spanner/metrics_test.go
Labels: api: spanner

#11631 fix(spanner): retract versions with bug with use of previous transaction ID using regular session
  spanner/go.mod
Labels: api: spanner

#11614 chore(storage): Support a cookie header in calls.
  storage/invoke.go
  storage/invoke_test.go
Labels: api: storage, kokoro:force-run

#11549 fix(storage): add a safety check for readhandle
  storage/grpc_client.go
Labels: api: storage, automerge

#11646 test(storage): fix flaky SoftDelete integration test
  storage/integration_test.go
Labels: api: storage

#11643 chore(storage): Plumb finalize_time through attrs.
  storage/client_test.go
  storage/storage.go
  storage/storage_test.go
Labels: api: storage

#11650 test(storage): skip selected attrs subtest
  storage/integration_test.go
Labels: api: storage, automerge

#11659 fix(spanner): avoid desructive context augmentation that dropped all headers
  spanner/client_test.go
  spanner/regression_test.go
  spanner/request_id_header.go
Labels: api: spanner
