Repository googleapis/google-cloud-go, pull requests merged in 2025-05, with the labels that each got.

#12090 chore(pubsub): revert v2 gapic to head
  pubsub/v2/apiv1/auxiliary.go
  pubsub/v2/apiv1/auxiliary_go123.go
  pubsub/v2/apiv1/doc.go
  pubsub/v2/apiv1/helpers.go
  pubsub/v2/apiv1/pubsubpb/pubsub.pb.go
  pubsub/v2/apiv1/pubsubpb/schema.pb.go
  pubsub/v2/apiv1/schema_client.go
  pubsub/v2/apiv1/schema_client_example_go123_test.go
  pubsub/v2/apiv1/schema_client_example_test.go
  pubsub/v2/apiv1/subscription_admin_client.go
  pubsub/v2/apiv1/subscription_admin_client_example_go123_test.go
  pubsub/v2/apiv1/subscription_admin_client_example_test.go
  pubsub/v2/apiv1/topic_admin_client.go
  pubsub/v2/apiv1/topic_admin_client_example_go123_test.go
  pubsub/v2/apiv1/topic_admin_client_example_test.go
  pubsub/v2/apiv1/version.go
Labels: api: pubsub

#12092 test(storage): Handle gRPC deadlines in tests.
  storage/client_test.go
Labels: api: storage

#12013 feat(bigquery): add WriteTruncateData write disposition
  bigquery/table.go
Labels: api: bigquery, automerge

#12098 test(storage): fix DoNotDetectDirectConnectivityWhenDisabled
  storage/integration_test.go
Labels: api: storage

#12103 test(storage): Compare big byte slices faster in tests.
  storage/retry_conformance_test.go
Labels: automerge

#11576 chore(storage): add instrumentation with storage trace package
  storage/grpc_client.go
  storage/http_client.go
  storage/storage.go
  storage/trace.go
  storage/trace_test.go
Labels: api: storage

#12106 chore(pubsub): module and workspace updates
  go.work
  go.work.sum
  pubsub/go.mod
  pubsub/go.sum
  pubsub/v2/go.mod
  pubsub/v2/go.sum
Labels: api: pubsub

#12096 chore(storage): Add retry tests for appends.
  storage/internal/test/conformance/retry_tests.json
  storage/retry_conformance_test.go
Labels: api: storage

#12109 test(storage/dataflux): remove chosen algorithm check
  storage/dataflux/integration_test.go
Labels: api: storage

#11345 chore(spanner): add support of UUID type
  spanner/integration_test.go
  spanner/key.go
  spanner/key_test.go
  spanner/protoutils.go
  spanner/row.go
  spanner/row_test.go
  spanner/statement_test.go
  spanner/value.go
  spanner/value_test.go
Labels: api: spanner

#11477 fix(bigtable): Retry RST stream errors
  bigtable/bigtable.go
  bigtable/retry_test.go
Labels: api: bigtable

#12199 test(bigtable): fix tests query
  bigtable/integration_test.go
Labels: api: bigtable

#12201 fix(storage): fix append writer hang
  storage/grpc_writer.go
  storage/integration_test.go
Labels: api: storage

#12108 chore(pubsub): rename data plane clients
  pubsub/v2/doc.go
  pubsub/v2/flow_controller.go
  pubsub/v2/message.go
  pubsub/v2/publisher.go
  pubsub/v2/publisher_test.go
  pubsub/v2/subscriber.go
  pubsub/v2/subscriber_test.go
  pubsub/v2/trace_test.go
Labels: api: pubsub

#12209 test(spanner): fix flakiness in context timeout error
  spanner/client_test.go
Labels: api: spanner

#12213 chore(storagebatchoperations): generate library
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: automerge

#12215 chore(bigquery): generate storage v1beta library
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: bigquery, automerge

#12214 feat(storage): add experimental ZB API option
  storage/experimental/experimental.go
  storage/grpc_client.go
  storage/internal/experimental.go
  storage/option.go
  storage/option_test.go
  storage/reader.go
  storage/storage.go
  storage/writer.go
Labels: api: storage

#12067 feat(spanner): add support of AFE and GRPC metrics in client-side metrics
  spanner/client.go
  spanner/client_test.go
  spanner/grpc_client.go
  spanner/internal/testutil/inmem_spanner_server.go
  spanner/metrics.go
  spanner/metrics_monitoring_exporter.go
  spanner/metrics_test.go
  spanner/ot_metrics.go
  spanner/test/opentelemetry/test/ot_metrics_test.go
Labels: api: spanner

#12208 chore(spanner): update Spanner owner to rahul2393
  .github/blunderbuss.yml
Labels: api: spanner

#12212 feat(bigquery): Add some missing fields to BQ stats
  bigquery/integration_test.go
  bigquery/job.go
Labels: api: bigquery

#12224 testing(bigquery): relax stats validation testing
  bigquery/integration_test.go
Labels: api: bigquery

#12220 chore(spanner): always enable AFE native metrics if direct path is used unless explicitly disabled
  spanner/client.go
  spanner/metrics.go
  spanner/read_test.go
Labels: api: spanner, kokoro:force-run

#12222 fix(spanner): row mismatch in SelectAll using custom type
  spanner/row.go
  spanner/row_test.go
Labels: api: spanner

#12230 fix(bigquery): cache total rows count
  bigquery/integration_test.go
  bigquery/iterator.go
  bigquery/iterator_test.go
  bigquery/query.go
Labels: api: bigquery, automerge

#12202 fix(storage): retry unwrapped EOFs
  storage/invoke.go
Labels: api: storage

#12231 chore(internal/postprocessor): don't format pb.go files
  .github/workflows/vet.sh
  internal/postprocessor/execv/gocmd/gocmd.go
  internal/postprocessor/main.go
Labels: automerge

#12241 test(storage): skip universe domain test
  storage/integration_test.go
Labels: api: storage

#12246 test(bigtable): fix mv data test
  bigtable/integration_test.go
Labels: api: bigtable

#12237 feat: add cloudbuild-exitgate.yaml to publish image via AR Exit Gate
  internal/postprocessor/cloudbuild-exitgate.yaml
Labels: automerge

#11955 feat(bigtable): Use delay from RetryInfo
  bigtable/bigtable.go
  bigtable/internal/testproxy/known_failures.txt
  bigtable/retry_test.go
Labels: api: bigtable

#12235 fix(spanner): fix invalid trace in case of skipping trailers
  spanner/client.go
  spanner/internal/testutil/mocked_inmem_server.go
  spanner/read.go
  spanner/read_test.go
  spanner/test/opentelemetry/test/go.mod
  spanner/test/opentelemetry/test/ot_traces_test.go
  spanner/test/opentelemetry/test/test_util.go
Labels: api: spanner

#11191 fix(storage): migrate oauth2/google usages to cloud.google.com/go/auth
  storage/bucket.go
  storage/bucket_test.go
  storage/go.mod
  storage/http_client.go
  storage/integration_test.go
  storage/storage.go
Labels: api: storage

#12266 fix(spanner): do not export metrics during shutdown if prev export was less than 30 seconds ago
  spanner/metrics.go
  spanner/metrics_monitoring_exporter.go
Labels: api: spanner, samples, breaking change

#12290 feat(bigquery): add support for dataset view and update modes
  bigquery/dataset.go
  bigquery/dataset_integration_test.go
Labels: api: bigquery

#11686 chore(spanner): enable multiplexed sessions for experimental hosts
  spanner/client.go
Labels: api: spanner

#12289 fix(storage): retry url.Error and net.OpErrors when they wrap an io.EOF
  storage/invoke.go
Labels: api: storage

#12300 chore(compute): start generating apiv1beta
  .github/.OwlBot.yaml
  internal/postprocessor/config.yaml
Labels: api: compute, automerge

#12302 test(storage): add max attempts to common functions
  storage/integration_test.go
Labels: api: storage

#12217 feat(firestore): add pipeline queries
  firestore/client.go
  firestore/pipeline.go
  firestore/pipeline_result.go
  firestore/pipeline_result_test.go
  firestore/pipeline_source.go
  firestore/pipeline_source_test.go
  firestore/pipeline_stage.go
  firestore/pipeline_test.go
Labels: api: firestore

#12306 chore(datastore): replace deprecated grpc.WithInsecure
  datastore/datastore.go
Labels: api: datastore

#12310 chore(logging): replace deprecated grpc.WithInsecure
  logging/internal/testing/fake_test.go
  logging/logadmin/logadmin_test.go
  logging/logging_test.go
Labels: api: logging

#12305 chore(firestore): replace deprecated grpc.WithInsecure
  firestore/client.go
  firestore/util_test.go
Labels: api: firestore

#12307 feat(firestore): Introduce DocFromFullPath for full resource paths
  firestore/client.go
  firestore/client_test.go
  firestore/integration_test.go
Labels: api: firestore

#12313 test(datastore): Cleanup entities created in integration tests
  datastore/integration_test.go
Labels: api: datastore

#12314 test(storage): shadow testing.T var always
  storage/bucket_test.go
  storage/storage_test.go
Labels: api: storage

#12312 test(storage): use t.Setenv instead of os.Setenv
  storage/option_test.go
  storage/storage_test.go
Labels: api: storage

#12303 test(storage): remove direct connectivity attempt and re-enable universe domain test
  storage/integration_test.go
Labels: api: storage

#12328 test(firestore): Retry GetAll
  firestore/integration_test.go
Labels: api: firestore

#12329 test(datastore): Fix flaky integration tests
  datastore/integration_test.go
Labels: api: datastore

#12332 test(bigtable): Correct the known conformance failures
  bigtable/internal/testproxy/known_failures.txt
Labels: api: bigtable

#12339 chore(spanner): update admin/instance config name
  internal/postprocessor/config.yaml
Labels: api: spanner, automerge

#12342 fix(storage): omit check on MultiRangeDownloader
  storage/grpc_client.go
Labels: api: storage

#12320 fix(storage): add EnableNewAuthLibrary internalOption to HTTP newClient
  storage/go.mod
  storage/go.sum
  storage/storage.go
Labels: api: storage

#12379 chore(spanner): fix bitSize for gfeLatency parser
  spanner/client.go
Labels: api: spanner
